Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

chore(viewer): include Next dev route type reference
  apps/pc-keiba-viewer/next-env.d.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): stop stalled race ai model initialization
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
Due: none

fix(viewer): retry race-trend fetches and let jockey table size to content
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
Due: oxfmt

fix(viewer): add race ai diagnostic runtime logs
  apps/pc-keiba-viewer/src/app/api/debug/ai-chat/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): keep paddock table from blowing out mobile layout
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

feat(viewer/scripts): feed running-style probs into finish-position training
  apps/pc-keiba-viewer/src/scripts/enrich_parquet_with_running_style.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
Due: none

feat(viewer/scripts): two-way finish-position ensemble helper
  apps/pc-keiba-viewer/src/scripts/finish-position-features/ensemble-finish-predictions.py
Due: none

fix(viewer): sync race ai diagnostic logs with UI state
  apps/pc-keiba-viewer/src/app/api/debug/ai-chat/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): recover stalled race ai model initialization
  apps/pc-keiba-viewer/src/app/api/debug/ai-chat/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
Due: oxfmt, oxlint, tsc, vitest

chore(viewer/scripts): helper to slice the rs parquet to labeled rows
  apps/pc-keiba-viewer/src/scripts/filter_labeled_parquet.py
Due: none

fix(viewer): allow race ai chat during model preparation
  apps/pc-keiba-viewer/src/app/api/debug/ai-chat/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add ai playground page
  apps/pc-keiba-viewer/src/app/ai/ai-playground.tsx
  apps/pc-keiba-viewer/src/app/ai/page.tsx
Due: none

fix(viewer): add ai playground diagnostics
  apps/pc-keiba-viewer/src/app/ai/ai-playground.tsx
  apps/pc-keiba-viewer/src/app/api/debug/ai-playground/route.ts
  apps/pc-keiba-viewer/src/app/api/spec/route.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync-realtime-data): Cloudflare-native finish-position lite inference
  apps/pc-keiba-viewer/src/scripts/finish_position_lite_lightgbm.py
  apps/sync-realtime-data/migrations/0018_finish_position_inference_state.sql
  apps/sync-realtime-data/src/finish-position-lite-cron.ts
  apps/sync-realtime-data/src/finish-position-lite-features.ts
  apps/sync-realtime-data/src/finish-position-lite-inference.ts
  apps/sync-realtime-data/src/finish-position-lite-pool.ts
  apps/sync-realtime-data/src/finish-position-lite-queue.ts
  apps/sync-realtime-data/src/finish-position-lite-tree.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): improve ai playground diagnostics
  apps/pc-keiba-viewer/src/app/ai/ai-playground.tsx
Due: none

feat(sync-realtime-data): admin POST to manually trigger finish-position lite inference for one race
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

Ignore sync realtime running style artifacts
  .gitignore
Due: none

Improve race AI assistant UX
  apps/pc-keiba-viewer/.env.example
  apps/pc-keiba-viewer/.gitignore
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/public/ai/almondeye_top.png
  apps/pc-keiba-viewer/src/app/ai/ai-playground.tsx
  apps/pc-keiba-viewer/src/app/api/ai/assets/[file]/route.ts
  apps/pc-keiba-viewer/src/app/api/debug/ai-chat/route.ts
  apps/pc-keiba-viewer/src/app/api/race-ai/tone-prompt/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/mypage/race-ai-settings-panel.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-default-prompt.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-storage.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/scripts/dev-http-proxy.ts
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

Avoid race AI fallback text on initial render
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
Due: none

Fix race AI response display and model cache validation
  apps/pc-keiba-viewer/src/app/api/models/gemma-4-e2b/[version]/[file]/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-default-prompt.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-model-manager.ts
Due: oxfmt, oxlint, tsc, vitest
