Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

feat(viewer): add mcp paddock read and write tools
  .grok/skills/pc-keiba-viewer-mcp/SKILL.md
  apps/pc-keiba-viewer/src/lib/mcp-allowlist.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-allowlist.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.ts
  apps/pc-keiba-viewer/src/worker.test.ts
  apps/pc-keiba-viewer/src/worker.ts
  packages/pc-keiba-viewer-plugin/skills/pc-keiba-viewer-mcp/SKILL.md
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): expose daily finish predictions through MCP
  apps/pc-keiba-viewer/src/app/api/finish-predictions/daily/route.test.ts
  apps/pc-keiba-viewer/src/app/api/finish-predictions/daily/route.ts
  apps/pc-keiba-viewer/src/app/api/spec/route.ts
  apps/pc-keiba-viewer/src/lib/daily-finish-predictions.server.test.ts
  apps/pc-keiba-viewer/src/lib/daily-finish-predictions.server.ts
  apps/pc-keiba-viewer/src/lib/mcp-allowlist.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-allowlist.ts
  apps/pc-keiba-viewer/src/lib/mcp-auth.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-auth.ts
  apps/pc-keiba-viewer/src/lib/mcp-request.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-request.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): expand race clock analysis
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-clock-charts.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-clock-charts.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-time-charts.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-time-charts.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/horse-race-clock-analysis.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-clock-analysis.ts
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.ts
  apps/pc-keiba-viewer/src/lib/horse-race-time-charts.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-time-charts.ts
  apps/pc-keiba-viewer/src/lib/past-race-cell-matching.test.ts
  apps/pc-keiba-viewer/src/lib/past-race-cell-matching.ts
Due: oxfmt, oxlint, tsc, vitest

perf(catalog): harden analytics serving and cache warming
  apps/pc-keiba-r2-catalog/src/condition-history-stats.test.ts
  apps/pc-keiba-r2-catalog/src/condition-history-stats.ts
  apps/pc-keiba-r2-catalog/src/r2-sql-smoke.test.ts
  apps/pc-keiba-r2-catalog/src/r2-sql-smoke.ts
  apps/pc-keiba-r2-catalog/src/r2-sql.test.ts
  apps/pc-keiba-r2-catalog/src/r2-sql.ts
  apps/pc-keiba-r2-catalog/src/race-entity-recent-results.test.ts
  apps/pc-keiba-r2-catalog/src/race-entity-recent-results.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/win-rate-heatmap-stats.test.ts
  apps/pc-keiba-r2-catalog/src/win-rate-heatmap-stats.ts
  apps/pc-keiba-r2-catalog/src/worker-condition-history.test.ts
  apps/pc-keiba-r2-catalog/src/worker-race-entity-recent-results.test.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
  apps/pc-keiba-r2-catalog/wrangler.jsonc
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
  apps/pc-keiba-viewer/src/lib/race-entity-cache-warm.test.ts
  apps/pc-keiba-viewer/src/lib/race-entity-cache-warm.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.server.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync): continue prediction planning after warm failures
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(prediction): drain containers safely before deploy
  apps/finish-position-cron/scripts/deploy-with-queue-drain.ts
  apps/finish-position-cron/scripts/wrangler-container-state.ts
  apps/finish-position-cron/src/deploy-safety.test.ts
  apps/finish-position-cron/src/deploy-safety.ts
Due: oxfmt, oxlint, tsc, vitest

feat(prediction): add named-race cell routing
  apps/finish-position-predict-container/Dockerfile
  apps/finish-position-predict-container/production-artifacts.json
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/src/predict_lib/cell_routing.json
  apps/finish-position-predict-container/src/predict_lib/lock1_rerank.py
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/named_race_cells.json
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.py
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
  apps/finish-position-predict-container/tests/test_cell_router.py
  apps/finish-position-predict-container/tests/test_lock1_rerank.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_shipped_race_chain_hit.py
  apps/finish-position-predict-container/tests/test_stage1_routing.py
  apps/mlflow/src/mlflow_tracking/cells.py
  apps/mlflow/tests/test_cells.py
  apps/pc-keiba-viewer/src/lib/finish-position-cell-routing.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-cell-routing.ts
  apps/pc-keiba-viewer/src/lib/finish-position-named-race-cells.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-named-race-cells.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-dimensions.test.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-dimensions.ts
  apps/pc-keiba-viewer/src/lib/race-classification.test.ts
  apps/pc-keiba-viewer/src/lib/race-classification.ts
  apps/pc-keiba-viewer/src/scripts/aggregate_bucket_eval_duckdb.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/src/scripts/serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_aggregate_bucket_eval_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
Due: oxfmt, oxlint, tsc, vitest

chore(weather): refresh 2026 venue observations
  apps/venue-weather/data/venue_weather_2026.duckdb
  apps/venue-weather/data/venue_weather_v2_2026.duckdb
Due: none

feat(jvlink): add Wine-backed data acquisition
  apps/jra-van-datalab-wine-demo/.dockerignore
  apps/jra-van-datalab-wine-demo/.gitignore
  apps/jra-van-datalab-wine-demo/Dockerfile
  apps/jra-van-datalab-wine-demo/data/.gitkeep
  apps/jra-van-datalab-wine-demo/native/jvlink_demo.cpp
  apps/jra-van-datalab-wine-demo/package.json
  apps/jra-van-datalab-wine-demo/pyproject.toml
  apps/jra-van-datalab-wine-demo/scripts/build-native-client.sh
  apps/jra-van-datalab-wine-demo/scripts/build.sh
  apps/jra-van-datalab-wine-demo/scripts/entrypoint.sh
  apps/jra-van-datalab-wine-demo/scripts/prepare-sdk.sh
  apps/jra-van-datalab-wine-demo/scripts/run-native-macos.sh
  apps/jra-van-datalab-wine-demo/scripts/run.sh
  apps/jra-van-datalab-wine-demo/scripts/setup-macos.sh
  apps/jra-van-datalab-wine-demo/scripts/setup-native-macos.sh
  apps/jra-van-datalab-wine-demo/sdk/.gitkeep
  apps/jra-van-datalab-wine-demo/src/__init__.py
  apps/jra-van-datalab-wine-demo/src/demo.py
  apps/jra-van-datalab-wine-demo/tests/test_demo.py
  apps/jra-van-datalab-wine-demo/uv.lock
Due: shellcheck, oxfmt

feat(jvlink): add authenticated container bridge
  apps/jra-van-datalab-wine-demo/Dockerfile.bridge
  apps/jra-van-datalab-wine-demo/package.json
  apps/jra-van-datalab-wine-demo/scripts/build-container-bridge.sh
  apps/jra-van-datalab-wine-demo/scripts/container-bridge-entrypoint.sh
  apps/jra-van-datalab-wine-demo/scripts/run-container-bridge.sh
  apps/jra-van-datalab-wine-demo/scripts/start-container-bridge.sh
  apps/jra-van-datalab-wine-demo/src/bridge.py
  apps/jra-van-datalab-wine-demo/tests/test_bridge.py
Due: shellcheck, oxfmt

docs(jvlink): document secure Wine workflows
  apps/jra-van-datalab-wine-demo/README.md
Due: oxfmt

fix(viewer): scope daily predictions to one race
  apps/pc-keiba-viewer/src/app/api/finish-predictions/daily/route.test.ts
  apps/pc-keiba-viewer/src/app/api/finish-predictions/daily/route.ts
  apps/pc-keiba-viewer/src/app/api/spec/route.ts
  apps/pc-keiba-viewer/src/lib/daily-finish-predictions.server.test.ts
  apps/pc-keiba-viewer/src/lib/daily-finish-predictions.server.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.ts
  packages/pc-keiba-viewer-plugin/skills/pc-keiba-viewer-mcp/SKILL.md
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): scope daily predictions to one race (#77)
  apps/pc-keiba-viewer/src/app/api/finish-predictions/daily/route.test.ts
  apps/pc-keiba-viewer/src/app/api/finish-predictions/daily/route.ts
  apps/pc-keiba-viewer/src/app/api/spec/route.ts
  apps/pc-keiba-viewer/src/lib/daily-finish-predictions.server.test.ts
  apps/pc-keiba-viewer/src/lib/daily-finish-predictions.server.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.ts
  packages/pc-keiba-viewer-plugin/skills/pc-keiba-viewer-mcp/SKILL.md
Due: oxfmt, oxlint, tsc, vitest

fix(jvlink): use remote smoke test in deploy workflow
  .github/workflows/deploy-jvlink-worker.yml
  apps/jra-van-datalab-worker-only-probe/package.json
  apps/jra-van-datalab-worker-only-probe/scripts/smoke-production.ts
Due: oxfmt, oxlint, tsc, vitest

chore(jvlink): pin workflow-built private core
  apps/jra-van-datalab-worker-only-probe/private-core.lock.json
  apps/jra-van-datalab-worker-only-probe/src/compatibility-attestation.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(umacon): add native Cloudflare NV-Link acquisition
  .github/workflows/deploy-umacon-worker.yml
  apps/umacon-worker/.gitignore
  apps/umacon-worker/README.md
  apps/umacon-worker/package.json
  apps/umacon-worker/private-core.lock.json
  apps/umacon-worker/scripts/fetch-private-core.ts
  apps/umacon-worker/scripts/smoke-production.ts
  apps/umacon-worker/src/acquisition.test.ts
  apps/umacon-worker/src/acquisition.ts
  apps/umacon-worker/src/auth.test.ts
  apps/umacon-worker/src/auth.ts
  apps/umacon-worker/src/cloudflare-sockets-test.ts
  apps/umacon-worker/src/compatibility-attestation.test.ts
  apps/umacon-worker/src/compatibility-attestation.ts
  apps/umacon-worker/src/rust-core.test.ts
  apps/umacon-worker/src/rust-core.ts
  apps/umacon-worker/src/socket-fetch.test.ts
  apps/umacon-worker/src/socket-fetch.ts
  apps/umacon-worker/src/streaming.test.ts
  apps/umacon-worker/src/streaming.ts
  apps/umacon-worker/src/test-fixtures.ts
  apps/umacon-worker/src/worker.test.ts
  apps/umacon-worker/src/worker.ts
  apps/umacon-worker/tsconfig.json
  apps/umacon-worker/vitest-wasm-module-plugin.ts
  apps/umacon-worker/vitest.config.ts
  apps/umacon-worker/worker-configuration.d.ts
  apps/umacon-worker/wrangler.jsonc
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

fix: preserve stored finish prediction probabilities in DB and KV
  apps/finish-position-cron/src/prediction-kv-writer.test.ts
  apps/finish-position-cron/src/prediction-kv-writer.ts
  apps/pc-keiba-viewer/docs/prediction-probability-api.md
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/daily-finish-predictions.server.test.ts
  apps/pc-keiba-viewer/src/lib/daily-finish-predictions.server.ts
  apps/pc-keiba-viewer/src/lib/mcp-finish-prediction-summary.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-finish-prediction-summary.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/prediction-probability.test.ts
  apps/pc-keiba-viewer/src/lib/prediction-probability.ts
Due: oxfmt, oxlint, tsc, vitest

docs(viewer): correct probability status contract
  apps/pc-keiba-viewer/docs/prediction-probability-api.md
Due: oxfmt

fix: preserve stored prediction probabilities in DB and KV (#78)
  apps/finish-position-cron/src/prediction-kv-writer.test.ts
  apps/finish-position-cron/src/prediction-kv-writer.ts
  apps/pc-keiba-viewer/docs/prediction-probability-api.md
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/daily-finish-predictions.server.test.ts
  apps/pc-keiba-viewer/src/lib/daily-finish-predictions.server.ts
  apps/pc-keiba-viewer/src/lib/mcp-finish-prediction-summary.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-finish-prediction-summary.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/prediction-probability.test.ts
  apps/pc-keiba-viewer/src/lib/prediction-probability.ts
Due: oxfmt, oxlint, tsc, vitest

feat(prediction): add frozen prophet score adjustment
  .dockerignore
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/finish-position-predict-container/Dockerfile
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/src/predict_lib/prophet_adjustment.py
  apps/finish-position-predict-container/src/predict_lib/prophet_cell_policy.json
  apps/finish-position-predict-container/src/predict_lib/prophet_cell_policy.py
  apps/finish-position-predict-container/src/predict_lib/served_branch.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_prophet_adjustment.py
  apps/finish-position-predict-container/tests/test_prophet_cell_policy.py
  apps/finish-position-predict-container/tests/test_served_branch.py
  apps/pc-keiba-viewer/finish-position/lookups/prophet-entity-trends-all-categories-2026.json
  apps/pc-keiba-viewer/finish-position/lookups/prophet-entity-trends-all-categories-2026.parquet
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-prophet-entity-trend-features.py
  apps/pc-keiba-viewer/tests/test_add_prophet_entity_trend_features.py
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

fix(prediction): keep race-chain watch from restarting idle containers
  apps/finish-position-cron/src/container-class.test.ts
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/container-status-activity.test.ts
  apps/finish-position-cron/src/container-status-activity.ts
  apps/finish-position-cron/src/day-base-discovery-readiness.test.ts
  apps/finish-position-cron/src/day-base-discovery-readiness.ts
  apps/finish-position-cron/src/day-base-pickup.test.ts
  apps/finish-position-cron/src/day-base-prewarm-pickup.test.ts
  apps/finish-position-cron/src/day-base-prewarm-pickup.ts
  apps/finish-position-cron/src/day-base-prewarm.test.ts
  apps/finish-position-cron/src/day-base-prewarm.ts
  apps/finish-position-cron/src/feature-hit-prediction.test.ts
  apps/finish-position-cron/src/feature-hit-prediction.ts
  apps/finish-position-cron/src/focused-full-day-base-readiness.test.ts
  apps/finish-position-cron/src/focused-full-day-base-readiness.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/queue-producer.ts
  apps/finish-position-cron/src/running-style-readiness.test.ts
  apps/finish-position-cron/src/running-style-readiness.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(jvlink): add Cloudflare Containers Wine demo
  apps/jra-van-datalab-cloudflare-demo/.dockerignore
  apps/jra-van-datalab-cloudflare-demo/.gitignore
  apps/jra-van-datalab-cloudflare-demo/Dockerfile
  apps/jra-van-datalab-cloudflare-demo/README.md
  apps/jra-van-datalab-cloudflare-demo/container/acquisition.py
  apps/jra-van-datalab-cloudflare-demo/container/entrypoint.sh
  apps/jra-van-datalab-cloudflare-demo/container/jvlink_demo.cpp
  apps/jra-van-datalab-cloudflare-demo/container/nginx.conf
  apps/jra-van-datalab-cloudflare-demo/container/pristine.reg
  apps/jra-van-datalab-cloudflare-demo/container/server.py
  apps/jra-van-datalab-cloudflare-demo/container/state.sh
  apps/jra-van-datalab-cloudflare-demo/package.json
  apps/jra-van-datalab-cloudflare-demo/pyproject.toml
  apps/jra-van-datalab-cloudflare-demo/scripts/deploy-authenticated.sh
  apps/jra-van-datalab-cloudflare-demo/scripts/export-native-auth.sh
  apps/jra-van-datalab-cloudflare-demo/scripts/extract_auth_registry.py
  apps/jra-van-datalab-cloudflare-demo/scripts/prepare-sdk.sh
  apps/jra-van-datalab-cloudflare-demo/sdk/.gitignore
  apps/jra-van-datalab-cloudflare-demo/sdk/.gitkeep
  apps/jra-van-datalab-cloudflare-demo/src/auth.test.ts
  apps/jra-van-datalab-cloudflare-demo/src/auth.ts
  apps/jra-van-datalab-cloudflare-demo/src/worker.ts
  apps/jra-van-datalab-cloudflare-demo/tests/test_acquisition.py
  apps/jra-van-datalab-cloudflare-demo/tests/test_extract_auth_registry.py
  apps/jra-van-datalab-cloudflare-demo/tests/test_server.py
  apps/jra-van-datalab-cloudflare-demo/tsconfig.json
  apps/jra-van-datalab-cloudflare-demo/uv.lock
  apps/jra-van-datalab-cloudflare-demo/vitest.config.ts
  apps/jra-van-datalab-cloudflare-demo/worker-configuration.d.ts
  apps/jra-van-datalab-cloudflare-demo/wrangler.jsonc
Due: shellcheck, oxfmt, oxlint, tsc, vitest

chore(jvlink): pin private core v3.3
  apps/jra-van-datalab-worker-only-probe/package.json
  apps/jra-van-datalab-worker-only-probe/private-core.lock.json
  apps/jra-van-datalab-worker-only-probe/scripts/e2e-production.ts
  apps/jra-van-datalab-worker-only-probe/scripts/smoke-production.ts
  apps/jra-van-datalab-worker-only-probe/src/acquisition.test.ts
  apps/jra-van-datalab-worker-only-probe/src/acquisition.ts
  apps/jra-van-datalab-worker-only-probe/src/compatibility-attestation.test.ts
  apps/jra-van-datalab-worker-only-probe/src/jvfile.test.ts
  apps/jra-van-datalab-worker-only-probe/src/jvfile.ts
  apps/jra-van-datalab-worker-only-probe/src/rust-core.ts
  apps/jra-van-datalab-worker-only-probe/src/streaming.test.ts
  apps/jra-van-datalab-worker-only-probe/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

test(umacon): cover empty NV-Link file-list streams
  apps/umacon-worker/src/streaming.test.ts
Due: oxfmt, oxlint, tsc, vitest

docs: record 2026-09-06 incident postmortems
  docs/incidents/2026-09-06-jra-permanent-prevention.md
  docs/incidents/2026-09-06-nar-container-stop-audit.md
Due: oxfmt

feat(daily-keiba): add Worker-native catalog sync
  .github/workflows/deploy-daily-keiba-sync.yml
  apps/daily-keiba-sync/README.md
  apps/daily-keiba-sync/migrations/0001_initial.sql
  apps/daily-keiba-sync/migrations/0002_catalog_index.sql
  apps/daily-keiba-sync/migrations/0003_acquisition_window.sql
  apps/daily-keiba-sync/migrations/0004_netkeiba_training_target.sql
  apps/daily-keiba-sync/package.json
  apps/daily-keiba-sync/src/cache.test.ts
  apps/daily-keiba-sync/src/cache.ts
  apps/daily-keiba-sync/src/catalog-index.test.ts
  apps/daily-keiba-sync/src/catalog-index.ts
  apps/daily-keiba-sync/src/catalog-sync.test.ts
  apps/daily-keiba-sync/src/catalog-sync.ts
  apps/daily-keiba-sync/src/errors.test.ts
  apps/daily-keiba-sync/src/errors.ts
  apps/daily-keiba-sync/src/generated/record-layouts.json
  apps/daily-keiba-sync/src/jobs.test.ts
  apps/daily-keiba-sync/src/jobs.ts
  apps/daily-keiba-sync/src/layouts.test.ts
  apps/daily-keiba-sync/src/layouts.ts
  apps/daily-keiba-sync/src/neon-sync.test.ts
  apps/daily-keiba-sync/src/neon-sync.ts
  apps/daily-keiba-sync/src/r2-resolver.test.ts
  apps/daily-keiba-sync/src/r2-resolver.ts
  apps/daily-keiba-sync/src/schedule.test.ts
  apps/daily-keiba-sync/src/schedule.ts
  apps/daily-keiba-sync/src/source-stream.test.ts
  apps/daily-keiba-sync/src/source-stream.ts
  apps/daily-keiba-sync/src/staging.test.ts
  apps/daily-keiba-sync/src/staging.ts
  apps/daily-keiba-sync/src/state.test.ts
  apps/daily-keiba-sync/src/state.ts
  apps/daily-keiba-sync/src/types.ts
  apps/daily-keiba-sync/src/worker.test.ts
  apps/daily-keiba-sync/src/worker.ts
  apps/daily-keiba-sync/tsconfig.json
  apps/daily-keiba-sync/vitest.config.ts
  apps/daily-keiba-sync/wrangler.jsonc
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

feat(postgres): route replica push through daily-keiba-sync
  apps/local-postgresql/README.md
  apps/local-postgresql/package.json
  apps/local-postgresql/scripts/assert-legacy-replica-write-enabled.ts
  apps/local-postgresql/scripts/finish-position-readiness-attestation.test.ts
  apps/local-postgresql/scripts/finish-position-readiness-attestation.ts
  apps/local-postgresql/scripts/trigger-daily-keiba-worker.ts
  apps/local-postgresql/src/replica-push/legacy-replica-authority.test.ts
  apps/local-postgresql/src/replica-push/legacy-replica-authority.ts
  apps/local-postgresql/src/replica-push/worker-fallback.test.ts
  apps/local-postgresql/src/replica-push/worker-fallback.ts
Due: oxfmt, oxlint, tsc, vitest

feat(postgres): add keiba.go.jp NAR fallback importer
  apps/local-postgresql/AGENTS.md
  apps/local-postgresql/scripts/keiba_go_scrape_import.py
  apps/local-postgresql/scripts/run-keiba-go-import-and-sync.sh
  apps/local-postgresql/scripts/test_keiba_go_scrape_import.py
Due: shellcheck, oxfmt

fix(catalog): correct heatmap grade matching and pedigree names
  apps/pc-keiba-r2-catalog/src/cache.test.ts
  apps/pc-keiba-r2-catalog/src/cache.ts
  apps/pc-keiba-r2-catalog/src/heatmap-pedigree-supplements.test.ts
  apps/pc-keiba-r2-catalog/src/heatmap-pedigree-supplements.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/win-rate-heatmap-stats.test.ts
  apps/pc-keiba-r2-catalog/src/win-rate-heatmap-stats.ts
  apps/pc-keiba-r2-catalog/src/worker-heatmap.test.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): stop hiding heatmap and data-top failures
  apps/pc-keiba-viewer/src/app/api/internal/race-cache-bust/route.test.ts
  apps/pc-keiba-viewer/src/app/api/internal/race-cache-bust/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.tsx
  apps/pc-keiba-viewer/src/db/query-cache.test.ts
  apps/pc-keiba-viewer/src/db/query-cache.ts
  apps/pc-keiba-viewer/src/lib/db-query-cache-policy.test.ts
  apps/pc-keiba-viewer/src/lib/db-query-cache-policy.ts
  apps/pc-keiba-viewer/src/lib/past-race-cell-matching.ts
  apps/pc-keiba-viewer/src/lib/premium-data-top-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/premium-data-top-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.server.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

feat(prediction): add missing running-style foundation features
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-market-signal-features.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_add_market_signal_features.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

feat(sync): require running-style day foundation and trainings
  apps/sync-realtime-data/migrations/0028_netkeiba_training_day_sync.sql
  apps/sync-realtime-data/src/netkeiba-training-day-sync.test.ts
  apps/sync-realtime-data/src/netkeiba-training-day-sync.ts
  apps/sync-realtime-data/src/running-style-catalog-client.test.ts
  apps/sync-realtime-data/src/running-style-catalog-client.ts
  apps/sync-realtime-data/src/running-style-cron-orchestration.test.ts
  apps/sync-realtime-data/src/running-style-cron.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/running-style-d1.test.ts
  apps/sync-realtime-data/src/running-style-d1.ts
  apps/sync-realtime-data/src/running-style-expected-horses.test.ts
  apps/sync-realtime-data/src/running-style-expected-horses.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.test.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.ts
  apps/sync-realtime-data/src/running-style-field-features.test.ts
  apps/sync-realtime-data/src/running-style-field-features.ts
  apps/sync-realtime-data/src/running-style-finish-feature-hit.test.ts
  apps/sync-realtime-data/src/running-style-finish-feature-hit.ts
  apps/sync-realtime-data/src/running-style-inference.test.ts
  apps/sync-realtime-data/src/running-style-inference.ts
  apps/sync-realtime-data/src/running-style-neon.test.ts
  apps/sync-realtime-data/src/running-style-neon.ts
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/scripts/run-running-style-inference-local.test.ts
  apps/sync-realtime-data/src/scripts/run-running-style-inference-local.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/viewer-race-cache-bust.test.ts
  apps/sync-realtime-data/src/viewer-race-cache-bust.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/running-style-expected-horses.test.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): plot Ban-ei results on weight-futan relative delta
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.tsx
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): hide Ban-ei blinker-switch column
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
Due: none

feat(viewer): plot Ban-ei results on weight-minus-futan change
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-time-charts.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-time-charts.tsx
  apps/pc-keiba-viewer/src/lib/horse-race-time-charts.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-time-charts.ts
Due: oxfmt, oxlint, tsc, vitest

fix(heatmap): show Ban-ei horse-weight win rates
  apps/pc-keiba-r2-catalog/src/condition-history-stats.test.ts
  apps/pc-keiba-r2-catalog/src/condition-history-stats.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/horse-weight-class.test.ts
  apps/pc-keiba-viewer/src/lib/horse-weight-class.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
