Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

docs(pc-keiba-viewer): pedigree win-rate WF (condition D) — REJECT
  apps/pc-keiba-viewer/docs/probes/jra-pedigree-winrate-clean-2026-07-04.md
Due: oxfmt

fix(features): include yesterday's venues in past14 rebuild targets
  apps/sync-realtime-data-features/src/scheduled-past14-targets.test.ts
  apps/sync-realtime-data-features/src/scheduled-past14-targets.ts
  apps/sync-realtime-data-features/src/worker.test.ts
  apps/sync-realtime-data-features/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

docs: reflect 2026-07-04 leak fix + summer campaign into system doc
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(pc-keiba-viewer): jockey win-rate WF (condition C) — REJECT
  apps/pc-keiba-viewer/docs/probes/jra-jockey-winrate-clean-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): market-rank×tokubetsu interaction WF — REJECT (mechanism mismatch)
  apps/pc-keiba-viewer/docs/probes/jra-tokubetsu-market-interaction-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): meetingday×waku WF (conditions A+B) — REJECT
  apps/pc-keiba-viewer/docs/probes/jra-meetingday-waku-clean-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): class-ordinal encoding fix WF — REJECT (correct fix, no benefit)
  apps/pc-keiba-viewer/docs/probes/jra-class-ordinal-fix-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): 2026 summer clean-model serve eval via R2 — partial feasibility
  apps/pc-keiba-viewer/docs/probes/jra-summer-2026-clean-serve-eval-2026-07-04.md
Due: oxfmt

docs: finalize summer campaign results in system doc — 11 lever families, 0 ADOPT
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(pc-keiba-viewer): 2024 extension of summer upset analysis — E-grade claim downgraded
  apps/pc-keiba-viewer/docs/probes/jra-summer-upset-divergence-2026-07-04.md
Due: oxfmt

docs: downgrade E-grade upset hot-spot claim to Hakodate/Sapporo only
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(pc-keiba-viewer): sire-line (系統) aggregate WF (D-derived) — REJECT, hypothesis refuted
  apps/pc-keiba-viewer/docs/probes/jra-sire-line-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): H2H approach A (pair_history-once) — VIABLE, ~35-40x speedup
  apps/pc-keiba-viewer/docs/probes/h2h-buildability-approach-a-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): style-rivalry/lone-escape WF (B-derived) — REJECT
  apps/pc-keiba-viewer/docs/probes/jra-style-rivalry-2026-07-04.md
Due: oxfmt

fix(features): raise pg query timeout 60s -> 120s for past-race rebuilds
  apps/pc-keiba-viewer/docs/probes/jra-meet-momentum-2026-07-04.md
  apps/sync-realtime-data-features/src/features/postgres-pool.ts
Due: oxfmt, oxlint, tsc, vitest

docs(pc-keiba-viewer): same-meet repeat/滞在 WF (A-derived) — REJECT
  apps/pc-keiba-viewer/docs/probes/jra-meet-repeat-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): H2H approaches B+C — OOM root cause found, rewrite eliminates it
  apps/pc-keiba-viewer/docs/probes/h2h-buildability-approach-b-2026-07-04.md
  apps/pc-keiba-viewer/docs/probes/h2h-buildability-approach-c-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): NAR clean-retrain full-store WF A/B — decisive gate pass
  apps/pc-keiba-viewer/docs/probes/nar-clean-retrain-fullstore-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): jvd_% raw-data inventory — space exhausted, no WF candidate
  apps/pc-keiba-viewer/docs/probes/jra-unexploited-data-inventory-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): 3-venue race-data sweep — pace×distance reversal found
  apps/pc-keiba-viewer/docs/probes/jra-3venue-data-sweep-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): 3-venue miss taxonomy 2024-2026 — close-call misses + serving blackout found
  apps/pc-keiba-viewer/docs/probes/jra-3venue-miss-taxonomy-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): blackout verdict — explained by fixed item-17 starvation bug, CLOSED
  apps/pc-keiba-viewer/docs/probes/jra-3venue-miss-taxonomy-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): odds-free summer rotation laws — 1 new WF candidate
  apps/pc-keiba-viewer/docs/probes/summer-oddsfree-rotation-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): odds-free summer analyses — arc, pedigree seasonality, baba physics
  apps/pc-keiba-viewer/docs/probes/summer-oddsfree-arc-2026-07-04.md
  apps/pc-keiba-viewer/docs/probes/summer-oddsfree-baba-physics-2026-07-04.md
  apps/pc-keiba-viewer/docs/probes/summer-oddsfree-pedigree-2026-07-04.md
Due: oxfmt

fix(predict): guard CF-first coverage fallback + daily preflight resilience
  scripts/launchd/finish-position-predict-daily.sh
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck

refactor(predict): simplify guard CF-trigger verify to marker+next-tick
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck

docs(pc-keiba-viewer): 3 odds-free-law WF verdicts — all REJECT
  apps/pc-keiba-viewer/docs/probes/jra-3venue-data-sweep-2026-07-04.md
  apps/pc-keiba-viewer/docs/probes/summer-oddsfree-pedigree-2026-07-04.md
  apps/pc-keiba-viewer/docs/probes/summer-oddsfree-rotation-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): NAR clean-188 deploy-grade finalization
  apps/pc-keiba-viewer/docs/probes/nar-clean-retrain-fullstore-2026-07-04.md
Due: oxfmt

fix(finish-position): deploy leak-free NAR model iter12-nar-xgb-hpo-v8-clean188
  apps/finish-position-predict-container/src/predict_lib/model_meta.json
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/tests/test_booster_pool.py
  apps/finish-position-predict-container/tests/test_cell_router.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_per_class.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_upcoming.py
Due: oxfmt

fix(finish-position-cron): growing backoff for busy focused-full requeues
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): re-fetch late-published JRA comments up to 4h post-start
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

docs(pc-keiba-viewer): odds-free race volatility model — OOS AUC 0.60, stable
  apps/pc-keiba-viewer/docs/probes/race-volatility-model-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): non-conforming race signal decomposition — market fails ordering, not contender ID
  apps/pc-keiba-viewer/docs/probes/jra-nonconforming-signal-decomposition-2026-07-04.md
Due: oxfmt

Fix NAR realtime odds recovery
  apps/sync-realtime-data-hot/src/fetch-odds.test.ts
  apps/sync-realtime-data-hot/src/fetch-odds.ts
  apps/sync-realtime-data-hot/src/keiba-go.test.ts
  apps/sync-realtime-data-hot/src/keiba-go.ts
  apps/sync-realtime-data-hot/src/scheduled-race-list.test.ts
  apps/sync-realtime-data-hot/src/scheduled-race-list.ts
  apps/sync-realtime-data-hot/src/storage.test.ts
  apps/sync-realtime-data-hot/src/storage.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
Due: oxfmt, oxlint, tsc, vitest

Disable NAR transformer blend by default locally
  scripts/launchd/finish-position-predict-daily.sh
Due: shellcheck

Guard finish-position production against leaky artifacts
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/scripts/train_finish_position_lightgbm_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/tune_finish_position_jra_cb.py
  apps/pc-keiba-viewer/src/scripts/tune_finish_position_nar_xgb.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_lightgbm_walk_forward.py
  apps/pc-keiba-viewer/tests/test_tune_finish_position_jra_cb.py
  apps/pc-keiba-viewer/tests/test_tune_finish_position_nar_xgb.py
Due: oxfmt, oxlint, tsc, vitest

Remove reverted NAR a957 viewer fallback
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

Fix transformer numeric NaN normalization
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/dataset.py
  apps/pc-keiba-viewer/tests/test_finish_position_transformer.py
Due: none

Scope realtime odds payloads by race key
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/realtime/route.test.ts
  apps/pc-keiba-viewer/src/lib/dev-realtime-scraper.server.test.ts
  apps/pc-keiba-viewer/src/lib/dev-realtime-scraper.server.ts
  apps/pc-keiba-viewer/src/lib/hot-odds-payload.server.ts
  apps/pc-keiba-viewer/src/lib/realtime-payload.server.test.ts
  apps/pc-keiba-viewer/src/lib/realtime-payload.server.ts
  apps/sync-realtime-data-hot/src/storage.test.ts
  apps/sync-realtime-data-hot/src/storage.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

Reconstruct latest odds from delta snapshots
  apps/sync-realtime-data-hot/src/storage.test.ts
  apps/sync-realtime-data-hot/src/storage.ts
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
