Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

refactor(realtime): drop dead defensive ?? arms in race-constraint + lightgbm-tree + findFlag; add zero-horse / NaN-feature / non-numeric horse number tests
  apps/sync-realtime-data/src/premium-race-parsers.test.ts
  apps/sync-realtime-data/src/running-style-feature-parquet.test.ts
  apps/sync-realtime-data/src/running-style-lightgbm-tree.ts
  apps/sync-realtime-data/src/running-style-race-constraint.ts
  apps/sync-realtime-data/src/scripts/backfill-daily-race-entries-trend-columns.ts
  apps/sync-realtime-data/test/running-style-entry-coverage.test.ts
Due: oxfmt, oxlint, tsc, vitest

test(realtime): cover daily-feature-build NaN/string/Infinity arms, running-style-features dead source-guard removed, sql plain-object null arm
  apps/sync-realtime-data/src/daily-feature-build.test.ts
  apps/sync-realtime-data/src/running-style-feature-sql.test.ts
  apps/sync-realtime-data/src/running-style-features.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(realtime): drop dead ?? null/path guards after RACE_LINK_URL_PATTERN matchAll and softmax logits[0]
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/src/running-style-model-binary.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(realtime): tighten Parquet helpers and drop dead ?? guards in keiba-go race-list parsers + d1 unique-keys access + add data-top horseName-null test
  apps/sync-realtime-data/src/daily-feature-build.test.ts
  apps/sync-realtime-data/src/premium-race-parsers.test.ts
  apps/sync-realtime-data/src/running-style-d1.ts
  apps/sync-realtime-data/src/running-style-feature-parquet.ts
Due: oxfmt, oxlint, tsc, vitest

chore(realtime): bump branches threshold to 89% after covering more null-arm + fallback cases
  apps/sync-realtime-data/scripts/run-running-style-date-extra.test.ts
  apps/sync-realtime-data/test/keiba-go.test.ts
  apps/sync-realtime-data/test/running-style-expected-horses.test.ts
  apps/sync-realtime-data/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

docs(realtime): document coverage thresholds in AI-facing CLAUDE.md / AGENTS.md
  AGENTS.md
  CLAUDE.md
  apps/sync-realtime-data/AGENTS.md
  apps/sync-realtime-data/CLAUDE.md
Due: oxfmt

fix(viewer): align race-trend jockey aggregation with isSameJockeyName
  apps/pc-keiba-viewer/src/lib/jockey-name.test.ts
  apps/pc-keiba-viewer/src/lib/jockey-name.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.ts
Due: oxfmt, oxlint, tsc, vitest

perf(viewer): always prefetch race-trend 30d window so date picker filters client-side
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
Due: none

fix(viewer): clamp race-trend realtime fetcher to target-day ±1 to stop dev 30d blowup
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): use corner-derived running style as fallback in race-trend aggregation
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): query race_running_styles directly for trend historical past races
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.ts
Due: oxfmt, oxlint, tsc, vitest

test(viewer): add d1-trend-queries.server tests via remote-binding dev setup
  apps/pc-keiba-viewer/next.config.ts
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.test.ts
  apps/pc-keiba-viewer/src/test-stubs/server-only.ts
  apps/pc-keiba-viewer/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

chore: drop tracked .claude/scheduled_tasks.lock runtime artifact
  .claude/scheduled_tasks.lock
Due: none

docs(ai): add per-package CLAUDE.md/AGENTS.md documenting 95% coverage policy
  apps/local-postgresql/AGENTS.md
  apps/local-postgresql/CLAUDE.md
  apps/pc-keiba-viewer/AGENTS.md
  apps/pc-keiba-viewer/CLAUDE.md
  scripts/AGENTS.md
  scripts/CLAUDE.md
Due: oxfmt

fix(viewer): expand transient DB error detection for hyperdrive/pool/socket failures
  apps/pc-keiba-viewer/src/db/db-retry.test.ts
  apps/pc-keiba-viewer/src/db/db-retry.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): default jockey trend off, treat empty trend[] as no selection
  apps/pc-keiba-viewer/src/lib/race-trend-query.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-query.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): rank race-pace by running-style label tier and blend corners with history
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/lib/race-pace-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/race-pace-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): serve stale section payload or 503 on compute failure
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add race-schedule task slot enumeration
  apps/pc-keiba-viewer/src/lib/race-schedule.test.ts
  apps/pc-keiba-viewer/src/lib/race-schedule.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): realtime UI updates for schedule chips, odds tooltip, recharts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/home-realtime.test.tsx
  apps/pc-keiba-viewer/src/app/home-realtime.tsx
  apps/pc-keiba-viewer/src/app/races/detail/realtime-race-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/realtime-race-section.tsx
Due: oxfmt
