Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

docs(finish-position): time-decay weight forensic -- confirmed dormant, corrected-implementation REJECT
  apps/pc-keiba-viewer/docs/probes/jra-time-decay-weight-forensic-2026-07-17.md
Due: oxfmt

docs(finish-position): campaign summary — coordinator re-enable risk note + observation item
  apps/pc-keiba-viewer/docs/probes/campaign-summary-2026-07-17.md
Due: oxfmt

feat(finish-position-cron): force bypasses focused-full completion guard
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/types.ts
Due: oxfmt, oxlint, tsc, vitest

docs: force-bypass semantics + Defect B / bug-audit-A status refresh
  apps/pc-keiba-viewer/docs/probes/campaign-summary-2026-07-17.md
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): campaign summary §f⑯ — Analytics:Read decision premise correction
  apps/pc-keiba-viewer/docs/probes/campaign-summary-2026-07-17.md
Due: oxfmt

docs(viewer): confirm 22:00 JST refresher tick did not fire (GraphQL)
  apps/pc-keiba-viewer/CLAUDE.md
  apps/pc-keiba-viewer/docs/probes/campaign-summary-2026-07-17.md
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
  apps/pc-keiba-viewer/docs/probes/metric-harness-parity-audit-2026-07-17.md
  apps/pc-keiba-viewer/src/scripts/learning/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
  lefthook.yml
Due: oxfmt

feat(finish-position): watermark-gated per-race R2 cache reuse for mode=rescore
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  docs/finish-position-prediction-system.md
Due: oxfmt

feat(finish-position): watermark-gated day-base reuse for catalog sources
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/tests/test_day_base_parity.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
Due: none

docs(finish-position): campaign summary — precise morning monitoring items + weight-rebuild residual risk
  apps/pc-keiba-viewer/docs/probes/campaign-summary-2026-07-17.md
Due: oxfmt

fix(viewer): defensive hardening — exclude cell-routing variants from tier-3 fallback
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/finish-position-cell-routing.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-cell-routing.ts
Due: oxfmt, oxlint, tsc, vitest

docs(pc-keiba-viewer): add per-cell variant wiring checklist for v34 (USER decision 4)
  apps/pc-keiba-viewer/docs/probes/jra-champion-fresh2026h1-retrain-2026-07-17.md
Due: oxfmt

docs(pc-keiba-viewer): cushion value / moisture content pilot (USER decision 5)
  apps/pc-keiba-viewer/docs/probes/jra-cushion-moisture-pilot-2026-07-18.md
Due: oxfmt

feat(viewer): log RS shard status and add R2 presence check to health tool
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-pacestyle-features.py
  apps/pc-keiba-viewer/src/scripts/serve_health_check.py
  apps/pc-keiba-viewer/tests/test_add_pacestyle_features.py
  apps/pc-keiba-viewer/tests/test_serve_health_check.py
  apps/pc-keiba-viewer/uv.lock
Due: oxfmt

fix(pc-keiba-viewer): exclude scratched/excluded entrants from predict-time feature build
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

fix(finish-position-cron): weight-rebuild fans out per-race instead of whole-category rescore
  apps/finish-position-cron/src/race-coordinator.test.ts
  apps/finish-position-cron/src/race-coordinator.ts
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): spec §5.5.1 — weight-rebuild per-race fan-out closes the whole-category gap
  docs/finish-position-prediction-system.md
Due: oxfmt

feat(pc-keiba-viewer): add per-race confidence and E-grade upset-warning badges
  apps/pc-keiba-viewer/docs/probes/confidence-display-design-2026-07-17.md
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

docs(pc-keiba-viewer): record confidence/upset badge deploy + prod verification
  apps/pc-keiba-viewer/docs/probes/confidence-display-design-2026-07-17.md
Due: oxfmt

docs(finish-position): §13 — 07-18 07:30 morning checkpoint (first raw-iceberg-v1 JRA opening day)
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

docs(finish-position): Defect F — force=true doesn't bypass claimFocusedFullRace terminal gate
  apps/pc-keiba-viewer/docs/probes/campaign-summary-2026-07-17.md
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

docs(pc-keiba-viewer): close cushion/moisture probe — WF confirmation REJECT
  apps/pc-keiba-viewer/docs/probes/jra-cushion-moisture-pilot-2026-07-18.md
Due: oxfmt

docs: canonicalize cushion/moisture WF REJECT into §11 and campaign summary
  apps/pc-keiba-viewer/docs/probes/campaign-summary-2026-07-17.md
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): §13.4 — 07-18 08:30 decision-point checkpoint
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

feat(finish-position-cron): race-sharded Container DO naming (USER decision 11, RACE_SHARDED_DO flag)
  apps/finish-position-cron/src/day-base-prewarm.ts
  apps/finish-position-cron/src/focused-full-cache-pickup.test.ts
  apps/finish-position-cron/src/focused-full-cache-pickup.ts
  apps/finish-position-cron/src/predict-do-shard.test.ts
  apps/finish-position-cron/src/predict-do-shard.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): §5.4.2/§5.4.3 — deploy record + 17:00 flag-on runbook for RACE_SHARDED_DO
  docs/finish-position-prediction-system.md
Due: oxfmt

fix(finish-position-cron): force threads through claimFocusedFullRace terminal gate (Defect F)
  apps/finish-position-cron/src/do-state.test.ts
  apps/finish-position-cron/src/do-state.ts
  apps/finish-position-cron/src/predict-run-coordinator.test.ts
  apps/finish-position-cron/src/predict-run-coordinator.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/types.ts
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): §13.5 -- 07-18 09:16 pre-race checkpoint: D1 discovery confirmed, 09:15 tick fired
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

feat(finish-position-cron): flip RACE_SHARDED_DO=1 + raise queue max_concurrency 3->9 (USER decision 11)
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt

docs(finish-position): §5.4.2 -- record flag-ON bundled deploy + smoke verification
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(pc-keiba-viewer): campaign summary §g -- RACE_SHARDED_DO rollback entry
  apps/pc-keiba-viewer/docs/probes/campaign-summary-2026-07-17.md
Due: oxfmt

docs(finish-position): §13.6 -- URGENT incident: zero JRA prediction rows at first post time (07-18 09:47 JST)
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

docs(finish-position): §13.7 -- root cause confirmed: pc-keiba-r2-catalog /v1/running-style-features 502s on JRA only
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

docs(finish-position): Defect G (RS-absent feature_guard blind spot) + Defect H (container-side completion gate) + Defect F closure update
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

docs(finish-position): §13.8 -- narrows 502 root cause to running-style-features' 10y history scan
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

docs(finish-position): §13.9 -- all 36 races garbage confirmed, post-time timing, badge code-verified
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

docs(finish-position): §13.10 -- corrects root cause to R2 SQL nesting-depth error (deploy-verify)
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

fix(pc-keiba-viewer): emergency quality gate hides ranked finish-position table when predictions are garbage
  apps/pc-keiba-viewer/docs/probes/confidence-display-design-2026-07-17.md
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): §13.11 -- cross-check confirms single 502 root cause, flags separate NAR issue
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

fix(finish-position-cron): temporarily disable rescore coordinator (garbage re-production)
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt

fix(pc-keiba-viewer): bump db-query cache namespace to force-clear stale pre-gate entries
  apps/pc-keiba-viewer/src/db/query-cache.ts
Due: oxfmt, oxlint, tsc, vitest
