Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

feat(jra-research): add bounded market-free fold ranker
  research/jra-20260913/fold_ranker.py
  research/jra-20260913/test_fold_ranker.py
Due: none

feat(jra-research): define dedicated event fold boundaries
  research/jra-20260913/dedicated_cells.py
  research/jra-20260913/test_dedicated_cells.py
Due: none

test(jra-research): add strict local research validation gates
  .gitignore
  research/jra-20260913/coverage.toml
  research/jra-20260913/run-research-checks.sh
Due: shellcheck, oxfmt

feat(jra-research): retain feature scope and source-label audit scripts
  research/jra-20260913/run-feature-audit.sh
  research/jra-20260913/run-fold-scope-audit.sh
  research/jra-20260913/run-label-status-audit.sh
  research/jra-20260913/run-training-status-snapshot-002.sh
  research/jra-20260913/run-training-status-snapshot.sh
Due: shellcheck

docs(jra-research): record roster and market-cutoff audit findings
  docs/probes/jra-20260912-cloudflare-postmortem-20260913.md
Due: oxfmt

feat(jra-research): add fixed market-free pilot runner
  research/jra-20260913/run-marketfree-pilot.sh
Due: shellcheck

chore(research): ignore generated artifacts by default while retaining source
  .gitignore
  research/.gitignore
  research/README.md
  research/test-gitignore.sh
Due: shellcheck, oxfmt

fix(research): keep new scripts visible by ignoring only known artifacts
  research/.gitignore
  research/README.md
  research/test-gitignore.sh
Due: shellcheck, oxfmt

feat(pc-keiba-r2-catalog): add warm-only partnership aggregates
  apps/pc-keiba-r2-catalog/src/heatmap-partnership-cache.test.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership-cache.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership-sql.test.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership-sql.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership-stats.test.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership-stats.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership.test.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership.ts
  apps/pc-keiba-r2-catalog/src/worker-partnership.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): share warmed partnership heatmaps across UI and MCP
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.tsx
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.server.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-live-weights.server.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-live-weights.server.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-partnership.server.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-partnership.server.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-presentation.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-presentation.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

chore(pc-keiba-viewer): bind local development to the R2 catalog
  apps/pc-keiba-viewer/wrangler.dev.jsonc
Due: oxfmt

feat(predict-container): record bounded resource telemetry
  apps/finish-position-predict-container/src/predict_lib/resource_usage.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_lib/system_memory_sampler.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_resource_usage.py
  apps/finish-position-predict-container/tests/test_serve.py
  apps/finish-position-predict-container/tests/test_system_memory_sampler.py
Due: none

fix(finish-position-cron): preflight rescore weight generations
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/scoring/rescore-preflight.test.ts
  apps/finish-position-cron/src/scoring/rescore-preflight.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): add guarded rescore container routing
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/container-cleanup.test.ts
  apps/finish-position-cron/src/container-cleanup.ts
  apps/finish-position-cron/src/container-control.test.ts
  apps/finish-position-cron/src/container-control.ts
  apps/finish-position-cron/src/deploy-safety.test.ts
  apps/finish-position-cron/src/dlq-consumer.test.ts
  apps/finish-position-cron/src/dlq-consumer.ts
  apps/finish-position-cron/src/index.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/race-container-routing.test.ts
  apps/finish-position-cron/src/race-container-routing.ts
  apps/finish-position-cron/src/rescore-deployment.test.ts
  apps/finish-position-cron/src/types.test.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/finish-position-predict-container/src/predict_lib/container_role.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/tests/test_container_role.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: oxfmt, oxlint, tsc, vitest

perf(mlflow-ui-proxy): skip unchanged preview syncs
  apps/mlflow-ui-proxy/package.json
  apps/mlflow-ui-proxy/src/exec-output.test.ts
  apps/mlflow-ui-proxy/src/exec-output.ts
  apps/mlflow-ui-proxy/src/index.test.ts
  apps/mlflow-ui-proxy/src/index.ts
  apps/mlflow-ui-proxy/src/source-fingerprint.test.ts
  apps/mlflow-ui-proxy/src/source-fingerprint.ts
  apps/mlflow-ui-proxy/src/sync-checkpoint.test.ts
  apps/mlflow-ui-proxy/src/sync-checkpoint.ts
  apps/mlflow-ui-proxy/src/types.ts
  apps/mlflow-ui-proxy/wrangler.jsonc
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

perf(mlflow-ui-proxy): reduce container resource allocation
  apps/mlflow-ui-proxy/wrangler.jsonc
Due: oxfmt

docs(containers): record cost baseline and optimization evidence
  docs/container-cost-attribution-20260912.json
  docs/container-cost-attribution.graphql
  docs/container-cost-baseline-20260913.json
  docs/container-cost-optimization-plan.md
Due: oxfmt

docs(containers): record rescore canary and safety reviews
  docs/container-deployment-admission-review.md
  docs/container-native-parity-review.md
  docs/container-rescore-followup-20260913.md
  docs/container-rescore-nar-offline-20260913.json
  docs/container-rescore-offline-canary-20260913.json
  docs/container-rescore-only-canary-plan.md
  docs/container-rescore-synthetic-20260913.json
Due: oxfmt

docs(containers): record blocked banei publication follow-up
  docs/container-banei-publication-followup-20260913.md
Due: oxfmt

chore(venue-weather): refresh september 12 observations
  apps/venue-weather/data/venue_weather_2026.duckdb
  apps/venue-weather/data/venue_weather_v2_2026.duckdb
Due: none

feat(research): add weighted history experiments
  research/jra-20260913/event_weights.py
  research/jra-20260913/fold_ranker.py
  research/jra-20260913/recency_weights.py
  research/jra-20260913/test_event_weights.py
  research/jra-20260913/test_fold_ranker.py
  research/jra-20260913/test_recency_weights.py
Due: none

feat(research): add finish-position classification
  research/jra-20260913/position_classifier.py
  research/jra-20260913/test_position_classifier.py
Due: none

feat(research): add static race context features
  research/jra-20260913/static_race_context.py
  research/jra-20260913/test_static_race_context.py
Due: none

feat(research): restore margin features
  research/jra-20260913/margin_features.py
  research/jra-20260913/test_margin_features.py
Due: none

test(research): enforce coverage for experiment modules
  research/jra-20260913/run-research-checks.sh
Due: shellcheck

docs(research): record campaign findings and closeout
  docs/probes/jra-20260912-cloudflare-postmortem-20260913.md
  docs/probes/jra-20260913-campaign-closeout.md
  docs/probes/jra-20260913-marketfree-development.md
  docs/probes/jra-20260913-root-cause-diagnosis.md
  research/jra-20260913/CURRENT_STATUS.md
  research/jra-20260913/MARGIN_RESTORATION_PLAN.md
  research/jra-20260913/incumbent-pipeline-replay-20260913-001/README.md
Due: oxfmt

test(finish-position-cron): cover rescore container boundaries
  apps/finish-position-cron/src/container-class.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-r2-catalog): dedupe NAR day-list rows in R2 SQL union
  apps/pc-keiba-r2-catalog/src/race-day-list-read.test.ts
  apps/pc-keiba-r2-catalog/src/race-day-list-read.ts
Due: oxfmt, oxlint, tsc, vitest

perf(mlflow-ui-proxy): sync adjacent preview dates in one run
  apps/mlflow-ui-proxy/src/sync-checkpoint.test.ts
  apps/mlflow-ui-proxy/src/sync-checkpoint.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): log prediction container lifecycle transitions
  apps/finish-position-cron/src/container-class.test.ts
  apps/finish-position-cron/src/container-class.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position-cron): stop superseded containers without overriding leases
  apps/finish-position-cron/scripts/deploy-with-queue-drain.ts
  apps/finish-position-cron/src/deploy-safety.test.ts
  apps/finish-position-cron/src/deploy-safety.ts
Due: oxfmt, oxlint, tsc, vitest

feat(save-oversea-keiba-records): add resumable overseas history collection
  apps/save-oversea-keiba-records/README.md
  apps/save-oversea-keiba-records/package.json
  apps/save-oversea-keiba-records/src/history-archive.test.ts
  apps/save-oversea-keiba-records/src/history-archive.ts
  apps/save-oversea-keiba-records/src/history-cli.test.ts
  apps/save-oversea-keiba-records/src/history-cli.ts
  apps/save-oversea-keiba-records/src/history-command.test.ts
  apps/save-oversea-keiba-records/src/history-command.ts
  apps/save-oversea-keiba-records/src/history-json.test.ts
  apps/save-oversea-keiba-records/src/history-json.ts
  apps/save-oversea-keiba-records/src/history-main.test.ts
  apps/save-oversea-keiba-records/src/history-main.ts
  apps/save-oversea-keiba-records/src/history-preparation.test.ts
  apps/save-oversea-keiba-records/src/history-preparation.ts
  apps/save-oversea-keiba-records/src/history-publication-operator.test.ts
  apps/save-oversea-keiba-records/src/history-publication-operator.ts
  apps/save-oversea-keiba-records/src/sources/history-collection.test.ts
  apps/save-oversea-keiba-records/src/sources/history-collection.ts
  apps/save-oversea-keiba-records/src/sources/history-source-page.test.ts
  apps/save-oversea-keiba-records/src/sources/history-source-page.ts
  apps/save-oversea-keiba-records/src/storage/history-connection.test.ts
  apps/save-oversea-keiba-records/src/storage/history-connection.ts
  apps/save-oversea-keiba-records/src/storage/history-database.test.ts
  apps/save-oversea-keiba-records/src/storage/history-database.ts
  apps/save-oversea-keiba-records/src/storage/history-publication.test.ts
  apps/save-oversea-keiba-records/src/storage/history-publication.ts
  apps/save-oversea-keiba-records/src/storage/history-sequence.test.ts
  apps/save-oversea-keiba-records/src/storage/history-sequence.ts
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

feat(save-oversea-keiba-records): submit targeted production race requests
  apps/save-oversea-keiba-records/src/prediction-publication.ts
  apps/save-oversea-keiba-records/src/production-cli.test.ts
  apps/save-oversea-keiba-records/src/production-cli.ts
  apps/save-oversea-keiba-records/src/production-main.test.ts
  apps/save-oversea-keiba-records/src/production-main.ts
  apps/save-oversea-keiba-records/src/production-request.test.ts
  apps/save-oversea-keiba-records/src/production-request.ts
Due: oxfmt, oxlint, tsc, vitest

fix(save-oversea-keiba-records): exclude withdrawn JRA card entries
  apps/save-oversea-keiba-records/src/sources/jra-card-parser.test.ts
  apps/save-oversea-keiba-records/src/sources/jra-card-parser.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data-hot): detect an odds claim from the returned row
  apps/sync-realtime-data-hot/src/storage.test.ts
  apps/sync-realtime-data-hot/src/storage.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data-hot): park browser failures instead of retrying
  apps/sync-realtime-data-hot/src/fetch-odds.test.ts
  apps/sync-realtime-data-hot/src/fetch-odds.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
  apps/sync-realtime-data-hot/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data): detect claims from the returned row
  apps/sync-realtime-data/src/realtime-plan-recovery-claim.test.ts
  apps/sync-realtime-data/src/realtime-plan-recovery-claim.ts
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync-realtime-data): share R2 byte ranges within one materialization
  apps/sync-realtime-data/src/byte-range-cache.test.ts
  apps/sync-realtime-data/src/byte-range-cache.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.test.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.ts
  apps/sync-realtime-data/src/running-style-finish-feature-hit.test.ts
  apps/sync-realtime-data/src/running-style-finish-feature-hit.ts
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
