Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

fix(finish-position): gate prediction passes on source events
  apps/finish-position-cron/src/cron-decision.ts
  apps/finish-position-cron/src/day-base-pickup.test.ts
  apps/finish-position-cron/src/day-base-pickup.ts
  apps/finish-position-cron/src/day-base-prewarm.test.ts
  apps/finish-position-cron/src/day-base-prewarm.ts
  apps/finish-position-cron/src/feature-hit-prediction.test.ts
  apps/finish-position-cron/src/feature-hit-prediction.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(plugin): migrate stdio proxy to Python
  .grok/skills/pc-keiba-viewer-mcp/SKILL.md
  README.md
  lefthook.yml
  packages/pc-keiba-viewer-plugin/README.md
  packages/pc-keiba-viewer-plugin/mcp.json
  packages/pc-keiba-viewer-plugin/oxlint-placeholder.mjs
  packages/pc-keiba-viewer-plugin/package.json
  packages/pc-keiba-viewer-plugin/prompt.md
  packages/pc-keiba-viewer-plugin/pyproject.toml
  packages/pc-keiba-viewer-plugin/pyrightconfig.json
  packages/pc-keiba-viewer-plugin/skills/pc-keiba-viewer-mcp/SKILL.md
  packages/pc-keiba-viewer-plugin/src/mcp-stdio-proxy.test.ts
  packages/pc-keiba-viewer-plugin/src/mcp-stdio-proxy.ts
  packages/pc-keiba-viewer-plugin/src/mcp_stdio_proxy.py
  packages/pc-keiba-viewer-plugin/src/run-mcp-stdio-proxy.ts
  packages/pc-keiba-viewer-plugin/src/run_mcp_stdio_proxy.py
  packages/pc-keiba-viewer-plugin/tests/test_mcp_stdio_proxy.py
  packages/pc-keiba-viewer-plugin/tests/test_run_mcp_stdio_proxy.py
  packages/pc-keiba-viewer-plugin/tsconfig.json
  packages/pc-keiba-viewer-plugin/uv.lock
  packages/pc-keiba-viewer-plugin/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

perf(catalog): narrow running-style feature scans
  apps/pc-keiba-r2-catalog/src/running-style-feature-ctes.ts
  apps/pc-keiba-r2-catalog/src/running-style-sql.test.ts
  apps/pc-keiba-r2-catalog/src/running-style-sql.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync): harden running-style feature sourcing
  apps/sync-realtime-data/package.json
  apps/sync-realtime-data/src/running-style-catalog-client.test.ts
  apps/sync-realtime-data/src/running-style-catalog-client.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.test.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.ts
  apps/sync-realtime-data/src/running-style-finish-feature-hit.test.ts
  apps/sync-realtime-data/src/running-style-finish-feature-hit.ts
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

style(viewer): polish user identity controls
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/mypage/user-identity-panel.test.tsx
  apps/pc-keiba-viewer/src/app/mypage/user-identity-panel.tsx
Due: oxfmt

feat(mcp): add ChatGPT app integration
  apps/pc-keiba-viewer/public/mcp-connect/chatgpt-allow.jpg
  apps/pc-keiba-viewer/public/mcp-connect/chatgpt-create-app.jpg
  apps/pc-keiba-viewer/public/mcp-connect/chatgpt-developer-mode.jpg
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/mcp-connect/mcp-url-copy.test.tsx
  apps/pc-keiba-viewer/src/app/mcp-connect/mcp-url-copy.tsx
  apps/pc-keiba-viewer/src/app/mcp-connect/page.tsx
  apps/pc-keiba-viewer/src/lib/mcp-oauth-http.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-oauth-metadata.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-oauth-metadata.ts
  apps/pc-keiba-viewer/src/lib/mcp-oauth-origin.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-oauth-origin.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.ts
Due: oxfmt, oxlint, tsc, vitest

chore(git): ignore local R2 day-base parquet downloads
  .gitignore
Due: none

fix(cron): dedupe DLQ audit rows by queue message id
  apps/finish-position-cron/migrations/0007_add_dlq_message_id_idempotency.sql
  apps/finish-position-cron/src/dlq-events.test.ts
  apps/finish-position-cron/src/dlq-events.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(cron): move container lifecycle and day-base prewarm onto queues
  apps/finish-position-cron/src/container-control.test.ts
  apps/finish-position-cron/src/container-control.ts
  apps/finish-position-cron/src/container-slot-cap.test.ts
  apps/finish-position-cron/src/container-slot-cap.ts
  apps/finish-position-cron/src/coverage-self-heal.test.ts
  apps/finish-position-cron/src/coverage-self-heal.ts
  apps/finish-position-cron/src/cron-decision.test.ts
  apps/finish-position-cron/src/cron-decision.ts
  apps/finish-position-cron/src/day-base-pickup.test.ts
  apps/finish-position-cron/src/day-base-pickup.ts
  apps/finish-position-cron/src/day-base-prewarm.test.ts
  apps/finish-position-cron/src/day-base-prewarm.ts
  apps/finish-position-cron/src/delivery-canary.ts
  apps/finish-position-cron/src/dlq-consumer.test.ts
  apps/finish-position-cron/src/dlq-consumer.ts
  apps/finish-position-cron/src/do-state.test.ts
  apps/finish-position-cron/src/do-state.ts
  apps/finish-position-cron/src/feature-hit-prediction.test.ts
  apps/finish-position-cron/src/feature-hit-prediction.ts
  apps/finish-position-cron/src/focused-full-completion.test.ts
  apps/finish-position-cron/src/focused-full-completion.ts
  apps/finish-position-cron/src/predict-run-coordinator.test.ts
  apps/finish-position-cron/src/predict-run-coordinator.ts
  apps/finish-position-cron/src/prediction-readiness.test.ts
  apps/finish-position-cron/src/prediction-readiness.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/queue-producer.ts
  apps/finish-position-cron/src/race-coordinator.test.ts
  apps/finish-position-cron/src/race-coordinator.ts
  apps/finish-position-cron/src/scoring/feature-cache.test.ts
  apps/finish-position-cron/src/scoring/feature-cache.ts
  apps/finish-position-cron/src/scoring/rescore-consumer.test.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(predict): publish an RS-independent day-base foundation
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: none

perf(sync): scope trend snapshot CTEs to the target venue-day
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync): source running-style features from the RS-independent base
  apps/sync-realtime-data/src/running-style-finish-feature-hit.test.ts
  apps/sync-realtime-data/src/running-style-finish-feature-hit.ts
  apps/sync-realtime-data/src/running-style-parquet-export.test.ts
  apps/sync-realtime-data/src/running-style-parquet-export.ts
Due: oxfmt, oxlint, tsc, vitest

docs(sync): clarify viewer cache-warm ordering after the Neon push
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/viewer-cache-warm.ts
Due: oxfmt, oxlint, tsc, vitest

fix(cron): let a focused-full retry reclaim its own container slot
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

feat(catalog): serve heatmap, horse results, and condition history over R2 SQL
  apps/pc-keiba-r2-catalog/src/cache.test.ts
  apps/pc-keiba-r2-catalog/src/cache.ts
  apps/pc-keiba-r2-catalog/src/condition-history-stats.test.ts
  apps/pc-keiba-r2-catalog/src/condition-history-stats.ts
  apps/pc-keiba-r2-catalog/src/horse-race-results.test.ts
  apps/pc-keiba-r2-catalog/src/horse-race-results.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/win-rate-heatmap-stats.test.ts
  apps/pc-keiba-r2-catalog/src/win-rate-heatmap-stats.ts
  apps/pc-keiba-r2-catalog/src/worker-condition-history.test.ts
  apps/pc-keiba-r2-catalog/src/worker-heatmap.test.ts
  apps/pc-keiba-r2-catalog/src/worker-horse-race-results.test.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): fall back to XMLHttpRequest for same-origin GETs
  apps/pc-keiba-viewer/src/lib/fetch-with-retry.test.ts
  apps/pc-keiba-viewer/src/lib/fetch-with-retry.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): document the ChatGPT app description on the connect page
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/mcp-connect/mcp-copy-row.test.tsx
  apps/pc-keiba-viewer/src/app/mcp-connect/mcp-copy-row.tsx
  apps/pc-keiba-viewer/src/app/mcp-connect/mcp-external-link.test.tsx
  apps/pc-keiba-viewer/src/app/mcp-connect/mcp-external-link.tsx
  apps/pc-keiba-viewer/src/app/mcp-connect/mcp-url-copy.tsx
  apps/pc-keiba-viewer/src/app/mcp-connect/page.tsx
  apps/pc-keiba-viewer/src/lib/mcp-chatgpt-app.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-chatgpt-app.ts
Due: oxfmt, oxlint, tsc, vitest

build(predict): bake only the selected model artifacts into the image
  apps/finish-position-predict-container/Dockerfile
  apps/finish-position-predict-container/src/predict_lib/artifact_integrity.py
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
Due: none

docs: report R2 Catalog and R2 SQL usage costs
  docs/r2-catalog-r2-sql-cost-report-2026-08-23.md
Due: oxfmt

fix(local-pg): import netkeiba workouts for every JRA runner
  apps/local-postgresql/scripts/run-pc-keiba-update-and-sync.test.ts
  apps/local-postgresql/scripts/run-pc-keiba-update-and-sync.ts
  apps/local-postgresql/src/netkeiba-training/core.test.ts
  apps/local-postgresql/src/netkeiba-training/core.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync): merge netkeiba intermediate training workouts
  apps/sync-realtime-data/src/premium-race-parsers.test.ts
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync): skip running-style mirror when predictions already cover the card
  apps/sync-realtime-data/src/running-style-cron-orchestration.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
Due: oxfmt, oxlint, tsc, vitest

perf(sync): read only the target race's rows from the day-base parquet
  apps/sync-realtime-data/src/running-style-feature-materialize.test.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.ts
  apps/sync-realtime-data/src/running-style-finish-feature-hit.test.ts
  apps/sync-realtime-data/src/running-style-finish-feature-hit.ts
Due: oxfmt, oxlint, tsc, vitest

build(predict): install xgboost-cpu to shrink the runtime image
  apps/finish-position-predict-container/Dockerfile
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
Due: none

feat(predict): add a race-chain container role that never builds a day-base
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/container_role.py
  apps/finish-position-predict-container/src/predict_lib/focused_full_cache.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_container_role.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
Due: none

feat(catalog): filter condition history by cell-matching class
  apps/pc-keiba-r2-catalog/src/cache.test.ts
  apps/pc-keiba-r2-catalog/src/cache.ts
  apps/pc-keiba-r2-catalog/src/condition-history-stats.test.ts
  apps/pc-keiba-r2-catalog/src/condition-history-stats.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/win-rate-heatmap-stats.test.ts
  apps/pc-keiba-r2-catalog/src/win-rate-heatmap-stats.ts
  apps/pc-keiba-r2-catalog/src/worker-condition-history.test.ts
  apps/pc-keiba-r2-catalog/src/worker-heatmap.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): align heatmap and condition history with cell-matching class
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/condition-history-catalog.server.test.ts
  apps/pc-keiba-viewer/src/lib/condition-history-catalog.server.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-dimensions.test.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-dimensions.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-catalog.server.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-catalog.server.ts
Due: oxfmt, oxlint, tsc, vitest

feat(cron): add a default-off race-chain container canary
  apps/finish-position-cron/src/container-class.test.ts
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/container-control.test.ts
  apps/finish-position-cron/src/container-control.ts
  apps/finish-position-cron/src/day-base-prewarm-pickup.test.ts
  apps/finish-position-cron/src/feature-hit-prediction.test.ts
  apps/finish-position-cron/src/feature-hit-prediction.ts
  apps/finish-position-cron/src/focused-full-cache-pickup.ts
  apps/finish-position-cron/src/index.ts
  apps/finish-position-cron/src/predict-do-shard.test.ts
  apps/finish-position-cron/src/predict-do-shard.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/race-container-routing.test.ts
  apps/finish-position-cron/src/race-container-routing.ts
  apps/finish-position-cron/src/running-style-readiness.test.ts
  apps/finish-position-cron/src/running-style-readiness.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): serialize race refresh triggers
  apps/sync-realtime-data-features/src/worker.test.ts
  apps/sync-realtime-data-features/src/worker.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/viewer-race-cache-bust.test.ts
  apps/sync-realtime-data/src/viewer-race-cache-bust.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-discover-urls-retry.test.ts
  apps/sync-realtime-data/src/worker-fetch-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-notify-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker-rescore-trigger.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(catalog): add attested fresh race entry queries
  apps/pc-keiba-r2-catalog/src/r2-sql.test.ts
  apps/pc-keiba-r2-catalog/src/r2-sql.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
  apps/pc-keiba-r2-catalog/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(predict): add race-scoped feature foundations
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/foundation_cache.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/src/predict_lib/production_feature_usage.py
  apps/finish-position-predict-container/src/predict_lib/r2_client.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_foundation_cache.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_production_feature_usage.py
  apps/finish-position-predict-container/tests/test_r2_client.py
  apps/finish-position-predict-container/tests/test_serve.py
  apps/finish-position-predict-container/tests/test_shipped_race_chain_hit.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-baba-pedigree-affinity-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-jra-jockey-pedigree-cell-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-market-signal-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-near-miss-features.py
  apps/pc-keiba-viewer/tests/test_add_baba_pedigree_affinity_features.py
  apps/pc-keiba-viewer/tests/test_add_jra_jockey_pedigree_cell_features.py
  apps/pc-keiba-viewer/tests/test_add_market_signal_features.py
  apps/pc-keiba-viewer/tests/test_add_near_miss_features.py
Due: none

fix(viewer): allow local https development origins
  apps/pc-keiba-viewer/next.config.ts
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/lib/next-config.test.ts
  apps/pc-keiba-viewer/src/lib/next-config.ts
Due: oxfmt, oxlint, tsc, vitest

build(plugin): sync lockfile development dependencies
  bun.lock
Due: none

fix(operations): verify race coverage against authoritative cards
  scripts/launchd/README.md
  scripts/launchd/race-prediction-guard.sh
  scripts/launchd/race-prediction-guard.test.sh
Due: shellcheck, oxfmt

feat(viewer): enrich ban-ei race time charts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-time-charts.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-time-charts.tsx
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.ts
  apps/pc-keiba-viewer/src/lib/horse-race-time-charts.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-time-charts.ts
Due: oxfmt, oxlint, tsc, vitest

feat(predict): stage market-aware scoring improvements
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/production-artifacts.json
  apps/finish-position-predict-container/src/catboost_adapter.py
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/artifact_integrity.py
  apps/finish-position-predict-container/src/predict_lib/dynamic_market_router.py
  apps/finish-position-predict-container/src/predict_lib/dynamic_market_shadow.py
  apps/finish-position-predict-container/src/predict_lib/dynamic_market_versions.py
  apps/finish-position-predict-container/src/predict_lib/market_signal_foundation.py
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/rescore.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.json
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.py
  apps/finish-position-predict-container/src/predict_lib/stage1_top1_swap.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/src/realtime_odds_fetcher.py
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
  apps/finish-position-predict-container/tests/test_dynamic_market_router.py
  apps/finish-position-predict-container/tests/test_dynamic_market_shadow.py
  apps/finish-position-predict-container/tests/test_market_signal_foundation.py
  apps/finish-position-predict-container/tests/test_market_signal_foundation_parity.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_realtime_odds_fetcher.py
  apps/finish-position-predict-container/tests/test_rescore.py
  apps/finish-position-predict-container/tests/test_serve.py
  apps/finish-position-predict-container/tests/test_stage1_routing.py
  apps/finish-position-predict-container/tests/test_stage1_top1_swap.py
  apps/mlflow/scripts/launchd/mlflow-production-sync-daily.sh
  apps/mlflow/src/mlflow_tracking/config.py
  apps/mlflow/src/mlflow_tracking/dynamic_market_shadow_eval.py
  apps/mlflow/tests/test_config.py
  apps/mlflow/tests/test_dynamic_market_shadow_eval.py
  docs/finish-position-accuracy/history/jra-stage1-20260822-20260823-review.md
  docs/finish-position-prediction-system.md
Due: shellcheck, oxfmt

fix(catalog): harden bulk race data queries
  apps/pc-keiba-r2-catalog/src/r2-sql.test.ts
  apps/pc-keiba-r2-catalog/src/r2-sql.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/win-rate-heatmap-stats.test.ts
  apps/pc-keiba-r2-catalog/src/win-rate-heatmap-stats.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest
