Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

feat(realtime-data): dedupe logFetch writes in KV so error storms stop hammering D1
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): backfill wakuban + trainer for race-trend today-sibling rows from jvd_se/nvd_se
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/db/today-sibling-runner-data.server.ts
  apps/pc-keiba-viewer/src/lib/today-sibling-runner-merge.test.ts
  apps/pc-keiba-viewer/src/lib/today-sibling-runner-merge.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): normalize umaban padding when keying today-sibling runner merge
  apps/pc-keiba-viewer/src/lib/today-sibling-runner-merge.test.ts
  apps/pc-keiba-viewer/src/lib/today-sibling-runner-merge.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): stop paddock recent-results skeleton from getting stuck on KV 429s
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/recent-results/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): boost model and restore odds for new-horse maiden rerank
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): defer trends route KV cache write through ctx.waitUntil
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): suppress race-trend notify-storm via content-hash gate + KV put in-flight lock
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-trend-room.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-room.server.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-data): stop wiping race_result_snapshots when upstream returns empty
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): zero odds/popularity and 4x model for new-horse maiden
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): add odds correction toggle above finish prediction
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): style オッズ補正 checkbox above finish prediction
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

fix(pc-keiba-viewer): extend オッズ補正 to popularity + cut base popularityWeight to 1/10
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime-data): permanent weight-fetch stability via dedicated watchdog cron + near-race cooldown
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): bump popularityWeight base 0.001 → 0.005 for visibility
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-data): error out on empty-entry empty-result to prevent silent complete
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-data): re-enqueue result fetch when queued_at is stale
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

chore(repo): gitignore temp/ workspace contents
  .gitignore
  temp/.gitignore
Due: none

feat(scripts): hourly race-prediction guard (today 0-9 JST + tomorrow 21-23 JST)
  scripts/launchd/README.md
  scripts/launchd/com.kkk4oru.race-prediction-guard.plist
  scripts/launchd/finish-position-predict-daily.sh
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck, oxfmt

feat(scripts): guard kicks discover-urls + extend to 19-23 JST window
  scripts/launchd/README.md
  scripts/launchd/com.kkk4oru.race-prediction-guard.plist
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck, oxfmt

feat(scripts): guard builds corner-features before running-style kick
  scripts/launchd/README.md
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck, oxfmt

fix(race-trend): fall back to corner-derived running style + fix all-senkou symptom
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.ts
Due: oxfmt, oxlint, tsc, vitest

feat(running-style): nest 精度の集計条件 inside 詳細指標 details + mobile collapse
  apps/pc-keiba-viewer/src/app/globals-running-style-mobile.css
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.tsx
Due: oxfmt

feat(finish-prediction): wrap evaluation panel in single mobile-collapsible scope
  apps/pc-keiba-viewer/src/app/globals-finish-prediction-mobile.css
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
Due: oxfmt

fix(paddock): unwrap pedigree truncation + mobile vertical stacking
  apps/pc-keiba-viewer/src/app/globals-paddock-pedigree.css
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
Due: oxfmt

feat(overall-score): reveal all sub-scores when mobile section opens
  apps/pc-keiba-viewer/src/app/globals-overall-score-mobile.css
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/mobile-collapsible-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/overall-score-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/overall-score-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/prediction-scratch.test.tsx
Due: oxfmt

feat(runners-table): merge trend-derived finishPosition with entry value (user-visible)
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/lib/runner-finish-position.test.ts
  apps/pc-keiba-viewer/src/lib/runner-finish-position.ts
Due: oxfmt, oxlint, tsc, vitest

feat(race-detail): wire SSR trend payload into runners finish-position merge
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/lib/race-trend-payload.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-payload.server.ts
Due: oxfmt, oxlint, tsc, vitest

fix(overall-score): wrap LazyTimeScoreSection (the actual rendered section) instead of dead LazyOverallScoreSection
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
Due: none

fix(runners-table): revert broken trend finish-position merge (historical past-race data leaked into current race column)
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/lib/runner-finish-position.test.ts
  apps/pc-keiba-viewer/src/lib/runner-finish-position.ts
Due: oxfmt, oxlint, tsc, vitest

feat(paddock): remove pedigree from race-detail + dynamic-width grid on detail page
  apps/pc-keiba-viewer/src/app/globals-paddock-pedigree.css
  apps/pc-keiba-viewer/src/app/layout.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: oxfmt

feat(guard+discover): venue-coverage check + per-race discover-urls retry
  apps/sync-realtime-data/src/worker-discover-urls-retry.test.ts
  apps/sync-realtime-data/src/worker.ts
  scripts/launchd/README.md
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck, oxfmt, oxlint, tsc, vitest

fix(race-trend): stop senkou leak when runnerCount is missing
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.ts
Due: oxfmt, oxlint, tsc, vitest

fix(running-style): viewer reads from REALTIME_DB + disable skeleton stub writer
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.test.ts
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.ts
  apps/sync-realtime-data-features/src/running-style/inference.test.ts
  apps/sync-realtime-data-features/src/running-style/inference.ts
Due: oxfmt, oxlint, tsc, vitest

fix(discover-urls): retry transient 404/502/504 on NAR top page fetch
  apps/sync-realtime-data/src/keiba-go.test.ts
  apps/sync-realtime-data/src/keiba-go.ts
Due: oxfmt, oxlint, tsc, vitest

perf(sync-realtime-data): lower queue concurrency + memory-hot-spot mitigation
  apps/sync-realtime-data/src/running-style-feature-materialize.test.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(retry-fetch): add per-attempt timeout to prevent worker hangs
  apps/sync-realtime-data/src/lib/retry-fetch.test.ts
  apps/sync-realtime-data/src/lib/retry-fetch.ts
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position-accuracy): Ōi 2026-06-10 per-class round — all levers rejected, P0 routing confirmed live
  docs/finish-position-accuracy/history/oi-2026-06-10-per-class-round.md
Due: oxfmt

fix(queries): use prediction_generated_at on race_finish_position_model_predictions (was predicted_at)
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

test(pc-keiba-auto-update): make wait_for_completion timeout test robust to logging time.time()
  scripts/tests/test_pc_keiba_auto_update.py
Due: none

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
