Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(viewer): display each premium-data-top reason on its own line on mobile
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

fix(viewer): widen reason column so each premium-data-top reason fits on its own line on mobile
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

fix(viewer): stabilize paddock edit layout so the official-rank panel does not shift on each registration
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: oxfmt

feat(viewer): add production API proxy infrastructure for dev access to production durable objects
  apps/pc-keiba-viewer/.env.example
  apps/pc-keiba-viewer/next-env.d.ts
  apps/pc-keiba-viewer/next.config.ts
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/lib/production-access.server.ts
  apps/pc-keiba-viewer/src/lib/production-api-proxy.server.ts
  apps/pc-keiba-viewer/src/lib/production-live-client-url.ts
  apps/pc-keiba-viewer/src/scripts/configure-access-dev-service-token.ts
  apps/pc-keiba-viewer/src/scripts/dev-production-live-relay.ts
  apps/pc-keiba-viewer/wrangler.dev.jsonc
Due: oxfmt, oxlint, tsc, vitest

refactor(viewer): route paddock and race-trend live access through the production API proxy
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/lib/paddock-client-url.test.ts
  apps/pc-keiba-viewer/src/lib/paddock-client-url.ts
  apps/pc-keiba-viewer/src/lib/paddock-server.ts
  apps/pc-keiba-viewer/src/lib/race-trend-room.server.ts
Due: oxfmt, oxlint, tsc, vitest

chore(scripts): start production live relay alongside local DB and HTTPS viewer
  scripts/start-db-and-viewer.sh
Due: shellcheck

feat(viewer): enrich premium-data-top with jockey, odds, and realtime polling
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/premium-data-top-section.tsx
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): bump premium-data-top cache and skip caching empty payloads
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(features): fall back to per-race runner count when shusso_tosu is missing or zero
  apps/pc-keiba-viewer/src/db/query-cache.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/sync-realtime-data/src/running-style-feature-sql.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(realtime): resolve running-style class labels from model metadata
  apps/pc-keiba-viewer/src/lib/running-style-cache.server.ts
  apps/sync-realtime-data/src/running-style-cache.ts
  apps/sync-realtime-data/src/running-style-lightgbm-tree.ts
  apps/sync-realtime-data/src/running-style-model-binary.ts
Due: oxfmt, oxlint, tsc, vitest

fix(scripts): add operation timeout env to push-neon-sync
  apps/local-postgresql/scripts/push-neon-sync.ts
Due: oxfmt, oxlint, tsc, vitest

build(viewer): refine vitest coverage scope
  apps/pc-keiba-viewer/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

build(realtime): expose running-style date/model bun scripts
  apps/sync-realtime-data/package.json
Due: oxfmt

test(viewer): extend coverage for course, odds, paddock and production live url helpers
  apps/pc-keiba-viewer/src/lib/course.test.ts
  apps/pc-keiba-viewer/src/lib/odds-schedule.test.ts
  apps/pc-keiba-viewer/src/lib/paddock-client-url.test.ts
  apps/pc-keiba-viewer/src/lib/paddock-discord.test.ts
  apps/pc-keiba-viewer/src/lib/production-live-client-url.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add shared D1 query cache infrastructure
  apps/pc-keiba-viewer/src/db/d1-query-cache.server.test.ts
  apps/pc-keiba-viewer/src/db/d1-query-cache.server.ts
  apps/pc-keiba-viewer/src/lib/d1-query-cache.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime): mirror viewer D1 query cache namespace and key builder
  apps/sync-realtime-data/src/d1-query-cache.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(viewer): split running-style cache into shared helpers and adopt D1 query cache
  apps/pc-keiba-viewer/src/app/api/horses/[kettoTorokuBango]/running-styles/route.ts
  apps/pc-keiba-viewer/src/app/horses/[kettoTorokuBango]/page.tsx
  apps/pc-keiba-viewer/src/db/corner-running-style-queries.ts
  apps/pc-keiba-viewer/src/lib/running-style-cache.server.ts
  apps/pc-keiba-viewer/src/lib/running-style-cache.test.ts
  apps/pc-keiba-viewer/src/lib/running-style-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): exclude dev scripts from Next.js typecheck for deploy
  apps/pc-keiba-viewer/tsconfig.json
Due: oxfmt

chore: enable frontend-design plugin via .claude/settings.json
  .claude/settings.json
Due: oxfmt

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
