Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

Optimize horse list ordering
  apps/local-postgresql/sql/analytics-indexes.sql
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

Improve odds trend chart responsiveness
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/realtime-race-section.tsx
Due: oxfmt

Refine race detail table typography
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

Move race detail list links into menu
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: oxfmt

Improve mobile home layout
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/page.tsx
Due: oxfmt

Stabilize home skeleton mobile layout
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

Adjust horse result columns for banei races
  apps/pc-keiba-viewer/src/app/entity-ui.test.tsx
  apps/pc-keiba-viewer/src/app/entity-ui.tsx
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/horses/[kettoTorokuBango]/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
Due: oxfmt

Fix NAR bloodline master lookup
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/schema.ts
Due: oxfmt, oxlint, tsc, vitest

Improve detail filter controls
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-stats-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/mobile-filter-disclosure.tsx
  apps/pc-keiba-viewer/src/app/races/detail/similar-race-stats-table.tsx
Due: oxfmt

Enhance condition analysis section
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-condition-analysis-section.tsx
Due: oxfmt, oxlint, tsc, vitest

Clean race detail summary fields
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: none

Update realtime odds scheduling
  apps/sync-realtime-data/migrations/0002_odds_fetch_state.sql
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/time.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

Add Miniflare coverage tests
  apps/sync-realtime-data/package.json
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/test/keiba-go.test.ts
  apps/sync-realtime-data/test/time.test.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
  apps/sync-realtime-data/vitest.config.ts
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

Align odds fetch cadence to race start
  apps/sync-realtime-data/src/time.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/time.test.ts
Due: oxfmt, oxlint, tsc, vitest

chore(pc-keiba-viewer): externalize dev origins and ignore Playwright output
  .gitignore
  apps/pc-keiba-viewer/next-env.d.ts
  apps/pc-keiba-viewer/next.config.ts
Due: oxfmt, oxlint, tsc, vitest

feat(replica-push): add replace apply mode and size-aware progress
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

feat(local-postgresql): add date-keyed JVD/NVD result and horse indexes
  apps/local-postgresql/sql/analytics-indexes.sql
Due: none

feat(race-classification): use Jpn grade labels for NAR graded races
  apps/pc-keiba-viewer/src/lib/race-classification.test.ts
  apps/pc-keiba-viewer/src/lib/race-classification.ts
Due: oxfmt, oxlint, tsc, vitest

feat(paddock): add realtime paddock state sync via Durable Object and KV
  apps/pc-keiba-viewer/.env.example
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/live/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/route.ts
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/lib/paddock-server.ts
  apps/pc-keiba-viewer/src/lib/paddock.ts
  apps/pc-keiba-viewer/src/worker.ts
  apps/pc-keiba-viewer/src/worker/paddock-room.ts
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

perf(top-races): serve home and top-races with edge revalidate caching
  apps/pc-keiba-viewer/src/app/api/top-races/route.ts
  apps/pc-keiba-viewer/src/app/page.tsx
Due: oxfmt, oxlint, tsc, vitest
