Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

feat(timesfm): cache temporal forecasting campaigns
  apps/timesfm-finish-position/src/timesfm_finish_position/nar_banei_campaign.py
  apps/timesfm-finish-position/tests/test_nar_banei_campaign.py
Due: none

feat(timesfm): resolve point-in-time source revisions
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_source_revisions.py
  apps/timesfm-finish-position/tests/test_chronos_source_revisions.py
Due: none

feat(timesfm): report cell-level readout diagnostics
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_cell_diagnostics.py
  apps/timesfm-finish-position/tests/test_chronos_cell_diagnostics.py
Due: none

feat(timesfm): parse official ban-ei result tables
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_official_html.py
  apps/timesfm-finish-position/tests/test_chronos_official_html.py
Due: none

feat(timesfm): extract starter-scoped historical rows
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_starter_history.py
  apps/timesfm-finish-position/tests/test_chronos_starter_history.py
Due: none

feat(timesfm): construct causal MLX training windows
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_mlx_data.py
  apps/timesfm-finish-position/tests/test_chronos_mlx_data.py
Due: none

feat(timesfm): fit chronological exact-position readouts
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_readout.py
  apps/timesfm-finish-position/tests/test_chronos_readout.py
Due: none

feat(timesfm): construct market-prior readout features
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_market_prior.py
  apps/timesfm-finish-position/tests/test_chronos_market_prior.py
Due: none

feat(timesfm): quantify paired race-level uncertainty
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_paired_uncertainty.py
  apps/timesfm-finish-position/tests/test_chronos_paired_uncertainty.py
Due: none

feat(timesfm): persist reproducible MLX training state
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_mlx_checkpoint.py
  apps/timesfm-finish-position/tests/test_chronos_mlx_checkpoint.py
Due: none

feat(timesfm): benchmark isolated MLX training steps
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_mlx_benchmark.py
  apps/timesfm-finish-position/tests/test_chronos_mlx_benchmark.py
Due: none

feat(timesfm): load portable Chronos weights into MLX
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_mlx_loading.py
  apps/timesfm-finish-position/tests/test_chronos_mlx_loading.py
Due: none

feat(timesfm): patch and validate MLX attention kernels
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_mlx_kernels.py
  apps/timesfm-finish-position/tests/test_chronos_mlx_kernels.py
Due: none

feat(timesfm): export portable Chronos adapter weights
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_mlx_export.py
  apps/timesfm-finish-position/tests/test_chronos_mlx_export.py
Due: none

feat(timesfm): train Chronos adapters with MLX
  apps/timesfm-finish-position/pyproject.toml
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_mlx_training.py
  apps/timesfm-finish-position/tests/test_chronos_mlx_training.py
  apps/timesfm-finish-position/uv.lock
Due: oxfmt

feat(timesfm): tune domain-specific Chronos studies
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_cell_tuning.py
  apps/timesfm-finish-position/tests/test_chronos_cell_tuning.py
Due: none

feat(timesfm): validate and run portable Chronos artifacts
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_portable.py
  apps/timesfm-finish-position/tests/test_chronos_portable.py
Due: none

feat(timesfm): run resumable Chronos MLX studies
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_mlx_study.py
  apps/timesfm-finish-position/tests/test_chronos_mlx_restart.py
  apps/timesfm-finish-position/tests/test_chronos_mlx_study.py
Due: none

feat(timesfm): serve authenticated isolated Chronos forecasts
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_service.py
  apps/timesfm-finish-position/tests/test_chronos_service.py
Due: none

chore(timesfm): isolate MLX runtime caches and environment
  apps/timesfm-finish-position/scripts/run_chronos_mlx.sh
  apps/timesfm-finish-position/tests/test_chronos_mlx_environment.py
Due: shellcheck

feat(timesfm): orchestrate Chronos cell research
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_cell_research.py
  apps/timesfm-finish-position/tests/test_chronos_cell_research.py
Due: none

feat(timesfm): validate Chronos candidates on held-out cells
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_cell_validation.py
  apps/timesfm-finish-position/tests/test_chronos_cell_validation.py
Due: none

docs(chronos2): record lossless local artifact storage
  docs/chronos2/artifact-storage.md
Due: oxfmt

docs(chronos2): record mlx adaptation benchmarks and rejected studies
  docs/chronos2/README.md
  docs/chronos2/first-training-protocol.md
  docs/chronos2/implementation-plan.md
  docs/chronos2/learn.md
  docs/chronos2/measurements.md
  docs/chronos2/results/20260912-artifact-manifest.json
  docs/chronos2/results/20260912-summary.json
Due: oxfmt

build(timesfm): package an isolated CPU Chronos service
  apps/timesfm-finish-position/Dockerfile.chronos
  apps/timesfm-finish-position/Dockerfile.chronos.dockerignore
  apps/timesfm-finish-position/requirements-chronos-cpu.in
  apps/timesfm-finish-position/requirements-chronos-cpu.txt
  apps/timesfm-finish-position/tests/test_chronos_cpu_image.py
Due: none

docs(chronos2): record separate domain campaign protocols
  docs/chronos2/cell-improvement-protocol.md
  docs/chronos2/domain-campaign-plan.md
  docs/chronos2/jra-cell-round-001-results.md
  docs/chronos2/nar-banei-starter-protocol.md
Due: oxfmt

docs(chronos2): define portable runtime and cell tuning boundaries
  docs/chronos2/cell-rustuna.md
  docs/chronos2/cloudflare-integration.md
Due: oxfmt

docs(chronos2): document matched fine-tuning effect investigation
  docs/chronos2/domain-readout-followup-plan.md
  docs/chronos2/fine-tuning-cause-investigation-plan.md
  docs/chronos2/fine-tuning-effect-investigation.md
  docs/chronos2/later-frozen-readout-results.md
  docs/chronos2/later-source-repair-plan.md
Due: oxfmt

chore(chronos2): preserve jra expansion plan and initial audit
  docs/chronos2/jra-cell-expansion-002-plan.md
  research/chronos2/jra-expansion-002/initial-audit.json
  research/chronos2/run-local.sh
Due: shellcheck, oxfmt

chore(research): record local pg campaign decisions and evaluation protocol
  docs/finish-position-accuracy/experiments/20260912-local-pg/README.md
  docs/finish-position-accuracy/experiments/20260912-local-pg/evaluate-timesfm-readouts.sh
  docs/finish-position-accuracy/experiments/20260912-local-pg/summarize-timesfm-campaign.sh
  docs/finish-position-accuracy/experiments/20260912-local-pg/timesfm-rustuna-plan.md
  docs/finish-position-accuracy/history/nar-banei-20260912-improvement-ledger.md
Due: shellcheck, oxfmt

feat(research): add serving parity audit scripts
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-captured-foundation.sh
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-production-rank-parity.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-prophet-parity.sh
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-serving-card.sh
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-single-race-features.sh
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-single-race-parity.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/replay-raw-similarity.sh
Due: shellcheck

chore(research): preserve september 13 jra source snapshot
  docs/probes/jra-20260913-until-0900-plan.md
  research/jra-20260913/run-snapshot.sh
  research/jra-20260913/source-snapshot-001/daily-predictions-20260912-public-response.json
  research/jra-20260913/source-snapshot-001/plan-20260912.json
  research/jra-20260913/source-snapshot-001/plan-20260913.json
  research/jra-20260913/source-snapshot-001/raw-day-starters.json
  research/jra-20260913/source-snapshot-001/receipt.json
Due: shellcheck, oxfmt

feat(research): add local source and feature scope audits
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-banei-comparison-cohort.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-banei-final-features.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-canonical-observations.sh
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-local-banei-body-encoding.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-local-banei-body-weight.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-local-feature-freshness.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-missing-cell-metadata.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-nar-model-schema.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-production-feature-source.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-rich-history-scope.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-rich-union-scope.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-upcoming-early-inputs.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/export-local-banei-body-history.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/export-local-history.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/export-recent-raw-local-pg.sql
Due: shellcheck

feat(research): add pandas baseline replay diagnostics
  docs/finish-position-accuracy/experiments/20260912-local-pg/audit-pandas-baseline-replays.sh
  docs/finish-position-accuracy/experiments/20260912-local-pg/pandas-baseline-replay-plan.json
  docs/finish-position-accuracy/experiments/20260912-local-pg/replay-early-baseline-inputs.sql
  docs/finish-position-accuracy/experiments/20260912-local-pg/verify-pandas-row-conversion.sh
Due: shellcheck, oxfmt

chore(venue-weather): append september 11 hourly observations
  apps/venue-weather/data/venue_weather_2026.duckdb
  apps/venue-weather/data/venue_weather_v2_2026.duckdb
Due: none

feat(research): add paired speed ablation evaluation SQL
  docs/finish-position-accuracy/experiments/20260912-local-pg/banei-paired-evaluation.sql
Due: none

chore(git): ignore generated jra audit captures and test workspaces
  .gitignore
Due: none

docs(research): retain jra campaign history with evidence caveats
  docs/probes/jra-cell-campaign-20260912.md
Due: oxfmt

feat(jra-research): preserve paginated read-only viewer evidence
  research/jra-20260913/run-cloudflare-collection.sh
  research/jra-20260913/run-realtime-collection.sh
  research/jra-20260913/run-viewer-read.sh
  research/jra-20260913/test_viewer_mcp.py
  research/jra-20260913/test_viewer_mcp_paging.py
  research/jra-20260913/viewer_mcp.py
Due: shellcheck

feat(jra-research): add paired exact-rank postmortem diagnostics
  research/jra-20260913/race_rank_review.py
  research/jra-20260913/run-postmortem.sh
  research/jra-20260913/test_race_rank_review.py
Due: shellcheck

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
