Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(sync-realtime-data): require catalog readiness before training-day finalize
  apps/sync-realtime-data/src/netkeiba-training-day-sync.test.ts
  apps/sync-realtime-data/src/netkeiba-training-day-sync.ts
Due: oxfmt, oxlint, tsc, vitest

feat(timesfm-finish-position): accept per-runner 2026 prophet trends
  apps/timesfm-finish-position/scripts/optimize_prophet_cell_policy.py
Due: none

docs(chronos2): record reflink clone sharing and free-space results
  docs/chronos2/artifact-storage.md
Due: oxfmt

feat(timesfm-finish-position): add neural cell blend training and portable inference
  apps/timesfm-finish-position/results/neural-cell-policy-README.md
  apps/timesfm-finish-position/results/neural-cell-policy-evaluation-2024-2026.json
  apps/timesfm-finish-position/scripts/build_production_feature_snapshot.py
  apps/timesfm-finish-position/scripts/export_neural_cell_trends.py
  apps/timesfm-finish-position/scripts/run_neural_cell_campaign.sh
  apps/timesfm-finish-position/scripts/run_neural_tabular_lab.py
  apps/timesfm-finish-position/scripts/train_neural_cell_blend.py
  apps/timesfm-finish-position/src/timesfm_finish_position/model_comparison.py
  apps/timesfm-finish-position/src/timesfm_finish_position/model_interface.py
  apps/timesfm-finish-position/src/timesfm_finish_position/neural_dataset.py
  apps/timesfm-finish-position/src/timesfm_finish_position/neural_models.py
  apps/timesfm-finish-position/src/timesfm_finish_position/neural_preprocessing.py
  apps/timesfm-finish-position/src/timesfm_finish_position/portable_inference.py
  apps/timesfm-finish-position/tests/test_model_comparison.py
  apps/timesfm-finish-position/tests/test_model_interface.py
  apps/timesfm-finish-position/tests/test_neural_dataset.py
  apps/timesfm-finish-position/tests/test_neural_models.py
  apps/timesfm-finish-position/tests/test_neural_preprocessing.py
  apps/timesfm-finish-position/tests/test_portable_inference.py
Due: shellcheck, oxfmt

docs(architecture): document the R2 Catalog primary migration
  docs/architecture/hot-ingestion-handoff-inventory.md
  docs/architecture/r2-catalog-cutover-resume.md
  docs/architecture/r2-catalog-primary-migration.md
Due: oxfmt

docs(heatmap): record owner and surface verification evidence
  docs/heatmap-owner-20260919-verification.json
  docs/heatmap-owner-20260919.md
  docs/heatmap-surface-20260919-verification.json
  docs/heatmap-surface-20260919.md
Due: oxfmt

docs(containers): record cost revalidation and rollout remediation
  docs/container-cost-attribution-20260913-14.json
  docs/container-cost-daily-20260915.json
  docs/container-cost-revalidation-20260915.md
  docs/container-deployment-admission-review.md
  docs/container-post-rollout-observation-20260916.json
  docs/container-post-rollout-usage-20260916-0900-1800.json
  docs/container-remediation-20260917.md
  docs/container-sigterm-validation-20260916.json
Due: oxfmt

chore(venue-weather): refresh 2026 observation databases
  apps/venue-weather/data/venue_weather_2026.duckdb
  apps/venue-weather/data/venue_weather_v2_2026.duckdb
Due: none

docs(journals): add a genomic inbreeding paper for Japanese thoroughbreds
  docs/journals/papers/37_2607-genetic-diversity-genomic-inbreeding-japanese-thoroughbred.md
  docs/journals/papers/assets/37_2607/fig-1.png
  docs/journals/papers/assets/37_2607/fig-2.png
Due: oxfmt

feat(daily-keiba-sync): add an explicit acquisition data spec and run readiness
  apps/daily-keiba-sync/migrations/0005_acquisition_data_spec.sql
  apps/daily-keiba-sync/src/acquisition-migration.test.ts
  apps/daily-keiba-sync/src/run-readiness.test.ts
  apps/daily-keiba-sync/src/run-readiness.ts
  apps/daily-keiba-sync/src/schedule.test.ts
  apps/daily-keiba-sync/src/schedule.ts
  apps/daily-keiba-sync/src/state.test.ts
  apps/daily-keiba-sync/src/state.ts
  apps/daily-keiba-sync/src/types.ts
  apps/daily-keiba-sync/src/worker.test.ts
  apps/daily-keiba-sync/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(daily-keiba-sync): sync the jvd_cs course master as an unpartitioned table
  apps/daily-keiba-sync/src/catalog-index.test.ts
  apps/daily-keiba-sync/src/catalog-index.ts
  apps/daily-keiba-sync/src/catalog-sync.test.ts
  apps/daily-keiba-sync/src/catalog-sync.ts
  apps/daily-keiba-sync/src/course-record.test.ts
  apps/daily-keiba-sync/src/generated/record-layouts.json
Due: oxfmt, oxlint, tsc, vitest

perf(daily-keiba-sync): skip unchanged rows in the Neon backup upsert
  apps/daily-keiba-sync/src/neon-sync.test.ts
  apps/daily-keiba-sync/src/neon-sync.ts
Due: oxfmt, oxlint, tsc, vitest

feat(daily-keiba-sync): publish realtime days from the Catalog commit
  apps/daily-keiba-sync/README.md
  apps/daily-keiba-sync/src/jobs.test.ts
  apps/daily-keiba-sync/src/jobs.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-r2-catalog): add the vector search gateway
  apps/pc-keiba-r2-catalog/scripts/run-vector-backfill.test.ts
  apps/pc-keiba-r2-catalog/scripts/run-vector-backfill.ts
  apps/pc-keiba-r2-catalog/src/vector-backfill.test.ts
  apps/pc-keiba-r2-catalog/src/vector-backfill.ts
  apps/pc-keiba-r2-catalog/src/vector-gateway.test.ts
  apps/pc-keiba-r2-catalog/src/vector-gateway.ts
  apps/pc-keiba-r2-catalog/src/vector-migration.test.ts
  apps/pc-keiba-r2-catalog/src/vector-migration.ts
  apps/pc-keiba-r2-catalog/src/vector-reconciliation.test.ts
  apps/pc-keiba-r2-catalog/src/vector-reconciliation.ts
  apps/pc-keiba-r2-catalog/src/vector-search.test.ts
  apps/pc-keiba-r2-catalog/src/vector-search.ts
  apps/pc-keiba-r2-catalog/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-r2-catalog): serve race calendar, course and detail reads
  apps/pc-keiba-r2-catalog/src/race-calendar-read.test.ts
  apps/pc-keiba-r2-catalog/src/race-calendar-read.ts
  apps/pc-keiba-r2-catalog/src/race-calendar-service.test.ts
  apps/pc-keiba-r2-catalog/src/race-calendar-service.ts
  apps/pc-keiba-r2-catalog/src/race-course.test.ts
  apps/pc-keiba-r2-catalog/src/race-course.ts
  apps/pc-keiba-r2-catalog/src/race-day-jockeys-join.test.ts
  apps/pc-keiba-r2-catalog/src/race-day-jockeys-read.test.ts
  apps/pc-keiba-r2-catalog/src/race-day-jockeys-read.ts
  apps/pc-keiba-r2-catalog/src/race-day-jockeys-service.test.ts
  apps/pc-keiba-r2-catalog/src/race-day-list-service.test.ts
  apps/pc-keiba-r2-catalog/src/race-day-list-service.ts
  apps/pc-keiba-r2-catalog/src/race-detail-read.test.ts
  apps/pc-keiba-r2-catalog/src/race-detail-read.ts
  apps/pc-keiba-r2-catalog/src/race-detail-service.test.ts
  apps/pc-keiba-r2-catalog/src/race-detail-service.ts
  apps/pc-keiba-r2-catalog/src/race-detail-service.workerd.test.ts
  apps/pc-keiba-r2-catalog/src/race-training.test.ts
  apps/pc-keiba-r2-catalog/src/race-training.ts
  apps/pc-keiba-r2-catalog/src/race-years-read.test.ts
  apps/pc-keiba-r2-catalog/src/race-years-read.ts
  apps/pc-keiba-r2-catalog/src/race-years-service.test.ts
  apps/pc-keiba-r2-catalog/src/race-years-service.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-r2-catalog): archive hot-ingestion dead letters
  apps/pc-keiba-r2-catalog/src/ingestion-archive-attempt.test.ts
  apps/pc-keiba-r2-catalog/src/ingestion-archive-attempt.ts
  apps/pc-keiba-r2-catalog/src/ingestion-archive-journal.test.ts
  apps/pc-keiba-r2-catalog/src/ingestion-archive-journal.ts
  apps/pc-keiba-r2-catalog/src/ingestion-backlog.test.ts
  apps/pc-keiba-r2-catalog/src/ingestion-backlog.ts
  apps/pc-keiba-r2-catalog/src/ingestion-buffer.test.ts
  apps/pc-keiba-r2-catalog/src/ingestion-buffer.ts
  apps/pc-keiba-r2-catalog/src/ingestion-dead-letter-envelope.test.ts
  apps/pc-keiba-r2-catalog/src/ingestion-dead-letter-envelope.ts
  apps/pc-keiba-r2-catalog/src/ingestion-dead-letter.test.ts
  apps/pc-keiba-r2-catalog/src/ingestion-dead-letter.ts
  apps/pc-keiba-r2-catalog/src/ingestion-inbox.test.ts
  apps/pc-keiba-r2-catalog/src/ingestion-inbox.ts
  apps/pc-keiba-r2-catalog/src/ingestion-inbox.workerd.test.ts
  apps/pc-keiba-r2-catalog/src/ingestion-monitor-alert.test.ts
  apps/pc-keiba-r2-catalog/src/ingestion-monitor-alert.ts
  apps/pc-keiba-r2-catalog/src/ingestion-monitor.test.ts
  apps/pc-keiba-r2-catalog/src/ingestion-monitor.ts
  apps/pc-keiba-r2-catalog/src/ingestion-service.test.ts
  apps/pc-keiba-r2-catalog/src/ingestion-service.ts
  apps/pc-keiba-r2-catalog/src/queue-protection.test.ts
  apps/pc-keiba-r2-catalog/src/queue-protection.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-r2-catalog): sync the jvd_cs course master
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/sync_r2_catalog.py
  apps/pc-keiba-r2-catalog/scripts/test_sync_r2_catalog.py
Due: oxfmt

feat(pc-keiba-r2-catalog): add owner and 30-year owner partnership cohorts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership-cache.test.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership-sql.test.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership-sql.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership-stats.test.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership-stats.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership.test.ts
  apps/pc-keiba-r2-catalog/src/heatmap-partnership.ts
  apps/pc-keiba-r2-catalog/src/win-rate-heatmap-stats.test.ts
  apps/pc-keiba-r2-catalog/src/win-rate-heatmap-stats.ts
  apps/pc-keiba-r2-catalog/src/worker-partnership.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): read race calendars and details from the R2 Catalog
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/db/queries.catalog.test.ts
  apps/pc-keiba-viewer/src/db/queries.course.test.ts
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/schema.test.ts
  apps/pc-keiba-viewer/src/db/schema.ts
  apps/pc-keiba-viewer/src/lib/catalog-read-body.test.ts
  apps/pc-keiba-viewer/src/lib/catalog-read-body.ts
  apps/pc-keiba-viewer/src/lib/horse-race-results-catalog.server.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-results-catalog.server.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/race-calendar-catalog.test.ts
  apps/pc-keiba-viewer/src/lib/race-calendar-catalog.ts
  apps/pc-keiba-viewer/src/lib/race-course-catalog.test.ts
  apps/pc-keiba-viewer/src/lib/race-course-catalog.ts
  apps/pc-keiba-viewer/src/lib/race-day-list-catalog.test.ts
  apps/pc-keiba-viewer/src/lib/race-day-list-catalog.ts
  apps/pc-keiba-viewer/src/lib/race-detail-catalog.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-catalog.ts
  apps/pc-keiba-viewer/src/lib/race-years-catalog.test.ts
  apps/pc-keiba-viewer/src/lib/race-years-catalog.ts
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): add owner heatmap columns
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.server.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-partnership.server.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-partnership.server.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-predict-container): admit training rosters from a teacher catalog
  apps/finish-position-predict-container/pyproject.toml
  apps/finish-position-predict-container/src/evaluate_jra_cell_models.py
  apps/finish-position-predict-container/src/optimize_priority_jra_cells.py
  apps/finish-position-predict-container/src/predict_lib/jvd_outcomes.py
  apps/finish-position-predict-container/src/predict_lib/jvd_scope.py
  apps/finish-position-predict-container/src/predict_lib/jvd_sources.py
  apps/finish-position-predict-container/src/predict_lib/position_metrics.py
  apps/finish-position-predict-container/src/predict_lib/teacher_catalog.py
  apps/finish-position-predict-container/src/predict_lib/training_admission.py
  apps/finish-position-predict-container/src/predict_lib/training_frame.py
  apps/finish-position-predict-container/src/predict_lib/training_labels.py
  apps/finish-position-predict-container/src/predict_lib/training_roster_match.py
  apps/finish-position-predict-container/src/train_jra_cell_models.py
  apps/finish-position-predict-container/tests/test_coverage_configuration.py
  apps/finish-position-predict-container/tests/test_evaluate_jra_cell_main.py
  apps/finish-position-predict-container/tests/test_evaluate_jra_cell_models.py
  apps/finish-position-predict-container/tests/test_jvd_outcomes.py
  apps/finish-position-predict-container/tests/test_jvd_scope.py
  apps/finish-position-predict-container/tests/test_jvd_sources.py
  apps/finish-position-predict-container/tests/test_optimize_priority_evidence.py
  apps/finish-position-predict-container/tests/test_optimize_priority_jra_cells.py
  apps/finish-position-predict-container/tests/test_position_metrics.py
  apps/finish-position-predict-container/tests/test_teacher_catalog.py
  apps/finish-position-predict-container/tests/test_train_jra_cell_models.py
  apps/finish-position-predict-container/tests/test_training_admission.py
  apps/finish-position-predict-container/tests/test_training_frame.py
  apps/finish-position-predict-container/tests/test_training_labels.py
  apps/finish-position-predict-container/tests/test_training_roster_match.py
Due: oxfmt

refactor(finish-position-predict-container): share the centered trend adjustment
  apps/finish-position-predict-container/src/predict_lib/prophet_adjustment.py
Due: none

fix(finish-position-predict-container): refuse to rank nonfinite scores
  apps/finish-position-predict-container/src/predict_lib/rank.py
  apps/finish-position-predict-container/tests/test_rank.py
  apps/finish-position-predict-container/tests/test_upcoming.py
Due: none

feat(finish-position-predict-container): add a neural cell blend scorer
  apps/finish-position-predict-container/src/predict_lib/neural_blend.py
  apps/finish-position-predict-container/src/predict_lib/neural_cell_policy.json
  apps/finish-position-predict-container/src/predict_lib/process_signals.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_neural_blend.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_process_signals.py
Due: oxfmt

style(finish-position-predict-container): apply ruff formatting
  apps/finish-position-predict-container/src/catboost_adapter.py
  apps/finish-position-predict-container/src/predict_lib/booster_pool.py
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/src/predict_lib/ensemble_scorer.py
  apps/finish-position-predict-container/src/predict_lib/feature_guard.py
  apps/finish-position-predict-container/src/predict_lib/per_class.py
  apps/finish-position-predict-container/src/predict_lib/running_style_routing.py
  apps/finish-position-predict-container/src/predict_lib/stage1_top1_swap.py
  apps/finish-position-predict-container/src/predict_lib/subgroup.py
  apps/finish-position-predict-container/tests/test_booster_pool.py
  apps/finish-position-predict-container/tests/test_day_base_parity.py
  apps/finish-position-predict-container/tests/test_etop2_override.py
  apps/finish-position-predict-container/tests/test_jra_hybrid_scorer.py
  apps/finish-position-predict-container/tests/test_nar_etop2_override.py
  apps/finish-position-predict-container/tests/test_per_class.py
  apps/finish-position-predict-container/tests/test_running_style_routing.py
  apps/finish-position-predict-container/tests/test_stage1_top1_swap.py
  apps/finish-position-predict-container/tests/test_transformer_scorer.py
Due: none

test(save-oversea-keiba-records): cover prediction publication statements
  apps/save-oversea-keiba-records/src/prediction-publication.test.ts
Due: oxfmt, oxlint, tsc, vitest

docs(architecture): record quoted version-override proof for the Viewer day-list candidate
  docs/architecture/r2-catalog-cutover-resume.md
Due: oxfmt

docs(architecture): record first-party evidence that production still reads Neon
  docs/architecture/r2-catalog-cutover-resume.md
Due: oxfmt

docs(architecture): promote and verify the Viewer Catalog day-list reader
  docs/architecture/r2-catalog-cutover-resume.md
Due: oxfmt

docs(architecture): record logic-based error analysis of the Catalog day-list reader
  docs/architecture/r2-catalog-cutover-resume.md
Due: oxfmt

feat(pc-keiba-r2-catalog): retry transient day-list provider failures
  apps/pc-keiba-r2-catalog/src/r2-sql.ts
  apps/pc-keiba-r2-catalog/src/race-day-jockeys-service.test.ts
  apps/pc-keiba-r2-catalog/src/race-day-list-service.test.ts
  apps/pc-keiba-r2-catalog/src/race-day-list-service.ts
Due: oxfmt, oxlint, tsc, vitest

docs(architecture): record the M1 catalog transient-retry deployment
  docs/architecture/r2-catalog-cutover-resume.md
Due: oxfmt

feat(pc-keiba-viewer): add a last-known-good tier for catalog day lists
  apps/pc-keiba-viewer/src/db/queries.catalog.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-day-list-catalog.test.ts
  apps/pc-keiba-viewer/src/lib/race-day-list-catalog.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): degrade same-venue navigation instead of failing race detail
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/lib/race-detail-optional-data.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-optional-data.ts
Due: oxfmt, oxlint, tsc, vitest

docs(architecture): record the M2+M3 viewer resilience deployment
  docs/architecture/r2-catalog-cutover-resume.md
Due: oxfmt

docs(architecture): record the Unit B Neon-traffic ranking
  docs/architecture/r2-catalog-cutover-resume.md
Due: oxfmt

feat(pc-keiba-viewer): read race runners from the R2 Catalog
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-runners-catalog.test.ts
  apps/pc-keiba-viewer/src/lib/race-runners-catalog.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-r2-catalog): add a runner read route for the race detail page
  apps/pc-keiba-r2-catalog/src/race-detail-service.ts
  apps/pc-keiba-r2-catalog/src/race-runners-read.test.ts
  apps/pc-keiba-r2-catalog/src/race-runners-read.ts
  apps/pc-keiba-r2-catalog/src/race-runners-service.test.ts
  apps/pc-keiba-r2-catalog/src/race-runners-service.ts
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
