Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

docs(probes): JRA summer serving audit finds near-random prediction quality live in Neon
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

docs(finish-position): JRA summer-4-venue cell-level accuracy baseline (2026-07-17)
  apps/pc-keiba-viewer/docs/probes/jra-summer4-cell-baseline-2026-07-17.md
Due: oxfmt

docs(probes): cross-verify 269-variant serve defect with 3 independent methods
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

feat(mlflow): run production UI and sync on Cloudflare
  .dockerignore
  apps/mlflow-ui-proxy/Dockerfile
  apps/mlflow-ui-proxy/README.md
  apps/mlflow-ui-proxy/package.json
  apps/mlflow-ui-proxy/src/auth.test.ts
  apps/mlflow-ui-proxy/src/auth.ts
  apps/mlflow-ui-proxy/src/index.ts
  apps/mlflow-ui-proxy/src/proxy.test.ts
  apps/mlflow-ui-proxy/src/proxy.ts
  apps/mlflow-ui-proxy/src/types.ts
  apps/mlflow-ui-proxy/src/worker.test.ts
  apps/mlflow-ui-proxy/src/worker.ts
  apps/mlflow-ui-proxy/tsconfig.json
  apps/mlflow-ui-proxy/wrangler.jsonc
  apps/mlflow/README.md
  apps/mlflow/tests/conftest.py
  bun.lock
  docs/finish-position-prediction-system.md
  docs/mlflow-tracking.md
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): address team-lead review on summer4 baseline doc
  apps/pc-keiba-viewer/docs/probes/jra-summer4-cell-baseline-2026-07-17.md
Due: oxfmt

docs(probes): REJECT stacked meta-learner + contender-set reorder (JRA)
  apps/pc-keiba-viewer/docs/probes/jra-contender-set-meta-reorder-2026-07-17.md
Due: oxfmt

fix(finish-position): fail-closed guard against degenerate-feature predictions
  apps/finish-position-predict-container/src/predict_lib/feature_guard.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_feature_guard.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/pc-keiba-viewer/docs/probes/jra-269-serve-defect-2026-07-17.md
Due: oxfmt

docs(jra-summer-upset-refresh): S1/S2 profile + 2026-07 miss taxonomy, no new candidate survives dedup
  apps/pc-keiba-viewer/docs/probes/jra-summer-upset-refresh-2026-07-17.md
Due: oxfmt

fix(finish-position-cron): add venue=02 rule to focused-full completion guard
  apps/finish-position-cron/src/focused-full-completion.test.ts
  apps/finish-position-cron/src/focused-full-completion.ts
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): record deploy-status verification + team-lead followups
  apps/pc-keiba-viewer/docs/probes/jra-269-serve-defect-2026-07-17.md
Due: oxfmt

docs(viewer): diagnose Sapporo top1 market deficit mechanism
  apps/pc-keiba-viewer/docs/probes/jra-sapporo-top1-deficit-diagnosis-2026-07-17.md
Due: oxfmt

docs(probes): JRA RL-formulation assessment for conditions A-D (REJECT)
  apps/pc-keiba-viewer/docs/probes/jra-rl-formulation-assessment-2026-07-17.md
Due: oxfmt

test(finish-position-cron): add cell_routing.json parity guard for JRA rules
  apps/finish-position-cron/src/focused-full-completion.test.ts
Due: oxfmt, oxlint, tsc, vitest

docs(probes): JRA cross-pool odds divergence (lever bank #3) — REJECT
  apps/pc-keiba-viewer/docs/probes/jra-269-serve-defect-2026-07-17.md
  apps/pc-keiba-viewer/docs/probes/jra-crosspool-odds-divergence-2026-07-17.md
Due: oxfmt

docs(viewer): close Sapporo top1 thread -- connections lead does not scale JRA-wide
  apps/pc-keiba-viewer/docs/probes/jra-sapporo-top1-deficit-diagnosis-2026-07-17.md
Due: oxfmt

fix(pc-keiba-viewer): dedup serve-accuracy predictions by post-time, not latest write
  apps/pc-keiba-viewer/src/scripts/serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
Due: none

docs(finish-position-system): record 2026-07-17 JRA frontier updates in §11
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(jra): REJECT vector-knn retrieval feature after probe+WF
  apps/pc-keiba-viewer/docs/probes/jra-vector-knn-retrieval-2026-07-17.md
Due: oxfmt

fix(pc-keiba-viewer): dedup running-style serve-accuracy predictions by post-time, not latest write
  apps/pc-keiba-viewer/src/scripts/serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
Due: none

docs(finish-position): 264-race local serve-parity replay, summer-3-venue 2026
  apps/pc-keiba-viewer/docs/probes/jra-summer3-local-replay-2026-07-17.md
Due: oxfmt

feat(scripts): add serve_health_check.py read-only diagnostic + weekend runbook
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/serve_health_check.py
  apps/pc-keiba-viewer/tests/test_serve_health_check.py
Due: oxfmt

fix(pc-keiba-viewer): recover settled finish_position when corner-features row is stale
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

docs(probes): heal race_entry_corner_features settlement-column NULL gap
  apps/pc-keiba-viewer/docs/probes/corner-features-settlement-backfill-heal-2026-07-17.md
Due: oxfmt

docs(finish-position): local replay v2 -- fidelity gap closed, confirmed cell x rank1-6 values
  apps/pc-keiba-viewer/docs/probes/jra-summer3-local-replay-2026-07-17.md
Due: oxfmt

docs(jra): pre-register longshot top-3 detector design + gate
  apps/pc-keiba-viewer/docs/probes/jra-longshot-top3-detector-2026-07-17.md
Due: oxfmt

fix(finish-position-cron): fix corner-features-refresh + wire cron, backfill NAR gap
  apps/finish-position-cron/src/corner-features-refresh.test.ts
  apps/finish-position-cron/src/corner-features-refresh.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/pc-keiba-viewer/docs/probes/corner-features-settlement-backfill-heal-2026-07-17.md
Due: oxfmt, oxlint, tsc, vitest

docs(viewer): JRA per-cell model-selection ledger v1
  apps/pc-keiba-viewer/docs/probes/jra-cell-model-selection-ledger-2026-07-17.md
Due: oxfmt

docs(probes): add cell x rank1-5 individual-accuracy standard, correct 06-06/06-07 old-model-era framing
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

test(finish-position): close feature_guard wiring coverage gap (audit item A)
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
Due: none

fix(pc-keiba-viewer): guard '00'/'0000' jvd placeholder in UPCOMING odds fallback
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

docs(probes): bug-regression-test audit — interim (7/10 items complete)
  apps/pc-keiba-viewer/docs/probes/bug-regression-test-audit-2026-07-17.md
Due: oxfmt

docs(jra): longshot top-3 detector results — PASS with material caveat
  apps/pc-keiba-viewer/docs/probes/jra-longshot-top3-detector-2026-07-17.md
Due: oxfmt

test(finish-position-cron): strengthen venue02 parity guard + H characterization (audit items C, H)
  apps/finish-position-cron/src/focused-full-completion.test.ts
Due: oxfmt, oxlint, tsc, vitest

docs(probes): correct 1d7e3215 race claim, classify 0606/0614/0621, note timeline caveat
  apps/pc-keiba-viewer/docs/probes/jra-serving-audit-jun-jul-2026-07-17.md
Due: oxfmt

docs(probes): record finish-position-cron deploy (Version 3a75b34f)
  apps/pc-keiba-viewer/docs/probes/corner-features-settlement-backfill-heal-2026-07-17.md
Due: oxfmt

docs(jra): longshot detector v2 (market-free) — FAIL, canonical closure
  apps/pc-keiba-viewer/docs/probes/jra-longshot-top3-detector-2026-07-17.md
Due: oxfmt

fix(finish-position-predict-container): correct JRA surface derivation for track_code 20-22 (audit item K)
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/tests/test_cell_router.py
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
  pyrightconfig.json
Due: oxfmt

docs(probes): bug-regression-test audit — complete (11/11 items, A-K)
  apps/pc-keiba-viewer/docs/probes/bug-regression-test-audit-2026-07-17.md
Due: oxfmt

docs(finish-position-system): §11 final pass for 2026-07-17 campaign
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(probes): campaign summary index for 2026-07-17
  apps/pc-keiba-viewer/docs/probes/campaign-summary-2026-07-17.md
Due: oxfmt

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
