Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(viewer): serve confirmed runners and bounded workout history
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/query-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(catalog): fall back to recent official workouts
  apps/pc-keiba-r2-catalog/src/cache.test.ts
  apps/pc-keiba-r2-catalog/src/cache.ts
  apps/pc-keiba-r2-catalog/src/race-training.test.ts
  apps/pc-keiba-r2-catalog/src/race-training.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(catalog): reject invalid and duplicate running-style runners
  apps/pc-keiba-r2-catalog/src/running-style-response.test.ts
  apps/pc-keiba-r2-catalog/src/running-style-response.ts
  apps/pc-keiba-r2-catalog/src/running-style-sql.test.ts
  apps/pc-keiba-r2-catalog/src/running-style-sql.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(operations): add read-only production access commands
  .env.example
  README.md
  docs/operations/production-access.md
  package.json
  scripts/prod.sh
  scripts/tests/test_prod_script.py
Due: shellcheck, oxfmt

fix(realtime): attest and repair running-style cache identities
  apps/sync-realtime-data/src/running-style-feature-materialize.test.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.ts
  apps/sync-realtime-data/src/running-style-feature-sql.test.ts
  apps/sync-realtime-data/src/running-style-feature-sql.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): validate workout completeness and retry within the recovery window
  apps/sync-realtime-data/src/netkeiba-training-day-sync.test.ts
  apps/sync-realtime-data/src/netkeiba-training-day-sync.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): defer predictions until running-style foundations are ready
  apps/sync-realtime-data/src/running-style-cron-orchestration.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(features): preserve configured duckdb spill directories
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-similar-race-features.py
  apps/pc-keiba-viewer/tests/test_add_similar_race_features.py
Due: none

feat(features): add relative race clocks and prior-day condition pars
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-sectional-and-weight-features.py
  apps/pc-keiba-viewer/tests/test_add_sectional_and_weight_features.py
Due: oxfmt

feat(predict): add point-in-time JRA cell training and evaluation
  apps/finish-position-predict-container/src/build_jra_cell_manifest.py
  apps/finish-position-predict-container/src/evaluate_jra_cell_models.py
  apps/finish-position-predict-container/src/predict_lib/jra_cell_scope.py
  apps/finish-position-predict-container/src/predict_lib/rank_relevance.py
  apps/finish-position-predict-container/src/train_jra_cell_models.py
  apps/finish-position-predict-container/tests/test_evaluate_jra_cell_models.py
Due: none

feat(timesfm): export deduplicated jra and nar horse histories
  apps/timesfm-finish-position/src/timesfm_finish_position/history_export.py
  apps/timesfm-finish-position/tests/test_history_export.py
Due: none

feat(timesfm): preserve complete histories and support rolling queries
  apps/timesfm-finish-position/src/timesfm_finish_position/horse_tsfm.py
  apps/timesfm-finish-position/tests/test_horse_tsfm.py
Due: none

build(viewer): configure shared prediction imports and catboost typings
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/typings/catboost/__init__.pyi
  pyrightconfig.json
Due: oxfmt

fix(features): deduplicate relationship history by horse and race
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-relationship-r1-features.py
  apps/pc-keiba-viewer/tests/test_add_relationship_r1_features.py
Due: none

fix(features): decode packed race clocks before computing speed
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/_race_time.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-ban-ei-raw-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-relationship-history-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-relationship-history-sql.ts
  apps/pc-keiba-viewer/tests/test_add_ban_ei_raw_features.py
  apps/pc-keiba-viewer/tests/test_race_time_sql.py
Due: oxfmt, oxlint, tsc, vitest

feat(viewer-learning): normalize historical race-time encodings
  apps/pc-keiba-viewer/src/scripts/learning/race_time.py
  apps/pc-keiba-viewer/tests/test_learning_race_time.py
Due: none

feat(viewer-learning): construct causal history feature SQL
  apps/pc-keiba-viewer/src/scripts/learning/history_features.py
  apps/pc-keiba-viewer/tests/test_history_features.py
Due: none

feat(viewer-learning): add within-field relative history features
  apps/pc-keiba-viewer/src/scripts/learning/relative_history_features.py
  apps/pc-keiba-viewer/tests/test_relative_history_features.py
Due: none

feat(predict): optimize priority JRA cell candidates
  apps/finish-position-predict-container/src/optimize_priority_jra_cells.py
  apps/finish-position-predict-container/tests/test_optimize_priority_jra_cells.py
Due: none

feat(viewer-learning): select entrant-related temporal training cohorts
  apps/pc-keiba-viewer/src/scripts/learning/cell_training_scope.py
  apps/pc-keiba-viewer/tests/test_cell_training_scope.py
Due: none

feat(viewer-learning): derive causal body-weight history features
  apps/pc-keiba-viewer/src/scripts/learning/body_history_features.py
  apps/pc-keiba-viewer/tests/test_body_history_features.py
Due: none

feat(viewer-learning): compare exactly matched ranking cohorts
  apps/pc-keiba-viewer/scripts/evaluate-history-objectives.sh
  apps/pc-keiba-viewer/src/scripts/learning/paired_rank_evaluation.py
  apps/pc-keiba-viewer/tests/test_paired_rank_evaluation.py
Due: shellcheck

feat(viewer-learning): replay frozen production scoring
  apps/pc-keiba-viewer/src/scripts/learning/frozen_production_evaluation.py
  apps/pc-keiba-viewer/tests/test_frozen_production_evaluation.py
Due: none

chore(git): ignore generated accuracy experiments and ad-hoc coverage
  .gitignore
Due: none

feat(viewer-learning): export temporal cell datasets for forecasting
  apps/pc-keiba-viewer/src/scripts/learning/prepare_cell_timesfm.py
  apps/pc-keiba-viewer/tests/test_prepare_cell_timesfm.py
Due: none

feat(viewer-learning): train paired history feature ablations
  apps/pc-keiba-viewer/scripts/run-history-ablation.sh
  apps/pc-keiba-viewer/src/scripts/learning/history_ablation.py
  apps/pc-keiba-viewer/tests/test_history_ablation.py
Due: shellcheck

feat(viewer-learning): rescore frozen history ablation models
  apps/pc-keiba-viewer/scripts/compare-local-banei-baseline.sh
  apps/pc-keiba-viewer/scripts/rescore-all-2026-history.sh
  apps/pc-keiba-viewer/src/scripts/learning/rescore_history_ablation.py
  apps/pc-keiba-viewer/tests/test_rescore_history_ablation.py
Due: shellcheck

feat(viewer-learning): compare native and corrected rich histories
  apps/pc-keiba-viewer/scripts/compare-rich-early-baseline.sh
  apps/pc-keiba-viewer/scripts/run-rich-body-ablation.sh
  apps/pc-keiba-viewer/scripts/run-rich-history-ablation.sh
  apps/pc-keiba-viewer/src/scripts/learning/rich_history_ablation.py
  apps/pc-keiba-viewer/tests/test_rich_history_ablation.py
Due: shellcheck

feat(timesfm): optimize cached cell forecast surfaces
  apps/timesfm-finish-position/pyproject.toml
  apps/timesfm-finish-position/src/timesfm_finish_position/rustuna_optimization.py
  apps/timesfm-finish-position/tests/test_rustuna_optimization.py
  apps/timesfm-finish-position/uv.lock
Due: oxfmt

feat(timesfm): orchestrate JRA cell research folds
  apps/timesfm-finish-position/README.md
  apps/timesfm-finish-position/scripts/run_jra_cell_timesfm_lab.py
  apps/timesfm-finish-position/tests/test_jra_cell_timesfm_lab.py
Due: oxfmt

feat(viewer-scripts): build isolated local NAR and ban-ei baselines
  apps/pc-keiba-viewer/scripts/build-local-banei-production-base.sh
  apps/pc-keiba-viewer/scripts/build-local-banei-production-layers.sh
  apps/pc-keiba-viewer/scripts/build-local-nar-baseline-base.sh
  apps/pc-keiba-viewer/scripts/build-local-retired-banei-features.sh
  apps/pc-keiba-viewer/tests/test_local_banei_script_arguments.py
  docs/finish-position-accuracy/experiments/20260912-local-pg/select-retired-banei-base.sql
Due: shellcheck

feat(timesfm): tune exact-position readouts
  apps/timesfm-finish-position/src/timesfm_finish_position/nar_banei_exact.py
  apps/timesfm-finish-position/tests/test_nar_banei_exact.py
Due: none

feat(timesfm): build causal NAR and ban-ei forecast contexts
  apps/timesfm-finish-position/src/timesfm_finish_position/nar_banei_temporal.py
  apps/timesfm-finish-position/tests/test_nar_banei_temporal.py
Due: none

feat(timesfm): adapt cell forecast profiles
  apps/timesfm-finish-position/src/timesfm_finish_position/cell_adaptation.py
  apps/timesfm-finish-position/tests/test_cell_adaptation.py
Due: none

feat(timesfm): audit historical forecast input quality
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_history_audit.py
  apps/timesfm-finish-position/tests/test_chronos_history_audit.py
Due: none

feat(timesfm): validate source correction overlays
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_source_overlay.py
  apps/timesfm-finish-position/tests/test_chronos_source_overlay.py
Due: none

feat(timesfm): search campaign readout policies
  apps/timesfm-finish-position/src/timesfm_finish_position/nar_banei_search.py
  apps/timesfm-finish-position/tests/test_nar_banei_search.py
Due: none

feat(timesfm): validate horse-history forecasting domains
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_domains.py
  apps/timesfm-finish-position/tests/test_chronos_domains.py
Due: none

feat(timesfm): parse official ban-ei numeric fields
  apps/timesfm-finish-position/src/timesfm_finish_position/chronos_official_banei.py
  apps/timesfm-finish-position/tests/test_chronos_official_banei.py
Due: none

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
