Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(viewer): lower race side navigation
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

fix(viewer): tune paddock remaining count
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: none

feat(viewer): place2/3 prediction heads + jra-trans-lgbm-ensemble-v3.5
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-market-signal-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-sectional-and-weight-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/average-jsonl-predictions.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/compare-model-metrics.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/insert-evaluation-row.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/optimize-ensemble-weights.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/cli.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/model.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/training.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_finish_position_transformer.py
Due: none

feat(viewer): add frame trend median finish
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/realtime-race-section.tsx
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

perf(viewer/scripts): bake bataiju into history base for 200x weight_agg speedup
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

Improve home race animation
  apps/pc-keiba-viewer/src/app/brand-runner.tsx
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/horses/[kettoTorokuBango]/page.tsx
  apps/pc-keiba-viewer/src/app/horses/page.tsx
  apps/pc-keiba-viewer/src/app/jockeys/[name]/page.tsx
  apps/pc-keiba-viewer/src/app/jockeys/page.tsx
  apps/pc-keiba-viewer/src/app/layout.tsx
  apps/pc-keiba-viewer/src/app/mypage/favorites/page.tsx
  apps/pc-keiba-viewer/src/app/mypage/page.tsx
  apps/pc-keiba-viewer/src/app/owners/[name]/page.tsx
  apps/pc-keiba-viewer/src/app/owners/page.tsx
  apps/pc-keiba-viewer/src/app/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-similar-combined-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-condition-analysis-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/app/races/page.tsx
  apps/pc-keiba-viewer/src/app/trainers/[name]/page.tsx
  apps/pc-keiba-viewer/src/app/trainers/page.tsx
  apps/pc-keiba-viewer/src/lib/race-classification.test.ts
  apps/pc-keiba-viewer/src/lib/race-classification.ts
Due: oxfmt, oxlint, tsc, vitest

Randomize home race acceleration timing
  apps/pc-keiba-viewer/src/app/page.tsx
Due: none

chore(viewer): ignore claude scheduled task lock files
  apps/pc-keiba-viewer/.gitignore
Due: none

build(sync-realtime-data): configure queue consumers as part of deploy
  apps/sync-realtime-data/package.json
Due: oxfmt

fix(sync-realtime-data): route premium paddock fetches through premium race queue
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data): claim premium paddock notification send to prevent duplicates
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data): shorten premium paddock retry near race start
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync-realtime-data): add realtime planner watchdog seeded from API traffic
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

test(sync-realtime-data): cover odds fetch slot edge cases for jra and nar
  apps/sync-realtime-data/test/time.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add corner-position + running-style targets and 16 history features
  apps/local-postgresql/sql/analytics-indexes.sql
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: none

Add CSS variable linting
  apps/pc-keiba-viewer/eslint.config.mjs
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/layout.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/race-date-filter.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-similar-combined-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/similar-race-stats-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/time-score-table.tsx
  apps/pc-keiba-viewer/src/app/vars.css
  apps/pc-keiba-viewer/src/lib/race-classification.test.ts
  apps/pc-keiba-viewer/src/lib/race-classification.ts
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add field-level pressure + peer aggregates in post-processor
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-race-internal-features.py
  apps/pc-keiba-viewer/tests/test_add_race_internal_features.py
Due: none

feat(viewer/scripts): add running-style win rates, IQR, grade exposure and recent streak proxies
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: none

feat(viewer/scripts): add jockey running-style aggregates to feature builder
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: none

feat(viewer/scripts): add jockey 90d window, last-3 kohan, field extremes and layoff features
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-race-internal-features.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_add_race_internal_features.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: none

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
