Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

docs(finish-position-predict-container): note declared-vs-actual field_band gap
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
Due: none

chore(launchd): retire zombie delete-daily-race-entries / delete-race-running-styles jobs
  scripts/launchd/retired/README.md
  scripts/launchd/retired/com.kkk4oru.horse-racing.delete-daily-race-entries.plist
  scripts/launchd/retired/com.kkk4oru.horse-racing.delete-race-running-styles.plist
Due: oxfmt

fix(launchd): disable Mac finish-position batch, gate guard local fallback off
  apps/sync-realtime-data/wrangler.jsonc
  docs/finish-position-prediction-system.md
  scripts/launchd/README.md
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck, oxfmt

fix(local-postgresql): guard jvd_ra inflow against NAR-reference contamination
  apps/local-postgresql/docs/pc-keiba-postgresql-reference.md
  apps/local-postgresql/sql/20260711220000_jvd_ra_nar_reference_guard.sql
Due: oxfmt

feat(finish-position-cron): CF-only reliability wave + serving architecture doc
  apps/finish-position-cron/migrations/0002_create_dlq_events.sql
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/dlq-consumer.test.ts
  apps/finish-position-cron/src/dlq-consumer.ts
  apps/finish-position-cron/src/dlq-events.test.ts
  apps/finish-position-cron/src/dlq-events.ts
  apps/finish-position-cron/src/predict-run-coordinator.test.ts
  apps/finish-position-cron/src/predict-run-coordinator.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
  docs/cf-only-serving-architecture.md
Due: oxfmt, oxlint, tsc, vitest

docs(local-postgresql): document dual-Postgres trap + production guard verification
  apps/local-postgresql/docs/pc-keiba-postgresql-reference.md
Due: oxfmt

feat(mlflow): record CF-container finish-position serving as data
  apps/mlflow/scripts/launchd/mlflow-production-sync-daily.sh
  apps/mlflow/src/mlflow_tracking/cf_serving_recorder.py
  apps/mlflow/src/mlflow_tracking/config.py
  apps/mlflow/src/mlflow_tracking/serve_eval.py
  apps/mlflow/tests/test_cf_serving_recorder.py
  apps/mlflow/tests/test_config.py
  apps/mlflow/tests/test_serve_eval.py
Due: shellcheck

fix(finish-position-predict-container): threaded HTTP server + subprocess timeout
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: none

feat(finish-position-cron): guard queue consumer against old-dated zombie messages
  apps/finish-position-cron/migrations/0003_create_old_date_skip_events.sql
  apps/finish-position-cron/src/old-date-guard.test.ts
  apps/finish-position-cron/src/old-date-guard.ts
  apps/finish-position-cron/src/old-date-skip-events.test.ts
  apps/finish-position-cron/src/old-date-skip-events.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/queue-producer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-predict-container): split feature pipeline into per-day day-base + per-race RACE_CHAIN
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/src/predict_lib/r2_client.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_day_base_parity.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_r2_client.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: none

feat(finish-position-predict-container): add is_final_race cell-routing dimension for Kochi final race
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/tests/test_cell_router.py
  apps/pc-keiba-viewer/src/lib/finish-position-cell-routing.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-cell-routing.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): wire day-base prewarm cron dispatch
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/day-base-prewarm.test.ts
  apps/finish-position-cron/src/day-base-prewarm.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position): wire is_final_race card_max_race_bango end-to-end (CF Worker + container)
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/race-coordinator.test.ts
  apps/finish-position-cron/src/race-coordinator.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_cell_router.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): add §4.3 coverage self-healing cron (module only, not wired)
  apps/finish-position-cron/migrations/0004_create_coverage_gap_events.sql
  apps/finish-position-cron/src/coverage-gap-events.test.ts
  apps/finish-position-cron/src/coverage-gap-events.ts
  apps/finish-position-cron/src/coverage-self-heal.test.ts
  apps/finish-position-cron/src/coverage-self-heal.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): wire the §4.3 coverage self-healing cron
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(mlflow): add routing-honor daily check to cf-serving recorder
  apps/mlflow/src/mlflow_tracking/cf_serving_recorder.py
  apps/mlflow/tests/test_cf_serving_recorder.py
Due: none

feat(pc-keiba-viewer): add optional hard ceilings to DuckDB resource auto-detect
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/_resource_defaults.py
  apps/pc-keiba-viewer/tests/test_resource_defaults.py
Due: oxfmt

fix(finish-position-cron): day-base prewarm's own contract violation
  apps/finish-position-cron/src/day-base-prewarm.test.ts
  apps/finish-position-cron/src/day-base-prewarm.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position): populate R2 feat-cache for focused-full requests
  apps/finish-position-cron/src/container-ndjson-proxy.ts
  apps/finish-position-cron/src/focused-full-cache-pickup.test.ts
  apps/finish-position-cron/src/focused-full-cache-pickup.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-predict-container/src/predict_lib/focused_full_cache.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_focused_full_cache.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): independent race_entry_corner_features refresh (§4.4)
  apps/finish-position-cron/src/corner-features-refresh.test.ts
  apps/finish-position-cron/src/corner-features-refresh.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position-cron): apply #59 start-log+try/catch contract to §4.4 refresh
  apps/finish-position-cron/src/corner-features-refresh.test.ts
  apps/finish-position-cron/src/corner-features-refresh.ts
Due: oxfmt, oxlint, tsc, vitest

fix(predictions): immutable first_served_at, never overwritten by re-score (#13)
  apps/finish-position-predict-container/src/predict_lib/upsert_sql.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-finish-position-predictions.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.ts
Due: oxfmt, oxlint, tsc, vitest

fix(predictions): split first_served_at ALTER into no-rewrite steps (#13 review)
  apps/finish-position-predict-container/src/predict_lib/upsert_sql.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-finish-position-predictions.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): loud staleness warning when serve_accuracy_report uses local PG (#15)
  apps/pc-keiba-viewer/src/scripts/serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
Due: none

feat(predictions): persist serve-time audit values (odds_score/tansho_odds/futan_juryo/weight_diff_from_avg) (#12)
  apps/finish-position-predict-container/src/predict_lib/upcoming.py
  apps/finish-position-predict-container/src/predict_lib/upsert_sql.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_upcoming.py
  apps/finish-position-predict-container/tests/test_upsert_sql.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-finish-position-predictions.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position-features): serve-time NULL sim_umaban_zone_win_rate
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-similar-race-features.py
  apps/pc-keiba-viewer/tests/test_add_similar_race_features.py
Due: none

chore(finish-position-cron): temporarily enable RESCORE_ENABLED for tonight
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt

chore(finish-position-cron): restore RESCORE_ENABLED to "0" after Phase B window
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt

feat(catalog): publish raw local pg data to R2
  apps/local-postgresql/package.json
  apps/pc-keiba-r2-catalog/package.json
  apps/pc-keiba-r2-catalog/scripts/.gitignore
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/smoke-r2-sql.ts
  apps/pc-keiba-r2-catalog/scripts/smoke-running-style-r2-sql.ts
  apps/pc-keiba-r2-catalog/scripts/sync_r2_catalog.py
  apps/pc-keiba-r2-catalog/scripts/test_sync_r2_catalog.py
  apps/pc-keiba-r2-catalog/src/cache.test.ts
  apps/pc-keiba-r2-catalog/src/cache.ts
  apps/pc-keiba-r2-catalog/src/index.ts
  apps/pc-keiba-r2-catalog/src/normalise.test.ts
  apps/pc-keiba-r2-catalog/src/normalise.ts
  apps/pc-keiba-r2-catalog/src/r2-sql-smoke.test.ts
  apps/pc-keiba-r2-catalog/src/r2-sql-smoke.ts
  apps/pc-keiba-r2-catalog/src/r2-sql.test.ts
  apps/pc-keiba-r2-catalog/src/r2-sql.ts
  apps/pc-keiba-r2-catalog/src/running-style-feature-ctes.ts
  apps/pc-keiba-r2-catalog/src/running-style-response.test.ts
  apps/pc-keiba-r2-catalog/src/running-style-response.ts
  apps/pc-keiba-r2-catalog/src/running-style-smoke.test.ts
  apps/pc-keiba-r2-catalog/src/running-style-smoke.ts
  apps/pc-keiba-r2-catalog/src/running-style-sql.test.ts
  apps/pc-keiba-r2-catalog/src/running-style-sql.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
  apps/pc-keiba-r2-catalog/tsconfig.json
  apps/pc-keiba-r2-catalog/vitest.config.ts
  apps/pc-keiba-r2-catalog/wrangler.jsonc
  docs/pc-keiba-r2-catalog.md
Due: oxfmt, oxlint, tsc, vitest

refactor(features): read raw data through catalog worker
  apps/sync-realtime-data-features/CLAUDE.md
  apps/sync-realtime-data-features/package.json
  apps/sync-realtime-data-features/scripts/backfill-features-past.test.ts
  apps/sync-realtime-data-features/scripts/backfill-features-past.ts
  apps/sync-realtime-data-features/scripts/seed-features-recompute.test.ts
  apps/sync-realtime-data-features/scripts/seed-features-recompute.ts
  apps/sync-realtime-data-features/src/admin-predict-for-day.test.ts
  apps/sync-realtime-data-features/src/admin-predict-for-day.ts
  apps/sync-realtime-data-features/src/catalog-client.test.ts
  apps/sync-realtime-data-features/src/catalog-client.ts
  apps/sync-realtime-data-features/src/features/build-sql.test.ts
  apps/sync-realtime-data-features/src/features/build-sql.ts
  apps/sync-realtime-data-features/src/features/build.test.ts
  apps/sync-realtime-data-features/src/features/build.ts
  apps/sync-realtime-data-features/src/features/normalise.ts
  apps/sync-realtime-data-features/src/features/parquet.ts
  apps/sync-realtime-data-features/src/features/postgres-pool.ts
  apps/sync-realtime-data-features/src/features/r2-key.test.ts
  apps/sync-realtime-data-features/src/features/r2-key.ts
  apps/sync-realtime-data-features/src/features/race-trend.test.ts
  apps/sync-realtime-data-features/src/features/race-trend.ts
  apps/sync-realtime-data-features/src/gates/build-state-kv.test.ts
  apps/sync-realtime-data-features/src/gates/build-state-kv.ts
  apps/sync-realtime-data-features/src/gates/latest-features-kv-mirror.test.ts
  apps/sync-realtime-data-features/src/gates/latest-features-kv-mirror.ts
  apps/sync-realtime-data-features/src/gates/today-race-keys-kv-cache.test.ts
  apps/sync-realtime-data-features/src/gates/today-race-keys-kv-cache.ts
  apps/sync-realtime-data-features/src/scheduled-race-list.test.ts
  apps/sync-realtime-data-features/src/scheduled-race-list.ts
  apps/sync-realtime-data-features/src/types.ts
  apps/sync-realtime-data-features/src/worker.test.ts
  apps/sync-realtime-data-features/src/worker.ts
  apps/sync-realtime-data-features/vitest.config.ts
  apps/sync-realtime-data-features/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

refactor(running-style): rebuild features from raw catalog
  apps/sync-realtime-data/src/running-style-catalog-client.test.ts
  apps/sync-realtime-data/src/running-style-catalog-client.ts
  apps/sync-realtime-data/src/running-style-cron-orchestration.test.ts
  apps/sync-realtime-data/src/running-style-cron.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/running-style-date-progress.test.ts
  apps/sync-realtime-data/src/running-style-date-progress.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.test.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.ts
  apps/sync-realtime-data/src/running-style-feature-parquet.test.ts
  apps/sync-realtime-data/src/running-style-feature-parquet.ts
  apps/sync-realtime-data/src/running-style-feature-sql.ts
  apps/sync-realtime-data/src/running-style-parquet-export.test.ts
  apps/sync-realtime-data/src/running-style-parquet-export.ts
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/running-style-r2.ts
  apps/sync-realtime-data/src/running-style-race-list.test.ts
  apps/sync-realtime-data/src/running-style-race-list.ts
  apps/sync-realtime-data/src/running-style-verification.test.ts
  apps/sync-realtime-data/src/running-style-verification.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(prediction): reject processed feature caches
  apps/finish-position-cron/src/focused-full-completion.test.ts
  apps/finish-position-cron/src/focused-full-completion.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/conn_url.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_conn_url.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
Due: oxfmt, oxlint, tsc, vitest

fix(running-style): validate only raw catalog features
  apps/sync-realtime-data/src/running-style-catalog-client.test.ts
  apps/sync-realtime-data/src/running-style-catalog-client.ts
  apps/sync-realtime-data/src/running-style-feature-parquet.test.ts
  apps/sync-realtime-data/src/running-style-feature-parquet.ts
  apps/sync-realtime-data/src/running-style-field-features.ts
Due: oxfmt, oxlint, tsc, vitest

fix(running-style): publish day output before prediction
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
Due: oxfmt, oxlint, tsc, vitest

fix(prediction): tolerate missing running-style shard
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-pacestyle-features.py
  apps/pc-keiba-viewer/tests/test_add_pacestyle_features.py
Due: none

fix(viewer): align Hyperdrive with replica target
  apps/pc-keiba-viewer/wrangler.dev.jsonc
  apps/pc-keiba-viewer/wrangler.jsonc
  scripts/start-db-and-viewer.sh
Due: shellcheck, oxfmt

docs(probes): record 2026-07-11 REJECT results for season-conditional jockey/trainer and volatility-tiered fusion
  apps/pc-keiba-viewer/docs/probes/jra-jockey-trainer-season-conditional-2026-07-11.md
  apps/pc-keiba-viewer/docs/probes/jra-volatility-tiered-fusion-2026-07-11.md
Due: oxfmt

chore(finish-position-predict-container): ignore egg-info build artifacts
  .gitignore
Due: none

feat(mlflow): heal incomplete traces, self-heal stale runs, CF-safe preview sync
  apps/mlflow/README.md
  apps/mlflow/src/mlflow_tracking/backfill_traces.py
  apps/mlflow/src/mlflow_tracking/cells.py
  apps/mlflow/src/mlflow_tracking/cli.py
  apps/mlflow/src/mlflow_tracking/ingest_eval.py
  apps/mlflow/src/mlflow_tracking/logging_api.py
  apps/mlflow/src/mlflow_tracking/sync_production.py
  apps/mlflow/src/mlflow_tracking/sync_production_preview.py
  apps/mlflow/src/mlflow_tracking/trace_emit.py
  apps/mlflow/tests/test_backfill_traces.py
  apps/mlflow/tests/test_cli.py
  apps/mlflow/tests/test_ingest_eval.py
  apps/mlflow/tests/test_logging_api.py
  apps/mlflow/tests/test_sync_production.py
  apps/mlflow/tests/test_sync_production_preview.py
  apps/mlflow/tests/test_trace_emit.py
Due: oxfmt

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
