Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

feat(overseas): link Jacques le Marois runner histories
  apps/local-postgresql/sql/20260815020000_create_oversea_runner_source_id.sql
  apps/local-postgresql/sql/20260815020100_seed_jacques_le_marois_runner_source_ids.sql
  apps/local-postgresql/sql/20260815020200_seed_jacques_le_marois_horse_history.sql
  apps/local-postgresql/sql/20260815020300_enrich_jacques_le_marois_jvd_runner_data.sql
  apps/local-postgresql/src/sql/jacques-le-marois-source-seeds.test.ts
  apps/local-postgresql/src/sql/oversea-runner-source-id-migration.test.ts
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/schema.ts
Due: oxfmt, oxlint, tsc, vitest

docs(overseas): record prediction history decision
  docs/overseas-history-prediction-decision.md
Due: oxfmt

chore(operations): verify cache warm effects
  docs/probes/pc-keiba-viewer-cache-warm/README.md
  docs/probes/pc-keiba-viewer-cache-warm/warm-race-detail-cache.sh
Due: shellcheck, oxfmt

feat(overseas): ingest netkeiba entity histories
  apps/local-postgresql/sql/20260815030000_create_oversea_person_race_history.sql
  apps/local-postgresql/sql/20260815030050_allow_null_oversea_person_going.sql
  apps/local-postgresql/sql/20260815030100_seed_jacques_le_marois_netkeiba_horse_history.sql
  apps/local-postgresql/sql/20260815030200_seed_jacques_le_marois_netkeiba_person_history.sql
  apps/local-postgresql/src/sql/jacques-le-marois-netkeiba-history-seeds.test.ts
  apps/local-postgresql/src/sql/oversea-person-race-history-migration.test.ts
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/schema.ts
  apps/save-oversea-keiba-records/README.md
  apps/save-oversea-keiba-records/src/sources/secondary-result-parser.test.ts
  apps/save-oversea-keiba-records/src/sources/secondary-result-parser.ts
  docs/overseas-source-history.md
Due: oxfmt, oxlint, tsc, vitest

docs(overseas): record cross-source history differences
  docs/overseas-source-history.md
Due: oxfmt

docs(overseas): note unresolved profile date shift
  docs/overseas-source-history.md
Due: oxfmt

docs(finish-position): audit stage1 popularity gate impact
  docs/finish-position-accuracy/history/stage1-canonical-popularity-drop-impact-audit-2026-08-15.md
Due: oxfmt

docs(finish-position): constrain stage1 gate remediation
  docs/finish-position-accuracy/history/stage1-canonical-popularity-drop-impact-audit-2026-08-15.md
Due: oxfmt

fix(finish-position): gate preserved odds behind flag
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.py
  apps/finish-position-predict-container/tests/test_stage1_routing.py
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): add stage1 canary plan
  docs/finish-position-accuracy/history/stage1-canonical-popularity-drop-impact-audit-2026-08-15.md
Due: oxfmt

docs(finish-position): correct stage1 canary scope
  docs/finish-position-accuracy/history/stage1-canonical-popularity-drop-impact-audit-2026-08-15.md
Due: oxfmt

docs(overseas): record deployment cache precaution
  docs/overseas-source-history.md
Due: oxfmt

fix(viewer): avoid Wrangler proxy in local Node server
  apps/pc-keiba-viewer/src/lib/cloudflare-context.server.test.ts
  apps/pc-keiba-viewer/src/lib/cloudflare-context.server.ts
  docs/pc-keiba-viewer-local-runtime.md
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): load mapped overseas histories
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-inputs-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-inputs-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
Due: oxfmt, oxlint, tsc, vitest

docs(viewer): record detail cache invalidation trap
  docs/overseas-source-history.md
Due: oxfmt

feat(overseas): complete pedigree score display
  apps/local-postgresql/sql/20260815040000_create_oversea_horse_pedigree.sql
  apps/local-postgresql/sql/20260815040100_seed_jacques_le_marois_netkeiba_pedigree.sql
  apps/local-postgresql/src/sql/jacques-le-marois-pedigree-seed.test.ts
  apps/local-postgresql/src/sql/oversea-horse-pedigree-migration.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/schema.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
  apps/save-oversea-keiba-records/README.md
  apps/save-oversea-keiba-records/src/sources/secondary-pedigree-parser.test.ts
  apps/save-oversea-keiba-records/src/sources/secondary-pedigree-parser.ts
  docs/overseas-source-history.md
Due: oxfmt, oxlint, tsc, vitest

docs(operations): record race-day recovery completion
  docs/probes/finish-position-recovery-20260815/README.md
  docs/race-day-handoff-2026-08-15.md
Due: oxfmt

fix(viewer): calculate overseas person win rates
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
  docs/overseas-source-history.md
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): snapshot overseas person rates
  apps/local-postgresql/sql/20260815050000_create_oversea_person_win_rate_stats.sql
  apps/local-postgresql/sql/20260815050100_seed_jacques_le_marois_person_win_rate_stats.sql
  apps/local-postgresql/src/sql/jacques-le-marois-person-win-rate-seed.test.ts
  apps/local-postgresql/src/sql/oversea-person-win-rate-stats-migration.test.ts
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/schema.ts
  docs/overseas-source-history.md
Due: oxfmt, oxlint, tsc, vitest

docs(operations): update viewer deployment chain
  docs/race-day-handoff-2026-08-15.md
Due: oxfmt

fix(overseas): expand foreign person statistics
  apps/local-postgresql/sql/20260815060000_expand_oversea_person_statistics.sql
  apps/local-postgresql/sql/20260815060100_seed_expanded_jacques_le_marois_person_history.sql
  apps/local-postgresql/sql/20260815060200_seed_expanded_jacques_le_marois_person_stats.sql
  apps/local-postgresql/src/sql/expanded-oversea-person-statistics.test.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/similar-race-stats-table.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/schema.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  apps/save-oversea-keiba-records/src/sources/secondary-result-parser.test.ts
  apps/save-oversea-keiba-records/src/sources/secondary-result-parser.ts
  docs/overseas-source-history.md
Due: oxfmt, oxlint, tsc, vitest

feat(catalog): publish overseas source tables
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/sync_r2_catalog.py
  apps/pc-keiba-r2-catalog/scripts/test_sync_r2_catalog.py
  docs/pc-keiba-r2-catalog.md
Due: oxfmt

fix(viewer): resolve domestic person stats by code
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): bound statistics fallback queries
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): preserve person identity across code changes
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): parallelize bounded statistics fallback
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): make statistics fallback deterministic
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
Due: oxfmt, oxlint, tsc, vitest

docs(viewer): record cold fallback failure mode
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  docs/viewer-statistics-cold-fallback.md
Due: oxfmt, oxlint, tsc, vitest

docs(viewer): note preview URL limitation
  docs/viewer-statistics-cold-fallback.md
Due: oxfmt

perf(viewer): filter person history before ranking
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): distinguish timed-out person statistics
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): stabilize person statistics detail order
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): preserve person detail sort precedence
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): defer domestic person identity resolution
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): reject timed-out statistics fallbacks
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
Due: oxfmt, oxlint, tsc, vitest

docs(viewer): record fallback timeout boundaries
  docs/viewer-statistics-cold-fallback.md
Due: oxfmt

docs(viewer): note fallback prefix optimization
  docs/viewer-statistics-cold-fallback.md
Due: oxfmt

feat(overseas): store official recent race details
  apps/local-postgresql/sql/20260815070000_create_oversea_horse_race_history_supplement.sql
  apps/local-postgresql/sql/20260815070100_seed_jacques_le_marois_jra_official_history_supplement.sql
  apps/local-postgresql/src/sql/jacques-le-marois-jra-official-supplement.test.ts
Due: oxfmt, oxlint, tsc, vitest

docs(overseas): qualify official timing fields
  apps/local-postgresql/sql/20260815070000_create_oversea_horse_race_history_supplement.sql
Due: none

docs(prediction): record floating parity tolerance
  docs/finish-position-prediction-system.md
Due: oxfmt
