Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

docs(per-class): condition-change (gelding/surface-debut) probe JRA+NAR
  docs/finish-position-accuracy/per-class/jra/condition-change-gelding-surface.md
  docs/finish-position-accuracy/per-class/nar/condition-change-gelding-surface.md
Due: oxfmt

feat(predict): HTTP /predict server (full+rescore) on resilience base for CF container
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: none

feat(cron): Queues + DO held-fetch + KV for CF container prediction (predict cron still gated)
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/dispatch.test.ts
  apps/finish-position-cron/src/dispatch.ts
  apps/finish-position-cron/src/kv-state.test.ts
  apps/finish-position-cron/src/kv-state.ts
  apps/finish-position-cron/src/ndjson-stream.test.ts
  apps/finish-position-cron/src/ndjson-stream.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/queue-producer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(predict): staticmethod-wrap handler predict_fn/rescore_fn to avoid method binding (4-arg TypeError)
  apps/finish-position-predict-container/pyrightconfig.json
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
Due: oxfmt

refactor(predict): make_handler_class public + revert pyrightconfig relaxation
  apps/finish-position-predict-container/pyrightconfig.json
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
Due: oxfmt

feat(cron): add mode full/rescore, R2 features-cache binding, race-hours rescore cron design
  apps/finish-position-cron/src/cron-decision.test.ts
  apps/finish-position-cron/src/cron-decision.ts
  apps/finish-position-cron/src/dispatch.test.ts
  apps/finish-position-cron/src/kv-state.test.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/queue-producer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
  docs/finish-position-cloudflare-container/04-off-mac-migration-plan.md
Due: oxfmt, oxlint, tsc, vitest

chore(cron): set KV namespace id + CF full-path pilot results
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/finish-position-predict-container/Dockerfile
  docs/finish-position-cloudflare-container/05-pilot-results.md
  scripts/launchd/finish-position-predict-daily.sh
Due: shellcheck, oxfmt, oxlint, tsc, vitest

docs(cron): CF pilot Phase 2 NO-GO — HTTP serve keepalive bug blocks racesPredicted
  docs/finish-position-cloudflare-container/05-pilot-results.md
Due: oxfmt

fix(predict): threaded keepalive in iter_predict_chunks so /predict streams progress during pipeline (CF DO renewActivityTimeout)
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: none

refactor(cron): migrate run dedup/state from KV (eventual) to Durable Object (strong consistency)
  apps/finish-position-cron/src/dispatch.test.ts
  apps/finish-position-cron/src/do-state.test.ts
  apps/finish-position-cron/src/do-state.ts
  apps/finish-position-cron/src/index.ts
  apps/finish-position-cron/src/kv-state.test.ts
  apps/finish-position-cron/src/kv-state.ts
  apps/finish-position-cron/src/predict-run-coordinator.test.ts
  apps/finish-position-cron/src/predict-run-coordinator.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/test-stubs/cloudflare-workers.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/vitest.config.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

chore(cron): post-keepalive-fix full-path pilot — keepalive confirmed, blocked by DuckDB OOM
  docs/finish-position-cloudflare-container/05-pilot-results.md
Due: oxfmt

fix(predict): bound head-to-head DuckDB memory to avoid OOM on CF container
  apps/pc-keiba-viewer/src/scripts/finish-position-features/_resource_defaults.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-head-to-head-features.py
  apps/pc-keiba-viewer/tests/test_add_head_to_head_features.py
  docs/finish-position-cloudflare-container/05-pilot-results.md
Due: oxfmt

docs(cf-container): official CF Containers/Queues spec + sizing for per-race prediction
  docs/finish-position-cloudflare-container/07-official-spec-sizing.md
Due: oxfmt

docs(cf-container): per-race prediction architecture feasibility
  docs/finish-position-cloudflare-container/06-per-race-architecture.md
Due: oxfmt

docs(cf-container): CF worker logs / D1 audit — per-race process evidence
  docs/finish-position-cloudflare-container/09-cf-logs-per-race-evidence.md
Due: oxfmt

docs(cf-container): per-race rebuild plan — running-style template, per-race timing, 2-stage
  docs/finish-position-cloudflare-container/08-per-race-rebuild-plan.md
Due: oxfmt

feat(cron): per-race coordinator — enqueue rescore at T-X before post time (running-style template)
  apps/finish-position-cron/src/cron-decision.test.ts
  apps/finish-position-cron/src/cron-decision.ts
  apps/finish-position-cron/src/dispatch.test.ts
  apps/finish-position-cron/src/do-state.test.ts
  apps/finish-position-cron/src/do-state.ts
  apps/finish-position-cron/src/predict-run-coordinator.test.ts
  apps/finish-position-cron/src/predict-run-coordinator.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/race-coordinator.test.ts
  apps/finish-position-cron/src/race-coordinator.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(cron): Worker-native JRA scoring core (catboost+xgboost+E-top2, bit-exact vs Python)
  apps/finish-position-cron/package.json
  apps/finish-position-cron/src/scoring/__fixtures__/cb-small.json
  apps/finish-position-cron/src/scoring/__fixtures__/jra-parity-golden.json
  apps/finish-position-cron/src/scoring/__fixtures__/sample-cache.parquet
  apps/finish-position-cron/src/scoring/__fixtures__/xgb-small.json
  apps/finish-position-cron/src/scoring/etop2.test.ts
  apps/finish-position-cron/src/scoring/etop2.ts
  apps/finish-position-cron/src/scoring/feature-cache.test.ts
  apps/finish-position-cron/src/scoring/feature-cache.ts
  apps/finish-position-cron/src/scoring/feature-projection.test.ts
  apps/finish-position-cron/src/scoring/feature-projection.ts
  apps/finish-position-cron/src/scoring/jra-scorer.test.ts
  apps/finish-position-cron/src/scoring/jra-scorer.ts
  apps/finish-position-cron/src/scoring/late-binding.test.ts
  apps/finish-position-cron/src/scoring/late-binding.ts
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

feat(cron): Worker-native JRA per-race rescore consumer (R2 cache→fresh bataiju/odds→score→Neon UPSERT)
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/scoring/model-loader.test.ts
  apps/finish-position-cron/src/scoring/model-loader.ts
  apps/finish-position-cron/src/scoring/rescore-consumer.test.ts
  apps/finish-position-cron/src/scoring/rescore-consumer.ts
  apps/finish-position-cron/src/scoring/rescore-realtime.test.ts
  apps/finish-position-cron/src/scoring/rescore-realtime.ts
Due: oxfmt, oxlint, tsc, vitest

feat(cron): route NAR per-race rescore to container (Python ensemble score)
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

feat(predict): complete NAR per-race rescore (R2 cache + fresh bataiju/odds + late-binding recompute + ensemble score)
  apps/finish-position-predict-container/src/predict_lib/late_binding.py
  apps/finish-position-predict-container/src/predict_lib/rescore.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/src/realtime_odds_fetcher.py
  apps/finish-position-predict-container/tests/test_late_binding.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_realtime_odds_fetcher.py
  apps/finish-position-predict-container/tests/test_rescore.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: none

feat(cron): cutover NAR finish-position to CF per-race + guard finish-position-offload flag
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/queue-producer.ts
  apps/finish-position-cron/src/scoring/feature-cache.test.ts
  apps/finish-position-cron/src/scoring/feature-cache.ts
  apps/finish-position-cron/src/scoring/rescore-consumer.test.ts
  apps/finish-position-cron/src/scoring/rescore-consumer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck, oxfmt, oxlint, tsc, vitest

feat(cron): R2 proxy via Worker binding + enable per-race coordinator
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/ndjson-stream.test.ts
  apps/finish-position-cron/src/ndjson-stream.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/finish-position-predict-container/src/predict_lib/late_binding.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_late_binding.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: oxfmt, oxlint, tsc, vitest

feat(realtime): mirror running-style predictions from D1 to Neon
  apps/sync-realtime-data/scripts/sync-running-style-d1-to-neon.ts
  apps/sync-realtime-data/src/running-style-neon.test.ts
  apps/sync-realtime-data/src/running-style-neon.ts
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

remove Mac launchd guard — predictions fully served by CF Workers/Containers
  scripts/launchd/README.md
  scripts/launchd/com.kkk4oru.finish-position-predict.plist
  scripts/launchd/com.kkk4oru.race-prediction-guard.plist
  scripts/launchd/finish-position-predict-daily.sh
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck, oxfmt

feat(local-postgresql): warm viewer KV cache after Neon sync to fix late-push window
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/viewer-cache-warm.test.ts
  apps/local-postgresql/src/replica-push/viewer-cache-warm.ts
Due: oxfmt, oxlint, tsc, vitest

feat(predict): NAR E-top2 per-class routing + JRA dynamic subgroup probes
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/nar_etop2_override.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_nar_etop2_override.py
  apps/pc-keiba-viewer/docs/probes/jra-jockey-triple-interaction.md
  apps/pc-keiba-viewer/docs/probes/jra-jockey-triple-perclass-2026-06-19.md
  apps/pc-keiba-viewer/docs/probes/jra-rs-venue-dist-perclass-2026-06-19.md
  apps/pc-keiba-viewer/docs/probes/jra-rs-venue-dynamic-subgroup-2026-06-19.md
  apps/pc-keiba-viewer/docs/probes/jra-sex-season-dynamic-subgroup-2026-06-19.md
  apps/pc-keiba-viewer/docs/probes/jra-sex-season-weight-perclass-2026-06-19.md
  apps/pc-keiba-viewer/docs/probes/jra-trackbias-dynamic-subgroup-2026-06-19.md
  apps/pc-keiba-viewer/docs/probes/jra-weight-dynamics-dynamic-subgroup-2026-06-19.md
  apps/pc-keiba-viewer/docs/probes/nar-etop2-perclass-routing-2026-06-19.md
  docs/probes/jra-jockey-triple-dynamic-subgroup-2026-06-19.md
  docs/probes/jra-rs-venue-distance-interaction.md
  docs/probes/jra-sex-season-weight-partial-rho-2026-06-19.md
  docs/probes/jra-track-bias-draw-interactions-2026-06-19.md
  docs/probes/jra-weight-change-interaction-2026-06-19.md
Due: oxfmt

feat(predict): flip NAR_ETOP2_ENABLED=True — cb-nar-2013-v8 trained + R2 uploaded
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/tests/test_model_meta.py
Due: none

docs: JRA track-bias per-class probe — ABORT (max ρ≈0.028)
  apps/pc-keiba-viewer/docs/probes/jra-track-bias-perclass-2026-06-19.md
Due: oxfmt

feat(predict+viewer): add 6-dimension subgroup classification + evaluation infrastructure
  apps/finish-position-predict-container/src/predict_lib/subgroup.py
  apps/finish-position-predict-container/src/predict_lib/upcoming.py
  apps/finish-position-predict-container/src/predict_lib/upsert_sql.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_subgroup.py
  apps/finish-position-predict-container/tests/test_upcoming.py
  apps/finish-position-predict-container/tests/test_upsert_sql.py
  apps/pc-keiba-viewer/src/scripts/aggregate_bucket_eval_duckdb.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.ts
  apps/pc-keiba-viewer/src/scripts/serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_aggregate_bucket_eval_duckdb.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
Due: oxfmt, oxlint, tsc, vitest

docs: JRA venue accuracy investigation + hypothesis verification (H1-H4)
  apps/pc-keiba-viewer/docs/probes/jra-venue-accuracy-investigation-2026-06-19.md
  apps/pc-keiba-viewer/docs/probes/jra-venue-hypothesis-verification-2026-06-19.md
Due: oxfmt

feat(features): add seibetsu_code + zogen_sa + kaisai_month to finish-position feature builder
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

docs: season×sex×weight 3-way probe + venue hypothesis Round 2 update
  apps/pc-keiba-viewer/docs/probes/jra-season-sex-weight-probe-2026-06-20.md
  apps/pc-keiba-viewer/docs/probes/jra-venue-hypothesis-verification-2026-06-19.md
Due: oxfmt

docs: JRA season×sex×weight full probe — all 5 methods REJECT + jockey-triple ABORT + NAR NO-GO
  apps/pc-keiba-viewer/docs/probes/jra-season-sex-weight-ablation-2026-06-20.md
Due: oxfmt

docs: JRA venue×cell Round 2 exhaustive investigation — 29 SQL + 15 hypotheses ALL REJECT
  apps/pc-keiba-viewer/docs/probes/jra-venue-cell-investigation-round2-2026-06-20.md
Due: oxfmt

docs: JRA draw/dist-speed/momentum 3-feature-group ablation — ALL REJECT
  apps/pc-keiba-viewer/docs/probes/jra-draw-distspeed-momentum-ablation-2026-06-20.md
Due: oxfmt

feat(viewer): 出走馬テーブルでPG未取込時にD1(race_result_snapshots)の着順を表示
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/db/race-finish-d1.server.test.ts
  apps/pc-keiba-viewer/src/db/race-finish-d1.server.ts
  apps/pc-keiba-viewer/src/lib/race-finish-position.test.ts
  apps/pc-keiba-viewer/src/lib/race-finish-position.ts
Due: oxfmt, oxlint, tsc, vitest

chore(viewer): dev:https:remote スクリプト追加(next devでremote D1バインディング有効化)
  apps/pc-keiba-viewer/package.json
Due: oxfmt

feat(viewer): 中央競馬のブリンカー着用情報と6パターン分類(A-F)を出走馬テーブル・競走成績グラフ・パドックに表示
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/blinker-pattern.test.ts
  apps/pc-keiba-viewer/src/lib/blinker-pattern.ts
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): ブリンカー6パターンを文字(A-F)廃止し意味的ラベル+色分けで表示・E/F定義更新
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/app/vars.css
  apps/pc-keiba-viewer/src/lib/blinker-pattern.test.ts
  apps/pc-keiba-viewer/src/lib/blinker-pattern.ts
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
