Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

Cache Neon query results in Workers
  apps/pc-keiba-viewer/src/db/client.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/query-cache.ts
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

Enhance race detail analytics
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/[source]/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-stats-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-condition-analysis-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/similar-race-stats-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/training-table.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-classification.test.ts
  apps/pc-keiba-viewer/src/lib/race-classification.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

Add realtime NAR sync worker
  apps/pc-keiba-viewer/.env.example
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/[source]/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/realtime-race-section.tsx
  apps/pc-keiba-viewer/wrangler.jsonc
  apps/sync-realtime-data/migrations/0001_init.sql
  apps/sync-realtime-data/package.json
  apps/sync-realtime-data/src/http.ts
  apps/sync-realtime-data/src/index.ts
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/src/odds-cache.ts
  apps/sync-realtime-data/src/postgres.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/time.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/keiba-go.test.ts
  apps/sync-realtime-data/tsconfig.json
  apps/sync-realtime-data/vitest.config.ts
  apps/sync-realtime-data/wrangler.jsonc
  bun.lock
  packages/horse-racing-realtime/package.json
  packages/horse-racing-realtime/src/nar.test.ts
  packages/horse-racing-realtime/src/nar.ts
  packages/horse-racing-realtime/src/types.ts
  packages/horse-racing-realtime/tsconfig.json
Due: oxfmt, oxlint, tsc, vitest

Fix realtime NAR odds chart and weights
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/[source]/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/realtime-client.ts
  apps/pc-keiba-viewer/src/app/races/detail/realtime-race-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/keiba-go.test.ts
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

Fix NAR horse weight sync
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/keiba-go.test.ts
Due: oxfmt, oxlint, tsc, vitest

Fix ban-ei horse weight display
  apps/pc-keiba-viewer/src/app/races/detail/[source]/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/realtime-race-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/runner-format.test.ts
  apps/pc-keiba-viewer/src/lib/runner-format.ts
Due: oxfmt, oxlint, tsc, vitest

Decode ban-ei carried weights
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/lib/runner-format.test.ts
  apps/pc-keiba-viewer/src/lib/runner-format.ts
Due: oxfmt, oxlint, tsc, vitest

Improve race detail controls layout
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/[source]/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
Due: oxfmt

Relax race stats defaults when empty
  apps/pc-keiba-viewer/src/app/races/detail/[source]/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
Due: none

Enhance race detail analytics
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/[source]/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/ability-test-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-stats-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/realtime-race-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

Optimize race detail analytics queries
  apps/local-postgresql/sql/analytics-indexes.sql
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/[source]/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/ability-test-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-stats-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-classification.test.ts
  apps/pc-keiba-viewer/src/lib/race-classification.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  apps/pc-keiba-viewer/src/lib/runner-format.test.ts
  apps/pc-keiba-viewer/src/lib/runner-format.ts
Due: oxfmt, oxlint, tsc, vitest

Stream race detail sections
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/[source]/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/loading.tsx
  apps/pc-keiba-viewer/src/app/races/detail/[source]/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
Due: oxfmt

Update race route hierarchy
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/loading.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/race-date-filter.test.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/race-date-filter.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/page.tsx
  apps/pc-keiba-viewer/src/app/races/calendar.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

Defer race detail heavy sections
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/template.tsx
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: oxfmt, oxlint, tsc, vitest

Add entity analysis pages
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/sql/analytics-indexes.sql
  apps/pc-keiba-viewer/src/app/entity-ui.tsx
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/home-realtime.tsx
  apps/pc-keiba-viewer/src/app/horses/[kettoTorokuBango]/page.tsx
  apps/pc-keiba-viewer/src/app/horses/page.tsx
  apps/pc-keiba-viewer/src/app/jockeys/[name]/page.tsx
  apps/pc-keiba-viewer/src/app/jockeys/page.tsx
  apps/pc-keiba-viewer/src/app/layout.tsx
  apps/pc-keiba-viewer/src/app/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/trainers/[name]/page.tsx
  apps/pc-keiba-viewer/src/app/trainers/page.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

Remove external font dependency from viewer
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/layout.tsx
Due: oxfmt

Refresh home race windows client-side
  apps/pc-keiba-viewer/src/app/api/top-races/route.ts
  apps/pc-keiba-viewer/src/app/home-realtime.tsx
Due: oxfmt, oxlint, tsc, vitest

Refine race detail navigation and odds chart
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/layout.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/realtime-race-section.tsx
Due: oxfmt

Speed up top race window query
  apps/local-postgresql/sql/analytics-indexes.sql
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

Tighten mobile race header spacing
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
