Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

feat(sync-realtime-data): JRA realtime fetch, track-condition cache, race-key registry
  apps/sync-realtime-data/migrations/0006_realtime_race_sources.sql
  apps/sync-realtime-data/migrations/0007_jra_track_conditions.sql
  apps/sync-realtime-data/migrations/0008_jra_race_keys.sql
  apps/sync-realtime-data/package.json
  apps/sync-realtime-data/src/index.ts
  apps/sync-realtime-data/src/jra-track-condition.ts
  apps/sync-realtime-data/src/jra.ts
  apps/sync-realtime-data/src/postgres.ts
  apps/sync-realtime-data/src/race-key.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/time.ts
  apps/sync-realtime-data/src/track-condition-cache.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/jra.test.ts
  apps/sync-realtime-data/test/time.test.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
  apps/sync-realtime-data/wrangler.jsonc
  packages/horse-racing-realtime/src/types.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): user favorites (mypage), JRA track-condition section, paddock + realtime enhancements
  apps/pc-keiba-viewer/.env.example
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/src/app/api/mypage/favorites/route.ts
  apps/pc-keiba-viewer/src/app/api/mypage/favorites/search/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/discord/route.ts
  apps/pc-keiba-viewer/src/app/favorite-button.tsx
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/horses/[kettoTorokuBango]/page.tsx
  apps/pc-keiba-viewer/src/app/jockeys/[name]/page.tsx
  apps/pc-keiba-viewer/src/app/layout.tsx
  apps/pc-keiba-viewer/src/app/mypage/favorites/favorites-manager.tsx
  apps/pc-keiba-viewer/src/app/mypage/favorites/page.tsx
  apps/pc-keiba-viewer/src/app/mypage/mypage-client.tsx
  apps/pc-keiba-viewer/src/app/mypage/page.tsx
  apps/pc-keiba-viewer/src/app/owners/[name]/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/race-date-filter.test.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/race-date-filter.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/realtime-client.tsx
  apps/pc-keiba-viewer/src/app/races/detail/track-condition-section.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/track-condition-section.tsx
  apps/pc-keiba-viewer/src/app/trainers/[name]/page.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/favorites-indexeddb.ts
  apps/pc-keiba-viewer/src/lib/favorites.test.ts
  apps/pc-keiba-viewer/src/lib/favorites.ts
  apps/pc-keiba-viewer/src/lib/race-classification.test.ts
  apps/pc-keiba-viewer/src/lib/race-classification.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/upload-finish-model.ts
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

chore: gitignore wrangler R2 local downloads and bump bun.lock
  .gitignore
  bun.lock
Due: none

feat(viewer/mypage): polish favorites client interactions
  apps/pc-keiba-viewer/src/app/mypage/mypage-client.tsx
Due: none

feat(viewer/scripts): persist prediction accuracy evaluations into PG
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-predictions-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-predictions.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): wire DB-backed prediction accuracy into the race detail panel
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-predictions-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-predictions.ts
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): stage-level JSONL logs in DuckDB feature builder
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
Due: none

Update realtime paddock and favorite views
  apps/pc-keiba-viewer/src/app/api/mypage/favorites/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/premium/route.ts
  apps/pc-keiba-viewer/src/app/entity-ui.test.tsx
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/home-realtime.tsx
  apps/pc-keiba-viewer/src/app/mypage/favorites/favorites-manager.tsx
  apps/pc-keiba-viewer/src/app/mypage/mypage-client.tsx
  apps/pc-keiba-viewer/src/app/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/realtime-race-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/training-table.tsx
  apps/pc-keiba-viewer/src/lib/favorites.test.ts
  apps/pc-keiba-viewer/src/lib/favorites.ts
  apps/pc-keiba-viewer/src/lib/jockey-name.test.ts
  apps/pc-keiba-viewer/src/lib/jockey-name.ts
  apps/pc-keiba-viewer/src/lib/odds-schedule.test.ts
  apps/pc-keiba-viewer/src/lib/odds-schedule.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  apps/sync-realtime-data/migrations/0009_premium_race_data.sql
  apps/sync-realtime-data/migrations/0010_premium_race_data_fetch_state.sql
  apps/sync-realtime-data/migrations/0011_premium_stable_comment_grade.sql
  apps/sync-realtime-data/src/index.ts
  apps/sync-realtime-data/src/jra.ts
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/src/odds-cache.ts
  apps/sync-realtime-data/src/premium-paddock-cache.ts
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/jra.test.ts
  apps/sync-realtime-data/test/keiba-go.test.ts
  apps/sync-realtime-data/wrangler.jsonc
  packages/horse-racing-realtime/src/types.ts
Due: oxfmt, oxlint, tsc, vitest

chore(scripts): add bun start-db-and-viewer helper
  package.json
  scripts/start-db-and-viewer.sh
Due: shellcheck, oxfmt

chore(viewer): point next-env at Next dev routes types
  apps/pc-keiba-viewer/next-env.d.ts
Due: oxfmt, oxlint, tsc, vitest

chore(viewer): raise python coverage threshold to 90
  apps/pc-keiba-viewer/pyproject.toml
Due: oxfmt

test(viewer/lightgbm): expand coverage for train, walk-forward, hpo, and predict commands
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
Due: none

refactor(viewer/features): share horse history base and unify pedigree CTEs in DuckDB builder
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

docs(viewer/features): performance and Postgres tuning notes for DuckDB feature builder
  apps/pc-keiba-viewer/src/scripts/finish-position-features/finish-position-features-duckdb-performance.md
  apps/pc-keiba-viewer/src/scripts/finish-position-features/finish-position-features-duckdb-postgres-tuning.md
Due: oxfmt

feat(viewer): hide JRA result link until 5 days after race date
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/lib/jra-link-visibility.test.ts
  apps/pc-keiba-viewer/src/lib/jra-link-visibility.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer/jockey-name): normalize western initial prefixes
  apps/pc-keiba-viewer/src/lib/jockey-name.test.ts
  apps/pc-keiba-viewer/src/lib/jockey-name.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(viewer/paddock): rebalance attention and preference weights in total score
  apps/pc-keiba-viewer/src/lib/paddock.test.ts
  apps/pc-keiba-viewer/src/lib/paddock.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/training): premium grade filter, toggleable furlong columns, expose rider name
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/training-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/training-table.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/realtime): cap non-tansho odds trends and sort by latest odds
  apps/pc-keiba-viewer/src/app/races/detail/realtime-race-section.tsx
Due: none

feat(viewer/realtime): proxy realtime race payload through Next API route
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/realtime/route.ts
  apps/pc-keiba-viewer/src/app/home-realtime.test.tsx
  apps/pc-keiba-viewer/src/app/home-realtime.tsx
  apps/pc-keiba-viewer/src/app/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/realtime-client.tsx
Due: oxfmt, oxlint, tsc, vitest
