Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

perf(features): add --log-file for background monitoring and optimize pedigree stats
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

perf(training): add column projection to parquet loading across all trainers
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_lightgbm_walk_forward.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_xgboost.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_lightgbm_walk_forward.py
Due: none

feat(features): wire --resume/--incremental + per-category temp_dir into local builder
  apps/pc-keiba-viewer/src/scripts/generate_finish_position_features_local.py
  apps/pc-keiba-viewer/tests/test_generate_finish_position_features_local.py
Due: none

fix(sync-realtime-data): preserve non-null odds/weight when DO push lands result rows
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data): schedule race-trend DO alarm on first push so D1 self-pull actually runs
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data): push entry-only state to race-trend DO so pre-race siblings appear
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): enrich do-hit race-trend rows with tansho odds + popularity from hot D1
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-payload.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-payload.server.ts
  apps/pc-keiba-viewer/src/lib/today-sibling-runner-merge.test.ts
  apps/pc-keiba-viewer/src/lib/today-sibling-runner-merge.ts
Due: oxfmt, oxlint, tsc, vitest

fix(features): cap CatBoost thread_count at 6 to match memory budget rule
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
Due: none

perf(features): replace track_bias per-year loop with single-pass materialization
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
Due: none

perf(features): hoist calibration map load out of per-fold loop
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_walk_forward.py
Due: none

feat(features): add tmp/ auto-cleanup script to prevent disk bloat
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/cleanup_tmp.py
  apps/pc-keiba-viewer/tests/test_cleanup_tmp.py
Due: oxfmt

perf(features): batch jockey/trainer career by 2-year chunks + sargable weather join
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

perf(training): sort dataset once per WF run, skip per-fold re-sort
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_lightgbm_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/walk_forward_common.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_xgboost.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_lightgbm_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_walk_forward_common.py
Due: none

feat(scoring): add NAR small-field CatBoost routing library
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/small_field_router.py
  apps/pc-keiba-viewer/tests/test_small_field_router.py
Due: oxfmt

perf(test): add pytest-xdist for parallel test execution
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/uv.lock
Due: oxfmt

perf(test): add fast alpha-grid mode for corner_lightgbm tests
  apps/pc-keiba-viewer/src/scripts/corner_lightgbm.py
  apps/pc-keiba-viewer/tests/test_corner_lightgbm.py
Due: none

fix(explorer): filter non-numeric str columns from LightGBM/CatBoost feature paths
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
Due: none

fix(learner): correct scripts_dir to parent.parent for training script paths
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
Due: none

feat(learner): optimize learning loop architecture for efficiency
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
Due: oxfmt

feat(learner): add Optuna pruning, saturation gate, subgroup diagnostics, resource auto-tune
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_registry.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
Due: none

perf(diagnostics): vectorize DCG@3 with precomputed numpy discount array
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_registry.py
  apps/pc-keiba-viewer/src/scripts/learning/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

perf(learning): vectorize NDCG/subgroup computation and skip saturated phases
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/learning/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

fix(learning): handle dtype mismatch in Hive-partitioned parquet and write partitioned output
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
Due: none

perf(learning): reduce inverse/enrichment cost with fewer trials and single-fold screening
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
Due: none

perf(learning): screening iterations 300→150, subgroup every 5th round, enrichment cache
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
Due: none

feat(learning): add class×season to subgroup diagnostics key
  apps/pc-keiba-viewer/src/scripts/learning/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

perf(learning): saturated trial halving, fold cache, surface-aware diagnostics
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/learning/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

perf(learning): sticky saturation latch + single-fold screening for saturated rounds
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
Due: none

perf(learning): fold cache + deferred DuckDB writes + presorted data + constant_liar=False
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_registry.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
Due: none

feat(features): add jockey/trainer/weight features + venue eval dimension
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

feat(features): add TS serve parity for jockey/trainer/weight features
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-jockey-trainer-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-jockey-trainer-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-weight-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-weight-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/export-finish-position-dataset-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/export-finish-position-dataset-sql.ts
Due: oxfmt, oxlint, tsc, vitest

fix(features): write_parquet year-by-year to avoid DuckDB OOM on NAR
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: none

perf(cost): reduce Cloudflare bill ~$205/mo via D1 dedup, Browser cadence, DO hibernation, cron gating
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/cron-decision.test.ts
  apps/finish-position-cron/src/cron-decision.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/src/worker.test.ts
  apps/pc-keiba-viewer/src/worker.ts
  apps/pc-keiba-viewer/src/worker/paddock-room.test.ts
  apps/pc-keiba-viewer/src/worker/paddock-room.ts
  apps/pc-keiba-viewer/src/worker/race-trend-room.test.ts
  apps/pc-keiba-viewer/src/worker/race-trend-room.ts
  apps/pc-keiba-viewer/src/worker/websocket-broadcast.test.ts
  apps/pc-keiba-viewer/src/worker/websocket-broadcast.ts
  apps/pc-keiba-viewer/wrangler.jsonc
  apps/sync-realtime-data-hot/src/fetch-odds.test.ts
  apps/sync-realtime-data-hot/src/fetch-odds.ts
  apps/sync-realtime-data-hot/src/storage.test.ts
  apps/sync-realtime-data-hot/src/storage.ts
  apps/sync-realtime-data-hot/src/time.test.ts
  apps/sync-realtime-data-hot/src/time.ts
  apps/sync-realtime-data/src/running-style-cron.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-fetch-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-notify-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

perf(features): pre-materialize base_features to avoid per-year JOIN re-eval
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: none

perf(d1): add weight watchdog index to eliminate full table scan
  apps/sync-realtime-data/migrations/0027_weight_watchdog_index.sql
Due: none

perf(do): reduce alarm interval and add dormancy to RaceTrendDailyTrackDO
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.ts
Due: oxfmt, oxlint, tsc, vitest

perf(container): downsize finish-position-cron to standard-2 + sleepAfter 1m
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(features): sanitize weight_trend_5 NaN and weight_zscore outliers
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-weight-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-weight-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: oxfmt, oxlint, tsc, vitest

perf(learning): optimize trial eval + batch registry I/O + race_id sort
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_registry.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
Due: none
