Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(viewer): exclude NAR/overseas venues from JRA finish-position target rows
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: none

feat(serving): wire full v6+v7 layer chain into predict container for 226/175/111 fidelity
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
Due: oxfmt

fix(realtime-data): harden odds polling against upstream block + add NAR final-odds backfill
  apps/sync-realtime-data-hot/migrations/0003_odds_snapshots_unique_index.sql
  apps/sync-realtime-data-hot/src/expected-race-count.test.ts
  apps/sync-realtime-data-hot/src/expected-race-count.ts
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.test.ts
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.ts
  apps/sync-realtime-data-hot/src/plan.test.ts
  apps/sync-realtime-data-hot/src/plan.ts
  apps/sync-realtime-data-hot/src/scheduled-race-list.test.ts
  apps/sync-realtime-data-hot/src/scheduled-race-list.ts
  apps/sync-realtime-data-hot/src/storage.test.ts
  apps/sync-realtime-data-hot/src/storage.ts
  apps/sync-realtime-data-hot/src/types.ts
  apps/sync-realtime-data-hot/src/worker.ts
  apps/sync-realtime-data/src/scripts/backfill-nar-final-odds-for-date.test.ts
  apps/sync-realtime-data/src/scripts/backfill-nar-final-odds-for-date.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): update finish-position accuracy fallback + verifier band to clean post-decontamination values
  apps/pc-keiba-viewer/src/lib/finish-position-prediction-evaluation.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/verify-finish-position-v7lineage-coverage.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/verify-finish-position-v7lineage-coverage.ts
Due: oxfmt, oxlint, tsc, vitest

feat(serving): finalize finish-position container deploy prep — model bake-in + on-demand trigger
  .dockerignore
  .gitignore
  apps/finish-position-cron/src/dispatch.test.ts
  apps/finish-position-cron/src/trigger.test.ts
  apps/finish-position-cron/src/trigger.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/Dockerfile
Due: oxfmt, oxlint, tsc, vitest

style(viewer): clean up running-style metrics section on race detail
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.tsx
Due: oxfmt

Revert "style(viewer): clean up running-style metrics section on race detail"
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.tsx
Due: oxfmt

chore(cron): pin D1 database_id post-create
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt

fix(viewer): route WS upgrades for race-trend + paddock DOs directly in worker, bypassing OpenNext
  apps/pc-keiba-viewer/src/lib/race-trend-cache.test.ts
  apps/pc-keiba-viewer/src/lib/websocket-do-router.test.ts
  apps/pc-keiba-viewer/src/lib/websocket-do-router.ts
  apps/pc-keiba-viewer/src/lib/win5/payout-parse.test.ts
  apps/pc-keiba-viewer/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(serving): surface predict-upcoming startup tracebacks via broader except
  apps/finish-position-predict-container/src/predict_upcoming.py
Due: none

fix(viewer): include fresh bucket in finish-prediction cache-hit response
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
Due: oxfmt, oxlint, tsc, vitest

fix(serving): unbreak Cloudflare cron predict — URL trim + psycopg %s + liveness port
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-predict-container/src/predict_lib/audit.py
  apps/finish-position-predict-container/src/predict_lib/conn_url.py
  apps/finish-position-predict-container/src/predict_lib/upsert_sql.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_audit.py
  apps/finish-position-predict-container/tests/test_conn_url.py
  apps/finish-position-predict-container/tests/test_upsert_sql.py
Due: oxfmt, oxlint, tsc, vitest

fix(serving): add DO-keepalive loop so Cloudflare batch container survives 90s
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-predict-container/src/predict_upcoming.py
Due: oxfmt, oxlint, tsc, vitest

fix(serving): expose subprocess stderr + allow empty upcoming targets in feature build
  apps/finish-position-predict-container/src/db_driver.py
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: none

feat(serving): split SOURCE_DATABASE_URL from NEON_DATABASE_URL so feature build can use fast local PG while UPSERT goes to Neon
  apps/finish-position-predict-container/src/predict_lib/conn_url.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_conn_url.py
Due: none

fix(serving): stream subprocess output instead of buffering in pipeline_runner
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
Due: none

fix(serving): clear xgboost booster feature_names after load to allow positional DMatrix
  apps/finish-position-predict-container/src/xgboost_adapter.py
Due: none

feat(viewer): collapse non-nige running-style metrics, style the per-class panels
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.tsx
Due: oxfmt

fix(local-postgresql): self-heal stale stage table on retry by DROP IF EXISTS in preCopySql
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-data): close 06-04 partial-stall root causes — pool / prewarm gating / midnight sweep
  apps/sync-realtime-data/src/daily-feature-build.test.ts
  apps/sync-realtime-data/src/daily-feature-build.ts
  apps/sync-realtime-data/src/finish-position-lite-pool.ts
  apps/sync-realtime-data/src/running-style-cron.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

chore(serving): disable Cloudflare Container cron, drive daily predict via Mac launchd
  apps/finish-position-cron/src/cron-decision.test.ts
  apps/finish-position-cron/src/cron-decision.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/finish-position-predict-container/DEPLOY.md
  scripts/launchd/README.md
  scripts/launchd/com.kkk4oru.finish-position-predict.plist
  scripts/launchd/finish-position-predict-daily.sh
Due: shellcheck, oxfmt, oxlint, tsc, vitest

fix(viewer): extend DurableObject base class for PaddockRoom and RaceTrendRoom
  apps/pc-keiba-viewer/src/test-stubs/cloudflare-workers.ts
  apps/pc-keiba-viewer/src/worker/cloudflare-workers.d.ts
  apps/pc-keiba-viewer/src/worker/paddock-room.test.ts
  apps/pc-keiba-viewer/src/worker/paddock-room.ts
  apps/pc-keiba-viewer/src/worker/race-trend-room.test.ts
  apps/pc-keiba-viewer/src/worker/race-trend-room.ts
  apps/pc-keiba-viewer/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): proxy horse-weights-stream to production when REALTIME_DATA is missing
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/horse-weights-stream/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/horse-weights-stream/route.ts
  apps/pc-keiba-viewer/src/lib/production-api-proxy.server.test.ts
  apps/pc-keiba-viewer/src/lib/production-api-proxy.server.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): share getRaceTimeStats output cache between condition and time-score
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/lib/race-time-stats-cache.server.ts
Due: oxfmt, oxlint, tsc, vitest

chore: stage-0 setup scaffold + state + dependency check
  docs/finish-position-accuracy/README.md
  docs/finish-position-accuracy/_templates/bucket-experiment.md.tmpl
  docs/finish-position-accuracy/_templates/iteration.md.tmpl
Due: oxfmt

feat(viewer): stage-0b helper scripts for v8 iterative loop
  apps/pc-keiba-viewer/src/scripts/finish-position-features/compare-prev-vs-current-buckets.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/compare-prev-vs-current-buckets.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-bucket-21y-v8.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-bucket-21y-v8.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/identify-weak-buckets.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/identify-weak-buckets.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/render-iteration-history.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/render-iteration-history.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): stage-0c train script extensions for v8 iterative loop
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_lightgbm_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/walk_forward_common.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_lightgbm_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_walk_forward_common.py
  apps/pc-keiba-viewer/uv.lock
Due: oxfmt

chore: stage-0a.5 migrate scattered finish-position MD docs to legacy/
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/src/predict_lib/scorer.py
  apps/finish-position-predict-container/src/xgboost_adapter.py
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  docs/finish-position-accuracy/README.md
  docs/finish-position-accuracy/legacy/FINISH_POSITION_MODEL_V6_STACKED.md
  docs/finish-position-accuracy/legacy/FINISH_POSITION_MODEL_V7_LINEAGE.md
  docs/finish-position-accuracy/legacy/FINISH_POSITION_PREDICTION_DESIGN.md
  docs/finish-position-accuracy/legacy/PLACE_ACCURACY_IMPROVEMENT_2026-05-20.md
Due: oxfmt

chore: stage-0e train-time calibration dry-run measurements
  docs/finish-position-accuracy/buckets/iter0-baseline-weakness.md
Due: oxfmt

feat(viewer): iter-1 calibrate_finish_position.py for L2 isotonic
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
Due: oxfmt

feat(loop): iter-1 L2 calibration reject JRA=+0.000pp NAR=+0.000pp
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/lib/race-time-stats-cache.server.ts
  docs/finish-position-accuracy/buckets/iter1-jra-delta.md
  docs/finish-position-accuracy/buckets/iter1-nar-delta.md
  docs/finish-position-accuracy/history/iter1.md
Due: oxfmt, oxlint, tsc, vitest

feat(loop): iter-2 L8-stacking-rs reject JRA=-0.957pp NAR=+0.000pp
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/train_finish_position_stacking_metalearner.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_stacking_metalearner.py
  docs/finish-position-accuracy/history/iter2.md
Due: oxfmt

feat(loop): iter-3 L8-LGBM-stacking reject JRA=-0.128pp NAR=+0.011pp
  apps/pc-keiba-viewer/.oxfmtrc.json
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/train_finish_position_lgbm_stacking.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_lgbm_stacking.py
  docs/finish-position-accuracy/history/iter3.md
Due: oxfmt

feat(loop): iter-4 L1B-CB+LGBM-rank-ensemble reject JRA=+0.011pp(p2) NAR=+0.009pp(p2)
  docs/finish-position-accuracy/history/iter4.md
Due: oxfmt

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
