Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

docs(pc-keiba-r2-catalog): 17:00-window fix-option design for JRA running-style-features R2 SQL 400
  apps/pc-keiba-viewer/docs/probes/jra-running-style-r2sql-nesting-depth-fix-options-2026-07-18.md
Due: oxfmt

fix(pc-keiba-viewer): bump finish-prediction-inputs cache namespace to force-clear stale pre-gate entries
  apps/pc-keiba-viewer/src/lib/finish-prediction-inputs-cache.server.ts
Due: oxfmt, oxlint, tsc, vitest

docs(pc-keiba-viewer): record quality gate cache fixes + positive/negative live verification
  apps/pc-keiba-viewer/docs/probes/confidence-display-design-2026-07-17.md
Due: oxfmt

feat(pc-keiba-viewer): replace finish-position quality gate with transparency + user choice (USER decision)
  apps/pc-keiba-viewer/docs/probes/confidence-display-design-2026-07-17.md
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/query-cache.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-inputs-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

docs(pc-keiba-viewer): record transparency-redesign deploy + live verification
  apps/pc-keiba-viewer/docs/probes/confidence-display-design-2026-07-17.md
Due: oxfmt

fix(pc-keiba-r2-catalog): fallback without ORDER BY when R2 SQL rejects running-style query as too deep
  apps/pc-keiba-r2-catalog/scripts/smoke-running-style-r2-sql.ts
  apps/pc-keiba-r2-catalog/src/r2-sql.test.ts
  apps/pc-keiba-r2-catalog/src/r2-sql.ts
  apps/pc-keiba-r2-catalog/src/running-style-feature-ctes.ts
  apps/pc-keiba-r2-catalog/src/running-style-response.ts
  apps/pc-keiba-r2-catalog/src/running-style-smoke.test.ts
  apps/pc-keiba-r2-catalog/src/running-style-smoke.ts
  apps/pc-keiba-r2-catalog/src/running-style-sql.test.ts
  apps/pc-keiba-r2-catalog/src/running-style-sql.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): coerce Decimal predicted_score to float in serve_health_check (--json crash)
  apps/pc-keiba-viewer/src/scripts/serve_health_check.py
  apps/pc-keiba-viewer/tests/test_serve_health_check.py
Due: none

fix(finish-position): Defect H — thread force through to the container's own completion check
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): show one training-table row per entrant even with no jvd_hc/wc match
  apps/pc-keiba-viewer/src/app/races/detail/training-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/training-table.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): bump detail-section cache version for cherry-picked training-table fix
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): CF cron kick for RS-generation scheduling gap, retiring Mac guard dependency
  apps/finish-position-cron/src/running-style-kick.test.ts
  apps/finish-position-cron/src/running-style-kick.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
  docs/cf-only-serving-architecture.md
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): stop paddock alerts at race start
  apps/sync-realtime-data/src/worker-notify-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): widen coordinator rescore to NAR/Ban-ei with a JST 14:00-21:00 time-box
  apps/finish-position-cron/src/race-coordinator.test.ts
  apps/finish-position-cron/src/race-coordinator.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): prioritize JRA weight watchdog and retry empty weight fetches
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): paddock fallback path, proxy cache purge, and table parser resilience
  apps/sync-realtime-data/src/premium-race-parsers.test.ts
  apps/sync-realtime-data/src/premium-race.test.ts
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-fetch-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/premium-race.test.ts
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position-accuracy): fix late-binding attribution
  docs/finish-position-accuracy/history/nar-serve-vs-wf-market-null-2026-07-19.md
Due: oxfmt

docs(finish-position-accuracy): correct superseded campaign claims
  docs/finish-position-accuracy/history/nar-serve-vs-wf-market-null-2026-07-19.md
  docs/finish-position-accuracy/history/rs-calibration-implementation.md
  docs/finish-position-accuracy/history/rs-jra-market-feature-serve-gap-2026-07-19.md
  docs/finish-position-accuracy/history/serve-skew-campaign-consolidation-2026-07-18.md
Due: oxfmt

fix(finish-position-cron): open NAR rescore time-box at JST 10:00 for Saga morning cards
  apps/finish-position-cron/src/race-coordinator.test.ts
  apps/finish-position-cron/src/race-coordinator.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data): soft-retry sparse horse weights and NAR result-page fallback
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position-cron): enqueue mode=full before post via pre-race readiness
  apps/finish-position-cron/src/coverage-self-heal.test.ts
  apps/finish-position-cron/src/coverage-self-heal.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position): land artifact-integrity verifier with deploy-gate wiring
  apps/finish-position-cron/package.json
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/Dockerfile
  apps/finish-position-predict-container/package.json
  apps/finish-position-predict-container/production-artifacts.json
  apps/finish-position-predict-container/src/predict_lib/artifact_integrity.py
  apps/finish-position-predict-container/src/predict_lib/deploy_flags.json
  apps/finish-position-predict-container/src/predict_lib/deploy_flags.py
  apps/finish-position-predict-container/src/predict_lib/running_style_cell_routing.json
  apps/finish-position-predict-container/src/predict_lib/running_style_routing.py
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
  apps/finish-position-predict-container/tests/test_deploy_flags.py
  apps/finish-position-predict-container/tests/test_running_style_routing.py
  apps/finish-position-predict-container/tests/test_transformer_scorer.py
  docs/finish-position-prediction-system.md
Due: oxfmt

fix(finish-position-features): target-aware curr resolution for near-miss context joins
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-near-miss-features.py
  apps/pc-keiba-viewer/tests/test_add_near_miss_features.py
Due: none

fix(finish-position-features): trim past-side jockey name in pair match
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-near-miss-features.py
  apps/pc-keiba-viewer/tests/test_add_near_miss_features.py
Due: none

fix(finish-position-features): hex-decode ban-ei bataiju/futan weight features
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-ban-ei-raw-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-weight-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-weight-sql.ts
  apps/pc-keiba-viewer/tests/test_add_ban_ei_raw_features.py
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): re-enable per-race rescore coordinator for NAR/Ban-ei
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt

fix(finish-position-predict-container): make deploy-gate test hermetic against ambient models/
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
Due: none

wip(finish-position): JRA Stage-1 market-free gated fallback + interim copy of artifact-integrity convention
  apps/finish-position-cron/package.json
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/Dockerfile
  apps/finish-position-predict-container/package.json
  apps/finish-position-predict-container/production-artifacts.json
  apps/finish-position-predict-container/src/predict_lib/artifact_integrity.py
  apps/finish-position-predict-container/src/predict_lib/deploy_flags.json
  apps/finish-position-predict-container/src/predict_lib/deploy_flags.py
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/running_style_cell_routing.json
  apps/finish-position-predict-container/src/predict_lib/running_style_routing.py
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.json
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
  apps/finish-position-predict-container/tests/test_deploy_flags.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_running_style_routing.py
  apps/finish-position-predict-container/tests/test_stage1_routing.py
  apps/finish-position-predict-container/tests/test_transformer_scorer.py
  docs/finish-position-accuracy/history/jra-stage1-market-free-fallback-probe-2026-07-22.md
  docs/finish-position-prediction-system.md
Due: oxfmt

feat(finish-position): register JRA Stage-1 fallback in the artifact-integrity manifest
  apps/finish-position-predict-container/production-artifacts.json
  apps/finish-position-predict-container/src/predict_lib/artifact_integrity.py
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
Due: oxfmt

test(finish-position): add end-to-end score_races coverage for the Stage-1 gate
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
Due: none

fix(finish-position): stage1 gate schema+bug fixes from independent review + NAR coordination
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.json
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.py
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_stage1_routing.py
  docs/finish-position-prediction-system.md
Due: oxfmt

fix(finish-position): allow production-artifacts.json through the Docker build context
  .dockerignore
Due: none

feat(finish-position): wire NAR Stage-1 market-free gated fallback config
  apps/finish-position-predict-container/production-artifacts.json
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.json
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_stage1_routing.py
Due: oxfmt

fix(finish-position-cron): re-disable COORDINATOR_ENABLED (NAR rescore non-functional)
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt

Revert "feat(finish-position): wire NAR Stage-1 market-free gated fallback config"
  apps/finish-position-predict-container/production-artifacts.json
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.json
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_stage1_routing.py
Due: oxfmt

feat(finish-position): deploy NAR Stage-1 market-free gated fallback + document it
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/production-artifacts.json
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.json
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_stage1_routing.py
Due: oxfmt

feat(save-oversea-keiba-records): add overseas racecard save CLI
  apps/save-oversea-keiba-records/.gitignore
  apps/save-oversea-keiba-records/README.md
  apps/save-oversea-keiba-records/package.json
  apps/save-oversea-keiba-records/src/cli.test.ts
  apps/save-oversea-keiba-records/src/cli.ts
  apps/save-oversea-keiba-records/src/dry-run-diff.test.ts
  apps/save-oversea-keiba-records/src/dry-run-diff.ts
  apps/save-oversea-keiba-records/src/entity-resolver.test.ts
  apps/save-oversea-keiba-records/src/entity-resolver.ts
  apps/save-oversea-keiba-records/src/idempotent-write.test.ts
  apps/save-oversea-keiba-records/src/idempotent-write.ts
  apps/save-oversea-keiba-records/src/jra-card-parser.test.ts
  apps/save-oversea-keiba-records/src/jra-card-parser.ts
  apps/save-oversea-keiba-records/src/jvd-mapper.test.ts
  apps/save-oversea-keiba-records/src/jvd-mapper.ts
  apps/save-oversea-keiba-records/src/main.ts
  apps/save-oversea-keiba-records/src/master-lookup.test.ts
  apps/save-oversea-keiba-records/src/master-lookup.ts
  apps/save-oversea-keiba-records/src/pg-client.test.ts
  apps/save-oversea-keiba-records/src/pg-client.ts
  apps/save-oversea-keiba-records/src/reconcile.test.ts
  apps/save-oversea-keiba-records/src/reconcile.ts
  apps/save-oversea-keiba-records/src/run-save.test.ts
  apps/save-oversea-keiba-records/src/run-save.ts
  apps/save-oversea-keiba-records/src/secondary-source-parser.test.ts
  apps/save-oversea-keiba-records/src/secondary-source-parser.ts
  apps/save-oversea-keiba-records/src/source-loader.test.ts
  apps/save-oversea-keiba-records/src/source-loader.ts
  apps/save-oversea-keiba-records/src/types.ts
  apps/save-oversea-keiba-records/src/upsert-sql.test.ts
  apps/save-oversea-keiba-records/src/upsert-sql.ts
  apps/save-oversea-keiba-records/tsconfig.json
  apps/save-oversea-keiba-records/vitest.config.ts
  bun.lock
  lefthook.yml
Due: oxfmt, oxlint, tsc, vitest

fix(save-oversea-keiba-records): exit non-zero on identity conflicts
  apps/save-oversea-keiba-records/README.md
  apps/save-oversea-keiba-records/src/run-save.test.ts
  apps/save-oversea-keiba-records/src/run-save.ts
Due: oxfmt, oxlint, tsc, vitest

feat(save-oversea-keiba-records): store published odds and popularity in JV columns
  apps/save-oversea-keiba-records/README.md
  apps/save-oversea-keiba-records/src/jvd-mapper.test.ts
  apps/save-oversea-keiba-records/src/jvd-mapper.ts
Due: oxfmt, oxlint, tsc, vitest

feat(save-oversea-keiba-records): store published start time and gate
  apps/save-oversea-keiba-records/README.md
  apps/save-oversea-keiba-records/src/jvd-mapper.test.ts
  apps/save-oversea-keiba-records/src/jvd-mapper.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(save-oversea-keiba-records): group src into sources/domain/storage layers
  apps/save-oversea-keiba-records/src/cli.test.ts
  apps/save-oversea-keiba-records/src/cli.ts
  apps/save-oversea-keiba-records/src/domain/entity-resolver.test.ts
  apps/save-oversea-keiba-records/src/domain/entity-resolver.ts
  apps/save-oversea-keiba-records/src/domain/jvd-mapper.test.ts
  apps/save-oversea-keiba-records/src/domain/jvd-mapper.ts
  apps/save-oversea-keiba-records/src/domain/reconcile.test.ts
  apps/save-oversea-keiba-records/src/domain/reconcile.ts
  apps/save-oversea-keiba-records/src/run-save.test.ts
  apps/save-oversea-keiba-records/src/run-save.ts
  apps/save-oversea-keiba-records/src/sources/jra-card-parser.test.ts
  apps/save-oversea-keiba-records/src/sources/jra-card-parser.ts
  apps/save-oversea-keiba-records/src/sources/secondary-source-parser.test.ts
  apps/save-oversea-keiba-records/src/sources/secondary-source-parser.ts
  apps/save-oversea-keiba-records/src/sources/source-loader.test.ts
  apps/save-oversea-keiba-records/src/sources/source-loader.ts
  apps/save-oversea-keiba-records/src/storage/dry-run-diff.test.ts
  apps/save-oversea-keiba-records/src/storage/dry-run-diff.ts
  apps/save-oversea-keiba-records/src/storage/idempotent-write.test.ts
  apps/save-oversea-keiba-records/src/storage/idempotent-write.ts
  apps/save-oversea-keiba-records/src/storage/master-lookup.test.ts
  apps/save-oversea-keiba-records/src/storage/master-lookup.ts
  apps/save-oversea-keiba-records/src/storage/pg-client.test.ts
  apps/save-oversea-keiba-records/src/storage/pg-client.ts
  apps/save-oversea-keiba-records/src/storage/upsert-sql.test.ts
  apps/save-oversea-keiba-records/src/storage/upsert-sql.ts
Due: oxfmt, oxlint, tsc, vitest
