Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

Fix running style cell training structure
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/pc-keiba-viewer/src/lib/running-style-prediction-dimensions.test.ts
  apps/pc-keiba-viewer/src/lib/running-style-prediction-dimensions.ts
  apps/pc-keiba-viewer/src/lib/running-style-prediction-evaluation.test.ts
  apps/pc-keiba-viewer/src/lib/running-style-prediction-evaluation.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-sql.ts
  apps/pc-keiba-viewer/src/scripts/learning/build_cell_models.py
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_build_cell_models.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

Evaluate running style predictions by race order
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/running-style-prediction-dimensions.test.ts
  apps/pc-keiba-viewer/src/lib/running-style-prediction-dimensions.ts
  apps/pc-keiba-viewer/src/lib/running-style-prediction-evaluation.test.ts
  apps/pc-keiba-viewer/src/lib/running-style-prediction-evaluation.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-21y.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-21y.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-sql.ts
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

perf(cost): reduce weight watchdog cron from 1min to 2min
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt

perf(cost): reduce odds polling cron from 1min to 2min
  apps/sync-realtime-data-hot/wrangler.jsonc
Due: oxfmt

fix(hot): align PLAN_ODDS_FETCHES_CRON with deployed */2 schedule
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): align WEIGHT_WATCHDOG_CRON with deployed */2 schedule
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

perf(realtime): drop cache=0 on premium proxy requests
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/src/running-style-cron-orchestration.test.ts
  apps/sync-realtime-data/src/running-style-cron.test.ts
  apps/sync-realtime-data/test/running-style-cron.test.ts
Due: oxfmt, oxlint, tsc, vitest

Stabilize finish-position production generation
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/container-ndjson-proxy.test.ts
  apps/finish-position-cron/src/container-ndjson-proxy.ts
  apps/finish-position-cron/src/focused-full-completion.test.ts
  apps/finish-position-cron/src/focused-full-completion.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/queue-producer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

Persist running style cell training metrics
  apps/local-postgresql/sql/20260701000000_add_prediction_target_to_cell_training_evaluations.sql
  apps/local-postgresql/src/sql/cell-training-evaluations-migration.test.ts
  apps/pc-keiba-viewer/src/lib/horse-weight-d1-fallback.server.test.ts
  apps/pc-keiba-viewer/src/lib/horse-weight-d1-fallback.server.ts
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

Make running style training resources dynamic
  .claude/skills/finish-position-training-loop.md
  apps/local-postgresql/sql/20260701000000_add_prediction_target_to_cell_training_evaluations.sql
  apps/local-postgresql/sql/20260702000000_add_subgroup_to_cell_training_evaluations.sql
  apps/local-postgresql/src/sql/cell-training-evaluations-migration.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-21y.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-21y.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.ts
  apps/pc-keiba-viewer/src/scripts/generate_running_style_features_local.py
  apps/pc-keiba-viewer/src/scripts/learning/build_cell_models.py
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_build_cell_models.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_generate_running_style_features_local.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

feat(running-style): persist cell provenance across D1/Neon/Parquet/PG
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-pacestyle-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/apply-running-style-postproc.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/apply-running-style-postproc.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-running-style-predictions.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-running-style-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-running-style-sql.ts
  apps/pc-keiba-viewer/src/scripts/load_running_style_predictions.py
  apps/pc-keiba-viewer/tests/test_add_pacestyle_features.py
  apps/pc-keiba-viewer/tests/test_load_running_style_predictions.py
  apps/sync-realtime-data/migrations/0031_running_style_cell_provenance.sql
  apps/sync-realtime-data/scripts/sync-running-style-d1-to-neon.ts
  apps/sync-realtime-data/src/running-style-d1.test.ts
  apps/sync-realtime-data/src/running-style-d1.ts
  apps/sync-realtime-data/src/running-style-inference.test.ts
  apps/sync-realtime-data/src/running-style-inference.ts
  apps/sync-realtime-data/src/running-style-neon.test.ts
  apps/sync-realtime-data/src/running-style-neon.ts
  apps/sync-realtime-data/src/running-style-parquet-export.test.ts
  apps/sync-realtime-data/src/running-style-parquet-export.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/scripts/run-running-style-inference-local.test.ts
  apps/sync-realtime-data/src/scripts/run-running-style-inference-local.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-features): auto-tune DuckDB/PG resource limits from live pressure
  apps/pc-keiba-viewer/src/scripts/finish-position-features/_resource_defaults.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-21y.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-21y.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-finish-position-local.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-finish-position-local.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.ts
  apps/pc-keiba-viewer/src/scripts/generate_finish_position_features_local.py
  apps/pc-keiba-viewer/src/scripts/generate_running_style_features_local.py
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_generate_finish_position_features_local.py
  apps/pc-keiba-viewer/tests/test_generate_running_style_features_local.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

feat(realtime): enrich race-trend rows with weight/odds and resilient entries
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/lib/horse-weight-stream-client.test.ts
  apps/pc-keiba-viewer/src/lib/horse-weight-stream-client.ts
  apps/pc-keiba-viewer/src/lib/realtime-payload.server.test.ts
  apps/pc-keiba-viewer/src/lib/realtime-payload.server.ts
  apps/sync-realtime-data/src/durable-objects/horse-weight-do.test.ts
  apps/sync-realtime-data/src/durable-objects/horse-weight-do.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.ts
  apps/sync-realtime-data/src/fetchLogStatuses.test.ts
  apps/sync-realtime-data/src/fetchLogStatuses.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime-hot): invalidate odds caches after chunk import
  apps/sync-realtime-data-hot/src/gates/latest-odds-kv-mirror.test.ts
  apps/sync-realtime-data-hot/src/gates/latest-odds-kv-mirror.ts
  apps/sync-realtime-data-hot/src/odds-cache.test.ts
  apps/sync-realtime-data-hot/src/odds-cache.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(local-postgresql): reconcile diverging tables by timestamp range
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): scope predict containers by category, add stop admin endpoint
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

feat(features): add within-race career-rate, trend-acceleration, market-edge features
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-market-signal-features.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_add_market_signal_features.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

fix(training): reduce sample_weight to per-group before XGBoost ranking DMatrix
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_xgboost.py
Due: none

feat(finish-position): add --predictions-output-root to XGBoost WF trainer
  apps/pc-keiba-viewer/src/scripts/train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_xgboost_walk_forward.py
Due: none

docs(finish-position): record NAR venue 45/30 upweight REJECT verdict
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): record NAR small-field CatBoost routing REJECT
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): record NAR nvd_nu pedigree retrain REJECT verdict
  docs/finish-position-prediction-system.md
Due: oxfmt

fix(finish-position): translate ban-ei category for cell_training_evaluations query
  apps/pc-keiba-viewer/src/scripts/learning/build_cell_models.py
  apps/pc-keiba-viewer/tests/test_build_cell_models.py
Due: none

feat(finish-position): add --predictions-output-root to CatBoost WF trainer
  apps/pc-keiba-viewer/src/scripts/train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_catboost_walk_forward.py
Due: none

docs(finish-position): record Ban-ei season-cell lever REJECT verdict
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): record JRA 3-cell weak-subgroup REJECT verdict
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): record JRA Kyoto cell weak-subgroup REJECT verdict
  docs/finish-position-prediction-system.md
Due: oxfmt

fix(finish-position): raise queue max_concurrency + pre-cache DuckDB postgres ext
  apps/finish-position-cron/wrangler.jsonc
  apps/finish-position-predict-container/Dockerfile
Due: oxfmt

docs(finish-position): record 2026-07-02 finding — live per-race predict pipeline never confirmed writing to Neon
  docs/finish-position-prediction-system.md
Due: oxfmt

debug(finish-position): add TEMPORARY Neon layer-timing instrumentation
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
Due: none

fix(finish-position): decouple queue consumer hold time from pipeline completion
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/ndjson-stream.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): mark 2026-07-02 Neon-write gap as RESOLVED
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): record same-category concurrency starvation/DLQ found in follow-up smoke tests
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): record correlation/interaction feature campaign verdicts
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): record correlation-feature campaign REJECT verdicts
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): record low-contention NAR smoke test — 10/10 layers clean, Neon write still unconfirmed
  docs/finish-position-prediction-system.md
Due: oxfmt

Improve running style cell evaluation
  apps/pc-keiba-viewer/src/scripts/evaluate_running_style_pipeline.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/running-style-bucket-local-loader.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/running-style-bucket-local-loader.ts
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_evaluate_running_style_pipeline.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position): stop same-category slot starvation (busy re-enqueue + already-complete guard)
  apps/finish-position-cron/src/ndjson-stream.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): record sim_* within-race relativization REJECT verdicts (JRA/Ban-ei)
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): complete NAR jockey chemistry leg — 3-category REJECT
  docs/finish-position-prediction-system.md
Due: oxfmt
