Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

feat(sync-realtime-data): add prior-race corner2-4 running-style history features
  apps/sync-realtime-data/src/running-style-feature-sql.test.ts
  apps/sync-realtime-data/src/running-style-feature-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): add do-backed claim/complete state for focused-full races
  apps/finish-position-cron/src/do-state.test.ts
  apps/finish-position-cron/src/do-state.ts
  apps/finish-position-cron/src/ndjson-stream.ts
  apps/finish-position-cron/src/predict-run-coordinator.test.ts
  apps/finish-position-cron/src/predict-run-coordinator.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position-cron): route focused-full completion checks to the active model version
  apps/finish-position-cron/src/focused-full-completion.test.ts
  apps/finish-position-cron/src/focused-full-completion.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): guard focused-full redelivery against duplicate runs and add opt-in debug logging
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/container-ndjson-proxy.test.ts
  apps/finish-position-cron/src/container-ndjson-proxy.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/queue-producer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

build(predict-container): pin numpy explicitly for transformer scorer
  apps/finish-position-predict-container/Dockerfile
  apps/finish-position-predict-container/pyproject.toml
  apps/finish-position-predict-container/uv.lock
Due: oxfmt

fix(predict-container): deny target_corner_2_norm leak and default-enable clean nar transformer blend
  apps/finish-position-predict-container/src/predict_lib/booster_pool.py
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/transformer_scorer.py
  apps/finish-position-predict-container/tests/test_booster_pool.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_transformer_scorer.py
Due: none

feat(predict-container): route jra jockey-pedigree and prior-corner cell variants
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/src/predict_lib/cell_routing.json
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_cell_router.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
Due: oxfmt

fix(predict-container): run focused-full through guarded detached dispatch and gate debug log streaming
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: none

docs(predict-container): rewrite deploy runbook for current production state
  apps/finish-position-predict-container/DEPLOY.md
Due: oxfmt

feat(finish-position-features): add jra jockey/pedigree empirical-bayes cell features
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-jra-jockey-pedigree-cell-features.py
  apps/pc-keiba-viewer/tests/test_add_jra_jockey_pedigree_cell_features.py
Due: none

test(pc-keiba-viewer): cover translate_categorical_threshold with out-of-order categories
  apps/pc-keiba-viewer/tests/test_export_lightgbm_to_json.py
Due: none

feat(finish-position-features): add --target-race focused production mode to pg history staging
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-baba-pedigree-affinity-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-futan-juryo-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-market-signal-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-sectional-and-weight-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-trainer-stable-affinity-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-workout-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add_kohan3f_going_features.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_add_baba_pedigree_affinity_features.py
  apps/pc-keiba-viewer/tests/test_add_futan_juryo_features.py
  apps/pc-keiba-viewer/tests/test_add_kohan3f_going_features.py
  apps/pc-keiba-viewer/tests/test_add_market_signal_features.py
  apps/pc-keiba-viewer/tests/test_add_sectional_and_weight_features.py
  apps/pc-keiba-viewer/tests/test_add_trainer_stable_affinity_features.py
  apps/pc-keiba-viewer/tests/test_add_workout_features.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: none

feat(finish-position-features): add target_corner_2_norm label and corner2-4 running-style history parity
  apps/pc-keiba-viewer/src/scripts/build_running_style_feature_batch.py
  apps/pc-keiba-viewer/src/scripts/corner_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_selection_policy.py
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_build_running_style_feature_batch.py
  apps/pc-keiba-viewer/tests/test_corner_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_feature_selection_policy.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
  apps/pc-keiba-viewer/tests/test_finish_position_xgboost.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_lightgbm_walk_forward.py
  apps/pc-keiba-viewer/tests/test_tune_finish_position_jra_cb.py
  apps/pc-keiba-viewer/tests/test_tune_finish_position_nar_xgb.py
Due: none

docs(finish-position): document nar clean retrain, jra cell routing, and focused-completion model-version guard
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(mlflow): add mlflow integration map to the prediction system doc
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(mlflow): record tool-calls tab zero-count investigation verdict
  apps/mlflow/README.md
  apps/mlflow/src/mlflow_tracking/trace_emit.py
Due: oxfmt

feat(predict-container): route JRA Hakodate (venue 02) to jockey-pedigree269 variant
  apps/finish-position-predict-container/src/predict_lib/cell_routing.json
  apps/finish-position-predict-container/tests/test_cell_router.py
Due: oxfmt

fix(mlflow-ui): launchd plist no longer embeds secrets
  apps/mlflow-ui/README.md
  apps/mlflow-ui/src/mlflow_ui/launchd.py
  apps/mlflow-ui/tests/test_launchd.py
Due: oxfmt

docs(finish-position): record clean re-verification of 8 leak-era REJECTs
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position-accuracy): close Lever 3 isotonic calibration, correct H1 never-tried claim
  docs/finish-position-accuracy/history/goal-plan-C-top1-levers.md
  docs/finish-position-accuracy/history/jra-hypo-error-analysis.md
Due: oxfmt

feat(finish-position-cron): enable per-race JRA rescore via container mode=rescore
  apps/finish-position-cron/src/race-coordinator.test.ts
  apps/finish-position-cron/src/race-coordinator.ts
  apps/finish-position-cron/src/scoring/rescore-consumer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(mlflow): add 60-day trailing window to daily champion cell-eval
  apps/mlflow/scripts/launchd/mlflow-production-sync-daily.sh
Due: shellcheck

docs(finish-position): record 2026-07-11 session campaign summary
  apps/pc-keiba-viewer/docs/probes/session-2026-07-11-campaign-summary.md
Due: oxfmt

fix(finish-position-cron): disable per-race rescore coordinator, R2 cache never populated
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt

docs(finish-position): add d60-nar-residual's NAR reference-mismatch finding
  apps/pc-keiba-viewer/docs/probes/session-2026-07-11-campaign-summary.md
Due: oxfmt

docs(finish-position): confirm rescore worker-native path was correctly avoided
  apps/pc-keiba-viewer/docs/probes/session-2026-07-11-campaign-summary.md
Due: oxfmt

docs(finish-position): correct jvd_ra contamination scope and confirm RS v1 deploy
  apps/pc-keiba-viewer/docs/probes/session-2026-07-11-campaign-summary.md
Due: oxfmt

fix(pc-keiba-viewer): derive similar-race target key from the target's own columns
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-similar-race-features.py
  apps/pc-keiba-viewer/tests/test_add_similar_race_features.py
Due: none

feat(mlflow): add weekly all-period champion cell-eval to daily sync cron
  apps/mlflow/scripts/launchd/mlflow-production-sync-daily.sh
Due: shellcheck

fix(finish-position): reinstate generic cell-routing display priority + stop Mac image staleness
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/finish-position-cell-routing.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-cell-routing.ts
  docs/finish-position-prediction-system.md
  scripts/launchd/finish-position-predict-daily.sh
Due: shellcheck, oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): repoint stale REALTIME_HOT_DB binding to sync-realtime-data-hot-v2
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt

fix(pc-keiba-viewer): ASOF-join near-miss + baba-pedigree affinity, fixing serve-time NULL
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-baba-pedigree-affinity-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-near-miss-features.py
  apps/pc-keiba-viewer/tests/test_add_baba_pedigree_affinity_features.py
  apps/pc-keiba-viewer/tests/test_add_near_miss_features.py
Due: none

docs(mlflow): document ad-hoc dotenv-loading bug behind phantom runs
  docs/mlflow-tracking.md
Due: oxfmt

docs(mlflow): add backfill-running-style champion-sync trap to §15
  docs/mlflow-tracking.md
Due: oxfmt

fix(finish-position): surface NAR transformer blend + restore Mac blend flag
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/finish-position-cell-routing.ts
  docs/finish-position-prediction-system.md
  scripts/launchd/finish-position-predict-daily.sh
Due: shellcheck, oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): restore default-OFF for finish-position odds/popularity correction
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
Due: none

fix(pc-keiba-viewer): self-healing RS_VERSION_PREF fallback in pacestyle join
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-pacestyle-features.py
  apps/pc-keiba-viewer/tests/test_add_pacestyle_features.py
Due: none

fix(local-postgresql): protect WF eval tables from replica-push TRUNCATE
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): fail closed on WIN5 average-payout, no fabricated fallback
  apps/pc-keiba-viewer/src/app/win5/win5-prediction-panel.test.tsx
  apps/pc-keiba-viewer/src/app/win5/win5-prediction-panel.tsx
  apps/pc-keiba-viewer/src/lib/win5-queries.server.test.ts
  apps/pc-keiba-viewer/src/lib/win5-queries.server.ts
  apps/pc-keiba-viewer/src/lib/win5/prediction.test.ts
  apps/pc-keiba-viewer/src/lib/win5/prediction.ts
  apps/pc-keiba-viewer/src/lib/win5/types.ts
  apps/pc-keiba-viewer/src/scripts/walk-forward-win5-eval.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position-predict-container): derive field_band from entries length, not shusso_tosu
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/tests/test_cell_router.py
Due: none

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
