Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

Use expected race fallback in hot health
  apps/sync-realtime-data-hot/src/monitor/health.test.ts
  apps/sync-realtime-data-hot/src/monitor/health.ts
Due: oxfmt, oxlint, tsc, vitest

feat(mlflow): history backfill extensions and authenticated UI proxy worker
  apps/mlflow-ui-proxy/.gitignore
  apps/mlflow-ui-proxy/README.md
  apps/mlflow-ui-proxy/package.json
  apps/mlflow-ui-proxy/src/auth.test.ts
  apps/mlflow-ui-proxy/src/auth.ts
  apps/mlflow-ui-proxy/src/index.ts
  apps/mlflow-ui-proxy/src/proxy.test.ts
  apps/mlflow-ui-proxy/src/proxy.ts
  apps/mlflow-ui-proxy/src/types.ts
  apps/mlflow-ui-proxy/src/worker.test.ts
  apps/mlflow-ui-proxy/src/worker.ts
  apps/mlflow-ui-proxy/tsconfig.json
  apps/mlflow-ui-proxy/vitest.config.ts
  apps/mlflow-ui-proxy/wrangler.jsonc
  apps/mlflow/src/mlflow_tracking/backfill_finish_position.py
  apps/mlflow/src/mlflow_tracking/cli.py
  apps/mlflow/src/mlflow_tracking/ingest_local_pg_history.py
  apps/mlflow/tests/test_backfill_finish_position.py
  apps/mlflow/tests/test_cli.py
  apps/mlflow/tests/test_ingest_local_pg_history.py
  bun.lock
  lefthook.yml
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): wire training loop to MLflow with cell-level eval
  apps/pc-keiba-viewer/src/scripts/aggregate_bucket_eval_duckdb.py
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/mlflow_hook.py
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/serve_accuracy_report.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/conftest.py
  apps/pc-keiba-viewer/tests/test_aggregate_bucket_eval_duckdb.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_mlflow_hook.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_xgboost_walk_forward.py
Due: none

fix(mlflow-ui-proxy): strip Origin/Referer to satisfy MLflow cross-origin guard
  apps/mlflow-ui-proxy/README.md
  apps/mlflow-ui-proxy/src/proxy.test.ts
  apps/mlflow-ui-proxy/src/proxy.ts
Due: oxfmt, oxlint, tsc, vitest

feat(mlflow): migrate backend store to Neon Postgres, stage R2 artifacts
  .env.example
  apps/mlflow-ui/pyproject.toml
  apps/mlflow-ui/src/mlflow_ui/cli.py
  apps/mlflow-ui/src/mlflow_ui/config.py
  apps/mlflow-ui/tests/conftest.py
  apps/mlflow-ui/tests/test_cli.py
  apps/mlflow-ui/tests/test_config.py
  apps/mlflow-ui/uv.lock
  apps/mlflow/pyproject.toml
  apps/mlflow/src/mlflow_tracking/cli.py
  apps/mlflow/src/mlflow_tracking/config.py
  apps/mlflow/tests/conftest.py
  apps/mlflow/tests/test_cli.py
  apps/mlflow/tests/test_config.py
  apps/mlflow/uv.lock
  docs/mlflow-tracking.md
Due: oxfmt

fix(mlflow): harden test isolation after production-store write incident
  apps/mlflow-ui/README.md
  apps/mlflow/tests/conftest.py
  apps/mlflow/tests/test_cli.py
  apps/mlflow/tests/test_config.py
Due: oxfmt

feat(mlflow): accuracy timelines so history renders as charts in the UI
  apps/mlflow/README.md
  apps/mlflow/src/mlflow_tracking/backfill_serve_timeline.py
  apps/mlflow/src/mlflow_tracking/cli.py
  apps/mlflow/src/mlflow_tracking/config.py
  apps/mlflow/src/mlflow_tracking/ingest_eval.py
  apps/mlflow/src/mlflow_tracking/timeline.py
  apps/mlflow/src/mlflow_tracking/training_run.py
  apps/mlflow/tests/test_backfill_serve_timeline.py
  apps/mlflow/tests/test_cli.py
  apps/mlflow/tests/test_config.py
  apps/mlflow/tests/test_ingest_eval.py
  apps/mlflow/tests/test_timeline.py
  apps/mlflow/tests/test_training_run.py
Due: oxfmt

Recover odds writes when hot D1 is full
  apps/sync-realtime-data-hot/src/fetch-odds.test.ts
  apps/sync-realtime-data-hot/src/fetch-odds.ts
  apps/sync-realtime-data-hot/src/storage.test.ts
  apps/sync-realtime-data-hot/src/storage.ts
Due: oxfmt, oxlint, tsc, vitest

Move hot odds payloads to R2
  apps/sync-realtime-data-hot/pipelines/odds-catalog-pipeline.sql
  apps/sync-realtime-data-hot/pipelines/odds-catalog-stream.schema.json
  apps/sync-realtime-data-hot/src/fetch-odds.test.ts
  apps/sync-realtime-data-hot/src/fetch-odds.ts
  apps/sync-realtime-data-hot/src/r2-odds-store.test.ts
  apps/sync-realtime-data-hot/src/r2-odds-store.ts
  apps/sync-realtime-data-hot/src/types.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
  apps/sync-realtime-data-hot/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

Route hot odds imports to R2
  apps/sync-realtime-data-hot/src/r2-odds-store.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

Read trend odds from hot worker
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.test.ts
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.test.ts
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.ts
  apps/pc-keiba-viewer/src/lib/race-trend-payload.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-payload.server.ts
Due: oxfmt, oxlint, tsc, vitest

Remove legacy D1 odds cache helpers
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.ts
  apps/pc-keiba-viewer/src/lib/dev-realtime-scraper.server.ts
  apps/sync-realtime-data-hot/CLAUDE.md
  apps/sync-realtime-data-hot/pipelines/README.md
  apps/sync-realtime-data-hot/src/gates/edge-cache.test.ts
  apps/sync-realtime-data-hot/src/gates/edge-cache.ts
  apps/sync-realtime-data-hot/src/types.ts
  apps/sync-realtime-data-hot/src/worker.ts
  apps/sync-realtime-data-hot/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

Add odds R2 cutover verifier
  apps/sync-realtime-data-hot/package.json
  apps/sync-realtime-data-hot/pipelines/README.md
  apps/sync-realtime-data-hot/scripts/run-verify-odds-r2-cutover.ts
  apps/sync-realtime-data-hot/scripts/verify-odds-r2-cutover.test.ts
  apps/sync-realtime-data-hot/scripts/verify-odds-r2-cutover.ts
Due: oxfmt, oxlint, tsc, vitest

Add odds R2 catalog provisioning command
  apps/sync-realtime-data-hot/package.json
  apps/sync-realtime-data-hot/pipelines/README.md
  apps/sync-realtime-data-hot/scripts/provision-odds-r2-catalog.test.ts
  apps/sync-realtime-data-hot/scripts/provision-odds-r2-catalog.ts
  apps/sync-realtime-data-hot/scripts/run-provision-odds-r2-catalog.ts
Due: oxfmt, oxlint, tsc, vitest

feat(mlflow): production-usage tracing, prediction-vs-result eval, champion cell evaluation
  apps/mlflow/README.md
  apps/mlflow/scripts/launchd/com.horse-racing.mlflow-production-sync.plist
  apps/mlflow/scripts/launchd/mlflow-production-sync-daily.sh
  apps/mlflow/src/mlflow_tracking/champion_cell_eval.py
  apps/mlflow/src/mlflow_tracking/cli.py
  apps/mlflow/src/mlflow_tracking/config.py
  apps/mlflow/src/mlflow_tracking/db.py
  apps/mlflow/src/mlflow_tracking/serve_eval.py
  apps/mlflow/src/mlflow_tracking/sync_production.py
  apps/mlflow/tests/test_champion_cell_eval.py
  apps/mlflow/tests/test_cli.py
  apps/mlflow/tests/test_config.py
  apps/mlflow/tests/test_db.py
  apps/mlflow/tests/test_serve_eval.py
  apps/mlflow/tests/test_sync_production.py
  docs/mlflow-tracking.md
Due: shellcheck, oxfmt

Fix odds R2 catalog provisioning SQL path
  apps/sync-realtime-data-hot/scripts/provision-odds-r2-catalog.test.ts
  apps/sync-realtime-data-hot/scripts/provision-odds-r2-catalog.ts
Due: oxfmt, oxlint, tsc, vitest

Add odds delete endpoint with cache purge
  apps/sync-realtime-data-hot/src/r2-odds-store.test.ts
  apps/sync-realtime-data-hot/src/r2-odds-store.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

Drop legacy D1 odds storage
  apps/sync-realtime-data-hot/migrations/0006_drop_odds_snapshots.sql
  apps/sync-realtime-data-hot/package.json
  apps/sync-realtime-data-hot/pipelines/README.md
  apps/sync-realtime-data-hot/scripts/verify-odds-r2-cutover.test.ts
  apps/sync-realtime-data-hot/scripts/verify-odds-r2-cutover.ts
  apps/sync-realtime-data-hot/src/fetch-odds.test.ts
  apps/sync-realtime-data-hot/src/gates/r2-archive.test.ts
  apps/sync-realtime-data-hot/src/gates/r2-archive.ts
  apps/sync-realtime-data-hot/src/monitor/health.test.ts
  apps/sync-realtime-data-hot/src/monitor/health.ts
  apps/sync-realtime-data-hot/src/storage.test.ts
  apps/sync-realtime-data-hot/src/storage.ts
  apps/sync-realtime-data-hot/src/types.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
  apps/sync-realtime-data-hot/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(mlflow): apply 6-perspective review findings
  .gitignore
  apps/mlflow-ui/README.md
  apps/mlflow-ui/src/mlflow_ui/config.py
  apps/mlflow-ui/src/mlflow_ui/server.py
  apps/mlflow-ui/tests/test_config.py
  apps/mlflow-ui/tests/test_launchd.py
  apps/mlflow-ui/tests/test_server.py
  apps/mlflow/README.md
  apps/mlflow/scripts/launchd/mlflow-production-sync-daily.sh
  apps/mlflow/src/mlflow_tracking/backfill_running_style.py
  apps/mlflow/src/mlflow_tracking/cells.py
  apps/mlflow/src/mlflow_tracking/champion_cell_eval.py
  apps/mlflow/src/mlflow_tracking/cli.py
  apps/mlflow/src/mlflow_tracking/ingest_eval.py
  apps/mlflow/src/mlflow_tracking/registry.py
  apps/mlflow/src/mlflow_tracking/sync_production.py
  apps/mlflow/src/mlflow_tracking/timeline.py
  apps/mlflow/tests/test_backfill_running_style.py
  apps/mlflow/tests/test_cells.py
  apps/mlflow/tests/test_champion_cell_eval.py
  apps/mlflow/tests/test_cli.py
  apps/mlflow/tests/test_ingest_eval.py
  apps/mlflow/tests/test_registry.py
  apps/mlflow/tests/test_sync_production.py
  apps/mlflow/tests/test_timeline.py
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/cli.py
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
  apps/pc-keiba-viewer/tests/test_finish_position_transformer.py
  docs/mlflow-tracking.md
Due: shellcheck, oxfmt

fix(mlflow): duplicate-version guard for both finish-position backfill paths
  apps/mlflow/src/mlflow_tracking/backfill_finish_position.py
  apps/mlflow/tests/test_backfill_finish_position.py
Due: none

fix(local-postgresql): protect finish-position Neon predictions from replica push
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

feat(mlflow): widen serving-gap detection - banei oracle, live/backfill split, champion gaps
  apps/mlflow/src/mlflow_tracking/cli.py
  apps/mlflow/src/mlflow_tracking/serve_eval.py
  apps/mlflow/src/mlflow_tracking/sync_production.py
  apps/mlflow/tests/test_cli.py
  apps/mlflow/tests/test_serve_eval.py
  apps/mlflow/tests/test_sync_production.py
Due: none

fix(mlflow): timeline v2 step scheme so charts render in the MLflow UI
  apps/mlflow/src/mlflow_tracking/backfill_serve_timeline.py
  apps/mlflow/src/mlflow_tracking/migrate_timeline_v2.py
  apps/mlflow/src/mlflow_tracking/timeline.py
  apps/mlflow/tests/test_backfill_serve_timeline.py
  apps/mlflow/tests/test_migrate_timeline_v2.py
  apps/mlflow/tests/test_timeline.py
Due: none

fix(mlflow): champion cell-eval counts cell-routed variants as champion-derived
  apps/mlflow/src/mlflow_tracking/champion_cell_eval.py
  apps/mlflow/tests/test_champion_cell_eval.py
Due: none

feat(mlflow): per-cell individual evaluation runs (eval-cells)
  apps/mlflow/src/mlflow_tracking/cell_eval_runs.py
  apps/mlflow/tests/test_cell_eval_runs.py
Due: none

feat(mlflow): exact-position accuracy for ranks 4-6 with small-field guards
  apps/mlflow/src/mlflow_tracking/logging_api.py
  apps/mlflow/src/mlflow_tracking/refresh_eval_metrics.py
  apps/mlflow/src/mlflow_tracking/serve_eval.py
  apps/mlflow/tests/test_logging_api.py
  apps/mlflow/tests/test_refresh_eval_metrics.py
  apps/mlflow/tests/test_serve_eval.py
Due: none

feat(mlflow): per-race production traces power Usage/Quality/Tool-calls
  apps/mlflow/src/mlflow_tracking/backfill_traces.py
  apps/mlflow/src/mlflow_tracking/trace_emit.py
  apps/mlflow/tests/test_backfill_traces.py
  apps/mlflow/tests/test_trace_emit.py
Due: none

feat(mlflow): integrate v2 timelines, cell eval, place4-6 and traces
  apps/mlflow/README.md
  apps/mlflow/scripts/launchd/mlflow-production-sync-daily.sh
  apps/mlflow/src/mlflow_tracking/cli.py
  apps/mlflow/src/mlflow_tracking/config.py
  apps/mlflow/src/mlflow_tracking/ingest_eval.py
  apps/mlflow/src/mlflow_tracking/sync_production.py
  apps/mlflow/tests/test_cli.py
  apps/mlflow/tests/test_config.py
  apps/mlflow/tests/test_ingest_eval.py
  apps/mlflow/tests/test_sync_production.py
  apps/mlflow/tests/test_training_run.py
Due: shellcheck, oxfmt

fix(running-style): translate categorical split thresholds to raw values on export
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/export_lightgbm_to_json.py
  apps/pc-keiba-viewer/tests/test_export_lightgbm_to_json.py
Due: oxfmt

test(pc-keiba-viewer): enforce coverage for mlflow_hook
  apps/pc-keiba-viewer/pyproject.toml
Due: oxfmt

feat(mlflow): job-execution traces populate every experiment's observability tabs
  apps/mlflow/README.md
  apps/mlflow/src/mlflow_tracking/backfill_finish_position.py
  apps/mlflow/src/mlflow_tracking/backfill_running_style.py
  apps/mlflow/src/mlflow_tracking/backfill_serve_timeline.py
  apps/mlflow/src/mlflow_tracking/cell_eval_runs.py
  apps/mlflow/src/mlflow_tracking/champion_cell_eval.py
  apps/mlflow/src/mlflow_tracking/ingest_eval.py
  apps/mlflow/src/mlflow_tracking/sync_production.py
  apps/mlflow/src/mlflow_tracking/trace_emit.py
  apps/mlflow/src/mlflow_tracking/training_run.py
  apps/mlflow/tests/test_backfill_finish_position.py
  apps/mlflow/tests/test_backfill_running_style.py
  apps/mlflow/tests/test_backfill_serve_timeline.py
  apps/mlflow/tests/test_cell_eval_runs.py
  apps/mlflow/tests/test_champion_cell_eval.py
  apps/mlflow/tests/test_ingest_eval.py
  apps/mlflow/tests/test_sync_production.py
  apps/mlflow/tests/test_trace_emit.py
  apps/mlflow/tests/test_training_run.py
Due: oxfmt

Migrate venue weather to R2 catalog
  apps/venue-weather/migrations/0001_create_venue_weather.sql
  apps/venue-weather/package.json
  apps/venue-weather/pipelines/README.md
  apps/venue-weather/pipelines/weather-catalog-pipeline.sql
  apps/venue-weather/pipelines/weather-catalog-stream.schema.json
  apps/venue-weather/scripts/backfill-r2-catalog.py
  apps/venue-weather/src/scheduled.test.ts
  apps/venue-weather/src/scheduled.ts
  apps/venue-weather/src/types.ts
  apps/venue-weather/src/weather-d1-reader.test.ts
  apps/venue-weather/src/weather-d1-reader.ts
  apps/venue-weather/src/weather-d1.test.ts
  apps/venue-weather/src/weather-d1.ts
  apps/venue-weather/src/weather-handler.test.ts
  apps/venue-weather/src/weather-handler.ts
  apps/venue-weather/src/weather-queue.test.ts
  apps/venue-weather/src/weather-queue.ts
  apps/venue-weather/src/weather-r2-store.test.ts
  apps/venue-weather/src/weather-r2-store.ts
  apps/venue-weather/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

Update 2026 venue weather data
  apps/venue-weather/data/venue_weather_2026.duckdb
Due: none

feat(mlflow): detect partial finish-position serving coverage via race-calendar oracle
  apps/mlflow/README.md
  apps/mlflow/src/mlflow_tracking/cli.py
  apps/mlflow/src/mlflow_tracking/serve_eval.py
  apps/mlflow/src/mlflow_tracking/sync_production.py
  apps/mlflow/src/mlflow_tracking/timeline.py
  apps/mlflow/tests/test_cli.py
  apps/mlflow/tests/test_serve_eval.py
  apps/mlflow/tests/test_sync_production.py
  apps/mlflow/tests/test_timeline.py
Due: oxfmt

docs(mlflow): correct trace-output section to match shipped tracingclient behavior
  docs/mlflow-tracking.md
Due: oxfmt

fix(sync-realtime-data-hot): scope expected-race-count last-known-good cache by date
  apps/sync-realtime-data-hot/src/expected-race-count.test.ts
  apps/sync-realtime-data-hot/src/expected-race-count.ts
  apps/sync-realtime-data-hot/src/monitor/health.test.ts
  apps/sync-realtime-data-hot/src/monitor/health.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data-hot): bind recent-errors cutoff as jst to match fetch_logs timestamps
  apps/sync-realtime-data-hot/src/monitor/health.test.ts
  apps/sync-realtime-data-hot/src/monitor/health.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data-hot): prefer freshly generated nar odds links and skip redundant d1 writes
  apps/sync-realtime-data-hot/src/fetch-odds.test.ts
  apps/sync-realtime-data-hot/src/fetch-odds.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync-realtime-data-hot): add manual run-fetch-odds internal endpoint
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
