Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

Render race AI prediction table after answer
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
Due: none

Stabilize race AI model downloads
  apps/pc-keiba-viewer/src/app/api/models/gemma-4-e2b/[version]/[file]/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/mypage/race-ai-settings-panel.tsx
  apps/pc-keiba-viewer/src/app/race-ai-consent-manager.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-model-manager.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-storage.ts
  apps/pc-keiba-viewer/src/app/vars.css
Due: oxfmt, oxlint, tsc, vitest

Download race AI model in ranges
  apps/pc-keiba-viewer/src/app/api/models/gemma-4-e2b/[version]/[file]/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-model-manager.ts
Due: oxfmt, oxlint, tsc, vitest

Resume race AI model downloads
  apps/pc-keiba-viewer/src/app/ai/ai-playground.tsx
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/mypage/race-ai-settings-panel.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-model-manager.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-storage.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-storage.ts
Due: oxfmt, oxlint, tsc, vitest

Avoid materializing model during cache download
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-model-manager.ts
Due: oxfmt, oxlint, tsc, vitest

Avoid loading cached model data on mypage
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-storage.ts
Due: oxfmt, oxlint, tsc, vitest

Make mobile header opaque
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

Prevent mobile AI playground auto load
  apps/pc-keiba-viewer/src/app/ai/ai-playground.tsx
Due: none

Hide race AI on mobile browsers
  apps/pc-keiba-viewer/src/app/race-ai-consent-manager.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-device.ts
Due: oxfmt, oxlint, tsc, vitest

Show race AI predictions in chat history
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-default-prompt.ts
Due: oxfmt, oxlint, tsc, vitest

Let race AI answer from selected data
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-default-prompt.ts
  apps/pc-keiba-viewer/src/app/vars.css
Due: oxfmt, oxlint, tsc, vitest

Update race trends and running style pipeline
  FINISH_POSITION_PREDICTION_DESIGN.md
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-race-internal-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/optimize-ensemble-top1.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lite_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/training.py
  apps/pc-keiba-viewer/src/scripts/predict_finish_position_lite.py
  apps/sync-realtime-data/migrations/0019_running_style_inference_state.sql
  apps/sync-realtime-data/src/finish-position-lite-cron.ts
  apps/sync-realtime-data/src/finish-position-lite-features.ts
  apps/sync-realtime-data/src/finish-position-lite-inference.ts
  apps/sync-realtime-data/src/finish-position-lite-pool.ts
  apps/sync-realtime-data/src/finish-position-lite-queue.ts
  apps/sync-realtime-data/src/finish-position-lite-tree.ts
  apps/sync-realtime-data/src/running-style-cron.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/running-style-d1.ts
  apps/sync-realtime-data/src/running-style-features.ts
  apps/sync-realtime-data/src/running-style-inference.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
  assets/ai/almondeye_top.png
Due: oxfmt, oxlint, tsc, vitest

Respect manual race AI chat scroll
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
Due: none

Align race AI stop action
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

Improve race AI answer paragraphing
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-default-prompt.ts
Due: oxfmt, oxlint, tsc, vitest

Improve race AI autonomous predictions
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/ai/data/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-default-prompt.ts
  apps/pc-keiba-viewer/src/app/vars.css
Due: oxfmt, oxlint, tsc, vitest

Refine race AI prompt context
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-default-prompt.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-storage.ts
Due: oxfmt, oxlint, tsc, vitest

Stabilize race AI streaming responses
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-default-prompt.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position): add XGBoost/CatBoost rankers and post-processor features for +10% accuracy
  .gitignore
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-futan-juryo-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-workout-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/blend-and-insert.py
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/uv.lock
Due: oxfmt

Improve race AI betting and trend tables
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-default-prompt.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest
