Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

docs(banei-exotic-extended): extended WF rejudge verdict
  docs/finish-position-accuracy/history/banei-exotic-extended-rejudge.md
Due: oxfmt

feat(rs-calibration): wire isotonic calibrators to TS serving path + deploy
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/running-style-verification.test.ts
  apps/sync-realtime-data/src/running-style-verification.ts
  docs/finish-position-accuracy/history/rs-calibration-implementation.md
Due: oxfmt, oxlint, tsc, vitest

docs(exotic-odds-place-verify): actual WF 2023-2026 re-run results + bug fix note
  docs/finish-position-accuracy/history/exotic-odds-place-verify.md
Due: oxfmt

docs(nar-exotic-ingest-fix-reverify): gap root cause + Phase 2-alt sanrenpuku-only ADOPT-READY
  docs/finish-position-accuracy/history/nar-exotic-ingest-fix-reverify.md
Due: oxfmt

docs(sanrenpuku-serve-gate): STOP verdict — NAR 3renpuku unavailable at 03:00 JST
  docs/finish-position-accuracy/history/sanrenpuku-serve-gate.md
Due: oxfmt

feat(nar-exotic-serve): parse sanrenpuku from hot worker + wire exotic layer to NAR chain
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/src/realtime_odds_fetcher.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_realtime_odds_fetcher.py
  docs/finish-position-accuracy/history/nar-exotic-production-deploy.md
Due: oxfmt

docs(jra-rs-decision-rules): REJECT bias / ABORT hierarchical — post-hoc frontier confirmed
  docs/finish-position-accuracy/history/jra-rs-decision-rules.md
Due: oxfmt

docs(graded-relevance-experiments): full experiment results — NAR D+B ADOPT, JRA REJECT, Banei no-survivor
  docs/finish-position-accuracy/history/graded-relevance-experiments.md
Due: oxfmt

docs(jra-0614-preflight): pre-flight check for 2026-06-14 JRA serve — NO-GO, split2 rebuild required
  docs/finish-position-accuracy/history/jra-0614-preflight.md
Due: oxfmt

docs(jra-fukusho-odds-probe): ABORT — fukusho partial ρ ≤0.024 for top3/top2, collinear with tansho
  docs/finish-position-accuracy/history/jra-fukusho-odds-probe.md
Due: oxfmt

docs(finish-position-accuracy): JRA rs class-weight optimization — balanced2 ADOPT-READY w/ serve-path caveat
  docs/finish-position-accuracy/history/jra-rs-classweight-optimization.md
Due: oxfmt

docs(nar-schemeD-deploy-judge): REJECT — full-system judge shows regression vs production
  docs/finish-position-accuracy/history/nar-schemeD-deploy-judge.md
Due: oxfmt

docs(graded-relevance-experiments): supersession note — NAR scheme-D base-model ADOPT overturned by full-system deploy judge REJECT
  docs/finish-position-accuracy/history/graded-relevance-experiments.md
Due: oxfmt

docs(finish-position-accuracy): JRA training-procedure hypotheses — serve-realistic blend re-opt, co-train, window ablation, HPO, od_wait
  docs/finish-position-accuracy/history/jra-hypo-training-procedure.md
Due: oxfmt

docs(jra-rejection-gaps): gap analysis of JRA rejection corpus — 2 clean re-opens + 1 untested
  docs/finish-position-accuracy/history/jra-hypo-rejection-gaps.md
Due: oxfmt

docs(jra-hypo-error-analysis): bottom-up error analysis + 5 novel hypotheses from 2023-26 holdout slices
  docs/finish-position-accuracy/history/jra-hypo-error-analysis.md
Due: oxfmt

feat(serve-accuracy-harness): add JRA/NAR serve-accuracy validation harness
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
  docs/finish-position-accuracy/history/jra-serve-validation-harness.md
Due: oxfmt

fix(running-style): exclude rs_p_* leak columns from training feature set
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
Due: none

feat(viewer): show jockey name in paddock recent results section
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: none

feat(running-style): add balanced2 class-weight scheme for production training
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  apps/sync-realtime-data/src/running-style-calibration.test.ts
  docs/finish-position-accuracy/calibrators/jra-rs-v4-identity-calibrators.json
  docs/finish-position-accuracy/history/jra-rs-classweight-optimization.md
Due: oxfmt, oxlint, tsc, vitest

docs(jra-rs-classweight): FINAL DECISION — balanced2 production flip REJECTED at serve path (per-class regression)
  docs/finish-position-accuracy/history/jra-rs-classweight-optimization.md
Due: oxfmt

fix(container): unwire exotic layer from NAR LAYER_CHAIN until #289 deploys
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
Due: none

docs(jra-0614-preflight): add 2026-06-13 hotfix section — exotic layer unwired, smoke PASS
  docs/finish-position-accuracy/history/jra-0614-preflight.md
Due: oxfmt

docs(jra-rs-v4): PROD-INCIDENT-AVERTED — revert v4 to v3 (25 missing features)
  docs/finish-position-accuracy/history/jra-rs-classweight-optimization.md
Due: oxfmt

feat(finish-position): JRA kohan3f going-conditional features — ADOPT-pending-deploy
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add_kohan3f_going_features.py
  apps/pc-keiba-viewer/tests/test_add_kohan3f_going_features.py
  docs/finish-position-accuracy/history/jra-kohan3f-verify.md
Due: oxfmt

fix(realtime-hot): keep JRA odds gate open through overnight advance-sale window
  apps/sync-realtime-data-hot/CLAUDE.md
  apps/sync-realtime-data-hot/src/gates/polling-window-gate.test.ts
  apps/sync-realtime-data-hot/src/gates/polling-window-gate.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position): deploy iter19-jra-cb-kohan3f-going-v8 (base-only)
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/per_class.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_per_class.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_upcoming.py
Due: none

docs(iter19-deploy): deployment log for iter19-jra-cb-kohan3f-going-v8
  docs/finish-position-accuracy/history/iter19-deploy.md
Due: oxfmt

docs(jra-rs-v4.1): deploy balanced2@134feat with serve-path parity — validation gate +1.25pp macro-F1, regen 2026-06-13
  docs/finish-position-accuracy/history/jra-rs-classweight-optimization.md
Due: oxfmt

docs(rs-classweight): PROD-INCIDENT-2 — v4.1 identity-calibrators revert
  docs/finish-position-accuracy/history/jra-rs-classweight-optimization.md
Due: oxfmt

docs(rs-adjudication): CONFIG-A wins 4/4 splits — v3+fitted-calibrators definitively beats v4.1+raw-argmax
  docs/finish-position-accuracy/history/jra-rs-classweight-optimization.md
Due: oxfmt

fix(realtime): weight-watchdog JST bounds + bound forwardRaceForFeatures wall-time
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): odds-correction checkbox default OFF + localStorage + maiden de-popularity
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

docs(maiden-echo-diagnosis): backend ρ=-0.075 for maiden — echo is client-overlay-dominant
  docs/finish-position-accuracy/history/maiden-popularity-echo-diagnosis.md
Due: oxfmt

fix(finish-position-prediction): do not pass marketOverrides when oddsCorrectionEnabled=false
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): add flex gap to odds-toggle row + dedicated hint style
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

docs(oddscorrection-audit): coverage audit — horse-race-results-table event path bypasses toggle
  docs/finish-position-accuracy/history/oddscorrection-coverage-audit.md
Due: oxfmt

fix(finish-position-prediction): remove stale event-listener path, force odds correction in AI/JSON export
  apps/pc-keiba-viewer/src/app/races/detail/ai-json-export-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-data.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): replace single odds checkbox with 8 per-feature correction toggles
  apps/pc-keiba-viewer/src/app/races/detail/ai-json-export-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-data.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position): add bulk on/off master checkbox for correction toggles
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
Due: oxfmt
