Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

feat(features): add similar-race context features (19 new columns)
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-similar-race-features.py
  apps/pc-keiba-viewer/tests/test_add_similar_race_features.py
Due: oxfmt

fix(features): per-year processing in add-similar-race-features to prevent OOM
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-similar-race-features.py
  apps/pc-keiba-viewer/tests/test_add_similar_race_features.py
Due: none

feat(predict): deploy sim_* models for JRA+Ban-ei, REJECT NAR
  apps/finish-position-predict-container/src/predict_lib/model_meta.json
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_per_class.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_upcoming.py
Due: oxfmt

feat(predict): add cell-level model routing for per-cell sim/base selection
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/src/predict_lib/cell_routing.json
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_cell_router.py
Due: oxfmt

feat(learning): add place2-6 accuracy metrics to subgroup diagnostics
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

fix(predict): use per-routing base_architecture for cell model loading and scoring
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/src/predict_lib/cell_routing.json
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_cell_router.py
Due: oxfmt

chore(local-postgresql): migrate shell scripts to Apple Container CLI
  apps/local-postgresql/package.json
  apps/local-postgresql/scripts/create-neon-subscription.sh
  apps/local-postgresql/scripts/psql.sh
  apps/local-postgresql/scripts/start.sh
  apps/local-postgresql/scripts/stop.sh
  scripts/start-db-and-viewer.sh
Due: shellcheck, oxfmt

feat(local-postgresql): migrate push-neon-sync to Apple Container CLI and warn-skip unknown strategy tables
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

fix(local-postgresql): sync tables without sync profile via full-replace fallback
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

fix(predict-cron): use host.docker.internal so docker predict container reaches Apple-CLI PG
  scripts/launchd/README.md
  scripts/launchd/finish-position-predict-daily.sh
Due: shellcheck, oxfmt

fix(predict): align race_year partition schema across layer scripts to unblock pd.read_parquet merge
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-similar-race-features.py
  apps/pc-keiba-viewer/tests/test_add_similar_race_features.py
Due: none

feat(realtime): guard premium-paddock to JRA-only + content-hash dedup to cut D1 writes
  apps/sync-realtime-data/migrations/0028_premium_paddock_content_hashes.sql
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(learning): add sire×venue×surface×distance bias features + cell-level eval persistence
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
Due: none

feat(predict): multi-dimension cell routing + sire venue bias production layer
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/src/predict_lib/cell_routing.json
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/tests/test_cell_router.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-sire-venue-bias-features.py
Due: oxfmt

test(viewer): add unit tests for sire venue bias feature script
  apps/pc-keiba-viewer/tests/test_add_sire_venue_bias_features.py
Due: none

feat(viewer): 競走成績グラフの俯瞰・馬別で出走予定レースの値を表示
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.tsx
Due: none

fix(viewer): dev:https をデフォルトで remote Cloudflare バインディング接続にして D1 着順テーブル未検出エラーを解消
  apps/pc-keiba-viewer/package.json
Due: oxfmt

feat(viewer): add surface switch (芝替わり/ダート替わり) display to race detail and paddock screens
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/lib/surface-switch.test.ts
  apps/pc-keiba-viewer/src/lib/surface-switch.ts
Due: oxfmt, oxlint, tsc, vitest

style(viewer): fix surface switch header 2-line display + colored badges
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/app/vars.css
  apps/pc-keiba-viewer/src/lib/surface-switch.test.ts
  apps/pc-keiba-viewer/src/lib/surface-switch.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-finish-position-predictions.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-finish-position-predictions.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): 競走成績グラフで計量前でも出走予定レースの人気を表示
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.tsx
Due: none

feat(realtime,predict): event-driven per-race rescore trigger on horse weight fetch
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker-rescore-trigger.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): remove display:flex from runner-blinker-cell td to fix row borders
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

fix(viewer): decode netkeiba training pages as utf-8 to stop section-cache mojibake
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/premium/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): 俯瞰グラフの白枠馬のブリンカーリングを可視化
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.tsx
Due: none

fix(viewer): prevent stale finish-prediction cache from hiding predictions
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): disable double-tap zoom on paddock edit screen
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

fix(viewer): apply touch-action:manipulation to all paddock edit children
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

docs(viewer): add JRA barei/moshoku/summer-female-weather probe report
  apps/pc-keiba-viewer/docs/probes/jra-barei-moshoku-summer-female-weather-2026-06-24.md
Due: oxfmt

docs: add weather feature pipeline documentation
  docs/weather-feature-pipeline.md
Due: oxfmt

fix(scripts): resolve list invariance type errors in racing_venue_weather
  scripts/racing_venue_weather.py
  scripts/tests/test_racing_venue_weather.py
  scripts/tests/test_verify_feature_parity.py
  scripts/verify_feature_parity.py
Due: none

style(viewer): reorder surface-switch import alphabetically
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: none

feat(viewer): add cache delete and non-empty payload validation for finish-prediction
  apps/pc-keiba-viewer/src/lib/finish-prediction-inputs-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-inputs-cache.server.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add DELETE endpoint and no-cache headers for finish-prediction section
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): 着順予測テーブルから出走取消の馬を除外
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/prediction-scratch.test.tsx
Due: none

fix(local-postgresql): escalate re-incremental rollback and fall back to full-replace on residual drift
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): align cache-warm endpoints with the page key by switching to getRacesByDate
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-sections/route.test.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-sections/route.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-ssr/route.test.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-ssr/route.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-trends/route.test.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-trends/route.ts
Due: oxfmt, oxlint, tsc, vitest

feat(predict): N-variant cell routing + Container reliability fixes
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/predict-run-coordinator.test.ts
  apps/finish-position-cron/src/predict-run-coordinator.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/queue-producer.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/src/predict_lib/cell_routing.json
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_cell_router.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-finish-position-predictions.test.ts
  apps/pc-keiba-viewer/src/scripts/learning/build_cell_models.py
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/learning/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_build_cell_models.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: oxfmt, oxlint, tsc, vitest

feat(predict): per-race feature generation for CF Container
  apps/finish-position-cron/src/cron-decision.test.ts
  apps/finish-position-cron/src/cron-decision.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: oxfmt, oxlint, tsc, vitest

fix(predict): forward keibajoCode/raceBango to Container URL in full mode
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): show premium training review on latest row when no exact date match
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/premium-training-merge.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/premium-training-merge.ts
Due: oxfmt, oxlint, tsc, vitest
