Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(viewer): 出走馬テーブルのブリンカー列ヘッダーが省略されないよう列幅を6%→9%に調整
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/vars.css
Due: oxfmt

docs: draw+dist-speed place-preserving 全6手法 REJECT/ABORT 総括
  apps/pc-keiba-viewer/docs/probes/jra-draw-distspeed-place-preserving-2026-06-20.md
Due: oxfmt

docs: blinker pattern A-F ablation REJECT — feature importance ≈ 0, top1 −0.116pp
  apps/pc-keiba-viewer/docs/probes/jra-blinker-pattern-af-ablation-2026-06-20.md
Due: oxfmt

feat(viewer): ブリンカー表示改善 — 列ラベル化＆配色刷新・グラフ各点に過去走マーカー・近走テキストにラベル
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/app/vars.css
Due: oxfmt

docs: JRA blinker ablation REJECT — 2 independent runs inconsistent, feature importance zero
  apps/pc-keiba-viewer/docs/probes/jra-blinker-ablation-2026-06-20.md
Due: oxfmt

feat(predict): wire NAR E-top2 per-class override into predict_upcoming.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
Due: none

fix: restore scripts/launchd/ deleted by 782ff95 — launchd EX_CONFIG
  scripts/launchd/README.md
  scripts/launchd/com.kkk4oru.finish-position-predict.plist
  scripts/launchd/com.kkk4oru.race-prediction-guard.plist
  scripts/launchd/finish-position-predict-daily.sh
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck, oxfmt

fix(result-fetch): retry JRA partial results instead of silent-completing
  apps/sync-realtime-data/src/worker.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(predict): per-race feature parquet auto-generation via CF Container
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/cron-decision.test.ts
  apps/finish-position-cron/src/cron-decision.ts
  apps/finish-position-cron/src/ndjson-stream.test.ts
  apps/finish-position-cron/src/ndjson-stream.ts
  apps/finish-position-cron/src/scoring/__fixtures__/empty-cache.parquet
  apps/finish-position-cron/src/scoring/__fixtures__/per-race-cache.parquet
  apps/finish-position-cron/src/scoring/feature-cache.test.ts
  apps/finish-position-cron/src/scoring/feature-cache.ts
  apps/finish-position-cron/src/scoring/rescore-consumer.test.ts
  apps/finish-position-cron/src/scoring/rescore-consumer.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: oxfmt, oxlint, tsc, vitest

feat(predict): auto-rebuild feature parquets when horse weight is available
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/race-coordinator.test.ts
  apps/finish-position-cron/src/race-coordinator.ts
  apps/finish-position-cron/src/types.ts
Due: oxfmt, oxlint, tsc, vitest

feat(predict): weight-rebuild uses rescore mode with 30-min dedup + per-race parquets
  apps/finish-position-cron/src/race-coordinator.test.ts
  apps/finish-position-cron/src/race-coordinator.ts
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): 出走予定レースの馬体重/増減/人気グラフ点にもブリンカーのリングマーカーを表示
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.ts
Due: oxfmt, oxlint, tsc, vitest

feat(predict+viewer): warm viewer prediction cache after weight-rebuild rescore
  apps/finish-position-cron/src/prediction-cache-warm.test.ts
  apps/finish-position-cron/src/prediction-cache-warm.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(premium-race): detect netkeiba login-prompt + retry on auth flakiness
  apps/sync-realtime-data/src/premium-race-parsers.test.ts
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(predict): disable NAR E-top2 — cb-nar-2013-v8 expects 196 features but pool builds 192
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
Due: none

feat(viewer): パドック近走のデフォルト表示をテキストからグラフに変更
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: none

add feature_registry and subgroup_diagnostics for self-improving prediction pipeline
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/feature_registry.py
  apps/pc-keiba-viewer/src/scripts/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: oxfmt

add feature_explorer for Optuna-driven Walk-Forward feature selection
  apps/pc-keiba-viewer/src/scripts/feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
Due: none

feat(feature_explorer): add multi-backend evaluation (XGBoost + CatBoost)
  apps/pc-keiba-viewer/src/scripts/feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
Due: none

feat(continuous_learner): add self-improving learning loop with auto-deploy
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/feature_registry.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
Due: oxfmt

feat: make model_meta.json mandatory and raise errors when missing
  apps/finish-position-predict-container/src/predict_lib/model_meta.json
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
Due: oxfmt

feat(pc-keiba-viewer): add AdaptiveLoadController and Japanese logging to continuous_learner
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/uv.lock
Due: oxfmt

feat(finish_position_lightgbm): add graded_top6 relevance preset and distance-band filtering
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
Due: none

feat(continuous_learner): 詳細な日本語ログ出力と Claude skill の追加
  .claude/skills/continuous-learner.md
  .gitignore
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
Due: oxfmt

refactor(continuous_learner): translate all log messages to English
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
Due: none

fix: resolve 4 code-review issues in continuous learning pipeline
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/feature_registry.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
Due: none

fix: correct 5 code-review findings in learning system
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/feature_registry.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
Due: none

fix: resolve 6 code-review findings in continuous learner pipeline
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/feature_registry.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
Due: none

fix: resolve 5 code-review findings in feature explorer and continuous learner
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/feature_explorer.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
Due: none

fix: remove dead AdaptiveLoadController code and simplify _explore_round
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
Due: none

fix: correct stale mock signatures, add docker timeout, test wiring, update skill doc
  .claude/skills/continuous-learner.md
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
Due: oxfmt

fix: align distance bands, fix NDCG deflation, atomic registry ops
  apps/pc-keiba-viewer/src/scripts/feature_registry.py
  apps/pc-keiba-viewer/src/scripts/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

fix: MLX fallback for Linux and DuckDB sequence sync
  apps/pc-keiba-viewer/src/scripts/corner_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/feature_registry.py
  apps/pc-keiba-viewer/tests/test_corner_lightgbm.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
  apps/pc-keiba-viewer/tests/test_finish_position_transformer.py
Due: none

fix: split MLX neural model try/except to avoid silent discard
  apps/pc-keiba-viewer/src/scripts/corner_lightgbm.py
Due: none

fix: harden feature_registry rollback, NaN guard in NDCG, and split neural model train/predict error handling
  apps/pc-keiba-viewer/src/scripts/corner_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/feature_registry.py
  apps/pc-keiba-viewer/src/scripts/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_corner_lightgbm.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

fix: guard int(finish_position) in compute_race_top1 against NaN
  apps/pc-keiba-viewer/src/scripts/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

fix: guard top3_box against races with fewer than 3 valid finish positions
  apps/pc-keiba-viewer/src/scripts/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

fix(subgroup_diagnostics): guard predicted_rank NaN before top3_box evaluation
  apps/pc-keiba-viewer/src/scripts/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

fix(subgroup_diagnostics): guard idxmin against all-NaN predicted_rank, exclude NaN-ranked horses from NDCG
  apps/pc-keiba-viewer/src/scripts/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

fix(subgroup_diagnostics): restore full-race ideal DCG in compute_race_ndcg
  apps/pc-keiba-viewer/src/scripts/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
