Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

feat(running-style): add P4c short-window self-rate + jockey/trainer pair + field rank features
  apps/sync-realtime-data/src/running-style-feature-sql.test.ts
  apps/sync-realtime-data/src/running-style-feature-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(running-style): add walk-forward CV evaluation to train-production
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
Due: none

feat(running-style): add automated evaluation workflow + Markdown report tool
  .github/workflows/running-style-evaluation.yml
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/evaluate_running_style_pipeline.py
  apps/pc-keiba-viewer/tests/test_evaluate_running_style_pipeline.py
Due: oxfmt

feat(running-style): expose P4b hyperparameter CLI flags on training subcommands
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
Due: none

fix(viewer): exclude bamei from running-style LightGBM features
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
Due: none

feat(viewer): default race-trend display to today for R2+ on both JRA and NAR
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-display.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-display.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime+viewer): derive wakuban for NAR starter rows
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.test.ts
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.ts
  apps/pc-keiba-viewer/src/lib/jra-wakuban.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.ts
  packages/horse-racing-realtime/package.json
  packages/horse-racing-realtime/src/wakuban.test.ts
  packages/horse-racing-realtime/src/wakuban.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): align race_key format with D1 stored 4-colon convention
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/ai/logs/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.test.ts
  apps/pc-keiba-viewer/src/app/horses/[kettoTorokuBango]/horse-running-style-history.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-storage.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.focus.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.test.tsx
  apps/pc-keiba-viewer/src/db/corner-running-style-parsers.test.ts
  apps/pc-keiba-viewer/src/db/corner-running-style-parsers.ts
  apps/pc-keiba-viewer/src/db/d1-query-cache.server.test.ts
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.test.ts
  apps/pc-keiba-viewer/src/lib/running-style-cache.test.ts
  apps/pc-keiba-viewer/src/lib/running-style-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(local-postgresql): harden replica:push against 600s hard-timeout stalls
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

chore(viewer): sync next-env.d.ts routes path back to .next/types
  apps/pc-keiba-viewer/next-env.d.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-data): build verify-postgres features from D1 daily-target when present
  apps/sync-realtime-data/src/running-style-verification.test.ts
  apps/sync-realtime-data/src/running-style-verification.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime-data): add running-style feature parquet materialize/loadOrBuild module
  apps/sync-realtime-data/src/running-style-feature-materialize.test.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime-data): pre-materialize running-style feature parquets at prewarm
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(realtime-data): make running-style queue read R2 parquet first
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime-data): add materialize-running-style-features admin job type
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-hot): stop scheduled cron from silently dying, tighten cadence
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.test.ts
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.ts
  apps/sync-realtime-data-hot/src/plan.test.ts
  apps/sync-realtime-data-hot/src/plan.ts
  apps/sync-realtime-data-hot/src/time.test.ts
  apps/sync-realtime-data-hot/src/time.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
  apps/sync-realtime-data-hot/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): sync getOddsFetchIntervalMinutes thresholds to server cadence
  apps/pc-keiba-viewer/src/lib/odds-schedule.test.ts
  apps/pc-keiba-viewer/src/lib/odds-schedule.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer+realtime): source horseCount from result_expected, not partial result rows
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.test.ts
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-data): align viewer running-style cache key to 4-colon raceKey
  apps/sync-realtime-data/src/running-style-features.ts
  apps/sync-realtime-data/src/viewer-running-style-cache-probe.test.ts
  apps/sync-realtime-data/src/viewer-running-style-cache-probe.ts
  apps/sync-realtime-data/src/viewer-running-style-cache.test.ts
  apps/sync-realtime-data/src/viewer-running-style-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer+realtime): include entry-only horses in today-sibling trend rows
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.test.ts
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.ts
Due: oxfmt, oxlint, tsc, vitest
