Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

Update race detail data handling
  apps/pc-keiba-viewer/src/app/api/horses/[kettoTorokuBango]/running-styles/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/running-styles/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/db/corner-running-style-queries.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-ban-ei-internal-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-ban-ei-raw-features.py
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/src/time.ts
  apps/sync-realtime-data/test/keiba-go.test.ts
  apps/sync-realtime-data/test/time.test.ts
Due: oxfmt, oxlint, tsc, vitest

Tune race trend aggregation UI
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/api/spec/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

Fix running style prewarm scheduling
  apps/sync-realtime-data/package.json
  apps/sync-realtime-data/src/running-style-cron.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/running-style-d1.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

Fix paddock data sync and race trend filters
  apps/local-postgresql/.env.example
  apps/local-postgresql/compose.yml
  apps/pc-keiba-viewer/.env.example
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/db/client.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/paddock-client-url.test.ts
  apps/pc-keiba-viewer/src/lib/paddock-client-url.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

Cache running styles after cron generation
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/running-styles/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.tsx
  apps/pc-keiba-viewer/src/lib/running-style-cache.server.ts
  apps/sync-realtime-data/src/running-style-cache.ts
  apps/sync-realtime-data/src/running-style-d1.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

Add race detail cache warming worker
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-sections/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
  apps/pc-keiba-viewer/src/app/api/spec/route.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
  apps/pc-keiba-viewer/src/worker.ts
  apps/pc-keiba-viewer/src/worker/race-detail-section-cache-warm.ts
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

Include realtime results in race trends
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/api/spec/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/lib/jockey-name.test.ts
Due: oxfmt, oxlint, tsc, vitest

Prewarm race trend cache before post time
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-sections/route.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-trends/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/api/spec/route.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  apps/pc-keiba-viewer/src/worker.ts
  apps/pc-keiba-viewer/src/worker/race-detail-section-cache-warm.ts
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

Auto refresh race trends while viewing
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/live/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/api/spec/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/lib/race-trend-cache.ts
  apps/pc-keiba-viewer/src/lib/race-trend-room.server.ts
  apps/pc-keiba-viewer/src/worker.ts
  apps/pc-keiba-viewer/src/worker/race-trend-room.ts
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position): add jra-cb-v6-stacked with 16 near-miss features
  FINISH_POSITION_MODEL_V6_STACKED.md
  PLACE_ACCURACY_IMPROVEMENT_2026-05-20.md
  apps/pc-keiba-viewer/scripts/train-env.sh
  apps/pc-keiba-viewer/src/scripts/finish-position-features/_resource_defaults.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-ban-ei-internal-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-ban-ei-raw-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-futan-juryo-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-near-miss-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-workout-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/hierarchical-rank-assignment.py
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/cli.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/model.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/training.py
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
Due: shellcheck, oxfmt

perf(local-postgresql): tune PostgreSQL for ML training workload
  apps/local-postgresql/compose.yml
Due: oxfmt

feat(local-postgresql): real-time progress for Neon sync + status checker
  apps/local-postgresql/.gitignore
  apps/local-postgresql/package.json
  apps/local-postgresql/scripts/push-neon-status.ts
  apps/local-postgresql/scripts/push-neon-sync.ts
Due: oxfmt, oxlint, tsc, vitest

perf(local-postgresql): per-table sync strategy from PG metadata
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

perf: warm race detail data and running styles
  apps/pc-keiba-viewer/next-env.d.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-sections/route.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-trends/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/ai/data/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.ts
  apps/pc-keiba-viewer/src/lib/race-trend-query.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-query.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  apps/pc-keiba-viewer/src/lib/running-style-cache.server.ts
  apps/pc-keiba-viewer/src/scripts/build-corner-feature-table.ts
  apps/pc-keiba-viewer/src/scripts/build_running_style_feature_batch.py
  apps/sync-realtime-data/package.json
  apps/sync-realtime-data/scripts/convert-running-style-model-to-binary.ts
  apps/sync-realtime-data/scripts/upload-running-style-artifacts.ts
  apps/sync-realtime-data/src/dsnp-parquetjs.d.ts
  apps/sync-realtime-data/src/finish-position-lite-pool.ts
  apps/sync-realtime-data/src/running-style-cache.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/running-style-feature-parquet.ts
  apps/sync-realtime-data/src/running-style-feature-sql.ts
  apps/sync-realtime-data/src/running-style-features.ts
  apps/sync-realtime-data/src/running-style-field-features.test.ts
  apps/sync-realtime-data/src/running-style-field-features.ts
  apps/sync-realtime-data/src/running-style-inference.ts
  apps/sync-realtime-data/src/running-style-lightgbm-tree.test.ts
  apps/sync-realtime-data/src/running-style-lightgbm-tree.ts
  apps/sync-realtime-data/src/running-style-model-binary.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/running-style-verification.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
  apps/sync-realtime-data/wrangler.jsonc
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position): jra-cb-v7-lineage with G1 trial-race lineage + 3 new feature layers
  FINISH_POSITION_MODEL_V7_LINEAGE.md
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-baba-pedigree-affinity-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-grade-race-lineage-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-head-to-head-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-trainer-stable-affinity-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/lineage-races/jra.json
  apps/pc-keiba-viewer/tests/test_add_baba_pedigree_affinity_features.py
  apps/pc-keiba-viewer/tests/test_add_grade_race_lineage_features.py
  apps/pc-keiba-viewer/tests/test_add_head_to_head_features.py
  apps/pc-keiba-viewer/tests/test_add_trainer_stable_affinity_features.py
Due: oxfmt

feat(finish-position): nar-xgb-v7-lineage rollout (no trainer, r322)
  FINISH_POSITION_MODEL_V7_LINEAGE.md
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-trainer-stable-affinity-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/lineage-races/nar.json
  apps/pc-keiba-viewer/tests/test_add_trainer_stable_affinity_features.py
Due: oxfmt

feat(finish-position): ban-ei-cb-v7-grade rollout (lineage + h2h + baba + futan hex parse + grade_career)
  FINISH_POSITION_MODEL_V7_LINEAGE.md
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-banei-futan-class-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-banei-grade-career-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/lineage-races/ban-ei.json
  apps/pc-keiba-viewer/tests/test_add_banei_futan_class_features.py
  apps/pc-keiba-viewer/tests/test_add_banei_grade_career_features.py
Due: oxfmt

chore(scripts): add PC-KEIBA Database unblock script for Windows
  scripts/unblock-pc-keiba-database.ps1
Due: none

docs(scripts): make unblock one-liner actually one line
  scripts/unblock-pc-keiba-database.ps1
Due: none

feat(scripts): add PC-KEIBA Database auto-update via pywinauto
  scripts/install-pc-keiba-auto-update.ps1
  scripts/pc-keiba-auto-update.py
Due: none

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
