Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

fix(replica): redact and retry realtime requests
  apps/local-postgresql/src/replica-push/realtime-discovery.test.ts
  apps/local-postgresql/src/replica-push/realtime-discovery.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): keep prediction caches generation coherent
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-ssr/route.test.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-ssr/route.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-trends/route.test.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-trends/route.ts
  apps/pc-keiba-viewer/src/app/api/internal/race-cache-bust/route.test.ts
  apps/pc-keiba-viewer/src/app/api/internal/race-cache-bust/route.ts
  apps/pc-keiba-viewer/src/app/api/internal/trend-cache-bust/route.test.ts
  apps/pc-keiba-viewer/src/app/api/internal/trend-cache-bust/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/horse-weights-stream/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/horse-weights-stream/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/bounded-response-drain.test.ts
  apps/pc-keiba-viewer/src/lib/bounded-response-drain.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-inputs-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-inputs-cache.server.ts
  apps/pc-keiba-viewer/src/lib/horse-weight-stream-client.test.ts
  apps/pc-keiba-viewer/src/lib/horse-weight-stream-client.ts
  apps/pc-keiba-viewer/src/lib/prediction-generation-freshness.test.ts
  apps/pc-keiba-viewer/src/lib/prediction-generation-freshness.ts
  apps/pc-keiba-viewer/src/lib/prediction-kv-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/prediction-kv-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.server.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.ts
  apps/pc-keiba-viewer/src/lib/race-cache-warm-generation.test.ts
  apps/pc-keiba-viewer/src/lib/race-cache-warm-generation.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.ts
  apps/pc-keiba-viewer/src/lib/race-trend-room.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-room.server.ts
  apps/pc-keiba-viewer/src/worker/race-detail-section-cache-warm.test.ts
  apps/pc-keiba-viewer/src/worker/race-detail-section-cache-warm.ts
  apps/pc-keiba-viewer/wrangler.dev.jsonc
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(cron): accept scratched runner weight snapshots
  apps/finish-position-cron/src/prediction-readiness.test.ts
  apps/finish-position-cron/src/prediction-readiness.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(cron): retry cache repairs and stale container stubs
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): reject mixed prediction generations
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/prediction-generation-freshness.test.ts
  apps/pc-keiba-viewer/src/lib/prediction-generation-freshness.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): allow durable feature enqueue latency
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(weather): synchronize complete hourly observations
  apps/finish-position-predict-container/src/weather_fetcher.py
  apps/finish-position-predict-container/tests/test_weather_fetcher.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
  apps/venue-weather/data/venue_weather_2026.duckdb
  apps/venue-weather/package.json
  apps/venue-weather/scripts/sync_r2_sql_to_duckdb.py
  apps/venue-weather/scripts/test_sync_r2_sql_to_duckdb.py
  apps/venue-weather/src/weather-api.test.ts
  apps/venue-weather/src/weather-api.ts
  apps/venue-weather/src/weather-queue.test.ts
  apps/venue-weather/src/weather-r2-store.test.ts
  apps/venue-weather/src/weather-r2-store.ts
  apps/venue-weather/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(predict): expand weather-gated shadow evaluation
  apps/finish-position-cron/src/focused-full-completion.test.ts
  apps/finish-position-cron/src/focused-full-completion.ts
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/src/predict_lib/dynamic_market_shadow.py
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.json
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
  apps/finish-position-predict-container/tests/test_dynamic_market_shadow.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_stage1_routing.py
  apps/mlflow/scripts/launchd/mlflow-production-sync-daily.sh
  apps/mlflow/src/mlflow_tracking/dynamic_market_shadow_eval.py
  apps/mlflow/tests/test_dynamic_market_shadow_eval.py
  docs/finish-position-accuracy/history/jra-stage1-20260822-20260823-review.md
  docs/finish-position-prediction-system.md
Due: shellcheck, oxfmt, oxlint, tsc, vitest

fix(operations): bound local container resource usage
  apps/local-postgresql/compose.yml
  apps/local-postgresql/scripts/postgres-resource-config.test.ts
  apps/local-postgresql/scripts/postgres-resource-config.ts
  apps/local-postgresql/scripts/running-style-backfill.env
  apps/local-postgresql/scripts/start.sh
  scripts/ensure-docker-compat.sh
Due: shellcheck, oxfmt, oxlint, tsc, vitest

fix(updater): require idle state before completing updates
  scripts/pc_keiba_auto_update.py
  scripts/tests/test_pc_keiba_auto_update.py
Due: none

feat(weather): add isolated v2 weather catalog
  apps/venue-weather/data/venue_weather_2026.duckdb
  apps/venue-weather/data/venue_weather_v2_2026.duckdb
  apps/venue-weather/package.json
  apps/venue-weather/pipelines/README.md
  apps/venue-weather/pipelines/weather-catalog-pipeline-v2.sql
  apps/venue-weather/pipelines/weather-catalog-stream-v2.schema.json
  apps/venue-weather/scripts/backfill_r2_catalog_v2.py
  apps/venue-weather/scripts/sync_r2_sql_to_duckdb.py
  apps/venue-weather/scripts/test_backfill_r2_catalog_v2.py
  apps/venue-weather/scripts/test_sync_r2_sql_to_duckdb.py
  apps/venue-weather/src/types.ts
  apps/venue-weather/src/weather-api.test.ts
  apps/venue-weather/src/weather-api.ts
  apps/venue-weather/src/weather-handler.test.ts
  apps/venue-weather/src/weather-handler.ts
  apps/venue-weather/src/weather-queue.test.ts
  apps/venue-weather/src/weather-queue.ts
  apps/venue-weather/src/weather-v2-store.test.ts
  apps/venue-weather/src/weather-v2-store.ts
  apps/venue-weather/wrangler.jsonc
  scripts/launchd/README.md
  scripts/launchd/com.kkk4oru.racing-venue-weather-daily.plist
  scripts/launchd/racing-venue-weather-daily.sh
Due: shellcheck, oxfmt, oxlint, tsc, vitest

perf(features): bound finish-position materialization
  apps/pc-keiba-viewer/src/scripts/build-corner-feature-table.test.ts
  apps/pc-keiba-viewer/src/scripts/build-corner-feature-table.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/_catalog_attach.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/_resource_defaults.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-baba-pedigree-affinity-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-banei-futan-class-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-banei-grade-career-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-futan-juryo-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-grade-race-lineage-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-head-to-head-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-near-miss-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-sectional-and-weight-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-similar-race-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-sire-venue-bias-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-trainer-stable-affinity-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-workout-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add_kohan3f_going_features.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/src/scripts/generate_finish_position_features_local.py
  apps/pc-keiba-viewer/src/scripts/learning/subgroup_diagnostics.py
  apps/pc-keiba-viewer/src/scripts/serve_health_check.py
  apps/pc-keiba-viewer/tests/test_add_baba_pedigree_affinity_features.py
  apps/pc-keiba-viewer/tests/test_add_banei_futan_class_features.py
  apps/pc-keiba-viewer/tests/test_add_banei_grade_career_features.py
  apps/pc-keiba-viewer/tests/test_add_futan_juryo_features.py
  apps/pc-keiba-viewer/tests/test_add_grade_race_lineage_features.py
  apps/pc-keiba-viewer/tests/test_add_head_to_head_features.py
  apps/pc-keiba-viewer/tests/test_add_kohan3f_going_features.py
  apps/pc-keiba-viewer/tests/test_add_near_miss_features.py
  apps/pc-keiba-viewer/tests/test_add_sectional_and_weight_features.py
  apps/pc-keiba-viewer/tests/test_add_similar_race_features.py
  apps/pc-keiba-viewer/tests/test_add_sire_venue_bias_features.py
  apps/pc-keiba-viewer/tests/test_add_trainer_stable_affinity_features.py
  apps/pc-keiba-viewer/tests/test_add_workout_features.py
  apps/pc-keiba-viewer/tests/test_catalog_attach.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
  apps/pc-keiba-viewer/tests/test_generate_finish_position_features_local.py
  apps/pc-keiba-viewer/tests/test_resource_defaults.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: oxfmt, oxlint, tsc, vitest

feat(predict): expand cell routing and shadow scoring
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/Dockerfile
  apps/finish-position-predict-container/production-artifacts.json
  apps/finish-position-predict-container/pyproject.toml
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/artifact_integrity.py
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/src/predict_lib/cell_routing.json
  apps/finish-position-predict-container/src/predict_lib/debug_log.py
  apps/finish-position-predict-container/src/predict_lib/dynamic_market_shadow.py
  apps/finish-position-predict-container/src/predict_lib/dynamic_market_versions.py
  apps/finish-position-predict-container/src/predict_lib/focused_full_cache.py
  apps/finish-position-predict-container/src/predict_lib/jra_hybrid_scorer.py
  apps/finish-position-predict-container/src/predict_lib/jra_joint_alternate_scorer.py
  apps/finish-position-predict-container/src/predict_lib/late_binding.py
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/src/predict_lib/production_feature_usage.py
  apps/finish-position-predict-container/src/predict_lib/rescore.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/src/weather_fetcher.py
  apps/finish-position-predict-container/tests/test_artifact_integrity.py
  apps/finish-position-predict-container/tests/test_cell_router.py
  apps/finish-position-predict-container/tests/test_debug_log.py
  apps/finish-position-predict-container/tests/test_dynamic_market_shadow.py
  apps/finish-position-predict-container/tests/test_jra_hybrid_routing.py
  apps/finish-position-predict-container/tests/test_jra_hybrid_scorer.py
  apps/finish-position-predict-container/tests/test_jra_joint_alternate_scorer.py
  apps/finish-position-predict-container/tests/test_late_binding.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
  apps/finish-position-predict-container/tests/test_weather_fetcher.py
  apps/finish-position-predict-container/uv.lock
Due: oxfmt

fix(sync): resume updates and attest prediction readiness
  apps/local-postgresql/scripts/finish-position-readiness-attestation.test.ts
  apps/local-postgresql/scripts/finish-position-readiness-attestation.ts
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/scripts/run-pc-keiba-update-and-sync.test.ts
  apps/local-postgresql/scripts/run-pc-keiba-update-and-sync.ts
  apps/local-postgresql/scripts/update-sync-run-state.test.ts
  apps/local-postgresql/scripts/update-sync-run-state.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): align prediction routing and cache warms
  apps/pc-keiba-viewer/src/app/api/internal/trend-cache-bust/route.test.ts
  apps/pc-keiba-viewer/src/app/api/internal/trend-cache-bust/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-cell-routing.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-cell-routing.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-inputs-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/format.test.ts
  apps/pc-keiba-viewer/src/lib/format.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.server.ts
  apps/pc-keiba-viewer/src/worker.ts
  apps/pc-keiba-viewer/src/worker/race-detail-section-cache-warm.test.ts
  apps/pc-keiba-viewer/src/worker/race-detail-section-cache-warm.ts
Due: oxfmt, oxlint, tsc, vitest

fix(mlflow): classify declared production variants
  apps/mlflow/src/mlflow_tracking/champion_cell_eval.py
  apps/mlflow/src/mlflow_tracking/sync_production.py
  apps/mlflow/tests/test_champion_cell_eval.py
  apps/mlflow/tests/test_config.py
  apps/mlflow/tests/test_sync_production.py
Due: none

docs(predict): record routing evaluations
  docs/finish-position-accuracy/history/jra-stage1-20260822-20260823-review.md
  docs/finish-position-accuracy/history/nar-prerace-weather-cell-router-20260824.md
  docs/finish-position-accuracy/per-class/ban-ei/README.md
  docs/finish-position-accuracy/per-class/nar/README.md
  docs/probes/jra-high-payout-routing-2026-08-25.md
  docs/probes/jra-hybrid-bin-embedding-2026-08-24.md
  docs/probes/jra-prerace-signal-contract-2026-08-25.md
Due: oxfmt

feat(mcp): add bounded race intelligence tools
  apps/pc-keiba-r2-catalog/src/cache.ts
  apps/pc-keiba-r2-catalog/src/race-entity-recent-results.test.ts
  apps/pc-keiba-r2-catalog/src/race-entity-recent-results.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/worker-race-entity-recent-results.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
  apps/pc-keiba-r2-catalog/wrangler.jsonc
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/entity-recent-results/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/entity-recent-results/route.ts
  apps/pc-keiba-viewer/src/lib/mcp-allowlist.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-allowlist.ts
  apps/pc-keiba-viewer/src/lib/mcp-finish-prediction-summary.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-finish-prediction-summary.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.ts
  apps/pc-keiba-viewer/src/lib/race-entity-recent-results-catalog.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-entity-recent-results-catalog.server.ts
  apps/pc-keiba-viewer/src/worker.test.ts
  apps/pc-keiba-viewer/src/worker.ts
  packages/pc-keiba-viewer-plugin/skills/pc-keiba-viewer-mcp/SKILL.md
Due: oxfmt, oxlint, tsc, vitest

fix(catalog): log entity history failures
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(catalog): bound cursor cache keys
  apps/pc-keiba-r2-catalog/src/cache.test.ts
  apps/pc-keiba-r2-catalog/src/cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(catalog): remove entity history scan ceiling
  apps/pc-keiba-r2-catalog/package.json
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/sync_entity_history.py
  apps/pc-keiba-r2-catalog/scripts/test_sync_entity_history.py
  apps/pc-keiba-r2-catalog/src/cache.test.ts
  apps/pc-keiba-r2-catalog/src/cache.ts
  apps/pc-keiba-r2-catalog/src/race-entity-recent-results.test.ts
  apps/pc-keiba-r2-catalog/src/race-entity-recent-results.ts
  apps/pc-keiba-r2-catalog/src/worker-race-entity-recent-results.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
  packages/pc-keiba-viewer-plugin/skills/pc-keiba-viewer-mcp/SKILL.md
Due: oxfmt, oxlint, tsc, vitest

perf(catalog): resolve completed targets from history index
  apps/pc-keiba-r2-catalog/src/race-entity-recent-results.test.ts
  apps/pc-keiba-r2-catalog/src/race-entity-recent-results.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

perf(catalog): keep target lookup on raw partitions
  apps/pc-keiba-r2-catalog/src/race-entity-recent-results.test.ts
  apps/pc-keiba-r2-catalog/src/race-entity-recent-results.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): allow indexed history latency margin
  apps/pc-keiba-viewer/src/lib/race-entity-recent-results-catalog.server.ts
Due: oxfmt, oxlint, tsc, vitest

perf(catalog): serve entity history from native R2 objects
  apps/pc-keiba-r2-catalog/package.json
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/build_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/sync_entity_history.py
  apps/pc-keiba-r2-catalog/scripts/test_build_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/test_sync_entity_history.py
  apps/pc-keiba-r2-catalog/scripts/upload_entity_history_objects.sh
  apps/pc-keiba-r2-catalog/src/cache.test.ts
  apps/pc-keiba-r2-catalog/src/cache.ts
  apps/pc-keiba-r2-catalog/src/race-entity-object-store.test.ts
  apps/pc-keiba-r2-catalog/src/race-entity-object-store.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/worker-race-entity-recent-results.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
  apps/pc-keiba-r2-catalog/wrangler.jsonc
  packages/pc-keiba-viewer-plugin/skills/pc-keiba-viewer-mcp/SKILL.md
Due: shellcheck, oxfmt, oxlint, tsc, vitest

fix(catalog): bind accessible entity object bucket
  apps/pc-keiba-r2-catalog/scripts/upload_entity_history_objects.sh
  apps/pc-keiba-r2-catalog/wrangler.jsonc
Due: shellcheck, oxfmt

fix(catalog): upload serving objects with API token
  apps/pc-keiba-r2-catalog/package.json
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/test_upload_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/upload_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/upload_entity_history_objects.sh
  apps/pc-keiba-r2-catalog/wrangler.jsonc
Due: shellcheck, oxfmt

perf(catalog): pack entity objects for atomic upload
  apps/pc-keiba-r2-catalog/package.json
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/pack_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/test_pack_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/upload_entity_history_objects.py
  apps/pc-keiba-r2-catalog/src/race-entity-object-store.test.ts
  apps/pc-keiba-r2-catalog/src/race-entity-object-store.ts
  apps/pc-keiba-r2-catalog/src/types.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): restore bounded catalog timeout
  apps/pc-keiba-viewer/src/lib/race-entity-recent-results-catalog.server.ts
Due: oxfmt, oxlint, tsc, vitest

feat(catalog): support incremental yearly object refresh
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/pack_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/test_pack_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/test_upload_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/upload_entity_history_objects.py
Due: oxfmt

feat(catalog): orchestrate yearly serving refresh
  apps/pc-keiba-r2-catalog/package.json
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/refresh_entity_history_serving.py
  apps/pc-keiba-r2-catalog/scripts/sync_entity_history.py
  apps/pc-keiba-r2-catalog/scripts/test_refresh_entity_history_serving.py
  apps/pc-keiba-r2-catalog/scripts/test_sync_entity_history.py
Due: oxfmt

perf(catalog): serve entity history from catalog parquet
  apps/pc-keiba-r2-catalog/package.json
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/build_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/pack_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/publish_entity_catalog_manifest.py
  apps/pc-keiba-r2-catalog/scripts/refresh_entity_history_serving.py
  apps/pc-keiba-r2-catalog/scripts/sync_entity_history.py
  apps/pc-keiba-r2-catalog/scripts/test_build_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/test_pack_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/test_publish_entity_catalog_manifest.py
  apps/pc-keiba-r2-catalog/scripts/test_refresh_entity_history_serving.py
  apps/pc-keiba-r2-catalog/scripts/test_sync_entity_history.py
  apps/pc-keiba-r2-catalog/scripts/test_upload_entity_history_objects.py
  apps/pc-keiba-r2-catalog/scripts/upload_entity_history_objects.py
  apps/pc-keiba-r2-catalog/src/race-entity-catalog-store.test.ts
  apps/pc-keiba-r2-catalog/src/race-entity-catalog-store.ts
  apps/pc-keiba-r2-catalog/src/race-entity-object-store.test.ts
  apps/pc-keiba-r2-catalog/src/race-entity-object-store.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/worker-race-entity-recent-results.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
  apps/pc-keiba-r2-catalog/wrangler.jsonc
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

fix(catalog): scope direct serving refresh to selected year
  apps/pc-keiba-r2-catalog/scripts/refresh_entity_history_serving.py
  apps/pc-keiba-r2-catalog/scripts/test_refresh_entity_history_serving.py
Due: none

feat(sync): publish entity history during daily refresh
  apps/local-postgresql/README.md
  apps/local-postgresql/scripts/run-pc-keiba-update-and-sync.test.ts
  apps/local-postgresql/scripts/run-pc-keiba-update-and-sync.ts
  apps/local-postgresql/scripts/update-sync-run-state.test.ts
  apps/local-postgresql/scripts/update-sync-run-state.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync): reliably schedule PC-KEIBA refresh
  scripts/launchd/README.md
  scripts/launchd/com.kkk4oru.pc-keiba-update-and-sync.plist
  scripts/launchd/pc-keiba-update-and-sync-daily.sh
  scripts/pc_keiba_auto_update.py
  scripts/pyproject.toml
  scripts/tests/test_pc_keiba_auto_update.py
  scripts/uv.lock
Due: shellcheck, oxfmt

fix(sync): fail Windows task registration closed
  scripts/install-pc-keiba-auto-update.ps1
Due: none
