Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

fix(sync): exclude provisional runners from confirmed race data
  apps/daily-keiba-sync/src/catalog-sync.test.ts
  apps/daily-keiba-sync/src/catalog-sync.ts
  apps/daily-keiba-sync/src/layouts.test.ts
  apps/daily-keiba-sync/src/layouts.ts
  apps/daily-keiba-sync/src/neon-sync.test.ts
  apps/daily-keiba-sync/src/neon-sync.ts
  apps/daily-keiba-sync/src/source-stream.test.ts
  apps/daily-keiba-sync/src/source-stream.ts
  apps/pc-keiba-r2-catalog/src/cache.test.ts
  apps/pc-keiba-r2-catalog/src/cache.ts
  apps/pc-keiba-r2-catalog/src/normalise.test.ts
  apps/pc-keiba-r2-catalog/src/normalise.ts
  apps/pc-keiba-r2-catalog/src/r2-sql.test.ts
  apps/pc-keiba-r2-catalog/src/r2-sql.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): expose compact weight-minus-futan data
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/weight-futan/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/weight-futan/route.ts
  apps/pc-keiba-viewer/src/lib/mcp-allowlist.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-allowlist.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.ts
  apps/pc-keiba-viewer/src/lib/weight-futan-diff.test.ts
  apps/pc-keiba-viewer/src/lib/weight-futan-diff.ts
Due: oxfmt, oxlint, tsc, vitest

fix(race-time): decode packed race clocks consistently
  apps/pc-keiba-r2-catalog/src/cache.test.ts
  apps/pc-keiba-r2-catalog/src/cache.ts
  apps/pc-keiba-r2-catalog/src/condition-history-stats.ts
  apps/pc-keiba-r2-catalog/src/race-entity-catalog-store.test.ts
  apps/pc-keiba-r2-catalog/src/race-entity-catalog-store.ts
  apps/pc-keiba-r2-catalog/src/race-entity-recent-results.ts
  apps/pc-keiba-r2-catalog/src/race-time.test.ts
  apps/pc-keiba-r2-catalog/src/race-time.ts
  apps/pc-keiba-viewer/src/app/entity-ui.test.tsx
  apps/pc-keiba-viewer/src/app/entity-ui.tsx
  apps/pc-keiba-viewer/src/app/races/detail/ability-test-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-stats-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-clock-charts.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-time-charts.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-condition-analysis-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-time-stats-metrics.tsx
  apps/pc-keiba-viewer/src/app/races/detail/similar-race-stats-table.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/horse-race-clock-analysis.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-clock-analysis.ts
  apps/pc-keiba-viewer/src/lib/horse-race-time-charts.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-time-charts.ts
  apps/pc-keiba-viewer/src/lib/race-time.test.ts
  apps/pc-keiba-viewer/src/lib/race-time.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): reverse the Ban-ei weight delta axis and mark zero
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-time-charts.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-time-charts.tsx
  apps/pc-keiba-viewer/src/lib/horse-race-time-charts.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-time-charts.ts
Due: oxfmt, oxlint, tsc, vitest

perf(scoring): cache the selected JRA model
  apps/finish-position-cron/src/scoring/jra-shadow-scorer.test.ts
  apps/finish-position-cron/src/scoring/jra-shadow-scorer.ts
Due: oxfmt, oxlint, tsc, vitest

fix(rescore): read realtime inputs through service bindings
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/scoring/rescore-fetch.test.ts
  apps/finish-position-cron/src/scoring/rescore-fetch.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(scoring): shadow Ban-ei rescoring without serving results
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/scoring/__fixtures__/banei-per-race-cache.parquet
  apps/finish-position-cron/src/scoring/banei-shadow-scorer.test.ts
  apps/finish-position-cron/src/scoring/banei-shadow-scorer.ts
  apps/finish-position-cron/src/scoring/rescore-consumer.test.ts
  apps/finish-position-cron/src/scoring/rescore-consumer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(prediction): fingerprint running-style feature content
  apps/finish-position-cron/src/container-ndjson-proxy.test.ts
  apps/finish-position-cron/src/container-ndjson-proxy.ts
  apps/finish-position-cron/src/day-base-prewarm-pickup.test.ts
  apps/finish-position-cron/src/day-base-prewarm-pickup.ts
  apps/finish-position-cron/src/focused-full-day-base-readiness.test.ts
  apps/finish-position-cron/src/focused-full-day-base-readiness.ts
  apps/finish-position-cron/src/ndjson-stream.ts
  apps/finish-position-cron/src/running-style-content-hash.test.ts
  apps/finish-position-cron/src/running-style-content-hash.ts
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/r2_client.py
  apps/finish-position-predict-container/src/predict_lib/running_style_content_hash.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_r2_client.py
  apps/finish-position-predict-container/tests/test_running_style_content_hash.py
  apps/finish-position-predict-container/tests/test_shipped_race_chain_hit.py
Due: oxfmt, oxlint, tsc, vitest

feat(prediction): attest race-scoped day-base caches
  apps/finish-position-cron/src/attested-race-cache-assembler.test.ts
  apps/finish-position-cron/src/attested-race-cache-assembler.ts
  apps/finish-position-cron/src/day-base-pickup.test.ts
  apps/finish-position-cron/src/day-base-pickup.ts
  apps/finish-position-cron/src/day-base-prewarm-pickup.test.ts
  apps/finish-position-cron/src/day-base-prewarm-pickup.ts
  apps/finish-position-cron/src/day-base-prewarm.test.ts
  apps/finish-position-cron/src/day-base-prewarm.ts
  apps/finish-position-cron/src/day-base-race-materializer.test.ts
  apps/finish-position-cron/src/day-base-race-materializer.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/race-scoped-day-base-readiness.test.ts
  apps/finish-position-cron/src/race-scoped-day-base-readiness.ts
  apps/finish-position-cron/src/race-source-snapshot.test.ts
  apps/finish-position-cron/src/race-source-snapshot.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/foundation_cache.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_foundation_cache.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: oxfmt, oxlint, tsc, vitest

fix(rescore): resume delivery without repeating scoring
  apps/finish-position-cron/src/do-state.test.ts
  apps/finish-position-cron/src/do-state.ts
  apps/finish-position-cron/src/predict-run-coordinator.test.ts
  apps/finish-position-cron/src/predict-run-coordinator.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/types.ts
Due: oxfmt, oxlint, tsc, vitest

fix(rescore): retire superseded snapshot generations
  apps/finish-position-cron/src/focused-full-completion.test.ts
  apps/finish-position-cron/src/focused-full-completion.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

fix(rescore): recover weight-triggered predictions after post time
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(prediction): prioritize early recovery and stop redundant day-base work
  apps/finish-position-cron/src/coverage-self-heal.test.ts
  apps/finish-position-cron/src/coverage-self-heal.ts
  apps/finish-position-cron/src/prediction-readiness.test.ts
  apps/finish-position-cron/src/prediction-readiness.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

perf(cron): stop independent containers concurrently
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

chore(weather): refresh 2026 venue observations
  apps/venue-weather/data/venue_weather_2026.duckdb
  apps/venue-weather/data/venue_weather_v2_2026.duckdb
Due: none

feat(mcp): add compact paginated heatmap retrieval
  apps/pc-keiba-viewer/src/lib/mcp-heatmap-compact.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-heatmap-compact.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.ts
  apps/pc-keiba-viewer/src/lib/next-config.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/ensemble-predictions.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/export-finish-position-dataset.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.test.ts
  apps/pc-keiba-viewer/src/test-stubs/open-next-worker.ts
  apps/pc-keiba-viewer/vitest.config.ts
  packages/pc-keiba-viewer-plugin/README.md
Due: oxfmt, oxlint, tsc, vitest

fix(mcp): default heatmap retrieval to compact horse pages
  apps/pc-keiba-viewer/src/lib/mcp-heatmap-compact.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-heatmap-compact.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.ts
  packages/pc-keiba-viewer-plugin/README.md
  packages/pc-keiba-viewer-plugin/skills/pc-keiba-viewer-mcp/SKILL.md
Due: oxfmt, oxlint, tsc, vitest

feat(mcp): ヒートマップの軽量取得・馬番指定・ページ分割を追加 (#79)
  apps/pc-keiba-viewer/src/lib/mcp-heatmap-compact.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-heatmap-compact.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.test.ts
  apps/pc-keiba-viewer/src/lib/mcp-tools.ts
  apps/pc-keiba-viewer/src/lib/next-config.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/ensemble-predictions.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/export-finish-position-dataset.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.test.ts
  apps/pc-keiba-viewer/src/test-stubs/open-next-worker.ts
  apps/pc-keiba-viewer/vitest.config.ts
  packages/pc-keiba-viewer-plugin/README.md
  packages/pc-keiba-viewer-plugin/skills/pc-keiba-viewer-mcp/SKILL.md
Due: oxfmt, oxlint, tsc, vitest

chore(devin): configure repository environment and knowledge
  .devin/README.md
  .devin/blueprint.yaml
  .devin/wiki.json
Due: oxfmt

ci: deploy affected production services from main
  .github/deploy/README.md
  .github/deploy/models.py
  .github/deploy/plan.py
  .github/deploy/pyproject.toml
  .github/deploy/run.sh
  .github/deploy/test_models.py
  .github/deploy/test_plan.py
  .github/deploy/test_run.py
  .github/workflows/deploy-daily-keiba-sync.yml
  .github/workflows/deploy-jvlink-worker.yml
  .github/workflows/deploy-umacon-worker.yml
  .github/workflows/production-config-check.yml
  .github/workflows/production.yml
Due: shellcheck, oxfmt

fix(ci): remove local fixture dependencies and skip test-only deployments
  .github/deploy/plan.py
  .github/deploy/test_plan.py
  apps/sync-realtime-data/test/premium-race.test.ts
Due: oxfmt, oxlint, tsc, vitest

ci: retain Python and private core release checks
  .github/deploy/run.sh
  .github/deploy/test_run.py
  .github/workflows/production-config-check.yml
Due: shellcheck, oxfmt

fix(ci): restore regression artifacts and preserve deployment guards
  .github/deploy/README.md
  .github/deploy/models.py
  .github/deploy/plan.py
  .github/deploy/run.sh
  .github/deploy/test-artifacts.json
  .github/deploy/test_models.py
  .github/deploy/test_plan.py
  .github/deploy/test_run.py
Due: shellcheck, oxfmt

fix(ci): include worker library consumers and complete fixture bundles
  .github/deploy/plan.py
  .github/deploy/test-artifacts.json
  .github/deploy/test_models.py
  .github/deploy/test_plan.py
Due: oxfmt

fix(ci): validate deployment planning before recording a successful baseline
  .github/deploy/plan.py
  .github/deploy/test_plan.py
  .github/workflows/production-config-check.yml
  .github/workflows/production.yml
Due: oxfmt

test(ci): use portable shell builtins for deployment race simulation
  .github/deploy/test_run.py
Due: none

fix(ci): generate Next.js types before checking a clean viewer checkout
  .github/deploy/run.sh
  .github/deploy/test_run.py
Due: shellcheck

ci: verify production bundles and container images before publishing
  .github/deploy/README.md
  .github/deploy/run.sh
  .github/deploy/test_run.py
Due: shellcheck, oxfmt

ci: allow nonpublishing validation without a deployment credential
  .github/workflows/production.yml
Due: oxfmt

ci: restore the private JV-Link SDK from verified R2 storage
  .github/deploy/README.md
  .github/deploy/pyproject.toml
  .github/deploy/run.sh
  .github/deploy/sdk.py
  .github/deploy/test_run.py
  .github/deploy/test_sdk.py
Due: shellcheck, oxfmt

fix(ci): honor each workspace Python requirement during validation
  .github/deploy/run.sh
  .github/deploy/test_run.py
Due: shellcheck

test(cron): compare request behavior across Node runtimes
  apps/finish-position-cron/src/day-base-discovery-readiness.test.ts
  apps/finish-position-cron/src/day-base-pickup.test.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(cron): reserve a platform transition slot for race shards
  apps/finish-position-cron/src/container-slot-cap.test.ts
  apps/finish-position-cron/src/container-slot-cap.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(timesfm): type policy evaluation reports and validate row inputs
  apps/timesfm-finish-position/pyproject.toml
  apps/timesfm-finish-position/scripts/optimize_prophet_cell_policy.py
  apps/timesfm-finish-position/scripts/optimize_prophet_maximum_branch_policy.py
  apps/timesfm-finish-position/scripts/optimize_prophet_served_branch_policy.py
  apps/timesfm-finish-position/src/timesfm_finish_position/policy_report.py
  apps/timesfm-finish-position/tests/test_policy_evaluation_scripts.py
  apps/timesfm-finish-position/tests/test_policy_report.py
Due: oxfmt

fix(cron): skip completed races during deployment recovery
  apps/finish-position-cron/scripts/deploy-with-queue-drain.ts
  apps/finish-position-cron/src/deploy-safety.test.ts
  apps/finish-position-cron/src/deploy-safety.ts
  apps/finish-position-cron/src/predict-do-shard.ts
Due: oxfmt, oxlint, tsc, vitest

feat(cron): log operational prediction progress without debug mode
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): route banei features through dedicated category foundations
  apps/sync-realtime-data/src/running-style-catalog-client.test.ts
  apps/sync-realtime-data/src/running-style-catalog-client.ts
  apps/sync-realtime-data/src/running-style-finish-feature-hit.test.ts
  apps/sync-realtime-data/src/running-style-finish-feature-hit.ts
Due: oxfmt, oxlint, tsc, vitest

fix(predict): exclude provisional jra entries from day foundations
  apps/finish-position-cron/wrangler.jsonc
  apps/finish-position-predict-container/Dockerfile
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: oxfmt

fix(viewer): invalidate ssr snapshots and cap pre-race cache lifetime
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.ts
  apps/pc-keiba-viewer/src/lib/race-detail-ssr-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-ssr-cache.server.ts
Due: oxfmt, oxlint, tsc, vitest

fix(predict): validate market foundations across worker and s3 runtimes
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/market_signal_foundation.py
  apps/finish-position-predict-container/tests/test_market_signal_foundation.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
Due: none
