Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(pc-keiba-viewer): BrandRunner hydration mismatch + zero layout shift
  apps/pc-keiba-viewer/src/app/brand-runner.test.tsx
  apps/pc-keiba-viewer/src/app/brand-runner.tsx
Due: none

fix(viewer): drop invalid DuckDB IGNORE NULLS modifier in stage_course_lookup aggregate
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-course-numerical-features.py
  apps/pc-keiba-viewer/tests/test_add_course_numerical_features.py
Due: none

feat(pc-keiba-viewer): race-trend trainer column + 2 toggles
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.ts
  apps/pc-keiba-viewer/src/lib/race-trend-query.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-query.ts
  apps/pc-keiba-viewer/src/lib/race-trend-score.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-score.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  packages/horse-racing-realtime/src/race-trend-daily-track-types.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): paddock detail desktop nowrap + edit page recent-runs + prev/next nav
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.test.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/lib/paddock-adjacent-nav.test.ts
  apps/pc-keiba-viewer/src/lib/paddock-adjacent-nav.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): race detail mobile collapsible sections (default closed)
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/mobile-collapsible-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/mobile-collapsible-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: oxfmt

feat(pc-keiba-viewer): tie trainer column visibility to 勝率条件 toggle
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
Due: none

fix(per-class): per-member feature matrices + baseline raw-score injection + relationship inference layer + class-code routing
  apps/finish-position-predict-container/scripts/verify_member_feature_coverage.py
  apps/finish-position-predict-container/src/predict_lib/booster_pool.py
  apps/finish-position-predict-container/src/predict_lib/ensemble_routing.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/tests/test_booster_pool.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

feat(local-postgresql): race_entry_finish_vectors pgvector table for finish-position vector ensemble member
  apps/local-postgresql/sql/20260607000000_create_race_entry_finish_vectors.sql
Due: none

fix(per-class): drop overaggressive column-gap guard + canonical-NULL shusso_tosu
  apps/finish-position-predict-container/scripts/verify_member_feature_coverage.py
  apps/finish-position-predict-container/src/predict_lib/ensemble_routing.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-near-miss-features.py
  apps/pc-keiba-viewer/tests/test_add_near_miss_features.py
Due: none

fix(per-class): restore member-column-gap guard removed in 6b21e03
  apps/finish-position-predict-container/scripts/verify_member_feature_coverage.py
  apps/finish-position-predict-container/src/predict_lib/ensemble_routing.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
Due: none

fix(pc-keiba-viewer): restore frame-color in paddock recent-results wakuban
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
Due: oxfmt

feat(realtime-data): harden weight fetch — T-180 + 15-min cron + same-day cooldown + KV fallback + manual endpoint
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): add 調教師 column to race trend detail tables
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
Due: none

fix(realtime-data-hot): cap lock TTL by tier gap + Hyperdrive timeout + JRA odds-list fallback
  apps/sync-realtime-data-hot/src/expected-race-count.test.ts
  apps/sync-realtime-data-hot/src/expected-race-count.ts
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.test.ts
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.ts
  apps/sync-realtime-data-hot/src/jra.test.ts
  apps/sync-realtime-data-hot/src/jra.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime-data): widen premium paddock window T-50 → T-120
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-data-hot): JRA innerHTML timeout 500ms→10s + release KV lock on retryable failure
  apps/sync-realtime-data-hot/src/fetch-odds.test.ts
  apps/sync-realtime-data-hot/src/fetch-odds.ts
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.test.ts
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.ts
  apps/sync-realtime-data-hot/src/jra.test.ts
  apps/sync-realtime-data-hot/src/jra.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime-data): enrich race-trend today-sibling rows with trainer via Hyperdrive
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-trainer-fetch.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-trainer-fetch.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-data): cut paddock skip-path D1 writes 3→1 + KV-gate pending retries + plan allSettled
  apps/sync-realtime-data/src/premium-paddock-pending-mark.test.ts
  apps/sync-realtime-data/src/premium-paddock-pending-mark.ts
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-fetch-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-notify-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

Revert "Merge U (paddock D1 batch + KV pending + plan allSettled)"
  apps/sync-realtime-data/src/premium-paddock-pending-mark.test.ts
  apps/sync-realtime-data/src/premium-paddock-pending-mark.ts
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-fetch-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-notify-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

Revert "Merge R (race trend trainer via Hyperdrive)"
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-daily-track-do.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-trainer-fetch.test.ts
  apps/sync-realtime-data/src/durable-objects/race-trend-trainer-fetch.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(infra): per-app Hyperdrive split — viewer/hot/features → Neon replicas, sync → primary
  apps/pc-keiba-viewer/wrangler.dev.jsonc
  apps/pc-keiba-viewer/wrangler.jsonc
  apps/sync-realtime-data-features/wrangler.jsonc
  apps/sync-realtime-data-hot/wrangler.jsonc
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt

fix(local-postgresql): inject OVERRIDING SYSTEM VALUE so GENERATED ALWAYS identities can sync
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

feat(local-postgresql): add REPLICA_SYNC_SKIP_TABLES env to exclude specific tables from push
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

docs(local-postgresql): drop misleading finish_position_cron_executions skip example
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
Due: oxfmt, oxlint, tsc, vitest

update gitignore
  .gitignore
Due: none

fix(realtime-data-features): bump Hyperdrive query timeout 25s → 60s
  apps/sync-realtime-data-features/src/features/postgres-pool.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): finish-position viewer SQL 3rd-priority fallback to any race prediction
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-data-features): pass chokyoshimei_ryakusho through dailyRowToStarterRow
  apps/sync-realtime-data-features/src/features/aggregate.test.ts
  apps/sync-realtime-data-features/src/features/aggregate.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-data): stop destroying horse weight rows + let paddock notify fire within 10min after start
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-notify-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime-data): extend JST polling window upper bound 21 → 22
  apps/sync-realtime-data/src/time.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/test/time.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): seed initialRealtimePayload from SSR to remove the blank-on-first-paint window
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/realtime/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/lib/realtime-payload.server.test.ts
  apps/pc-keiba-viewer/src/lib/realtime-payload.server.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-data): gate KV weight fallback by cooldown/lead-time + add 09:00 JST discover tick
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync-realtime-data): export running-style D1 predictions to R2 parquet per cron tick
  apps/sync-realtime-data/src/running-style-cron.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/running-style-parquet-export.test.ts
  apps/sync-realtime-data/src/running-style-parquet-export.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix: features pool acquire timeout + running-style materialize legacy D1 read
  apps/sync-realtime-data-features/src/features/postgres-pool.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.test.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.ts
Due: oxfmt, oxlint, tsc, vitest

test(pc-keiba-viewer): make test_repo_root_returns_horse_racing_data_directory worktree-safe
  apps/pc-keiba-viewer/tests/test_score_running_style_local.py
Due: none

feat(pc-keiba-viewer): add R2-direct rs_preds source to add-pacestyle-features
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-pacestyle-features.py
  apps/pc-keiba-viewer/tests/test_add_pacestyle_features.py
  scripts/launchd/finish-position-predict-daily.sh
Due: shellcheck, oxfmt

feat(realtime-data-hot): gate * * * * * cron on the active race window so R2 can scale to zero
  apps/sync-realtime-data-hot/src/gates/polling-window-gate.test.ts
  apps/sync-realtime-data-hot/src/gates/polling-window-gate.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime-data-hot): tie odds-cron gate to actual JRA / NAR betting hours
  apps/sync-realtime-data-hot/src/gates/polling-window-gate.test.ts
  apps/sync-realtime-data-hot/src/gates/polling-window-gate.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): halve finish-position oddsWeight for jra and nar
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-data): circuit breaker for D1-overloaded plan-realtime-fetches retry loop
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
