Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(viewer): hide finishPosition=0 entry-only rows from trend detail view
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
Due: none

fix(realtime+viewer): retry NAR partial results, restore real finish position display
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-fetch-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-notify-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add running-style bucket accuracy panel and dimension chips
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.tsx
  apps/pc-keiba-viewer/src/lib/running-style-prediction-dimensions.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): track user id for non-official paddock evaluations
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/src/app/api/admin/paddock-backfill-user-id/route.test.ts
  apps/pc-keiba-viewer/src/app/api/admin/paddock-backfill-user-id/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/mypage/page.tsx
  apps/pc-keiba-viewer/src/app/mypage/user-identity-panel.test.tsx
  apps/pc-keiba-viewer/src/app/mypage/user-identity-panel.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/lib/favorites-indexeddb.ts
  apps/pc-keiba-viewer/src/lib/paddock.test.ts
  apps/pc-keiba-viewer/src/lib/paddock.ts
  apps/pc-keiba-viewer/src/lib/user-identity-indexeddb.test.ts
  apps/pc-keiba-viewer/src/lib/user-identity-indexeddb.ts
Due: oxfmt, oxlint, tsc, vitest

chore(lefthook): add python:check hook for pc-keiba-viewer scripts
  lefthook.yml
Due: oxfmt

fix(lefthook): broaden python hook globs to match top-level scripts
  lefthook.yml
Due: oxfmt

feat(viewer): scaffold finish-position v7-lineage WF 21y scoring + bucket-eval
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-bucket-21y-v7lineage.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-bucket-21y-v7lineage.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/v7-lineage-model-versions.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/v7-lineage-model-versions.ts
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_walk_forward.py
Due: oxfmt, oxlint, tsc, vitest

feat(xgboost-json-tree): add pure-TS XGBoost save_model scorer for Worker NAR ranking
  bun.lock
  packages/xgboost-json-tree/.gitignore
  packages/xgboost-json-tree/package.json
  packages/xgboost-json-tree/src/index.test.ts
  packages/xgboost-json-tree/src/index.ts
  packages/xgboost-json-tree/tsconfig.json
  packages/xgboost-json-tree/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

feat(catboost-json-tree): add pure-TS CatBoost oblivious-tree scorer for Workers
  lefthook.yml
  packages/catboost-json-tree/package.json
  packages/catboost-json-tree/src/index.test.ts
  packages/catboost-json-tree/src/index.ts
  packages/catboost-json-tree/tsconfig.json
  packages/catboost-json-tree/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add finish-position bucket-evaluation panel + refresh accuracy fallback
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-bucket-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-bucket-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction-evaluation.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-dimensions.test.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-dimensions.ts
  apps/pc-keiba-viewer/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): write hyphenated ban-ei category partition in WF scoring output
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_walk_forward.py
Due: none

feat(viewer): add Stage 8 v7-lineage WF 21y backfill coverage verifier
  apps/pc-keiba-viewer/src/scripts/finish-position-features/verify-finish-position-v7lineage-coverage.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/verify-finish-position-v7lineage-coverage.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): unblock bucket-eval 21y — correct grade_code column + configurable loader statement_timeout
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-bucket-21y.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-bucket-21y.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-bucket-predictions-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-bucket-predictions-sql.ts
  apps/pc-keiba-viewer/src/scripts/load_bucket_predictions.py
  apps/pc-keiba-viewer/tests/test_load_bucket_predictions.py
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add local-to-Neon sync for v7-lineage WF 21y bucket evaluations
  apps/pc-keiba-viewer/src/scripts/finish-position-features/push-v7lineage-eval-to-neon.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/push-v7lineage-eval-to-neon.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add DuckDB host-side fast-path for v7-lineage bucket eval
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/aggregate_bucket_eval_duckdb.py
  apps/pc-keiba-viewer/tests/test_aggregate_bucket_eval_duckdb.py
Due: oxfmt

fix(viewer): correct Stage 8 verifier ban-ei source + per-race top1 divisor
  apps/pc-keiba-viewer/src/lib/finish-prediction-dimensions.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/verify-finish-position-v7lineage-coverage.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/verify-finish-position-v7lineage-coverage.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): generalize finish-model R2 uploader for JSON Worker scorers
  FINISH_POSITION_MODEL_V7_LINEAGE.md
  apps/pc-keiba-viewer/src/scripts/finish-position-features/upload-finish-model.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/upload-finish-model.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): dedupe finish-position prediction batches to survive zero-ketto collisions
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-finish-position-predictions.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-finish-position-predictions.ts
Due: oxfmt, oxlint, tsc, vitest

feat(serving): add target-date mode so the predict container builds TODAY's all races
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: oxfmt

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
