Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

feat(finish-position-predict-container): bump Ban-ei model to v8-window2011
  apps/finish-position-predict-container/src/predict_lib/model_meta.json
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_per_class.py
  apps/finish-position-predict-container/tests/test_upcoming.py
Due: oxfmt

perf(sync-realtime-data-hot): KV cache NAR venue last-race-start lookup
  apps/sync-realtime-data-hot/src/fetch-odds.ts
  apps/sync-realtime-data-hot/src/nar-venue-cache.test.ts
  apps/sync-realtime-data-hot/src/nar-venue-cache.ts
Due: oxfmt, oxlint, tsc, vitest

perf(sync-realtime-data-hot): KV cache odds_fetch_state count by JST date
  apps/sync-realtime-data-hot/src/odds-fetch-state-count-cache.test.ts
  apps/sync-realtime-data-hot/src/odds-fetch-state-count-cache.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

perf(sync-realtime-data-features): KV-cache today/tomorrow race-key Hyperdrive read
  apps/sync-realtime-data-features/src/admin-predict-for-day.test.ts
  apps/sync-realtime-data-features/src/admin-predict-for-day.ts
  apps/sync-realtime-data-features/src/gates/today-race-keys-kv-cache.test.ts
  apps/sync-realtime-data-features/src/gates/today-race-keys-kv-cache.ts
  apps/sync-realtime-data-features/src/scheduled-race-list.test.ts
  apps/sync-realtime-data-features/src/scheduled-race-list.ts
  apps/sync-realtime-data-features/src/types.ts
  apps/sync-realtime-data-features/src/worker.test.ts
  apps/sync-realtime-data-features/src/worker.ts
  apps/sync-realtime-data-features/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

refactor(pc-keiba-viewer): consolidate learning/ subpackage + fix all basedpyright errors
  .claude/skills/continuous-learner.md
  .claude/skills/finish-position-training-loop.md
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/training.py
  apps/pc-keiba-viewer/src/scripts/insert_bucket_evaluation_row.py
  apps/pc-keiba-viewer/src/scripts/insert_running_style_bucket_evaluation_row.py
  apps/pc-keiba-viewer/src/scripts/learning/__init__.py
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_registry.py
  apps/pc-keiba-viewer/src/scripts/learning/subgroup_diagnostics.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_corner_lightgbm.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_finish_position_xgboost.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_local.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_stacking_metalearner.py
  pyrightconfig.json
Due: oxfmt

fix(sync-realtime-data-hot): unblock R2 archive cron by splitting candidate query
  apps/sync-realtime-data-hot/src/storage.test.ts
  apps/sync-realtime-data-hot/src/storage.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync-realtime-data-hot): piggyback cron recovery on viewer odds requests
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

perf(sync-realtime-data-hot): accelerate R2 archive cron 4x + batch 150
  apps/sync-realtime-data-hot/src/storage.test.ts
  apps/sync-realtime-data-hot/src/storage.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
  apps/sync-realtime-data-hot/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(learning): fix inverse-signal trigger, cap per round, exclude str columns
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_stacking_metalearner.py
Due: none

feat(learning): rolling validation years, per-trial inverse delta, auto enrichment analysis
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_registry.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
Due: none

perf(learning): cut training loop wall-time ~60% via 3 optimizations
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
Due: none

feat(pedigree): integrate nvd_nu (N-Data native) into pedigree pipeline
  apps/pc-keiba-viewer/src/scripts/finish-position-features/pedigree_staging.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_pedigree_staging.py
  docs/finish-position-accuracy/history/goal-signal4-serve-coverage-gate.md
  docs/finish-position-accuracy/history/nvd-um-vs-nvd-nu-discovery.md
Due: oxfmt

feat(features): add Signal4 sire/damsire keibajo win rate features
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

feat(scripts): shard venue weather DB by year (~9 MB/file, GitHub-safe)
  scripts/launchd/racing-venue-weather-daily.sh
  scripts/racing_venue_weather.py
  scripts/tests/test_racing_venue_weather.py
Due: shellcheck

feat(scripts): switch venue weather from daily to hourly granularity
  scripts/racing_venue_weather.py
  scripts/tests/test_racing_venue_weather.py
Due: none

feat(scripts): add venue weather fetch for all 25 racing venues
  scripts/launchd/com.kkk4oru.racing-venue-weather-daily.plist
  scripts/launchd/racing-venue-weather-daily.sh
  scripts/pyproject.toml
  scripts/racing_venue_weather.py
  scripts/tests/test_racing_venue_weather.py
  scripts/uv.lock
Due: shellcheck, oxfmt

feat(venue-weather): add Cloudflare Worker for race-day venue weather
  apps/venue-weather/migrations/0001_create_venue_weather.sql
  apps/venue-weather/package.json
  apps/venue-weather/src/index.ts
  apps/venue-weather/src/scheduled.test.ts
  apps/venue-weather/src/scheduled.ts
  apps/venue-weather/src/types.ts
  apps/venue-weather/src/venue-coords.ts
  apps/venue-weather/src/weather-api.test.ts
  apps/venue-weather/src/weather-api.ts
  apps/venue-weather/src/weather-d1.test.ts
  apps/venue-weather/src/weather-d1.ts
  apps/venue-weather/src/weather-queue.test.ts
  apps/venue-weather/src/weather-queue.ts
  apps/venue-weather/tsconfig.json
  apps/venue-weather/vitest.config.ts
  apps/venue-weather/wrangler.jsonc
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

fix(scripts): use precise racetrack coordinates for all 25 venues
  scripts/racing_venue_weather.py
Due: none

feat(scripts): extract venue coordinates to venue_coords.json
  scripts/racing_venue_weather.py
  scripts/tests/test_racing_venue_weather.py
  scripts/venue_coords.json
Due: oxfmt

feat: racing venue weather data — scripts backfill + Cloudflare Worker (#36)
  apps/venue-weather/migrations/0001_create_venue_weather.sql
  apps/venue-weather/package.json
  apps/venue-weather/src/index.ts
  apps/venue-weather/src/scheduled.test.ts
  apps/venue-weather/src/scheduled.ts
  apps/venue-weather/src/types.ts
  apps/venue-weather/src/venue-coords.ts
  apps/venue-weather/src/weather-api.test.ts
  apps/venue-weather/src/weather-api.ts
  apps/venue-weather/src/weather-d1.test.ts
  apps/venue-weather/src/weather-d1.ts
  apps/venue-weather/src/weather-queue.test.ts
  apps/venue-weather/src/weather-queue.ts
  apps/venue-weather/tsconfig.json
  apps/venue-weather/vitest.config.ts
  apps/venue-weather/wrangler.jsonc
  bun.lock
  scripts/launchd/com.kkk4oru.racing-venue-weather-daily.plist
  scripts/launchd/racing-venue-weather-daily.sh
  scripts/pyproject.toml
  scripts/racing_venue_weather.py
  scripts/tests/test_racing_venue_weather.py
  scripts/uv.lock
  scripts/venue_coords.json
Due: shellcheck, oxfmt, oxlint, tsc, vitest

chore(venue-weather): set D1 database_id for venue-weather-db
  apps/venue-weather/wrangler.jsonc
Due: oxfmt

fix(features): write parquet year-by-year to avoid DuckDB OOM
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
Due: none

fix(features): use target table for year probe in write_parquet
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
Due: none

chore: gitignore DuckDB feature registries (paid data derivatives)
  .gitignore
Due: none

feat(features): progressive spill, weather features, resume/incremental, focused training
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_walk_forward.py
Due: none

feat(features): add 8 weather×performance interaction features
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

fix(wf): update feature count parity guard for weather+interaction features
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_walk_forward.py
Due: none

fix(features): use nvd_nu for NAR/Ban-ei pedigree coverage
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

fix(sync-realtime-data-hot): chunk archive Phase-2 IN clause under D1 variable cap
  apps/sync-realtime-data-hot/src/storage.test.ts
  apps/sync-realtime-data-hot/src/storage.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync-realtime-data-hot): /api/internal/health aggregates 6 dimensions
  apps/sync-realtime-data-hot/src/monitor/health.test.ts
  apps/sync-realtime-data-hot/src/monitor/health.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(venue-weather,container): add KV cache + HTTP endpoint + container weather integration
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/src/weather_fetcher.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_weather_fetcher.py
  apps/venue-weather/src/index.ts
  apps/venue-weather/src/types.ts
  apps/venue-weather/src/weather-d1-reader.test.ts
  apps/venue-weather/src/weather-d1-reader.ts
  apps/venue-weather/src/weather-handler.test.ts
  apps/venue-weather/src/weather-handler.ts
  apps/venue-weather/src/weather-kv.test.ts
  apps/venue-weather/src/weather-kv.ts
  apps/venue-weather/src/weather-queue.test.ts
  apps/venue-weather/src/weather-queue.ts
  apps/venue-weather/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): hit /internal/race-trend-daily-track on the worker (DO never reached)
  apps/pc-keiba-viewer/src/lib/race-trend-daily-track-client.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-daily-track-client.server.ts
Due: oxfmt, oxlint, tsc, vitest

feat(eval): add place4-6 ranks and cross-subgroup multi-dimensional evaluation
  apps/pc-keiba-viewer/src/scripts/aggregate_bucket_eval_duckdb.py
  apps/pc-keiba-viewer/tests/test_aggregate_bucket_eval_duckdb.py
Due: none

feat(features): add trial registry with vector search and dedup
  .gitignore
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/trial_registry.py
  apps/pc-keiba-viewer/tests/test_trial_registry.py
Due: oxfmt

feat(training): add --focus-features/--exclude-features and nthread cap to WF scripts
  apps/pc-keiba-viewer/src/scripts/train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_xgboost_walk_forward.py
Due: none

perf(training): cap nthread=6 and add partition-filtered parquet loading
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_xgboost.py
Due: none

feat(features): add barei column and fix write_parquet OOM via staging table
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none
