Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

chore(v1.5): R2 upload script for model JSON + feature batch
  apps/sync-realtime-data/scripts/upload-running-style-artifacts.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): harden race detail rendering
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/corner-position-race-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/corner-position-race-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.tsx
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): reset race ai logs reliably
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-storage.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-storage.ts
Due: oxfmt, oxlint, tsc, vitest

chore: ignore root tmp directory
  .gitignore
Due: none

chore(v1.5): enable running-style D1 writes in production
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt

fix(viewer/scripts): include upcoming races in race_entry_corner_features
  apps/pc-keiba-viewer/src/scripts/build-corner-feature-table.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): zero-pad keibajo and race_bango in race_key lookup
  apps/pc-keiba-viewer/src/db/corner-running-style-parsers.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): make race ai chat respond reliably
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
Due: none

feat(viewer): enrich running style runner display
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.focus.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.tsx
Due: none

style(viewer): align running style section spacing
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

feat(viewer): make `next dev` read production D1 for running-style display
  apps/pc-keiba-viewer/next.config.ts
  apps/pc-keiba-viewer/src/app/api/horses/[kettoTorokuBango]/running-styles/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/running-styles/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/db/corner-running-style-queries.ts
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

refactor(viewer): always-sorted running-style table, drop 全体 tab
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.focus.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.tsx
Due: none

fix(viewer): show race ai runtime progress
  apps/pc-keiba-viewer/src/app/api/debug/ai-chat/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: oxfmt, oxlint, tsc, vitest

style(viewer): tighten running style table width
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

style(viewer): give running-style tabs a visible selected state
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

fix(viewer): make running-style tab clicks update selection immediately
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.tsx
Due: none

fix(viewer): align race-pace prediction with running-style D1 output
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/lib/race-pace-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(viewer): drop コーナー通過順予測 section, fold info into pace/style
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/corner-position-race-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/corner-position-race-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/corner-position-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/corner-position-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: oxfmt

fix(viewer): constrain mobile home width and warm race ai model
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): contain mobile home layout width
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt
