Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

feat(sync-realtime-data-hot): resolve JRA overseas race URLs and post times
  apps/sync-realtime-data-hot/src/jra-overseas.test.ts
  apps/sync-realtime-data-hot/src/jra-overseas.ts
  apps/sync-realtime-data-hot/src/scheduled-race-list.test.ts
  apps/sync-realtime-data-hot/src/scheduled-race-list.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync-realtime-data): record void results and detect RaceList-disabled NAR races
  apps/sync-realtime-data/migrations/0034_realtime_race_sources_result_void.sql
  apps/sync-realtime-data/src/keiba-go.test.ts
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): show void results and skip overseas JRA entry URLs
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.test.ts
  apps/pc-keiba-viewer/src/db/d1-trend-queries.server.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  packages/horse-racing-realtime/src/race-trend-daily-track-types.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data-features): parse catalog {rows} response envelope
  apps/sync-realtime-data-features/src/catalog-client.test.ts
  apps/sync-realtime-data-features/src/catalog-client.ts
  apps/sync-realtime-data-features/src/features/build.test.ts
  apps/sync-realtime-data-features/src/scheduled-race-list.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): skip domestic JRA URL build for overseas venues
  apps/pc-keiba-viewer/src/lib/jra-url.test.ts
  apps/pc-keiba-viewer/src/lib/jra-url.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position): recognize stage1 market-free model versions
  apps/finish-position-cron/src/focused-full-completion.test.ts
  apps/finish-position-cron/src/focused-full-completion.ts
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

feat(local-postgresql): hand-ingest Ascot King George VI & Queen Elizabeth Stakes
  apps/local-postgresql/sql/20260725000000_hand_ingest_ascot_king_george.sql
Due: none

feat(save-oversea-keiba-records): insert numeric-only missing JV masters
  apps/save-oversea-keiba-records/README.md
  apps/save-oversea-keiba-records/src/domain/master-backfill.test.ts
  apps/save-oversea-keiba-records/src/domain/master-backfill.ts
  apps/save-oversea-keiba-records/src/domain/master-row-builder.test.ts
  apps/save-oversea-keiba-records/src/domain/master-row-builder.ts
  apps/save-oversea-keiba-records/src/run-save.test.ts
  apps/save-oversea-keiba-records/src/run-save.ts
  apps/save-oversea-keiba-records/src/storage/master-upsert-sql.test.ts
  apps/save-oversea-keiba-records/src/storage/master-upsert-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): add overseas finish-position model training and prediction
  apps/pc-keiba-viewer/src/scripts/train_and_predict_finish_position_overseas.py
Due: none

feat(pc-keiba-viewer): load overseas finish-position predictions
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/codes.ts
  apps/pc-keiba-viewer/src/lib/runner-format.test.ts
  apps/pc-keiba-viewer/src/lib/runner-format.ts
Due: oxfmt, oxlint, tsc, vitest

perf(pc-keiba-r2-catalog): skip unchanged slices and coalesce running-style builds
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/sync_r2_catalog.py
  apps/pc-keiba-r2-catalog/scripts/test_sync_r2_catalog.py
  apps/pc-keiba-r2-catalog/src/inflight.test.ts
  apps/pc-keiba-r2-catalog/src/inflight.ts
  apps/pc-keiba-r2-catalog/src/running-style-feature-ctes.ts
  apps/pc-keiba-r2-catalog/src/running-style-sql.test.ts
  apps/pc-keiba-r2-catalog/src/running-style-sql.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data): distinguish disabled weight rescore from enqueue ok
  apps/sync-realtime-data/src/fetchLogStatuses.test.ts
  apps/sync-realtime-data/src/fetchLogStatuses.ts
  apps/sync-realtime-data/src/running-style-catalog-client.test.ts
  apps/sync-realtime-data/src/running-style-catalog-client.ts
  apps/sync-realtime-data/src/worker-rescore-trigger.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): enable event-driven weight rescore
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt

fix(local-postgresql): run replica status on Apple container and guard indexes
  apps/local-postgresql/README.md
  apps/local-postgresql/compose.yml
  apps/local-postgresql/package.json
  apps/local-postgresql/scripts/check-and-repair-indexes.ts
  apps/local-postgresql/scripts/push-neon-status.ts
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/scripts/start.sh
  apps/local-postgresql/src/index-health/core.test.ts
  apps/local-postgresql/src/index-health/core.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: shellcheck, oxfmt, oxlint, tsc, vitest

perf(pc-keiba-r2-catalog): skip unchanged extracts via PG source markers
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/sync_r2_catalog.py
  apps/pc-keiba-r2-catalog/scripts/test_sync_r2_catalog.py
Due: oxfmt

feat(pc-keiba-viewer): add prediction KV/Cache-API cache primitives
  apps/pc-keiba-viewer/src/lib/prediction-kv-cache.server.ts
  apps/pc-keiba-viewer/src/lib/prediction-kv-cache.test.ts
  apps/pc-keiba-viewer/src/lib/prediction-kv-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position-predict-container): keep weight rescore scoped to one race
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/rescore.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_rescore.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: none

feat(pc-keiba-viewer): serve fp/rs predictions from KV/Cache API in 3-day window
  apps/pc-keiba-viewer/src/app/api/internal/prediction-cache-bust/route.test.ts
  apps/pc-keiba-viewer/src/app/api/internal/prediction-cache-bust/route.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/prediction-kv-cache.server.ts
  apps/pc-keiba-viewer/src/lib/prediction-kv-cache.test.ts
  apps/pc-keiba-viewer/src/lib/prediction-kv-cache.ts
  apps/pc-keiba-viewer/src/lib/running-style-cache.server.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): add viewer-compatible prediction KV key helpers
  apps/finish-position-cron/src/prediction-kv-keys.test.ts
  apps/finish-position-cron/src/prediction-kv-keys.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): bust viewer prediction Cache API after rescore
  apps/finish-position-cron/src/prediction-cache-bust.test.ts
  apps/finish-position-cron/src/prediction-cache-bust.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): write finish-position predictions to shared KV
  apps/finish-position-cron/src/prediction-kv-writer.test.ts
  apps/finish-position-cron/src/prediction-kv-writer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position-cron): publish fp KV after focused-full and rescore
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync-realtime-data): write running-style predictions to shared KV
  apps/sync-realtime-data/src/prediction-kv-keys.test.ts
  apps/sync-realtime-data/src/prediction-kv-keys.ts
  apps/sync-realtime-data/src/viewer-running-style-cache.test.ts
  apps/sync-realtime-data/src/viewer-running-style-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position-cron): keep rescore KV writes per-race
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

fix(pc-keiba-viewer): bust finish-prediction-inputs on prediction-cache-bust
  apps/pc-keiba-viewer/src/app/api/internal/prediction-cache-bust/route.test.ts
  apps/pc-keiba-viewer/src/app/api/internal/prediction-cache-bust/route.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-inputs-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-inputs-cache.server.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(pc-keiba-viewer): drop pred:fp alias named finish-prediction-inputs
  apps/pc-keiba-viewer/src/lib/prediction-kv-cache.test.ts
  apps/pc-keiba-viewer/src/lib/prediction-kv-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position-cron): await pred:fp KV publish after rescore
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

fix(local-postgresql): keep local PG on Apple container only
  apps/local-postgresql/README.md
  apps/local-postgresql/compose.yml
  apps/local-postgresql/scripts/psql.sh
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/scripts/running-style-backfill.env
Due: shellcheck, oxfmt, oxlint, tsc, vitest

refactor(pc-keiba-viewer): probe Apple container for local feature jobs
  apps/pc-keiba-viewer/src/scripts/finish-position-features/_resource_defaults.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-bucket-21y.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-bucket-21y.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-21y.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-21y.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-finish-position-local.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-finish-position-local.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/push-v7lineage-eval-to-neon.ts
Due: oxfmt, oxlint, tsc, vitest

feat: keep colima only for wrangler Containers
  apps/finish-position-cron/package.json
  apps/mlflow-ui-proxy/package.json
  scripts/ensure-apple-container.sh
  scripts/ensure-docker-compat.sh
Due: shellcheck, oxfmt

refactor(launchd): run local predict fallbacks on Apple container
  scripts/launchd/README.md
  scripts/launchd/com.kkk4oru.finish-position-predict.plist
  scripts/launchd/com.kkk4oru.race-prediction-guard.plist
  scripts/launchd/finish-position-predict-daily.sh
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck, oxfmt

refactor(pc-keiba-viewer): rebuild learner images with Apple container
  .claude/skills/continuous-learner.md
  .claude/skills/finish-position-training-loop.md
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
Due: oxfmt

fix(finish-position-cron): persist DLQ errors and keep pre-race self-heal retrying
  apps/finish-position-cron/migrations/0005_add_dlq_error_details.sql
  apps/finish-position-cron/src/coverage-self-heal.test.ts
  apps/finish-position-cron/src/coverage-self-heal.ts
  apps/finish-position-cron/src/dlq-consumer.test.ts
  apps/finish-position-cron/src/dlq-consumer.ts
  apps/finish-position-cron/src/dlq-events.test.ts
  apps/finish-position-cron/src/dlq-events.ts
  apps/finish-position-cron/src/predict-failure.test.ts
  apps/finish-position-cron/src/predict-failure.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/retry-errors.test.ts
  apps/finish-position-cron/src/retry-errors.ts
  apps/finish-position-cron/src/types.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data): log running-style queue errors with name/stack
  apps/sync-realtime-data/src/format-error.test.ts
  apps/sync-realtime-data/src/format-error.ts
  apps/sync-realtime-data/src/running-style-catalog-client.test.ts
  apps/sync-realtime-data/src/running-style-catalog-client.ts
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data): keep RS jobs going when catalog R2 SQL is down
  apps/sync-realtime-data/package.json
  apps/sync-realtime-data/src/format-error.test.ts
  apps/sync-realtime-data/src/format-error.ts
  apps/sync-realtime-data/src/running-style-catalog-client.test.ts
  apps/sync-realtime-data/src/running-style-catalog-client.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.test.ts
  apps/sync-realtime-data/src/running-style-feature-materialize.ts
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/running-style-verification.test.ts
  apps/sync-realtime-data/src/running-style-verification.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(local-postgresql): harden interrupted replica sync
  apps/local-postgresql/package.json
  apps/local-postgresql/scripts/push-neon-sync.test.ts
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/scripts/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

fix(scripts): wait for PC-KEIBA update completion
  scripts/pc_keiba_auto_update.py
  scripts/tests/test_pc_keiba_auto_update.py
Due: none

fix(sync-realtime-data): avoid invalid short KV TTLs
  apps/sync-realtime-data/src/d1-query-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data): harden running-style writes
  apps/sync-realtime-data/src/finish-position-lite-pool.test.ts
  apps/sync-realtime-data/src/finish-position-lite-pool.ts
  apps/sync-realtime-data/src/running-style-neon.test.ts
  apps/sync-realtime-data/src/running-style-neon.ts
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data): log RS errors in one line and rethrow originals
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
