Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

test(routes): add test for delete error message handling
  apps/horse-racing-records/src/routes/delete.test.ts
Due: oxfmt, oxlint, tsc, vitest

test(iceberg): add type narrowing checks for discriminated union results
  apps/horse-racing-records/src/iceberg/equality-delete.test.ts
Due: oxfmt, oxlint, tsc, vitest

test: add comprehensive test coverage for multiple modules
  apps/horse-racing-records/src/avsc-patch.test.ts
  apps/horse-racing-records/src/duckdb/parquet-writer.test.ts
  apps/horse-racing-records/src/middleware/mtls.test.ts
  apps/horse-racing-records/src/routes/query.test.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(routes): use discriminated union pattern for delete operations
  apps/horse-racing-records/src/middleware/error-handler.test.ts
  apps/horse-racing-records/src/routes/delete.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(catalog): use discriminated unions for commit result types
  apps/horse-racing-records/src/catalog/rest-client.ts
Due: oxfmt, oxlint, tsc, vitest

feat: add horse-racing-schema shared package
  packages/horse-racing-schema/package.json
  packages/horse-racing-schema/src/schemas/README.md
  packages/horse-racing-schema/src/schemas/breeder_info.json
  packages/horse-racing-schema/src/schemas/horse_info.json
  packages/horse-racing-schema/src/schemas/jockey_info.json
  packages/horse-racing-schema/src/schemas/owner_info.json
  packages/horse-racing-schema/src/schemas/race_info.json
  packages/horse-racing-schema/src/schemas/race_records.json
  packages/horse-racing-schema/src/schemas/trainer_info.json
  packages/horse-racing-schema/src/table-schemas.test.ts
  packages/horse-racing-schema/src/table-schemas.ts
  packages/horse-racing-schema/src/types.test.ts
  packages/horse-racing-schema/src/types.ts
  packages/horse-racing-schema/tsconfig.json
  packages/horse-racing-schema/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

feat: add horse-racing-duckdb app with DuckDB query functionality
  apps/horse-racing-duckdb/.gitkeep
  apps/horse-racing-duckdb/package.json
  apps/horse-racing-duckdb/src/app.test.ts
  apps/horse-racing-duckdb/src/app.ts
  apps/horse-racing-duckdb/src/duckdb/connection.test.ts
  apps/horse-racing-duckdb/src/duckdb/connection.ts
  apps/horse-racing-duckdb/src/duckdb/duckdb-workers.wasm.d.ts
  apps/horse-racing-duckdb/src/duckdb/parquet-writer.test.ts
  apps/horse-racing-duckdb/src/duckdb/parquet-writer.ts
  apps/horse-racing-duckdb/src/routes/health.test.ts
  apps/horse-racing-duckdb/src/routes/health.ts
  apps/horse-racing-duckdb/src/routes/parquet-delete.test.ts
  apps/horse-racing-duckdb/src/routes/parquet-delete.ts
  apps/horse-racing-duckdb/src/types.test.ts
  apps/horse-racing-duckdb/src/types.ts
  apps/horse-racing-duckdb/tsconfig.json
  apps/horse-racing-duckdb/vitest.config.ts
  apps/horse-racing-duckdb/wrangler.toml
Due: oxfmt, oxlint, tsc, vitest

feat: add horse-racing-data-lake app with Iceberg catalog integration
  apps/horse-racing-data-lake/.dev.vars.example
  apps/horse-racing-data-lake/.env.example
  apps/horse-racing-data-lake/.envrc
  apps/horse-racing-data-lake/.gitkeep
  apps/horse-racing-data-lake/README.md
  apps/horse-racing-data-lake/package.json
  apps/horse-racing-data-lake/scripts/maintenance.sh
  apps/horse-racing-data-lake/scripts/setup.sh
  apps/horse-racing-data-lake/scripts/verify.sh
Due: shellcheck, oxfmt

chore: move @ducklings/workers dependency to workspace package
  package.json
Due: oxfmt

chore: update lockfile for workspace restructure
  bun.lock
Due: none

chore: ignore xlsx files
  .gitignore
Due: none

feat(local-postgresql): add Docker Compose setup for local PostgreSQL
  apps/local-postgresql/.env.example
  apps/local-postgresql/.gitignore
  apps/local-postgresql/README.md
  apps/local-postgresql/compose.yml
  apps/local-postgresql/initdb/.gitkeep
  apps/local-postgresql/package.json
  apps/local-postgresql/scripts/psql.sh
  apps/local-postgresql/scripts/start.sh
  apps/local-postgresql/scripts/stop.sh
Due: shellcheck, oxfmt

docs(local-postgresql): add PC-KEIBA PostgreSQL table reference
  apps/local-postgresql/docs/.gitkeep
  apps/local-postgresql/docs/pc-keiba-postgresql-reference.md
Due: oxfmt

Update local PostgreSQL replica sync
  apps/local-postgresql/.gitignore
  apps/local-postgresql/compose.yml
  apps/local-postgresql/docs/pc-keiba-postgresql-reference.md
  apps/local-postgresql/package.json
  apps/local-postgresql/scripts/create-neon-subscription.sh
  apps/local-postgresql/scripts/push-neon-sync.sh
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
  apps/local-postgresql/tsconfig.json
  apps/local-postgresql/vitest.config.ts
Due: shellcheck, oxfmt, oxlint, tsc, vitest

Add bloodline and stats scoring
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/[source]/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-stats-table.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/schema.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

Allow pc keiba viewer database target switch
  apps/pc-keiba-viewer/.env.example
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/db/client.ts
Due: oxfmt, oxlint, tsc, vitest

Deploy pc keiba viewer to Cloudflare Workers
  apps/pc-keiba-viewer/.gitignore
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/next.config.ts
  apps/pc-keiba-viewer/open-next.config.ts
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/db/client.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/tsconfig.json
  apps/pc-keiba-viewer/wrangler.jsonc
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

Scope Cloudflare database pool to requests
  apps/pc-keiba-viewer/src/db/client.ts
Due: oxfmt, oxlint, tsc, vitest
