Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(viewer): show target horse numbers in frame trends
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): use realtime jockey changes in race trends
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/lib/jockey-name.test.ts
  apps/pc-keiba-viewer/src/lib/jockey-name.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/finish-position): add MLX Race Set Transformer pipeline
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/ensemble-with-transformer.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/ensemble-with-transformer.ts
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/__init__.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/__main__.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/cli.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/dataset.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/model.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/training.py
  apps/pc-keiba-viewer/tests/test_finish_position_transformer.py
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): combine time and correlation scores
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-condition-analysis-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/time-score-table.tsx
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): collapse bloodline rate tables
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-stats-table.tsx
Due: oxfmt

feat(viewer): show race condition in header
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: oxfmt

feat(viewer): show jockeys in prediction tables
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/prediction-scratch.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/time-score-table.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add similar stats composite rates
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/similar-race-stats-table.tsx
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): soften paddock weight change colors
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/premium/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/lib/paddock.test.ts
  apps/pc-keiba-viewer/src/lib/paddock.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/average-jsonl-predictions.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/cli.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/dataset.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/model.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/training.py
  apps/pc-keiba-viewer/tests/test_finish_position_transformer.py
  apps/sync-realtime-data/src/time.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/time.test.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): show race conditions in paddock history
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: oxfmt

fix(viewer): simplify paddock history condition text
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: oxfmt

fix(viewer): contain paddock mobile layouts
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

fix(viewer): default similar stats to ten years
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add bloodline similar combined score
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-similar-combined-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): allow combined score target selection
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-similar-combined-table.tsx
Due: oxfmt

fix(viewer): split race trend table updates
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
Due: none

feat(viewer): combine time bloodline similar scores
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-similar-combined-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): align race detail score loading
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/loading.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/race-date-filter.test.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/race-date-filter.tsx
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-similar-combined-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
Due: oxfmt

feat(viewer): show paddock runner progress
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: oxfmt

fix(viewer): align paddock remaining count
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: none

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
