Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(viewer): use repo-root-relative paths in running-style driver subprocesses
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.ts
  apps/pc-keiba-viewer/src/scripts/generate_running_style_features_local.py
  apps/pc-keiba-viewer/tests/test_generate_running_style_features_local.py
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): scope Phase A uv to pc-keiba-viewer venv (--project apps/pc-keiba-viewer)
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.ts
Due: oxfmt, oxlint, tsc, vitest

perf(running-style): Wave 15 backfill acceleration (chunk + DuckDB pragma + SQL MATERIALIZED)
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.ts
  apps/pc-keiba-viewer/src/scripts/generate_running_style_features_local.py
  apps/pc-keiba-viewer/tests/test_generate_running_style_features_local.py
  apps/sync-realtime-data/src/running-style-feature-sql.test.ts
  apps/sync-realtime-data/src/running-style-feature-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime): widen paddock fetch lead + tighten cadence
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): re-export RaceTrendDailyTrackDO from worker entrypoint
  apps/sync-realtime-data/src/index.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(viewer): reorder race-header chips to put track + distance before age/class
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/lib/race-global-summary.test.ts
  apps/pc-keiba-viewer/src/lib/race-global-summary.ts
Due: oxfmt, oxlint, tsc, vitest

perf(running-style+pg): Wave 16 chunk resume + PG container tuning for N>1 parallel
  apps/local-postgresql/compose.yml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.ts
Due: oxfmt, oxlint, tsc, vitest

perf(running-style): chunk Phase A by month to fit pgsql_tmp disk budget
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.ts
  apps/pc-keiba-viewer/src/scripts/generate_running_style_features_local.py
  apps/pc-keiba-viewer/tests/test_generate_running_style_features_local.py
Due: oxfmt, oxlint, tsc, vitest

fix(running-style): write per-month parquet to avoid race_year overwrite
  apps/pc-keiba-viewer/src/scripts/generate_running_style_features_local.py
  apps/pc-keiba-viewer/tests/test_generate_running_style_features_local.py
Due: none

fix(realtime-hot): repopulate odds_fetch_state when venues lag
  apps/sync-realtime-data-hot/src/expected-race-count.test.ts
  apps/sync-realtime-data-hot/src/expected-race-count.ts
  apps/sync-realtime-data-hot/src/scheduled-race-list.test.ts
  apps/sync-realtime-data-hot/src/scheduled-race-list.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): pre-warm today's detail sections at JST 06:00
  apps/pc-keiba-viewer/src/worker.test.ts
  apps/pc-keiba-viewer/src/worker.ts
  apps/pc-keiba-viewer/src/worker/jst-date.test.ts
  apps/pc-keiba-viewer/src/worker/jst-date.ts
  apps/pc-keiba-viewer/src/worker/race-detail-section-cache-warm.test.ts
  apps/pc-keiba-viewer/src/worker/race-detail-section-cache-warm.ts
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

refactor(local-postgresql): add retry/backoff config + verify-mismatch policy for neon sync
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

fix(running-style): 21y backfill Phase C/D pipeline bug chain + parallelization
  apps/pc-keiba-viewer/src/scripts/finish-position-features/apply-running-style-postproc.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/apply-running-style-postproc.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-21y.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-21y.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/generate-running-style-local.ts
  apps/pc-keiba-viewer/src/scripts/load_running_style_predictions.py
  apps/pc-keiba-viewer/tests/test_load_running_style_predictions.py
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): wire running-style bucket evaluation panel + race_name U+3000 padding fix
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/running-style-prediction-dimensions.test.ts
  apps/pc-keiba-viewer/src/lib/running-style-prediction-dimensions.ts
Due: oxfmt, oxlint, tsc, vitest

feat(local-postgresql): add 21y running-style backfill env + run wrapper
  apps/local-postgresql/scripts/run-running-style-21y-backfill.sh
  apps/local-postgresql/scripts/running-style-backfill.env
Due: shellcheck

chore: ignore .claude/ internal artifacts (worktrees, caches)
  .gitignore
Due: none

feat(running-style): add opt-in strict nige target derivation (corner1+corner2)
  apps/sync-realtime-data/src/running-style-feature-sql.test.ts
  apps/sync-realtime-data/src/running-style-feature-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(running-style): add --nige-threshold flag to phase-c postproc
  apps/pc-keiba-viewer/src/scripts/finish-position-features/apply-running-style-postproc.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/apply-running-style-postproc.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): expose OOS-only bucket eval + per-race rank-1 nige display
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-section.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/running-style-prediction-dimensions.test.ts
  apps/pc-keiba-viewer/src/lib/running-style-prediction-dimensions.ts
Due: oxfmt, oxlint, tsc, vitest

feat(running-style): extend production training range to full 21 years
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
Due: none

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
