Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

docs(finish-position): NAR transformer per-cell routing + tw sweep = global-0.5 optimal (no change)
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): confirm iter40 first genuine prod write (48 NAR races @03:05 JST) — win LIVE
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): Ban-ei pairwise-base + transformer blend REJECT — NAR win is NAR-specific (arch lever done all 3 categories)
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): NAR score-level fusion marginally beats rank-fusion (pooled gate pass, HOLD pending blind-year power)
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): NAR score-level z-fusion CONFIRMED at 5-fold (all 3 primary LB95>0) — flip implementing
  docs/finish-position-prediction-system.md
Due: oxfmt

feat(finish-position): switch NAR blend to score-level z-fusion (score_z_55, +0.253pp top1 vs rank-fusion)
  apps/finish-position-predict-container/src/predict_lib/transformer_scorer.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_transformer_scorer.py
Due: none

docs(finish-position): NAR score-z fusion DEPLOYED + live-verified (2nd win, +0.25pp) — CF 22aa523d + Mac split2
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): update score-z CF worker version to 8706eb93 (redeploy) + note version IDs churn
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): NAR transformer seed-count sweep = 3-seed saturated (5/7-seed no sig gain) — arch knobs exhausted
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): transformer + orthogonal 2nd-moment features REJECT; campaign summary (2 arch wins deployed, all levers exhausted)
  docs/finish-position-prediction-system.md
Due: oxfmt

feat(running-style): persist predicted corner ranks
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-running-style-predictions.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-running-style-predictions.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-running-style-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-running-style-sql.ts
  apps/sync-realtime-data/migrations/0032_running_style_predicted_corner.sql
  apps/sync-realtime-data/scripts/backfill-running-style-d1.test.ts
  apps/sync-realtime-data/scripts/backfill-running-style-d1.ts
  apps/sync-realtime-data/scripts/push-running-style-date-to-remote.test.ts
  apps/sync-realtime-data/scripts/push-running-style-date-to-remote.ts
  apps/sync-realtime-data/scripts/sync-running-style-d1-to-neon.test.ts
  apps/sync-realtime-data/scripts/sync-running-style-d1-to-neon.ts
  apps/sync-realtime-data/src/running-style-cache.test.ts
  apps/sync-realtime-data/src/running-style-cron-orchestration.test.ts
  apps/sync-realtime-data/src/running-style-d1.test.ts
  apps/sync-realtime-data/src/running-style-d1.ts
  apps/sync-realtime-data/src/running-style-inference.test.ts
  apps/sync-realtime-data/src/running-style-inference.ts
  apps/sync-realtime-data/src/running-style-neon.test.ts
  apps/sync-realtime-data/src/running-style-neon.ts
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/viewer-running-style-cache.test.ts
  apps/sync-realtime-data/test/running-style-entry-coverage.test.ts
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

feat(running-style): add race-level pair metrics
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  docs/finish-position-prediction-system.md
Due: oxfmt

feat(cell-training): persist per-cell method identity
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_nar_etop2_override.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/local-postgresql/sql/20260630000000_create_cell_training_evaluations.sql
  apps/local-postgresql/sql/20260703080000_add_identity_to_cell_training_evaluations.sql
  apps/local-postgresql/src/sql/cell-training-evaluations-migration.test.ts
  apps/pc-keiba-viewer/src/scripts/learning/build_cell_models.py
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_build_cell_models.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): JRA pairwise-base+transformer REJECT (NAR-win NAR-specific across all 3 cat) + Ban-ei futan-power REJECT (odds-absorbed)
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): NAR transformer loss variants REJECT — top1-sharpening diluted post-blend (base carries top1); current loss optimal
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): NAR field-size-dependent fusion = GLOBAL-0.5-OPTIMAL (3rd axis confirming robust 0.5/0.5)
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): NAR temporal sequence model EARLY-REJECT — temporal order carries ~0 incremental signal (null control), redundant with aggregate form features
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): Ban-ei large-scale investigation ALL-REJECT — market edge +0.21pp, jump/sectional data physically absent, frontier confirmed
  docs/finish-position-prediction-system.md
Due: oxfmt

fix(finish-position): revert nar a957d8b4 cell route (adopted on broken cell evals) + mark fp cell-eval store unusable
  apps/finish-position-predict-container/src/predict_lib/cell_routing.json
  apps/finish-position-predict-container/tests/test_cell_router.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  docs/finish-position-prediction-system.md
Due: oxfmt

feat(running-style): category-aware learned corner-front-score weights (jra/nar) — display path only
  apps/pc-keiba-viewer/src/scripts/finish-position-features/apply-running-style-postproc.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/apply-running-style-postproc.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/running-style-corner-weights.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/running-style-corner-weights.ts
  apps/sync-realtime-data/scripts/push-running-style-date-to-remote.ts
  apps/sync-realtime-data/src/running-style-corner-weights.test.ts
  apps/sync-realtime-data/src/running-style-corner-weights.ts
  apps/sync-realtime-data/src/running-style-d1.ts
  apps/sync-realtime-data/src/running-style-inference.test.ts
  apps/sync-realtime-data/src/running-style-inference.ts
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): NAR large-scale ALL-REJECT incl speed-figure (finish-history is sufficient statistic for speed; time/speed dead-gap not a lever) + Ban-ei fclass=0 pocket = noise
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): drop unverified NAR speed-figure REJECT block (gate still training, numbers premature) — keep verified Ban-ei fclass=0 noise finding
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(running-style): corner-front-score learned weights deployed (worker 67084d54) + corner pair-score baseline populated
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): JRA odds-independent computed features (interactions/ratios/composites) ALL REJECT — GBDT tree-interactions already capture, artifacts ruled out via calibration+per-year
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): large-field × speed-figure pocket = 5yr-confirm REJECT (fold-selection artifact, dies on 2021/22 blind + blend + JRA) — large-scale round all-REJECT, frontier comprehensive
  docs/finish-position-prediction-system.md
Due: oxfmt

fix(realtime): weight watchdog dedup+backoff, premium data-top auth gate + NAR restore, premium completeness retry
  apps/sync-realtime-data/migrations/0033_realtime_race_sources_weight_fetch_attempt.sql
  apps/sync-realtime-data/src/fetchLogStatuses.test.ts
  apps/sync-realtime-data/src/fetchLogStatuses.ts
  apps/sync-realtime-data/src/keiba-go.test.ts
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/src/premium-race-parsers.test.ts
  apps/sync-realtime-data/src/premium-race.test.ts
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(features): reserve past14 rebuild quota + rotating KV cursor to end starvation
  apps/sync-realtime-data-features/src/gates/past14-cursor-kv.test.ts
  apps/sync-realtime-data-features/src/gates/past14-cursor-kv.ts
  apps/sync-realtime-data-features/src/worker.test.ts
  apps/sync-realtime-data-features/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): stable past-race display for race-trend/weight + self-healing premium section cache
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.ts
  apps/pc-keiba-viewer/src/lib/realtime-payload.server.test.ts
  apps/pc-keiba-viewer/src/lib/realtime-payload.server.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position): exclude within-race target_corner/running_style leak cols from catboost+xgboost features
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_xgboost.py
Due: none

feat(finish-position): deploy leak-free JRA model jra-cb-v9-sim-2013-clean
  apps/finish-position-predict-container/src/predict_lib/model_meta.json
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_per_class.py
  apps/finish-position-predict-container/tests/test_upcoming.py
Due: oxfmt

fix(features): past14 freshness requires post-race-day build with ranked rows
  apps/sync-realtime-data-features/src/gates/build-state-kv.test.ts
  apps/sync-realtime-data-features/src/gates/build-state-kv.ts
  apps/sync-realtime-data-features/src/time.test.ts
  apps/sync-realtime-data-features/src/time.ts
  apps/sync-realtime-data-features/src/worker.test.ts
  apps/sync-realtime-data-features/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): incomplete final-race trend payloads cache 600s instead of 24h
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-cache.ts
Due: oxfmt, oxlint, tsc, vitest

docs(pc-keiba-viewer): add jra masked-lever clean-baseline retest probe
  apps/pc-keiba-viewer/docs/probes/jra-masked-lever-clean-retest-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): add jra summer-venue cell accuracy focus probe
  apps/pc-keiba-viewer/docs/probes/jra-summer-venue-cell-focus-2026-07-04.md
Due: oxfmt

feat(local-postgresql): restart stopped container before recreating in start.sh
  apps/local-postgresql/scripts/start.sh
Due: shellcheck

refactor(scripts): always start local postgres in start-db-and-viewer
  scripts/start-db-and-viewer.sh
Due: shellcheck

docs(pc-keiba-viewer): summer straight×closer WF result — REJECT global+summer
  apps/pc-keiba-viewer/docs/probes/jra-summer-venue-cell-focus-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): summer upset odds-divergence profile 2025-2026
  apps/pc-keiba-viewer/docs/probes/jra-summer-upset-divergence-2026-07-04.md
Due: oxfmt

docs(pc-keiba-viewer): masked-lever clean retest complete — #2/#4/#6 all REJECT, none masked
  apps/pc-keiba-viewer/docs/probes/jra-masked-lever-clean-retest-2026-07-04.md
Due: oxfmt

fix(realtime): data-top persistence gated only by its own authenticity check
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest
