Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

build(viewer): update next-env reference to .next/types/routes.d.ts
  apps/pc-keiba-viewer/next-env.d.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): source zenhan_3f from jvd_ra/nvd_ra instead of se tables
  apps/sync-realtime-data/src/running-style-feature-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime): cap nige predictions to one horse per race in inference
  apps/sync-realtime-data/src/running-style-inference.ts
  apps/sync-realtime-data/src/running-style-race-constraint.test.ts
  apps/sync-realtime-data/src/running-style-race-constraint.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): keep race-trend detail panel reachable on mobile
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

feat(realtime): mark premium races as auth_required when stable comment html lacks full marker
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/premium-race.test.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime): add WIN5 schedule discovery and prediction pipeline
  apps/sync-realtime-data/migrations/0021_win5.sql
  apps/sync-realtime-data/package.json
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/win5-cron.ts
  apps/sync-realtime-data/src/win5-d1.ts
  apps/sync-realtime-data/src/win5-postgres.ts
  apps/sync-realtime-data/src/win5-queue.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add WIN5 prediction pages with budget-aware ticket picker
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/layout.tsx
  apps/pc-keiba-viewer/src/app/win5/[year]/[month]/[day]/page.tsx
  apps/pc-keiba-viewer/src/app/win5/[year]/[month]/page.tsx
  apps/pc-keiba-viewer/src/app/win5/[year]/page.tsx
  apps/pc-keiba-viewer/src/app/win5/page.tsx
  apps/pc-keiba-viewer/src/app/win5/win5-calendar.tsx
  apps/pc-keiba-viewer/src/app/win5/win5-prediction-panel.tsx
  apps/pc-keiba-viewer/src/app/win5/win5-today-section.tsx
  apps/pc-keiba-viewer/src/db/client.ts
  apps/pc-keiba-viewer/src/lib/win5-data.server.ts
  apps/pc-keiba-viewer/src/lib/win5-queries.server.ts
  apps/pc-keiba-viewer/src/lib/win5-schedule.server.ts
  apps/pc-keiba-viewer/src/lib/win5/budget-optimizer.ts
  apps/pc-keiba-viewer/src/lib/win5/index.ts
  apps/pc-keiba-viewer/src/lib/win5/jra-parse.ts
  apps/pc-keiba-viewer/src/lib/win5/leg-inputs.ts
  apps/pc-keiba-viewer/src/lib/win5/payout-parse.ts
  apps/pc-keiba-viewer/src/lib/win5/prediction.ts
  apps/pc-keiba-viewer/src/lib/win5/race-joho.ts
  apps/pc-keiba-viewer/src/lib/win5/types.ts
  apps/pc-keiba-viewer/src/scripts/walk-forward-win5-eval.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add field features, race-level nige cap, and per-year metrics to running-style training
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/scripts/finish-position-features/compare-running-style-predictions.py
  apps/pc-keiba-viewer/src/scripts/running_style_field_features.py
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
Due: oxfmt

5-24
  .claude/scheduled_tasks.lock
  apps/local-postgresql/sql/analytics-indexes.sql
  apps/pc-keiba-viewer/src/lib/win5-data.server.ts
  apps/pc-keiba-viewer/src/lib/win5-queries.server.ts
  apps/pc-keiba-viewer/src/lib/win5/leg-inputs.test.ts
  apps/pc-keiba-viewer/src/lib/win5/leg-inputs.ts
  apps/pc-keiba-viewer/src/lib/win5/model-score-lookup.server.ts
  apps/pc-keiba-viewer/src/lib/win5/prediction.test.ts
  apps/pc-keiba-viewer/src/lib/win5/prediction.ts
  apps/pc-keiba-viewer/src/lib/win5/types.ts
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/src/scripts/walk-forward-win5-eval.test.ts
  apps/pc-keiba-viewer/src/scripts/walk-forward-win5-eval.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

perf(viewer): unblock race-detail SSR from serialized DB and JRA+NAR scans
  apps/pc-keiba-viewer/src/app/races/detail/ai-json-export-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/db/client.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

perf(viewer): cache race-detail SSR snapshots in KV and pre-warm via cron
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-ssr/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/lib/race-detail-ssr-cache.server.ts
  apps/pc-keiba-viewer/src/worker.ts
  apps/pc-keiba-viewer/src/worker/race-detail-section-cache-warm.ts
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

perf(realtime): add D1 indexes for hot read paths and enable read replicas
  apps/sync-realtime-data/migrations/0022_hot_path_indexes.sql
Due: none

perf(viewer): lazy-load paddock recent results and show a skeleton
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/recent-results/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: oxfmt, oxlint, tsc, vitest

perf(viewer): reuse race-detail SSR snapshot cache on the paddock-edit page
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
Due: none

perf(viewer): pre-warm paddock recent-results alongside the SSR snapshot
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-ssr/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/recent-results/route.ts
  apps/pc-keiba-viewer/src/lib/recent-results-cache.server.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): keep mypage race date on a single line
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

perf(realtime): revise D1 hot-path indexes and add a nightly retention sweep
  apps/sync-realtime-data/migrations/0023_revised_hot_path_indexes.sql
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): silence AbortError surfacing in mypage favorites search
  apps/pc-keiba-viewer/src/app/mypage/favorites/favorites-manager.tsx
Due: none

fix(viewer): align paddock recent-results skeleton with rendered DOM
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: oxfmt

perf(viewer): strip unused jockey/frame aggregates from the race-trend payload
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest
