Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

Handle scratched runners in realtime views
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/overall-score-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/prediction-scratch.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/lib/jockey-name.test.ts
  apps/pc-keiba-viewer/src/lib/jockey-name.ts
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/test/keiba-go.test.ts
Due: oxfmt, oxlint, tsc, vitest

Show finish prediction validation metrics
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/prediction-scratch.test.tsx
  apps/pc-keiba-viewer/src/lib/finish-position-prediction-evaluation.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction-evaluation.ts
  apps/pc-keiba-viewer/src/scripts/compare-finish-position-predictions.ts
Due: oxfmt, oxlint, tsc, vitest

Adjust race detail compact number styles
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

Emphasize paddock table horse numbers
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: oxfmt

Animate home page race header
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/layout.tsx
  apps/pc-keiba-viewer/src/app/page.tsx
Due: oxfmt

Add same-day jockey wins to finish prediction
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction-evaluation.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  apps/pc-keiba-viewer/src/scripts/compare-finish-position-predictions.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

Add paddock Discord notifications
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/discord/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/page.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/db): support multiple finish model versions
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): blend multi-kind model predictions and tune category weights
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

chore(viewer): refresh finish prediction evaluation metrics
  apps/pc-keiba-viewer/src/lib/finish-position-prediction-evaluation.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add tuning-config and ensemble support to compare-finish
  apps/pc-keiba-viewer/src/scripts/compare-finish-position-predictions.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add finish-position tuning search runner
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/scripts/finish-position-tuning/ban-ei-search.example.json
  apps/pc-keiba-viewer/src/scripts/finish-position-tuning/default-parameters.json
  apps/pc-keiba-viewer/src/scripts/finish-position-tuning/jra-search.example.json
  apps/pc-keiba-viewer/src/scripts/finish-position-tuning/nar-search.example.json
  apps/pc-keiba-viewer/src/scripts/search-finish-position-tuning.ts
Due: oxfmt, oxlint, tsc, vitest

feat(local-postgresql): exclude tuning log tables from neon sync by default
  apps/local-postgresql/scripts/push-neon-sync.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): persist tuning trial metrics and refactor random kinds
  apps/pc-keiba-viewer/src/scripts/search-finish-position-tuning.ts
Due: oxfmt, oxlint, tsc, vitest

chore(viewer): adopt tuned finish-position defaults from random search
  apps/pc-keiba-viewer/src/scripts/finish-position-tuning/default-parameters.json
Due: oxfmt

chore(viewer): ignore tmp and logs in oxfmt and apply pre-existing format fixes
  apps/pc-keiba-viewer/.oxfmtrc.json
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/setup-lightgbm-gpu-macos.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add walk-forward finish-position evaluation harness
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/scripts/walk-forward-finish-position-eval-types.ts
  apps/pc-keiba-viewer/src/scripts/walk-forward-finish-position-eval.test.ts
  apps/pc-keiba-viewer/src/scripts/walk-forward-finish-position-eval.ts
Due: oxfmt, oxlint, tsc, vitest

chore(viewer/scripts): silence ty unresolved-attribute on mlx dynamic imports
  apps/pc-keiba-viewer/src/scripts/corner_lightgbm.py
Due: none

feat(viewer/scripts): scaffold race-finish-position-features table and skeleton builder
  apps/pc-keiba-viewer/.gitignore
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features-types.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add horse career and form features stage (1A, 13 of 15 columns)
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-horse-career-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-horse-career-sql.ts
Due: oxfmt, oxlint, tsc, vitest
