Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(finish-position): require a complete odds board
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.py
  apps/finish-position-predict-container/tests/test_stage1_routing.py
Due: none

test(finish-position): lock popularity rank inverse
  apps/finish-position-predict-container/src/predict_lib/stage1_routing.py
  apps/finish-position-predict-container/tests/test_stage1_routing.py
Due: none

docs(postgres): require Neon DDL for new tables
  apps/local-postgresql/README.md
Due: oxfmt

fix(catalog): use updated_at markers for oversea tables
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/sync_r2_catalog.py
  apps/pc-keiba-r2-catalog/scripts/test_sync_r2_catalog.py
Due: oxfmt

fix(launchd): guard no longer aborts silently when D1 API fails
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck

fix(sync-realtime-data): record Neon sync failure as sync-failed, not completed
  apps/pipeline-health-monitor/src/finish-position-client.test.ts
  apps/pipeline-health-monitor/src/finish-position-client.ts
  apps/pipeline-health-monitor/src/finish-position-signals.ts
  apps/pipeline-health-monitor/src/incident-engine.test.ts
  apps/pipeline-health-monitor/src/incident-engine.ts
  apps/pipeline-health-monitor/src/queue-health-client.test.ts
  apps/pipeline-health-monitor/src/queue-health-client.ts
  apps/pipeline-health-monitor/src/scheduled-handler.test.ts
  apps/pipeline-health-monitor/src/scheduled-handler.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/running-style-d1.ts
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/test/running-style-queue.test.ts
  docs/viewer-statistics-cold-fallback.md
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position-predict): force writable transaction for Neon DML
  apps/finish-position-predict-container/src/db_driver.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
Due: none

fix(finish-position-predict): allow local pipeline directory override
  apps/finish-position-predict-container/src/pipeline_runner.py
Due: none

fix(features): allow forcing DuckDB memory and thread budgets
  apps/pc-keiba-viewer/src/scripts/finish-position-features/_resource_defaults.py
  apps/pc-keiba-viewer/tests/test_resource_defaults.py
Due: none

docs(probes): record 20260816 local one-shot recovery playbook
  docs/probes/finish-position-recovery-20260816/local-oneshot-recovery-playbook.md
Due: oxfmt

build(finish-position): pin DuckDB 1.5.5 for R2 Catalog Iceberg
  apps/finish-position-predict-container/Dockerfile
  apps/finish-position-predict-container/pyproject.toml
  apps/finish-position-predict-container/uv.lock
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/uv.lock
Due: oxfmt

docs(probes): add colima and v7-final traps to 20260816 playbook
  docs/probes/finish-position-recovery-20260816/local-oneshot-recovery-playbook.md
Due: oxfmt

docs(probes): locate day-base PREWARM failure sites
  docs/probes/finish-position-recovery-20260816/day-base-prewarm-failure-sites-20260816.md
  docs/probes/finish-position-recovery-20260816/local-oneshot-recovery-playbook.md
Due: oxfmt

fix(finish-position-predict): report missing prewarm parquet as error
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: none

fix(finish-position-cron): treat prewarm success without parquetKey as failed
  apps/finish-position-cron/src/day-base-prewarm.test.ts
  apps/finish-position-cron/src/day-base-prewarm.ts
Due: oxfmt, oxlint, tsc, vitest

docs(probes): add a one-page overnight finish-position index
  docs/probes/finish-position-recovery-20260816/overnight-fp-index.md
Due: oxfmt

docs(probes): treat v7-final as a dual-use path, not a schema
  docs/probes/finish-position-recovery-20260816/local-oneshot-recovery-playbook.md
  docs/probes/finish-position-recovery-20260816/overnight-fp-index.md
Due: oxfmt

docs(probes): record the finish-position container deploy window
  docs/probes/finish-position-recovery-20260816/container-deploy-window-20260816.md
  docs/probes/finish-position-recovery-20260816/overnight-fp-index.md
Due: oxfmt

docs(probes): separate the 08-12 outage from enabling day-base split
  docs/probes/finish-position-recovery-20260816/container-deploy-window-20260816.md
  docs/probes/finish-position-recovery-20260816/day-base-split-0812-lineage-20260816.md
  docs/probes/finish-position-recovery-20260816/overnight-fp-index.md
Due: oxfmt

docs(probes): replace split estimates with measured layer times
  docs/probes/finish-position-recovery-20260816/measure-builtin-split-0401.md
  docs/probes/finish-position-recovery-20260816/weight-trigger-queue-proposal-20260816.md
Due: oxfmt

docs(probes): record that day-base split was never enabled
  docs/probes/finish-position-recovery-20260816/day-base-split-0812-lineage-20260816.md
Due: oxfmt

docs(probes): call RACE_CHAIN 447s a whole-day cost
  docs/probes/finish-position-recovery-20260816/measure-builtin-split-0401.md
  docs/probes/finish-position-recovery-20260816/weight-trigger-queue-proposal-20260816.md
Due: oxfmt

docs(probes): date the 04/12 feat-cache HIT as a 04:09 focused-full seed
  docs/probes/finish-position-recovery-20260816/feat-cache-0412-provenance-20260816.md
Due: oxfmt

docs(probes): pedigree masters predate the 04:09 feat-cache HIT
  docs/probes/finish-position-recovery-20260816/feat-cache-0412-provenance-20260816.md
Due: oxfmt

docs(probes): put JRA pedigree collapse on the overnight index
  docs/probes/finish-position-recovery-20260816/overnight-fp-index.md
Due: oxfmt

docs(probes): design container observability after three blind stops
  docs/probes/finish-position-recovery-20260816/container-observability-design-20260816.md
  docs/probes/finish-position-recovery-20260816/overnight-fp-index.md
Due: oxfmt

docs(probes): put JRA pedigree quality ahead of split speed
  docs/probes/finish-position-recovery-20260816/weight-trigger-queue-proposal-20260816.md
Due: oxfmt

fix(finish-position-predict): fail loud when layer-timing write is skipped
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
Due: none

docs(probes): list five undeployed finish-position fixes
  docs/probes/finish-position-recovery-20260816/overnight-fp-index.md
  docs/probes/finish-position-recovery-20260816/tonight-commit-summary-20260816.md
Due: oxfmt

docs(probes): baseline Neon and D1 before the 09:09 weight window
  docs/probes/finish-position-recovery-20260816/weight-rescore-observe-plan-20260816.md
Due: oxfmt

fix(finish-position): stop seeding cache from target-race rescore miss
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/tests/test_serve.py
  docs/probes/finish-position-recovery-20260816/a8-early-market-board-0712-20260816.md
  docs/probes/finish-position-recovery-20260816/a8-main-generation-20260816.md
  docs/probes/finish-position-recovery-20260816/generate_a8_main.py
  docs/probes/finish-position-recovery-20260816/macless-per-race-feat-cache-20260816.md
  docs/probes/finish-position-recovery-20260816/test_generate_a8_main.py
Due: oxfmt, oxlint, tsc, vitest

docs(probes): publish A8 coverage and softmax quality
  docs/probes/finish-position-recovery-20260816/a8-main-generation-20260816.md
  docs/probes/finish-position-recovery-20260816/generate_a8_main.py
  docs/probes/finish-position-recovery-20260816/test_generate_a8_main.py
Due: oxfmt

docs(probes): list 8/17 Mac-less feat-cache prerequisites in order
  docs/probes/finish-position-recovery-20260816/macless-automation-checklist-20260816.md
  docs/probes/finish-position-recovery-20260816/macless-per-race-feat-cache-20260816.md
  docs/probes/finish-position-recovery-20260816/neon-0101-ranks-before-weight-20260816.tsv
  docs/probes/finish-position-recovery-20260816/neon-0401-ranks-before-weight-20260816.tsv
  docs/probes/finish-position-recovery-20260816/neon-0701-ranks-before-weight-20260816.tsv
Due: oxfmt

docs(probes): treat domestic predicted_top1/top3_prob NULL as spec
  docs/probes/finish-position-recovery-20260816/predicted-prob-null-is-spec-20260816.md
Due: oxfmt

docs(probes): pin NAR and Ban-ei weight deadlines before JRA post
  docs/probes/finish-position-recovery-20260816/nar-banei-weight-window-20260816.md
Due: oxfmt

docs(probes): add the 8/16 feat-cache seed runbook
  docs/probes/finish-position-recovery-20260816/feat-cache-seed-runbook-20260816.md
  docs/probes/finish-position-recovery-20260816/r2-hit-before-overwrite-0816/jra-04-12.parquet
  docs/probes/finish-position-recovery-20260816/r2-hit-before-overwrite-0816/jra-07-01.parquet
  docs/probes/finish-position-recovery-20260816/seed-cache-reader-verify-0401-20260816.md
Due: oxfmt

docs(probes): index overnight FP notes by symptom
  docs/probes/finish-position-recovery-20260816/overnight-fp-index.md
Due: oxfmt

docs(probes): watch odds as well as weight on the 09:09 rescore
  docs/probes/finish-position-recovery-20260816/macless-per-race-feat-cache-20260816.md
Due: oxfmt

docs(probes): write the 09:09 JRA weight-window checklist
  docs/probes/finish-position-recovery-20260816/jra-weight-0909-checklist-20260816.md
  docs/probes/finish-position-recovery-20260816/overnight-fp-index.md
Due: oxfmt

docs(probes): record empty JRA weights at 09:03
  docs/probes/finish-position-recovery-20260816/jra-weight-0903-observation-20260816.md
Due: oxfmt

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
