Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

feat(sync-realtime-data): add internal Neon write-pool health endpoint
  apps/sync-realtime-data/src/neon-write-pool-probe.test.ts
  apps/sync-realtime-data/src/neon-write-pool-probe.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data): force Neon DML onto a writable transaction
  apps/sync-realtime-data/scripts/sync-running-style-d1-to-neon.test.ts
  apps/sync-realtime-data/scripts/sync-running-style-d1-to-neon.ts
  apps/sync-realtime-data/src/finish-position-lite-pool.test.ts
  apps/sync-realtime-data/src/finish-position-lite-pool.ts
  apps/sync-realtime-data/src/neon-writable-client.test.ts
  apps/sync-realtime-data/src/neon-writable-client.ts
  apps/sync-realtime-data/src/neon-write-pool-probe.test.ts
  apps/sync-realtime-data/src/neon-write-pool-probe.ts
  apps/sync-realtime-data/src/running-style-neon.test.ts
  apps/sync-realtime-data/src/running-style-neon.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position-cron): add freshness filter to FP coverage predicate
  apps/finish-position-cron/src/focused-full-completion.test.ts
  apps/finish-position-cron/src/focused-full-completion.ts
Due: oxfmt, oxlint, tsc, vitest

feat(local-postgresql): add keiba.go.jp same-day NAR scrape importer
  apps/local-postgresql/package.json
  apps/local-postgresql/scripts/keiba_go_scrape_import.py
  package.json
Due: oxfmt

fix(sync-realtime-data): freeze time in RS prediction-KV throw test
  apps/sync-realtime-data/src/viewer-running-style-cache.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position-cron): enforce per-race-only prediction generation
  apps/finish-position-cron/src/cron-decision.ts
  apps/finish-position-cron/src/per-race-scope-guard.test.ts
  apps/finish-position-cron/src/per-race-scope-guard.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/queue-producer.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position): reuse day-base across shards via R2 watermark metadata
  apps/finish-position-cron/src/container-ndjson-proxy.test.ts
  apps/finish-position-cron/src/container-ndjson-proxy.ts
  apps/finish-position-cron/src/day-base-prewarm.test.ts
  apps/finish-position-cron/src/day-base-prewarm.ts
  apps/finish-position-cron/src/ndjson-stream.ts
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/r2_client.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_r2_client.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: oxfmt, oxlint, tsc, vitest

fix(dev): speed up local viewer startup
  apps/pc-keiba-viewer/package.json
  scripts/start-db-and-viewer.sh
Due: shellcheck, oxfmt

feat(overseas): ingest JRA-VAN World racecards
  apps/save-oversea-keiba-records/README.md
  apps/save-oversea-keiba-records/src/cli.test.ts
  apps/save-oversea-keiba-records/src/domain/jvd-mapper.test.ts
  apps/save-oversea-keiba-records/src/domain/jvd-mapper.ts
  apps/save-oversea-keiba-records/src/run-save.test.ts
  apps/save-oversea-keiba-records/src/run-save.ts
  apps/save-oversea-keiba-records/src/sources/jra-card-parser.test.ts
  apps/save-oversea-keiba-records/src/sources/jra-card-parser.ts
  apps/save-oversea-keiba-records/src/sources/secondary-source-parser.test.ts
  apps/save-oversea-keiba-records/src/sources/secondary-source-parser.ts
  apps/save-oversea-keiba-records/src/sources/source-loader.test.ts
  apps/save-oversea-keiba-records/src/sources/source-loader.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): reject placeholder horse identities
  apps/pc-keiba-viewer/src/app/entity-ui.test.tsx
  apps/pc-keiba-viewer/src/app/entity-ui.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

feat(database): add overseas runner identities
  apps/local-postgresql/sql/20260814000000_create_oversea_runner_identity.sql
Due: none

feat(viewer): enrich overseas runner identities
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/schema.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

fix(database): scope overseas identities by race source
  apps/local-postgresql/sql/20260814000000_create_oversea_runner_identity.sql
  apps/local-postgresql/sql/20260814010000_upgrade_oversea_runner_identity_race_source.sql
Due: none

fix(viewer): scope runner identity joins to JRA
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/db/schema.ts
Due: oxfmt, oxlint, tsc, vitest

docs(database): explain retained identity backup
  apps/local-postgresql/sql/20260814010000_upgrade_oversea_runner_identity_race_source.sql
Due: none

fix(viewer): omit ambiguous placeholder horse history
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): separate placeholder runner aggregates
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

fix(predict-container): bound startup connection waits
  apps/finish-position-predict-container/src/db_driver.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_db_driver.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
Due: none

docs(viewer): audit placeholder horse identity usage
  apps/pc-keiba-viewer/docs/placeholder-horse-identity-audit.md
Due: oxfmt

docs(cron): design prediction readiness monitoring
  apps/finish-position-cron/docs/prediction-readiness-monitor-design-2026-08-15.md
Due: oxfmt

fix(viewer): finish placeholder identity audit
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

docs(cron): define alert resend escalation
  apps/finish-position-cron/docs/prediction-readiness-monitor-design-2026-08-15.md
Due: oxfmt

feat(viewer): populate overseas runner profiles
  apps/local-postgresql/sql/20260815000000_seed_jacques_le_marois_oversea_runner_identity.sql
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
Due: none

docs(viewer): audit overseas identity display consumers
  apps/pc-keiba-viewer/docs/overseas-runner-identity-ui-audit.md
Due: oxfmt

fix(viewer): invalidate stale runner identity caches
  apps/pc-keiba-viewer/src/db/query-cache.ts
  apps/pc-keiba-viewer/src/lib/race-detail-ssr-cache.server.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): preserve full jockey names on realtime refresh
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
Due: none

fix(viewer): reuse overseas names in display outputs
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/ai/data/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/realtime-race-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.tsx
  apps/pc-keiba-viewer/src/lib/runner-display.test.ts
  apps/pc-keiba-viewer/src/lib/runner-display.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): complete overseas display name rollout
  apps/pc-keiba-viewer/docs/overseas-runner-identity-ui-audit.md
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-similar-combined-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-stats-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/similar-race-stats-table.tsx
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
  apps/pc-keiba-viewer/src/lib/race-pace-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/race-pace-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

docs(operations): add prediction recovery runbook
  docs/probes/finish-position-recovery-20260815/README.md
  docs/probes/finish-position-recovery-20260815/check-completion.sql
  docs/probes/finish-position-recovery-20260815/race-key-formats.md
  docs/probes/finish-position-recovery-20260815/races-20260815.tsv
  docs/probes/finish-position-recovery-20260815/submit-focused-races.sh
Due: shellcheck, oxfmt

docs(viewer): audit query display boundaries
  apps/pc-keiba-viewer/docs/query-ui-consumption-audit.md
Due: oxfmt

feat(operations): detect prediction delivery outages
  apps/finish-position-cron/docs/prediction-readiness-monitor-design-2026-08-15.md
  apps/finish-position-cron/migrations/0006_create_prediction_monitoring.sql
  apps/finish-position-cron/src/coverage-self-heal.test.ts
  apps/finish-position-cron/src/coverage-self-heal.ts
  apps/finish-position-cron/src/delivery-canary.test.ts
  apps/finish-position-cron/src/delivery-canary.ts
  apps/finish-position-cron/src/delivery-lifecycle.test.ts
  apps/finish-position-cron/src/delivery-lifecycle.ts
  apps/finish-position-cron/src/dlq-consumer.test.ts
  apps/finish-position-cron/src/dlq-consumer.ts
  apps/finish-position-cron/src/prediction-readiness.test.ts
  apps/finish-position-cron/src/prediction-readiness.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/queue-producer.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/pipeline-health-monitor/README.md
  apps/pipeline-health-monitor/src/finish-position-client.test.ts
  apps/pipeline-health-monitor/src/finish-position-client.ts
  apps/pipeline-health-monitor/src/finish-position-signals.test.ts
  apps/pipeline-health-monitor/src/finish-position-signals.ts
  apps/pipeline-health-monitor/src/incident-engine.test.ts
  apps/pipeline-health-monitor/src/incident-engine.ts
  apps/pipeline-health-monitor/src/incident-state.ts
  apps/pipeline-health-monitor/src/scheduled-handler.test.ts
  apps/pipeline-health-monitor/src/scheduled-handler.ts
  apps/pipeline-health-monitor/src/types.ts
  apps/pipeline-health-monitor/src/worker.test.ts
  apps/pipeline-health-monitor/src/worker.ts
  apps/pipeline-health-monitor/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

docs(operations): add queue delivery readiness check
  docs/probes/finish-position-recovery-20260815/README.md
  docs/probes/finish-position-recovery-20260815/check-queue-delivery.sh
Due: shellcheck, oxfmt

fix(operations): execute queue readiness probe
  docs/probes/finish-position-recovery-20260815/check-queue-delivery.sh
Due: shellcheck

chore(operations): add viewer cache warm probe
  docs/probes/finish-position-recovery-20260815/README.md
  docs/probes/pc-keiba-viewer-cache-warm/README.md
  docs/probes/pc-keiba-viewer-cache-warm/warm-race-detail-cache.sh
Due: shellcheck, oxfmt

fix(operations): make monitor silence actionable
  apps/finish-position-cron/docs/prediction-readiness-monitor-design-2026-08-15.md
  apps/pipeline-health-monitor/README.md
  apps/pipeline-health-monitor/src/incident-engine.test.ts
  apps/pipeline-health-monitor/src/incident-engine.ts
  apps/pipeline-health-monitor/src/scheduled-handler.test.ts
  apps/pipeline-health-monitor/src/scheduled-handler.ts
Due: oxfmt, oxlint, tsc, vitest

feat(overseas): parse JRA-VAN horse histories
  apps/save-oversea-keiba-records/src/sources/jra-horse-profile-parser.test.ts
  apps/save-oversea-keiba-records/src/sources/jra-horse-profile-parser.ts
Due: oxfmt, oxlint, tsc, vitest

docs(operations): add race-day incident handoff
  docs/race-day-handoff-2026-08-15.md
Due: oxfmt

fix(operations): separate pending prediction metrics
  docs/probes/finish-position-recovery-20260815/check-completion.sql
Due: none

feat(database): add overseas horse race history
  apps/local-postgresql/sql/20260815010000_create_oversea_horse_race_history.sql
  apps/local-postgresql/src/sql/oversea-horse-race-history-migration.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(overseas): sequence same-day horse results
  apps/save-oversea-keiba-records/src/sources/jra-horse-profile-parser.test.ts
  apps/save-oversea-keiba-records/src/sources/jra-horse-profile-parser.ts
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
