Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

docs(finish-position): close pace-fit (JRA/NAR REJECT) and H-RS-KEIBAJO-IMPUTE (REJECT)
  docs/finish-position-prediction-system.md
Due: oxfmt

feat(finish-position): warm viewer cache after focused per-race full completion
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): record cross-source transfer-history REJECT — strongest near-miss (top1 LB95 +0.025, single-year driven)
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): NAR/Ban-ei genuine writes confirmed + starvation fix validated; record same-day bias REJECT
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): record jockey-switch and same-day jockey form REJECT/EARLY-REJECT verdicts
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): record batch-probe REJECT verdicts (trainer-switch / rotation-fit / draw-affinity) + Hakodate noise-magnet meta-finding
  docs/finish-position-prediction-system.md
Due: oxfmt

fix(finish-position): raise busy-slot budget MAX_BUSY_REQUEUES 40->80
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): E-top2 revival — JRA REJECT (sim absorbed signal), NAR blocked by phantom features
  docs/finish-position-prediction-system.md
Due: oxfmt

fix(finish-position): reset category work dirs per race to unblock 2nd+ race writes
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
Due: none

docs(finish-position): NAR E-top2 revival REJECT — original ADOPT was base-selection artifact; E-top2 line closed all categories
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): record NAR probe batch REJECT (rotation/same-day-jockey/trainer-switch) — switch/same-day lines closed both categories
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): document NAR per-class ensemble routing serving reality
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): record Ban-ei probe batch 3-for-3 REJECT — cross-category sweep complete
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): item-17 CLOSED — work-dir cleanup fix verified, all 3 categories serving genuine per-race writes
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): all 3 categories verified writing on current image ec62072a
  docs/finish-position-prediction-system.md
Due: oxfmt

Persist running style cell accuracy metrics
  apps/pc-keiba-viewer/src/scripts/finish-position-features/apply-running-style-postproc.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/apply-running-style-postproc.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-sql.ts
  apps/pc-keiba-viewer/src/scripts/insert_running_style_bucket_evaluation_row.py
  apps/pc-keiba-viewer/src/scripts/load_running_style_predictions.py
  apps/pc-keiba-viewer/tests/test_insert_running_style_bucket_evaluation_row.py
  apps/pc-keiba-viewer/tests/test_load_running_style_predictions.py
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

Persist running style cell metric payloads
  apps/local-postgresql/sql/20260702010000_add_metric_payload_to_cell_training_evaluations.sql
  apps/local-postgresql/src/sql/cell-training-evaluations-migration.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-pacestyle-features.py
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/learning/build_cell_models.py
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_add_pacestyle_features.py
  apps/pc-keiba-viewer/tests/test_build_cell_models.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): record overnight mega-probe — 30 candidates REJECT; 2nd-moment signal improves place4-6/box only
  docs/finish-position-prediction-system.md
Due: oxfmt

Persist scalar cell metric payloads
  apps/local-postgresql/sql/20260630000000_create_cell_training_evaluations.sql
  apps/local-postgresql/sql/20260702010000_add_metric_payload_to_cell_training_evaluations.sql
  apps/local-postgresql/src/sql/cell-training-evaluations-migration.test.ts
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

Normalize finish cell subgroup comparisons
  apps/pc-keiba-viewer/src/scripts/learning/build_cell_models.py
  apps/pc-keiba-viewer/tests/test_build_cell_models.py
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): JRA per-cell window routing REJECT (508 comparisons, 0 adopted) — 2013+ is per-cell frontier too
  docs/finish-position-prediction-system.md
Due: oxfmt

Adopt best cell-specific prediction method
  apps/pc-keiba-viewer/src/scripts/learning/build_cell_models.py
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_build_cell_models.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): Ban-ei body-mass within-race rank EARLY-REJECT — market prices weight even in thin Ban-ei
  docs/finish-position-prediction-system.md
Due: oxfmt

Guard production cell routing model provenance
  apps/pc-keiba-viewer/src/scripts/learning/build_cell_models.py
  apps/pc-keiba-viewer/tests/test_build_cell_models.py
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): literature-survey candidates (sire-spec, inbreeding, circadian, rel-age, transport) all REJECT — 119 papers triaged, market/place4-6 wall reconfirmed
  docs/finish-position-prediction-system.md
Due: oxfmt

Stabilize realtime result and weight fetches
  apps/sync-realtime-data/src/keiba-go.test.ts
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/keiba-go.test.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-position): route NAR mile E 54 cell model
  apps/finish-position-predict-container/models/finish-position/nar/nar-xgb-cell-a957d8b4-v1/metadata.json
  apps/finish-position-predict-container/models/finish-position/nar/nar-xgb-cell-a957d8b4-v1/model.json
  apps/finish-position-predict-container/src/predict_lib/cell_routing.json
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_cell_router.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  docs/finish-position-prediction-system.md
Due: oxfmt

fix(running-style): include full NAR bucket years
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-21y.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/evaluate-running-style-bucket-21y.ts
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): NAR listwise Set-Transformer × XGBoost blend = genuine deployable win (prod-base gated, +0.64pp top1); JRA does not transfer
  docs/finish-position-prediction-system.md
Due: oxfmt

feat(finish-position): deploy NAR Set-Transformer×ensemble rank-fusion blend (iter40, +0.68pp top1, flag-gated)
  apps/finish-position-predict-container/models/finish-position/nar/nar-xgb-cell-a957d8b4-v1/model.json
  apps/finish-position-predict-container/src/predict_lib/cell_router.py
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/transformer_scorer.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/src/xgboost_adapter.py
  apps/finish-position-predict-container/tests/test_cell_router.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_transformer_scorer.py
  apps/finish-position-predict-container/tests/test_xgboost_adapter.py
Due: oxfmt

feat(finish-position): prioritize cell routing over per-class
  .oxfmtrc.json
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.ts
  docs/finish-position-cloudflare-container/01-current-mechanism.md
  docs/finish-position-prediction-system.md
  lefthook.yml
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position): default NAR transformer blend OFF until serve-smoke (opt-in via env)
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/tests/test_model_meta.py
Due: none

docs(finish-position): record NAR Set-Transformer blend deploy (iter40, +0.63pp top1, flag-gated) + honest Neon-write-smoke caveat
  docs/finish-position-prediction-system.md
Due: oxfmt

docs(finish-position): correct iter40 NAR blend to deployed-but-dormant (flag OFF, env=1 pending) — CF image bakes default=False, consistent with HEAD
  docs/finish-position-prediction-system.md
Due: oxfmt

Add realtime queue recovery checks
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): correct iter40 state to deployed-but-dormant (CF flag=False, activation pending Neon-write smoke)
  docs/finish-position-prediction-system.md
Due: oxfmt

feat(finish-position): enable NAR transformer blend on Mac launchd daily (env, default on)
  scripts/launchd/finish-position-predict-daily.sh
Due: shellcheck

feat(finish-position-cron): forward NAR_TRANSFORMER_BLEND_ENABLED into container env (secret-gated)
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/types.ts
Due: oxfmt, oxlint, tsc, vitest

docs(finish-position): NAR iter40 transformer blend ENABLED production-wide (Mac launchd + CF secret) — Neon-write smoke clean
  docs/finish-position-prediction-system.md
Due: oxfmt

fix(finish-position): keep per-cell routing authoritative
  apps/finish-position-predict-container/src/predict_lib/ensemble_routing.py
  apps/finish-position-predict-container/src/predict_lib/per_class.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/src/predict_lib/upcoming.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
  apps/finish-position-predict-container/tests/test_per_class.py
  apps/pc-keiba-viewer/src/scripts/score_finish_position_local.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_local.py
  docs/finish-position-prediction-system.md
Due: oxfmt

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
