Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

feat(viewer)!: remove race AI assistant, playground, and JSON export
  apps/pc-keiba-viewer/.env.example
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/docs/overseas-runner-identity-ui-audit.md
  apps/pc-keiba-viewer/docs/probes/confidence-display-design-2026-07-17.md
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/public/ai/almondeye_top.png
  apps/pc-keiba-viewer/src/app/ai/ai-playground.tsx
  apps/pc-keiba-viewer/src/app/ai/page.tsx
  apps/pc-keiba-viewer/src/app/api/ai/assets/[file]/route.ts
  apps/pc-keiba-viewer/src/app/api/debug/ai-chat/route.ts
  apps/pc-keiba-viewer/src/app/api/debug/ai-playground/route.ts
  apps/pc-keiba-viewer/src/app/api/models/gemma-4-e2b/[version]/[file]/route.ts
  apps/pc-keiba-viewer/src/app/api/race-ai/tone-prompt/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/ai/data/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/ai/logs/route.ts
  apps/pc-keiba-viewer/src/app/api/spec/route.ts
  apps/pc-keiba-viewer/src/app/layout.tsx
  apps/pc-keiba-viewer/src/app/mypage/mypage-client.tsx
  apps/pc-keiba-viewer/src/app/mypage/race-ai-settings-panel.tsx
  apps/pc-keiba-viewer/src/app/race-ai-consent-manager.tsx
  apps/pc-keiba-viewer/src/app/races/detail/ai-json-export-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-default-prompt.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-device.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-model-manager.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-storage.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-storage.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/scripts/dev-http-proxy.ts
  apps/pc-keiba-viewer/wrangler.dev.jsonc
  apps/pc-keiba-viewer/wrangler.jsonc
  assets/ai/almondeye_top.png
  bun.lock
  docs/finish-position-accuracy/history/oddscorrection-coverage-audit.md
Due: oxfmt, oxlint, tsc, vitest

chore(viewer): remove unused local r2-model-upload helper
  apps/pc-keiba-viewer/local-dev/r2-model-upload/README.md
  apps/pc-keiba-viewer/local-dev/r2-model-upload/upload-model-chunks.mjs
  apps/pc-keiba-viewer/local-dev/r2-model-upload/upload-model.mjs
  apps/pc-keiba-viewer/local-dev/r2-model-upload/worker.js
  apps/pc-keiba-viewer/local-dev/r2-model-upload/wrangler.jsonc
Due: oxfmt

feat(viewer): match similar-race stats to cell conditions and frame rates
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-stats-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/similar-race-stats-table.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/past-race-cell-matching.test.ts
  apps/pc-keiba-viewer/src/lib/past-race-cell-matching.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add win-rate heatmap and compact race-detail layout
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-condition-analysis-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-condition-analysis-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-time-stats-metrics.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-time-stats-metrics.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.tsx
  apps/pc-keiba-viewer/src/app/vars.css
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): warm race-detail SSR snapshots from cache-warm
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-ssr/route.test.ts
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-detail-ssr/route.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): allow custom finish-prediction dimension query keys
  apps/pc-keiba-viewer/src/lib/finish-prediction-dimensions.test.ts
  apps/pc-keiba-viewer/src/lib/finish-prediction-dimensions.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): bust db query cache after overseas prediction rescoring
  apps/pc-keiba-viewer/src/db/query-cache.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add overseas finish features and keiba archive records
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/keiba_archive_records.py
  apps/pc-keiba-viewer/src/scripts/overseas_finish_features.py
  apps/pc-keiba-viewer/src/scripts/train_and_predict_finish_position_overseas.py
  apps/pc-keiba-viewer/tests/test_keiba_archive_records.py
  apps/pc-keiba-viewer/tests/test_overseas_finish_features.py
Due: oxfmt

feat(finish-position-cron): cap container slots and pick up day-base HIT
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/container-ndjson-proxy.test.ts
  apps/finish-position-cron/src/container-ndjson-proxy.ts
  apps/finish-position-cron/src/container-slot-cap.test.ts
  apps/finish-position-cron/src/container-slot-cap.ts
  apps/finish-position-cron/src/cron-decision.test.ts
  apps/finish-position-cron/src/cron-decision.ts
  apps/finish-position-cron/src/day-base-pickup.test.ts
  apps/finish-position-cron/src/day-base-pickup.ts
  apps/finish-position-cron/src/day-base-prewarm-pickup.test.ts
  apps/finish-position-cron/src/day-base-prewarm-pickup.ts
  apps/finish-position-cron/src/day-base-prewarm.test.ts
  apps/finish-position-cron/src/day-base-prewarm.ts
  apps/finish-position-cron/src/delivery-canary.test.ts
  apps/finish-position-cron/src/delivery-canary.ts
  apps/finish-position-cron/src/dlq-consumer.test.ts
  apps/finish-position-cron/src/dlq-consumer.ts
  apps/finish-position-cron/src/do-state.test.ts
  apps/finish-position-cron/src/do-state.ts
  apps/finish-position-cron/src/predict-do-shard.test.ts
  apps/finish-position-cron/src/predict-do-shard.ts
  apps/finish-position-cron/src/predict-run-coordinator.test.ts
  apps/finish-position-cron/src/predict-run-coordinator.ts
  apps/finish-position-cron/src/prediction-cache-warm.test.ts
  apps/finish-position-cron/src/prediction-cache-warm.ts
  apps/finish-position-cron/src/prediction-kv-writer.test.ts
  apps/finish-position-cron/src/prediction-kv-writer.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/race-coordinator.test.ts
  apps/finish-position-cron/src/race-coordinator.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(predict-container): add debug logs and day-base HIT pipeline paths
  apps/finish-position-predict-container/src/db_driver.py
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/debug_log.py
  apps/finish-position-predict-container/src/predict_lib/ensemble_routing.py
  apps/finish-position-predict-container/src/predict_lib/focused_full_cache.py
  apps/finish-position-predict-container/src/predict_lib/r2_client.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/src/realtime_odds_fetcher.py
  apps/finish-position-predict-container/src/weather_fetcher.py
  apps/finish-position-predict-container/tests/test_debug_log.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
  apps/finish-position-predict-container/tests/test_focused_full_cache.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_r2_client.py
  apps/finish-position-predict-container/tests/test_serve.py
  apps/finish-position-predict-container/tests/test_shipped_race_chain_hit.py
Due: none

feat(save-oversea): persist oversea runner source ids in SQL
  apps/save-oversea-keiba-records/README.md
  apps/save-oversea-keiba-records/src/run-save.test.ts
  apps/save-oversea-keiba-records/src/run-save.ts
  apps/save-oversea-keiba-records/src/storage/oversea-runner-source-id-sql.test.ts
  apps/save-oversea-keiba-records/src/storage/oversea-runner-source-id-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync-realtime-hot): keep overseas JRA cards on the scheduled list
  apps/sync-realtime-data-hot/src/jra-overseas.test.ts
  apps/sync-realtime-data-hot/src/jra-overseas.ts
  apps/sync-realtime-data-hot/src/scheduled-race-list.test.ts
  apps/sync-realtime-data-hot/src/scheduled-race-list.ts
Due: oxfmt, oxlint, tsc, vitest

fix(scripts): keep covering windows from blocking pc-keiba auto-update
  scripts/pc_keiba_auto_update.py
  scripts/stubs/pyarrow/__init__.pyi
  scripts/stubs/pyarrow/parquet.pyi
  scripts/stubs/pywinauto/__init__.pyi
  scripts/tests/test_pc_keiba_auto_update.py
Due: none

chore(scripts): start colima with 4 CPU and 8 GiB for wrangler builds
  scripts/ensure-docker-compat.sh
Due: shellcheck

docs(viewer): note local corner-table staleness vs production parity
  docs/viewer-statistics-cold-fallback.md
Due: oxfmt

docs(probes): record 20260815 monitor rehearsal and missing-race notes
  docs/probes/finish-position-recovery-20260815/fp-missing-0816.tsv
  docs/probes/finish-position-recovery-20260815/local-generation-canary-validation.txt
  docs/probes/finish-position-recovery-20260815/monitor-catch-all-lesson-20260815.md
  docs/probes/finish-position-recovery-20260815/monitor-rehearsal-20260815.md
  docs/probes/finish-position-recovery-20260815/monitor-rehearsal-captured-embeds-20260815.json
  docs/probes/finish-position-recovery-20260815/submit-focused-races.sh
Due: shellcheck, oxfmt

docs(probes): record 20260816 day-base, pedigree, and latency findings
  docs/probes/finish-position-recovery-20260816/banei-83-10-v8-routing-20260816.md
  docs/probes/finish-position-recovery-20260816/day-base-prewarm-status-20260816.md
  docs/probes/finish-position-recovery-20260816/feat-cache-healthy-seed-0816.md
  docs/probes/finish-position-recovery-20260816/feat-cache-seed-blocked-20260816.md
  docs/probes/finish-position-recovery-20260816/feat-cache-value-mismatch-0412-20260816.md
  docs/probes/finish-position-recovery-20260816/focused-full-0102/accepted-at.txt
  docs/probes/finish-position-recovery-20260816/focused-full-0401-timeout-20260816.md
  docs/probes/finish-position-recovery-20260816/focused-full-0401/STARTED.md
  docs/probes/finish-position-recovery-20260816/focused-full-0401/jra-04-01.jsonl
  docs/probes/finish-position-recovery-20260816/focused-full-0401/races.tsv
  docs/probes/finish-position-recovery-20260816/focused-full-0401/summary.json
  docs/probes/finish-position-recovery-20260816/fp-ban-ei-chain.sh
  docs/probes/finish-position-recovery-20260816/local-duckdb-icebergscan-gap-20260816.md
  docs/probes/finish-position-recovery-20260816/macless-image-deploy-20260816.md
  docs/probes/finish-position-recovery-20260816/measure-builtin-split-0401.py
  docs/probes/finish-position-recovery-20260816/measure-jra-racechain-0401.sh
  docs/probes/finish-position-recovery-20260816/neon-primary-session-readonly-20260816.md
  docs/probes/finish-position-recovery-20260816/pedigree-rank-mismatch-0412-20260816.md
  docs/probes/finish-position-recovery-20260816/pedigree-score-first-dead-column-20260816.md
  docs/probes/finish-position-recovery-20260816/pedigree-score-spread-20260816.md
  docs/probes/finish-position-recovery-20260816/pedigree-target-race-experiment-0401-20260816.md
  docs/probes/finish-position-recovery-20260816/per-race-latency-phase1-20260816.md
  docs/probes/finish-position-recovery-20260816/per-race-latency-phase2-bottleneck-20260816.md
  docs/probes/finish-position-recovery-20260816/per-race-latency-phase3-log-verify-20260816.md
  docs/probes/finish-position-recovery-20260816/per-race-latency-phase4-candidates-20260816.md
  docs/probes/finish-position-recovery-20260816/per-race-latency-phase4-proposal-20260816.md
  docs/probes/finish-position-recovery-20260816/put-healthy-feat-cache-0816.sh
  docs/probes/finish-position-recovery-20260816/races-canary-0401.tsv
  docs/probes/finish-position-recovery-20260816/run-pedigree-target-0401.sh
  docs/probes/finish-position-recovery-20260816/seed-before-overwrite-baseline-0401-03-20260816.md
  docs/probes/finish-position-recovery-20260816/seed-feat-cache-0816.py
  docs/probes/finish-position-recovery-20260816/seed-healthy-feat-cache-0816.py
  docs/probes/finish-position-recovery-20260816/weight-triggered-per-race-20260816.md
Due: shellcheck, oxfmt

feat(viewer): add horse-weight column to the win-rate heatmap
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.tsx
  apps/pc-keiba-viewer/src/lib/horse-weight-class.test.ts
  apps/pc-keiba-viewer/src/lib/horse-weight-class.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

chore: ignore Serena artifacts and probe accept.json dumps
  .gitignore
Due: none

fix(viewer): pin heatmap tooltips only on mobile
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.tsx
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): look up race source without a union query
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/runner-format.test.ts
  apps/pc-keiba-viewer/src/lib/runner-format.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): show a combined heatmap color scale
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.tsx
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): allow horizontal scroll on the win-rate heatmap
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

fix(viewer): let phones pan the win-rate heatmap
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

fix(viewer): use one violet hue for the combined heatmap
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.tsx
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): use similar-race weight-class rates on the heatmap
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): compact combined heatmap cell values
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.tsx
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): drop decimals on three-digit combined heatmap rates
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add carried-weight heatmap column and start counts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/win-rate-heatmap-section.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/carried-weight-class.test.ts
  apps/pc-keiba-viewer/src/lib/carried-weight-class.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): cache win-rate heatmap payloads for 48 hours
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.test.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.server.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.server.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.test.ts
  apps/pc-keiba-viewer/src/lib/win-rate-heatmap-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-position): prevent duplicate detached runs
  apps/finish-position-cron/src/container-slot-cap.test.ts
  apps/finish-position-cron/src/container-slot-cap.ts
  apps/finish-position-cron/src/day-base-pickup.test.ts
  apps/finish-position-cron/src/day-base-pickup.ts
  apps/finish-position-cron/src/day-base-prewarm.test.ts
  apps/finish-position-cron/src/day-base-prewarm.ts
  apps/finish-position-cron/src/dlq-consumer.test.ts
  apps/finish-position-cron/src/dlq-consumer.ts
  apps/finish-position-cron/src/do-state.ts
  apps/finish-position-cron/src/predict-run-coordinator.test.ts
  apps/finish-position-cron/src/predict-run-coordinator.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/serve.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/finish-position-predict-container/tests/test_serve.py
Due: oxfmt, oxlint, tsc, vitest

feat(training): add netkeiba workouts to race data
  apps/local-postgresql/scripts/scrape-netkeiba-training.test.ts
  apps/local-postgresql/scripts/scrape-netkeiba-training.ts
  apps/local-postgresql/sql/20260822000000_create_netkeiba_training_workouts.sql
  apps/local-postgresql/src/netkeiba-training/core.test.ts
  apps/local-postgresql/src/netkeiba-training/core.ts
  apps/local-postgresql/src/sql/netkeiba-training-workouts-migration.test.ts
  apps/pc-keiba-r2-catalog/scripts/README.md
  apps/pc-keiba-r2-catalog/scripts/sync_r2_catalog.py
  apps/pc-keiba-r2-catalog/scripts/test_sync_r2_catalog.py
  apps/pc-keiba-r2-catalog/src/cache.test.ts
  apps/pc-keiba-r2-catalog/src/cache.ts
  apps/pc-keiba-r2-catalog/src/race-training.test.ts
  apps/pc-keiba-r2-catalog/src/race-training.ts
  apps/pc-keiba-r2-catalog/src/types.ts
  apps/pc-keiba-r2-catalog/src/worker.test.ts
  apps/pc-keiba-r2-catalog/src/worker.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/training-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/training-table.tsx
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
  apps/pc-keiba-viewer/src/lib/race-training-catalog.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-training-catalog.server.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/_catalog_attach.py
  apps/pc-keiba-viewer/tests/test_catalog_attach.py
  apps/sync-realtime-data/src/premium-race-parsers.test.ts
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync): publish running-style days after source barrier
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
Due: oxfmt, oxlint, tsc, vitest

feat(monitor): retry incident notifications and close stale readiness
  apps/pipeline-health-monitor/src/finish-position-client.test.ts
  apps/pipeline-health-monitor/src/finish-position-client.ts
  apps/pipeline-health-monitor/src/finish-position-signals.test.ts
  apps/pipeline-health-monitor/src/finish-position-signals.ts
  apps/pipeline-health-monitor/src/incident-engine.test.ts
  apps/pipeline-health-monitor/src/incident-engine.ts
  apps/pipeline-health-monitor/src/incident-state.test.ts
  apps/pipeline-health-monitor/src/incident-state.ts
  apps/pipeline-health-monitor/src/scheduled-handler.test.ts
  apps/pipeline-health-monitor/src/scheduled-handler.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba): orchestrate updates and replica discovery
  apps/local-postgresql/README.md
  apps/local-postgresql/package.json
  apps/local-postgresql/scripts/run-pc-keiba-update-and-sync.test.ts
  apps/local-postgresql/scripts/run-pc-keiba-update-and-sync.ts
  apps/local-postgresql/src/replica-push/realtime-discovery.test.ts
  apps/local-postgresql/src/replica-push/realtime-discovery.ts
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  package.json
  scripts/install-pc-keiba-auto-update.ps1
  scripts/pc_keiba_auto_update.py
  scripts/run-parallels-pc-keiba-update.sh
  scripts/tests/test_pc_keiba_auto_update.py
Due: shellcheck, oxfmt, oxlint, tsc, vitest

fix(dev): clean up temporary Colima after wrapped commands
  apps/finish-position-cron/package.json
  apps/mlflow-ui-proxy/package.json
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  scripts/ensure-docker-compat.sh
  scripts/launchd/README.md
Due: shellcheck, oxfmt

fix(viewer): isolate score defaults and preserve running-style fallback
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-similar-combined-table.test.ts
  apps/pc-keiba-viewer/src/app/races/detail/bloodline-similar-combined-table.tsx
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-aggregate.ts
Due: oxfmt, oxlint, tsc, vitest

test(viewer): cover delayed finish prediction rendering
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
Due: none

chore(viewer): configure Catalog and MCP bindings
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
