Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(scripts): detect update-in-progress via dedicated progress window
  scripts/pc-keiba-auto-update.py
Due: none

chore(scripts): add Python quality gate (ty/pyright/pytest 99.74% cov)
  .gitignore
  lefthook.yml
  scripts/install-pc-keiba-auto-update.ps1
  scripts/pc_keiba_auto_update.py
  scripts/pyproject.toml
  scripts/stubs/pywinauto/__init__.pyi
  scripts/stubs/pywinauto/findwindows.pyi
  scripts/stubs/pywinauto/timings.pyi
  scripts/tests/__init__.py
  scripts/tests/conftest.py
  scripts/tests/test_pc_keiba_auto_update.py
  scripts/uv.lock
Due: oxfmt

chore(scripts): eliminate Any usage and fix Zed import resolution
  .zed/settings.json
  lefthook.yml
  scripts/pc_keiba_auto_update.py
  scripts/pyproject.toml
  scripts/pyrightconfig.json
  scripts/stubs/pywinauto/__init__.pyi
  scripts/tests/conftest.py
  scripts/tests/test_pc_keiba_auto_update.py
Due: oxfmt

Fix NAR realtime odds parsing and scheduling
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/src/scripts/backfill-nar-realtime-date.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/time.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/keiba-go.test.ts
  apps/sync-realtime-data/test/time.test.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

Add incremental Neon refresh helpers
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-non-podium-extra-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-non-podium-pattern-features.py
  lefthook.yml
  scripts/pyproject.toml
  scripts/stubs/pywinauto/__init__.pyi
  scripts/uv.lock
Due: oxfmt, oxlint, tsc, vitest

chore(scripts): include tests in basedpyright with private-access allowance
  scripts/pyrightconfig.json
  scripts/tests/test_pc_keiba_auto_update.py
Due: oxfmt

refactor(scripts): flatten nesting and tighten lint rules
  scripts/pc_keiba_auto_update.py
  scripts/pyproject.toml
  scripts/tests/test_pc_keiba_auto_update.py
Due: oxfmt

Fix home race schedule display
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/home-realtime.test.tsx
  apps/pc-keiba-viewer/src/app/home-realtime.tsx
  apps/pc-keiba-viewer/src/app/page.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/odds-schedule.test.ts
  apps/pc-keiba-viewer/src/lib/odds-schedule.ts
Due: oxfmt, oxlint, tsc, vitest

style(scripts): wrap lineage trial JSON entries onto multiple lines
  apps/pc-keiba-viewer/src/scripts/finish-position-features/lineage-races/ban-ei.json
  apps/pc-keiba-viewer/src/scripts/finish-position-features/lineage-races/nar.json
Due: oxfmt

fix(scripts): guard bataiju cast against non-numeric values
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-weight-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-weight-sql.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(scripts): consolidate stage queries and set session memory via connection options
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): disable wrangler remote bindings in dev and force D1 CLI fallback
  apps/pc-keiba-viewer/next.config.ts
  apps/pc-keiba-viewer/src/db/corner-running-style-queries.ts
Due: oxfmt, oxlint, tsc, vitest

feat(detail): render ban-ei running-style section using nar metrics
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.tsx
Due: none

feat(paddock): omit medal icon and zero metrics from Discord notification line
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/discord/route.ts
  apps/pc-keiba-viewer/src/lib/paddock-discord.test.ts
  apps/pc-keiba-viewer/src/lib/paddock-discord.ts
Due: oxfmt, oxlint, tsc, vitest

feat(paddock): show running-style prediction badge on each horse row
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

feat(detail): prefer per-race rs-overlay finish-position model when available
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime): kick running-style inference every 10 min from the realtime cron
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(realtime): fetch and cache premium data-top horses for JRA/NAR races
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/premium-data-top-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/lib/premium-data-top-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  apps/sync-realtime-data/migrations/0020_premium_data_top_horses.sql
  apps/sync-realtime-data/src/premium-data-top-cache.ts
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/premium-race.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): improve premium data-top fetch reliability for race day
  apps/sync-realtime-data/scripts/backfill-premium-data-top.ts
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/premium-race.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): compact premium-data-top reasons on mobile
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
