Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

fix(realtime-hot): per-odds-type DO history budget so tansho keeps ~50 snapshots for viewer trend
  apps/sync-realtime-data-hot/src/odds-cache.test.ts
  apps/sync-realtime-data-hot/src/odds-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-hot): fall through to D1 when DO tansho history is too shallow for trend display
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add 競走成績グラフ race-results chart + correlation matrix section
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-correlation-matrix.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-correlation-matrix.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.ts
Due: oxfmt, oxlint, tsc, vitest

feat(paddock): weighted metric coefficients + symmetric per-metric caps
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/lib/paddock.test.ts
  apps/pc-keiba-viewer/src/lib/paddock.ts
Due: oxfmt, oxlint, tsc, vitest

style(viewer): apply oxfmt formatting to prediction-table + race-trend-payload
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/lib/race-trend-payload.server.test.ts
  apps/pc-keiba-viewer/src/lib/race-trend-payload.server.ts
Due: oxfmt, oxlint, tsc, vitest

fix(local-postgresql): force colima clean-restart + wait for postgres health on start
  apps/local-postgresql/scripts/start.sh
Due: shellcheck

fix(scripts): gate viewer start on local-postgresql readiness
  scripts/start-db-and-viewer.sh
Due: shellcheck

feat(finish-position): 人気・単勝を補正強度スライダー化＋競走成績/近走/類似を統合チェックボックス化
  apps/pc-keiba-viewer/src/app/races/detail/ai-json-export-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-prediction-table.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-data.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): 競走成績グラフをオッズ推移と同色化＋出走予定レースの馬体重点＋着順/人気ツールチップに距離・騎手
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-correlation-matrix.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): 競走成績の既定7ヶ月/2刻み・ラベル刷新・着順なし除外・距離優先表示
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.tsx
Due: none

feat(paddock): 近走をテキスト/グラフ切替表示（1頭の着順・人気・馬体重・増減を統合チャート）
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: none

fix(viewer): restore odds/popularity correction slider + opaque race-results tooltip
  apps/pc-keiba-viewer/src/app/globals.css
Due: oxfmt

feat(paddock): 近走チャートにメトリクス個別トグル＋出走予定レースの最新馬体重点
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: none

perf(realtime): skip Neon feature-count query when all races already inferred
  apps/sync-realtime-data/src/running-style-cron-orchestration.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
Due: oxfmt, oxlint, tsc, vitest

perf(viewer): never cache empty DB query results (avoid negative caching)
  apps/pc-keiba-viewer/src/db/query-cache.ts
  apps/pc-keiba-viewer/src/lib/db-query-cacheability.test.ts
  apps/pc-keiba-viewer/src/lib/db-query-cacheability.ts
Due: oxfmt, oxlint, tsc, vitest

perf: cut Neon compute cost (idle running-style skip + viewer negative-cache avoidance) (#26)
  apps/pc-keiba-viewer/src/db/query-cache.ts
  apps/pc-keiba-viewer/src/lib/db-query-cacheability.test.ts
  apps/pc-keiba-viewer/src/lib/db-query-cacheability.ts
  apps/sync-realtime-data/src/running-style-cron-orchestration.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): 競走成績/パドックグラフに斤量追加・期間スライダー・馬別相関刷新
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-correlation-matrix.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-correlation-matrix.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.tsx
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): 馬別相関をパドック近走グラフ表示に統一・対象レース人気を反映・配色刷新
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-correlation-matrix.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-correlation-matrix.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/lazy-detail-sections.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-recent-results-chart.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.test.ts
  apps/pc-keiba-viewer/src/lib/horse-race-results-chart-data.ts
Due: oxfmt, oxlint, tsc, vitest

docs: plan-A graded full-system training to raise place2/place3 accuracy
  docs/finish-position-accuracy/history/goal-plan-A-graded-fullsystem.md
Due: oxfmt

docs: add Plan B place-specialized approach assessment
  docs/finish-position-accuracy/history/goal-plan-B-place-specialized.md
Due: oxfmt

docs(goal): Plan B place-specialized per-position+assignment design
  docs/finish-position-accuracy/history/goal-plan-B-place-specialized.md
Due: oxfmt

docs(goal): Plan C top1 +5% lever campaign
  docs/finish-position-accuracy/history/goal-plan-C-top1-levers.md
Due: oxfmt

docs: add precise 2着/3着 baseline measurement (2023-2026 holdout, all 8 metric definitions)
  docs/finish-position-accuracy/history/goal-place2-place3-baseline.md
Due: oxfmt

docs(goal): exact place2/3 oracle ceiling measurement (feasibility)
  docs/finish-position-accuracy/history/goal-baseline-and-ceiling.md
Due: oxfmt

docs(goal): JRA top1 Levers 4&6 partial-rho probes
  docs/finish-position-accuracy/history/goal-top1-probes-lever4-6.md
Due: oxfmt

docs(goal): JRA per-position multiclass + Hungarian assignment A/B (exact place2/3)
  docs/finish-position-accuracy/history/goal-per-position-assignment-experiment.md
Due: oxfmt

docs(goal): NAR per-position multiclass + Hungarian A/B (exact place2/3)
  docs/finish-position-accuracy/history/goal-per-position-assignment-experiment.md
Due: oxfmt

docs(goal): per-position multiclass + Hungarian assignment experiment (exact place2/3)
  docs/finish-position-accuracy/history/goal-per-position-assignment-experiment.md
Due: oxfmt

docs(goal): JRA jvd_dm data-mining leak gate + partial-ρ probe
  docs/finish-position-accuracy/history/goal-jvddm-datamining-probe.md
Due: oxfmt

docs(goal): blinker first/re-application signal probe (JRA+NAR)
  docs/finish-position-accuracy/history/goal-blinker-signal-probe.md
Due: oxfmt

docs(goal): add per-class blinker breakdown to signal probe
  docs/finish-position-accuracy/history/goal-blinker-signal-probe.md
Due: oxfmt

docs(goal): add 障害/age breakdown to blinker probe — zero routable cells
  docs/finish-position-accuracy/history/goal-blinker-signal-probe.md
Due: oxfmt

docs(goal): production serve vs WF accuracy reconciliation + coverage
  docs/finish-position-accuracy/history/goal-serve-vs-wf-reconciliation.md
Due: oxfmt

docs(goal): JRA training-window ablation 2006+ vs 2013+ (top1 lever)
  docs/finish-position-accuracy/history/goal-jra-window-ablation.md
Due: oxfmt

docs(goal): JRA window-ablation WF + per-class confirmation
  docs/finish-position-accuracy/history/goal-jra-window-ablation.md
Due: oxfmt

feat(predict): iter20-jra-cb-2013-v8 — JRA retrain train_start=2013 (STAGED, flip deferred)
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_per_class.py
  apps/finish-position-predict-container/tests/test_upcoming.py
  docs/finish-position-accuracy/history/goal-iter20-jra-2013-deploy.md
Due: oxfmt

docs(goal): pedigree/sex-season/track-aptitude per-class probes (5 signals)
  docs/finish-position-accuracy/history/goal-pedigree-aptitude-probes.md
Due: oxfmt

docs(goal): NAR sire×keibajo incremental cheap-filter verification
  docs/finish-position-accuracy/history/goal-signal4-nar-sire-keibajo-verify.md
Due: oxfmt

docs(goal): Signal4 NAR sire×keibajo serve-coverage gate
  docs/finish-position-accuracy/history/goal-signal4-serve-coverage-gate.md
Due: oxfmt

docs(goal): JRA finer-cutoff + Ban-ei window-ablation sweep
  docs/finish-position-accuracy/history/goal-finer-window-sweep.md
Due: oxfmt
