Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

build: add shellcheck configuration
  .shellcheckrc
Due: none

build: add MCP server configuration
  .mcp.json
Due: oxfmt

chore: update gitignore for Wrangler and DuckDB
  .gitignore
Due: none

build: add workspace dependencies and TypeScript configuration
  bun.lock
  package.json
  tsconfig.json
Due: oxfmt

chore: remove unused placeholder directories
  apps/horse-info/.gitkeep
  apps/horse-racing-info/.gitkeep
Due: none

chore: add Claude CLI commands configuration
  .claude/rules/typescript.md
Due: oxfmt

chore: add Zed editor configuration
  .zed/settings.json
Due: oxfmt

docs(horse-racing-records): add project documentation
  apps/horse-racing-records/README.md
Due: oxfmt

chore(horse-racing-records): add environment configuration templates
  apps/horse-racing-records/.dev.vars.example
  apps/horse-racing-records/.env.example
  apps/horse-racing-records/.envrc
Due: none

build(horse-racing-records): add project configuration
  apps/horse-racing-records/package.json
  apps/horse-racing-records/tsconfig.json
  apps/horse-racing-records/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

build(horse-racing-records): add Wrangler configuration
  apps/horse-racing-records/wrangler.toml
Due: oxfmt

feat(horse-racing-records): add Avro schemas for horse racing data
  apps/horse-racing-records/schemas/horse_info.json
  apps/horse-racing-records/schemas/horse_racing_records.json
  apps/horse-racing-records/schemas/race_info.json
Due: oxfmt

build(horse-racing-records): add deployment scripts
  apps/horse-racing-records/scripts/deploy.sh
  apps/horse-racing-records/scripts/generate-config.sh
  apps/horse-racing-records/scripts/maintenance.sh
  apps/horse-racing-records/scripts/setup.sh
  apps/horse-racing-records/scripts/verify.sh
Due: shellcheck

feat(horse-racing-records): add Cloudflare Workers application source code
  apps/horse-racing-records/src/app.test.ts
  apps/horse-racing-records/src/app.ts
  apps/horse-racing-records/src/avsc-patch.test.ts
  apps/horse-racing-records/src/avsc-patch.ts
  apps/horse-racing-records/src/avsc.d.ts
  apps/horse-racing-records/src/catalog/metadata-types.test.ts
  apps/horse-racing-records/src/catalog/metadata-types.ts
  apps/horse-racing-records/src/catalog/rest-client.test.ts
  apps/horse-racing-records/src/catalog/rest-client.ts
  apps/horse-racing-records/src/duckdb/connection.test.ts
  apps/horse-racing-records/src/duckdb/connection.ts
  apps/horse-racing-records/src/duckdb/duckdb-workers.wasm.d.ts
  apps/horse-racing-records/src/duckdb/parquet-writer.test.ts
  apps/horse-racing-records/src/duckdb/parquet-writer.ts
  apps/horse-racing-records/src/iceberg/equality-delete.test.ts
  apps/horse-racing-records/src/iceberg/equality-delete.ts
  apps/horse-racing-records/src/iceberg/manifest-list.test.ts
  apps/horse-racing-records/src/iceberg/manifest-list.ts
  apps/horse-racing-records/src/iceberg/manifest.test.ts
  apps/horse-racing-records/src/iceberg/manifest.ts
  apps/horse-racing-records/src/iceberg/snapshot.test.ts
  apps/horse-racing-records/src/iceberg/snapshot.ts
  apps/horse-racing-records/src/middleware/error-handler.test.ts
  apps/horse-racing-records/src/middleware/error-handler.ts
  apps/horse-racing-records/src/middleware/mtls.test.ts
  apps/horse-racing-records/src/middleware/mtls.ts
  apps/horse-racing-records/src/query/r2-sql-client.test.ts
  apps/horse-racing-records/src/query/r2-sql-client.ts
  apps/horse-racing-records/src/query/sql-builder.test.ts
  apps/horse-racing-records/src/query/sql-builder.ts
  apps/horse-racing-records/src/routes/delete.test.ts
  apps/horse-racing-records/src/routes/delete.ts
  apps/horse-racing-records/src/routes/health.test.ts
  apps/horse-racing-records/src/routes/health.ts
  apps/horse-racing-records/src/routes/query.test.ts
  apps/horse-racing-records/src/routes/query.ts
  apps/horse-racing-records/src/table-schemas.test.ts
  apps/horse-racing-records/src/table-schemas.ts
  apps/horse-racing-records/src/types.test.ts
  apps/horse-racing-records/src/types.ts
Due: oxfmt, oxlint, tsc, vitest

feat(avsc): enhance type definitions with additional methods
  apps/horse-racing-records/src/avsc.d.ts
Due: oxfmt, oxlint, tsc, vitest

chore(horse-racing-records): exclude type definitions from coverage
  apps/horse-racing-records/vitest.config.ts
Due: oxfmt, oxlint, tsc, vitest

test(catalog): update metadata-types tests for discriminated unions
  apps/horse-racing-records/src/catalog/metadata-types.test.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(catalog): use discriminated unions for table requirements and updates
  apps/horse-racing-records/src/catalog/metadata-types.ts
Due: oxfmt, oxlint, tsc, vitest

test(catalog): update rest-client tests for discriminated union types
  apps/horse-racing-records/src/catalog/rest-client.test.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(iceberg): use discriminated unions for equality delete arguments and results
  apps/horse-racing-records/src/iceberg/equality-delete.ts
Due: oxfmt, oxlint, tsc, vitest
