Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

feat(viewer/scripts): add jockey and trainer stats stages (1B, 12 columns)
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-jockey-trainer-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-jockey-trainer-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add pedigree features stage (1C, 6 columns, JRA only)
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-pedigree-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-pedigree-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add race-day context stage (1D, 6 of 9 columns)
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-race-context-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-race-context-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add recent-form features stage (1E, 7 columns)
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-recent-form-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-recent-form-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add finish-position dataset CSV exporter
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/scripts/finish-position-features/export-finish-position-dataset-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/export-finish-position-dataset-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/export-finish-position-dataset.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/export-finish-position-dataset.ts
Due: oxfmt, oxlint, tsc, vitest

feat(local-postgresql): exclude race_finish_position_features from neon sync
  apps/local-postgresql/scripts/push-neon-sync.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/infra): provision R2 bucket for finish-position model artefacts
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add weather feature stage from tenko_code
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-weather-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-weather-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add track-bias features from 5-day same-keibajo window
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-track-bias-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-track-bias-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add weight feature stage joining jvd_se/nvd_se bataiju
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-weight-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-weight-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): export the five newly-completed feature columns
  apps/pc-keiba-viewer/src/scripts/finish-position-features/export-finish-position-dataset-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/export-finish-position-dataset-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add LightGBM LambdaRank training for finish-position prediction
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
Due: oxfmt

feat(viewer/scripts): walk-forward CV for finish-position LambdaRank
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
Due: none

feat(viewer/scripts): Optuna HPO subcommand for finish-position LambdaRank
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
  apps/pc-keiba-viewer/uv.lock
Due: oxfmt

feat(viewer/scripts): import LambdaRank predictions into PG + active model registry
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-finish-position-predictions.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-finish-position-predictions.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): upload finish-position model artefacts to R2
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/scripts/finish-position-features/upload-finish-model.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/upload-finish-model.ts
Due: oxfmt, oxlint, tsc, vitest

perf(viewer/scripts): tune session work_mem to avoid disk spills in feature builds
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): DuckDB+Parquet alternative feature builder
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/uv.lock
Due: oxfmt

feat(viewer/scripts): predict subcommand and parquet meta-column fixes for LambdaRank
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
Due: none

feat(viewer/worker): wire LambdaRank predictions into the race detail UI
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
