Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(viewer): paddock-edit route gets its own loading + error boundary
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/error.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/loading.tsx
  apps/pc-keiba-viewer/src/lib/race-detail-ssr-cache.server.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): stop surfacing AbortError on paddock unmount
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: none

fix(viewer): drop "xx:xx発走" from global header, scroll race info on overflow
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/loading.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/loading.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: oxfmt

fix(viewer): auto-reload when bfcache restore leaves stylesheets broken
  apps/pc-keiba-viewer/src/app/layout.tsx
  apps/pc-keiba-viewer/src/app/stylesheet-reload-guard.test.tsx
  apps/pc-keiba-viewer/src/app/stylesheet-reload-guard.tsx
Due: none

perf(viewer): KV-cache + stale fallback for top-race-windows (Neon cold)
  apps/pc-keiba-viewer/src/app/api/cache-warm/top-races/route.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/top-races-cache.server.ts
  apps/pc-keiba-viewer/src/worker.ts
  apps/pc-keiba-viewer/src/worker/race-detail-section-cache-warm.ts
Due: oxfmt, oxlint, tsc, vitest

perf(viewer): SWR top-race-windows, stop scheduling Neon wake-ups
  apps/pc-keiba-viewer/src/app/api/cache-warm/top-races/route.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/top-races-cache.server.ts
  apps/pc-keiba-viewer/src/worker.ts
  apps/pc-keiba-viewer/src/worker/race-detail-section-cache-warm.ts
Due: oxfmt, oxlint, tsc, vitest

perf(viewer): SWR + 30-day stale snapshot for race-detail sections
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/sections/[section]/route.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.server.ts
Due: oxfmt, oxlint, tsc, vitest

perf(workers): sample observability logs at 10% to cut Cloudflare log ingest cost
  apps/pc-keiba-viewer/wrangler.jsonc
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt

fix(viewer): invalidate finish-prediction cache for new prediction model
  apps/pc-keiba-viewer/src/lib/finish-prediction-inputs-cache.server.ts
Due: oxfmt, oxlint, tsc, vitest

perf(paddock): expire PADDOCK_STATE_KV entries after 30 days to cap KV storage
  apps/pc-keiba-viewer/src/worker/paddock-room.ts
Due: oxfmt, oxlint, tsc, vitest

chore(viewer): bump WIN5 model to v7-lineage and add rs-overlay variant fallback
  apps/pc-keiba-viewer/src/lib/win5/model-score-lookup.server.ts
  apps/pc-keiba-viewer/src/lib/win5/prediction.test.ts
  apps/pc-keiba-viewer/src/lib/win5/types.ts
Due: oxfmt, oxlint, tsc, vitest

perf(viewer/win5): recommend WIN5 budget by net-EV with hit-prob calibration
  apps/pc-keiba-viewer/src/lib/win5/budget-optimizer.ts
Due: oxfmt, oxlint, tsc, vitest

perf(viewer/win5): use median payout in walk-forward eval and switch predictions dir to v7-lineage
  apps/pc-keiba-viewer/src/scripts/walk-forward-win5-eval.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add per-day WIN5 overlay generator script and macOS launchd plist
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/scripts/README-win5-overlay.md
  apps/pc-keiba-viewer/scripts/com.kkkaoru.win5-overlay.plist
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost_predict_only.py
  apps/pc-keiba-viewer/src/scripts/generate-win5-overlay.test.ts
  apps/pc-keiba-viewer/src/scripts/generate-win5-overlay.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): zero out popularity weight in finish-position blends
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.ts
Due: oxfmt, oxlint, tsc, vitest

perf(viewer): add KV write-through layer to db-query-cache
  apps/pc-keiba-viewer/src/db/query-cache.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): bump recent-results cache namespace to v2
  apps/pc-keiba-viewer/src/lib/recent-results-cache.server.ts
Due: oxfmt, oxlint, tsc, vitest

perf(sync): add KV write-through option to D1 query cache
  apps/sync-realtime-data/src/d1-query-cache.ts
  apps/sync-realtime-data/test/d1-query-cache.test.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(sync): route running-style realtime-table lookups through buildRealtimeRaceKey helper
  apps/sync-realtime-data/src/running-style-date-progress.ts
  apps/sync-realtime-data/src/running-style-expected-horses.ts
  apps/sync-realtime-data/src/running-style-features.ts
  apps/sync-realtime-data/test/running-style-features.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(sync): cache all running-style rows when no entry snapshot is available
  apps/sync-realtime-data/src/running-style-entry-coverage.ts
  apps/sync-realtime-data/test/running-style-entry-coverage.test.ts
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
