Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

feat(loop): iter-5 L1B-CB+LGBM-rank-ensemble-v7-final reject JRA=+0.030pp(p3) NAR=+0.006pp(p2)
  docs/finish-position-accuracy/history/iter5.md
Due: oxfmt

feat(loop): iter-6 L4-bucket-aware-base-retrain reject JRA quick-window-saturation NAR data-failure
  docs/finish-position-accuracy/history/iter6.md
Due: oxfmt

feat(loop): iter-7 L11-NAR-rank-ndcg reject place3=-0.234pp top3_box=-0.464pp gate-a-violation
  docs/finish-position-accuracy/history/iter7.md
Due: oxfmt

feat(loop): iter-8 L11-NDCG5-variant reject + Stop S1 8-consecutive-reject loop-terminated
  docs/finish-position-accuracy/history/iter8.md
Due: oxfmt

fix(realtime-hot): clamp KV enqueue-lock TTL to >=60s to satisfy KV minimum
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.test.ts
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.ts
Due: oxfmt, oxlint, tsc, vitest

feat(loop): iter-9 L5A-pacestyle-base-retrain NAR-accept JRA-reject breakthrough
  apps/pc-keiba-viewer/.gitignore
  docs/finish-position-accuracy/history/iter9.md
Due: oxfmt

feat(loop): iter-10 Path-A JRA-deeper-L5A + NAR-L4-on-iter9 both REJECT
  docs/finish-position-accuracy/history/iter10.md
Due: oxfmt

feat(production): phase-1 NAR active_models flip to iter9-nar-xgb-pacestyle-v8 PG-partial
  docs/finish-position-accuracy/runbook/phase1-nar-production-flip-2026-06-04.md
Due: oxfmt

feat(loop): iter-11 L6-stacking-meta-calibrated reject both cats
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/train_finish_position_stacking_meta.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_stacking_meta.py
  docs/finish-position-accuracy/history/iter11.md
Due: oxfmt

fix(realtime-hot): align enqueue-lock TTL with cadence + capture outer scheduled throws
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.test.ts
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime-hot): use Module Workers (controller, env, ctx) scheduled signature
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(loop): iter-12 L3-Optuna-HPO-NAR-XGB-on-iter9 accept NAR=+0.07pp(p3)/+0.04pp(top1)
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/tune_finish_position_nar_xgb.py
  apps/pc-keiba-viewer/tests/test_tune_finish_position_nar_xgb.py
  docs/finish-position-accuracy/history/iter12.md
Due: oxfmt

feat(realtime-data): extend NAR result completion backstop to 60min for full-field finish positions
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

perf(viewer): extend race-trend warm window to 12h post-start to cover finished-race cold compute
  apps/pc-keiba-viewer/src/app/api/cache-warm/race-trends/route.ts
Due: oxfmt, oxlint, tsc, vitest

feat(loop): iter-13 L3-Optuna-HPO-JRA-CB-on-pacestyle reject JRA=-0.122/-0.004/-0.146/-0.125pp
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/tune_finish_position_jra_cb.py
  apps/pc-keiba-viewer/tests/test_tune_finish_position_jra_cb.py
  docs/finish-position-accuracy/history/iter13.md
Due: oxfmt

feat(loop): iter-14 L5B-course-numerical-features-JRA-CB accept JRA=+0.163/+0.076/+0.036/+0.109pp
  docs/finish-position-accuracy/history/iter14.md
Due: oxfmt

feat(loop): iter-15 L5C-track-condition-x-style-course-interactions reject JRA=-0.493/-0.097/-0.066/-0.130pp
  docs/finish-position-accuracy/history/iter15.md
Due: oxfmt

feat(loop): iter-16 L5A-booster-deep-on-iter14-base reject JRA=-0.248/-0.018/-0.057/-0.087pp
  docs/finish-position-accuracy/history/iter16.md
Due: oxfmt

feat(loop): iter-17 L5D-bataiju-barei-kyori-top3-NAR-XGB-on-iter12-HPO reject NAR=-0.071/+0.011/-0.003/+0.035pp
  docs/finish-position-accuracy/history/iter17.md
Due: oxfmt

feat(production): full v8 production deploy iter12-NAR + iter14-JRA
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/tests/test_model_meta.py
Due: oxfmt

chore(repo): untrack tmp/ scratch artifacts
  .gitignore
Due: none

feat(production): phase-2 cutover container LAYER_CHAIN + MODEL_VERSION_BY_CATEGORY to v8
  .gitignore
  apps/finish-position-predict-container/DEPLOY.md
  apps/finish-position-predict-container/Dockerfile
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_upcoming.py
  apps/pc-keiba-viewer/finish-position/lookups/course-numerical-features.parquet
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-course-numerical-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-pacestyle-features.py
  apps/pc-keiba-viewer/tests/test_add_course_numerical_features.py
  apps/pc-keiba-viewer/tests/test_add_pacestyle_features.py
Due: oxfmt

fix(docker): allowlist apps/pc-keiba-viewer/finish-position/lookups in .dockerignore
  .dockerignore
Due: none

feat(loop): iter-18 L1B-class-signals-3feat-on-iter14-base reject JRA=-0.370/-0.184/-0.036/-0.193pp S1-trigger
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-class-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-class-promotion-velocity-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-class-promotion-velocity-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-horse-class-variance-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-horse-class-variance-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-trainer-hiraba-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-trainer-hiraba-sql.ts
  apps/pc-keiba-viewer/tests/test_add_class_features.py
  docs/finish-position-accuracy/history/iter18.md
Due: oxfmt, oxlint, tsc, vitest

feat(loop): iter-19 L4-class-sample-weight-on-iter14-base reject JRA=-0.41/-0.17/-0.15/-0.24pp 5-consecutive-reject
  docs/finish-position-accuracy/history/iter19.md
Due: oxfmt

feat(loop): iter-20 per-class-architecture-on-iter14-base reject all-6-classes routed-aggregate=-1.450pp top1
  docs/finish-position-accuracy/history/iter20.md
Due: oxfmt

feat(per-class): add per-class JRA model routing infrastructure with iter 14 fallback
  apps/finish-position-predict-container/Dockerfile
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/src/predict_lib/per_class.py
  apps/finish-position-predict-container/src/predict_lib/upcoming.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_per_class.py
  apps/finish-position-predict-container/tests/test_upcoming.py
  apps/local-postgresql/sql/20260605000000_add_subclass_to_finish_position_active_models.sql
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/import-predictions-sql.ts
  docs/finish-position-accuracy/runbook/PER_CLASS_ROUTING.md
Due: oxfmt, oxlint, tsc, vitest

feat(loop): iter-21 class-inclusion-chain-on-iter14-base reject all-classes (recovery +0.3 to +1.8pp vs iter 20)
  docs/finish-position-accuracy/history/iter21.md
Due: oxfmt

feat(loop): iter-23 per-class-ensemble-on-iter14-base ACCEPT 4/6 with 703 wins +0.142pp top1
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/optimize-per-class-ensemble.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/optimize_per_class_ensemble.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/per_class_ensemble_lib.py
  apps/pc-keiba-viewer/tests/test_optimize_per_class_ensemble.py
  apps/pc-keiba-viewer/tests/test_per_class_ensemble_lib.py
  docs/finish-position-accuracy/history/iter23.md
  pyrightconfig.json
Due: oxfmt

docs: add 703 ensemble activation runbook (Phase B-2 + Phase C procedures)
  docs/finish-position-accuracy/runbook/ENSEMBLE_ACTIVATION_703.md
Due: oxfmt

feat(per-class): Phase B-2 ensemble routing + iter25 breakthrough (010 +0.632pp ensemble win)
  apps/finish-position-predict-container/Dockerfile
  apps/finish-position-predict-container/src/predict_lib/booster_pool.py
  apps/finish-position-predict-container/src/predict_lib/ensemble_routing.py
  apps/finish-position-predict-container/src/predict_lib/ensemble_scorer.py
  apps/finish-position-predict-container/src/predict_lib/per_class.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_booster_pool.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
  apps/finish-position-predict-container/tests/test_ensemble_scorer.py
  apps/finish-position-predict-container/tests/test_per_class.py
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  docs/finish-position-accuracy/history/iter24-25-low-capacity-ensemble.md
Due: oxfmt, oxlint, tsc, vitest

feat(per-class): activate 010 v2 ensemble (+0.632pp top1 — largest per-class win)
  apps/finish-position-predict-container/src/predict_lib/per_class.py
  apps/finish-position-predict-container/tests/test_per_class.py
Due: none

feat(per-class): activate 005 v2 ensemble (+0.095pp top1)
  apps/finish-position-predict-container/src/predict_lib/per_class.py
  apps/finish-position-predict-container/tests/test_per_class.py
Due: none

feat(per-class): activate other v2 ensemble (+0.094pp top1) — 4/6 classes now have winning ensembles
  apps/finish-position-predict-container/src/predict_lib/per_class.py
  apps/finish-position-predict-container/tests/test_per_class.py
Due: none

feat(local-postgresql): raise default idle timeout to 900s + add per-table idle override
  apps/local-postgresql/scripts/push-neon-sync.ts
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

feat(features): iter 26 bataiju × futan × barei × kyori × time relationship features (12 cols)
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-relationship-r1-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-finish-position-features-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-relationship-history-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-relationship-history-sql.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-relationship-physics-sql.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/build-relationship-physics-sql.ts
  apps/pc-keiba-viewer/tests/test_add_relationship_r1_features.py
Due: oxfmt, oxlint, tsc, vitest

feat(per-class): iter 26 v4 activation — 005 +0.572pp, 016 NEW +0.138pp, 703 +0.189pp (5/6 classes active)
  apps/finish-position-predict-container/src/predict_lib/per_class.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
  apps/finish-position-predict-container/tests/test_per_class.py
Due: none

fix(realtime-data): replace 60-min backstop with 24h progressive retry for NAR results
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(pc-keiba-viewer): paddock detail trainer/bloodline display + perf + rank badge wrap fix
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.test.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.test.tsx
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/horse-race-results-table.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/prediction-scratch.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/db/queries.test.ts
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/finish-position-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/race-pace-prediction.test.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
  apps/pc-keiba-viewer/src/scripts/compare-corner-predictions.ts
Due: oxfmt, oxlint, tsc, vitest

feat(per-class): NAR per-class ensemble routing — 6 ACCEPT classes (OP +0.325pp, A +0.178pp, other +0.152pp, C/NEW/MUKATSU tied)
  apps/finish-position-predict-container/src/predict_lib/booster_pool.py
  apps/finish-position-predict-container/src/predict_lib/ensemble_routing.py
  apps/finish-position-predict-container/src/predict_lib/per_class.py
  apps/finish-position-predict-container/src/predict_upcoming.py
  apps/finish-position-predict-container/tests/test_booster_pool.py
  apps/finish-position-predict-container/tests/test_ensemble_routing.py
  apps/finish-position-predict-container/tests/test_per_class.py
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-relationship-r1-features.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none
