Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

chore(viewer): apply oxlint formatting to async race-section wrapper tests
  apps/pc-keiba-viewer/src/app/races/detail/corner-position-race-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/running-style-race-section.test.tsx
Due: none

Add browser AI consent controls
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/layout.tsx
  apps/pc-keiba-viewer/src/app/mypage/mypage-client.tsx
  apps/pc-keiba-viewer/src/app/mypage/race-ai-settings-panel.tsx
  apps/pc-keiba-viewer/src/app/race-ai-consent-manager.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-model-manager.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-storage.ts
Due: oxfmt, oxlint, tsc, vitest

Make AI settings collapsible
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/mypage/race-ai-settings-panel.tsx
Due: oxfmt

fix(viewer/scripts): emit hive race_year partition column and sanitize NaN for JSONL
  apps/pc-keiba-viewer/src/scripts/corner_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
Due: none

Tighten AI download dialog UI
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/mypage/race-ai-settings-panel.tsx
  apps/pc-keiba-viewer/src/app/race-ai-consent-manager.tsx
Due: oxfmt

Refine race AI section layout
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: oxfmt, oxlint, tsc, vitest

Move AI status into readiness panel
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-data.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add horse keibajo/grade cross + field peer kohan/c1 aggregates
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-race-internal-features.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
Due: none

perf(viewer/scripts): add DuckDB indexes on target and horse_history_base
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
Due: none

perf(viewer/scripts): make PG-side date filter sargable on kaisai_nen
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
Due: none

feat(viewer/scripts): add JSONL probability averaging for running-style ensemble
  apps/pc-keiba-viewer/src/scripts/finish-position-features/ensemble-running-style-predictions.py
Due: none

feat(viewer): wire running-style and corner-position sections into race detail
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: none

chore(viewer): apply oxlint formatting to race-detail-page wiring
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
Due: none

perf(sync-realtime-data): backfill only the active model per category
  apps/sync-realtime-data/scripts/backfill-running-style-d1.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer/scripts): add minimal MLX Transformer for running-style prediction
  apps/pc-keiba-viewer/src/scripts/running_style_transformer.py
Due: none

feat(viewer): rebuild race AI assistant with on-demand catalog fetcher
  apps/pc-keiba-viewer/next-env.d.ts
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/app/api/debug/ai-chat/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/ai/data/route.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/ai/logs/route.ts
  apps/pc-keiba-viewer/src/app/api/spec/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-assistant.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-data.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-ai-default-prompt.ts
  apps/pc-keiba-viewer/src/db/corner-running-style-queries.ts
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

chore(viewer): update Next route type reference
  apps/pc-keiba-viewer/next-env.d.ts
Due: oxfmt, oxlint, tsc, vitest

feat(v1.5): lay foundation for on-Worker running-style inference
  apps/pc-keiba-viewer/src/scripts/export_lightgbm_to_json.py
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/sync-realtime-data/src/running-style-lightgbm-tree.test.ts
  apps/sync-realtime-data/src/running-style-lightgbm-tree.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(v1.5): worker-side R2 loader, field features, D1 writer, orchestrator
  apps/sync-realtime-data/src/running-style-d1.ts
  apps/sync-realtime-data/src/running-style-field-features.test.ts
  apps/sync-realtime-data/src/running-style-field-features.ts
  apps/sync-realtime-data/src/running-style-inference.test.ts
  apps/sync-realtime-data/src/running-style-inference.ts
  apps/sync-realtime-data/src/running-style-r2.ts
Due: oxfmt, oxlint, tsc, vitest

feat(v1.5): cron-driven running-style inference gated by env flag
  apps/pc-keiba-viewer/src/scripts/build_running_style_feature_batch.py
  apps/sync-realtime-data/src/running-style-cron.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
