Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

feat(viewer/paddock): support external paddock Discord webhook and past-race editing UI
  apps/pc-keiba-viewer/.env.example
  apps/pc-keiba-viewer/cloudflare-env.d.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/discord/route.ts
  apps/pc-keiba-viewer/src/app/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/paddock/page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
Due: oxfmt, oxlint, tsc, vitest

style(viewer): refine home realtime placeholders, paddock title row, and analysis tables
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-condition-analysis-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/time-score-table.tsx
Due: oxfmt

test(viewer/features): cover force-clean-output path in prepare_output_dir
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

feat(sync-realtime/jra): parse JRA race results, refine entry scratch detection, sanitize stale scratches with live odds
  apps/sync-realtime-data/src/jra.ts
  apps/sync-realtime-data/test/jra.test.ts
  packages/horse-racing-realtime/src/types.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync-realtime/premium): cookie fallback, training rider, paddock notification audit and Discord broadcast
  apps/sync-realtime-data/migrations/0012_premium_training_rider.sql
  apps/sync-realtime-data/migrations/0013_premium_paddock_notification_state.sql
  apps/sync-realtime-data/migrations/0014_premium_paddock_notification_audit.sql
  apps/sync-realtime-data/migrations/0015_premium_paddock_notification_events.sql
  apps/sync-realtime-data/migrations/0016_jra_realtime_source_race_dates.sql
  apps/sync-realtime-data/src/premium-paddock-cache.ts
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/premium-race.test.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): add race trend tables
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/paddock-section.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-detail-page.tsx
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

refactor(viewer/features): switch pedigree stats to monthly raw + accumulated join
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

fix(viewer/features): use count(finish_norm) as denominator for pedigree finish_norm averages
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

fix(viewer): refine race trend frame details
  apps/pc-keiba-viewer/next-env.d.ts
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
  apps/pc-keiba-viewer/src/lib/race-types.ts
Due: oxfmt, oxlint, tsc, vitest

test(viewer): raise coverage above 95% branch threshold
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/lib/favorites-indexeddb.test.ts
  apps/pc-keiba-viewer/src/lib/favorites.test.ts
  apps/pc-keiba-viewer/src/lib/format.test.ts
  apps/pc-keiba-viewer/src/lib/jra-link-visibility.test.ts
  apps/pc-keiba-viewer/src/lib/odds-schedule.test.ts
  apps/pc-keiba-viewer/src/lib/race-classification.test.ts
  apps/pc-keiba-viewer/src/lib/training-format.test.ts
  bun.lock
Due: oxfmt, oxlint, tsc, vitest

perf(viewer/features): cache pedigree rec_um, add temp-dir, granular staging logs
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: none

feat(sync-realtime/jra): schedule premium link discovery and data fetch planning crons
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

test(sync-realtime/jra): cover scheduled JRA premium link and data planning crons
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync-realtime/premium): match JRA premium links by meeting number and day
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/test/premium-race.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): fall back to netkeiba oikiri training reviews when premium is empty
  apps/pc-keiba-viewer/src/app/races/detail/detail-section-data.ts
  apps/pc-keiba-viewer/src/lib/netkeiba-training.test.ts
  apps/pc-keiba-viewer/src/lib/netkeiba-training.ts
Due: oxfmt, oxlint, tsc, vitest

style(viewer): reformat race trend route and section markup
  apps/pc-keiba-viewer/src/app/api/races/[year]/[month]/[day]/[keibajoCode]/[raceNumber]/trends/route.ts
  apps/pc-keiba-viewer/src/app/races/detail/race-trend-section.tsx
Due: oxfmt, oxlint, tsc, vitest

docs(viewer/scripts): add finish-position-features performance improvement notes
  apps/pc-keiba-viewer/src/scripts/finish-position-features/performance-improvements/01-finish-position-features-duckdb-performance.md
  apps/pc-keiba-viewer/src/scripts/finish-position-features/performance-improvements/02-finish-position-features-duckdb-postgres-tuning.md
  apps/pc-keiba-viewer/src/scripts/finish-position-features/performance-improvements/03-finish-position-features-duckdb-additional-performance-instructions.md
  apps/pc-keiba-viewer/src/scripts/finish-position-features/performance-improvements/04-jra-lightgbm-recommended-ensemble.md
  apps/pc-keiba-viewer/src/scripts/finish-position-features/performance-improvements/05-jra-transformer-recommended-usage.md
  apps/pc-keiba-viewer/src/scripts/finish-position-features/performance-improvements/06-jra-additional-feature-ideas.md
Due: oxfmt

docs(viewer/scripts): add top-level duckdb additional performance instructions
  apps/pc-keiba-viewer/src/scripts/finish-position-features/finish-position-features-duckdb-additional-performance-instructions.md
Due: oxfmt

feat(viewer/finish-position): add race-internal features and LightGBM ensemble scaffolding
  apps/pc-keiba-viewer/src/scripts/finish-position-features/ensemble-predictions.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/ensemble-predictions.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/search-ensemble-weights.test.ts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/search-ensemble-weights.ts
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
Due: oxfmt, oxlint, tsc, vitest

chore(viewer/finish-position): add measurement support scripts
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-race-internal-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/compare-model-metrics.py
Due: none
