Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    oxfmt:
      glob: "*.{ts,json,jsonc,yaml,yml,md,toml,css,html}"
      run: bunx oxfmt --check {staged_files}
    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}
    tsc:
      glob: "*.ts"
      run: bun run --filter horse-racing-records tsc
    vitest:
      glob: "*.ts"
      run: bun run --filter horse-racing-records test

fix(realtime): bump jobs-queue concurrency to 10 and add empty-result circuit breaker
  apps/sync-realtime-data/migrations/0029_realtime_race_sources_empty_result_attempts.sql
  apps/sync-realtime-data/package.json
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-discover-urls-retry.test.ts
  apps/sync-realtime-data/src/worker-fetch-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-notify-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker-rescore-trigger.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): gate fetch-premium-race-data to JRA-only (NAR scrapes clog queue)
  apps/sync-realtime-data/src/premium-race.test.ts
  apps/sync-realtime-data/src/premium-race.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): SQL-level NAR filter so premium-race candidate query honors the JRA-only gate
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer): drop past-race bataiju fallback for NAR runners
  apps/pc-keiba-viewer/src/app/races/detail/runners-table.test.tsx
  apps/pc-keiba-viewer/src/db/queries.ts
Due: oxfmt, oxlint, tsc, vitest

feat(viewer): use postgres_query() for per-race PG reads with entity filter
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: none

fix(viewer): audit queries.ts for past-race lateral leaks; add regression tests for getRaceRunners
  apps/pc-keiba-viewer/src/db/queries.test.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): protect queue throughput from browser-binding stalls and add handler timeouts
  apps/sync-realtime-data/package.json
  apps/sync-realtime-data/src/handler-timeout.test.ts
  apps/sync-realtime-data/src/handler-timeout.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(realtime): add silent-return logging and queue-health endpoint for queue observability
  apps/sync-realtime-data/src/fetchLogStatuses.test.ts
  apps/sync-realtime-data/src/fetchLogStatuses.ts
  apps/sync-realtime-data/src/storage.test.ts
  apps/sync-realtime-data/src/storage.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(viewer,realtime): cap stale-tier TTL + bust race cache when fetch-results lands
  apps/pc-keiba-viewer/src/app/api/internal/race-cache-bust/route.test.ts
  apps/pc-keiba-viewer/src/app/api/internal/race-cache-bust/route.ts
  apps/pc-keiba-viewer/src/app/api/internal/trend-cache-bust/route.test.ts
  apps/pc-keiba-viewer/src/app/api/internal/trend-cache-bust/route.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.server.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.test.ts
  apps/pc-keiba-viewer/src/lib/race-cache-bust.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-cache.server.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-stale.test.ts
  apps/pc-keiba-viewer/src/lib/race-detail-section-stale.ts
  apps/sync-realtime-data/src/viewer-race-cache-bust.test.ts
  apps/sync-realtime-data/src/viewer-race-cache-bust.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

feat(monitoring): add 15-min health-check launchd for racing-data pipeline
  scripts/launchd/com.kkk4oru.pc-keiba-health-monitor.plist
  scripts/launchd/health-monitor-fixtures/fail__fetch_logs_results_ok.json
  scripts/launchd/health-monitor-fixtures/fail__queue_backlog.json
  scripts/launchd/health-monitor-fixtures/fail__today_results_coverage.json
  scripts/launchd/health-monitor-fixtures/fail__training_sample.json
  scripts/launchd/health-monitor-fixtures/fail__trends_sample.json
  scripts/launchd/health-monitor-fixtures/fetch_logs_results_ok.json
  scripts/launchd/health-monitor-fixtures/fetch_logs_weights_ok.json
  scripts/launchd/health-monitor-fixtures/queue_backlog.json
  scripts/launchd/health-monitor-fixtures/today_results_coverage.json
  scripts/launchd/health-monitor-fixtures/training_sample.json
  scripts/launchd/health-monitor-fixtures/trends_sample.json
  scripts/launchd/health-monitor-fixtures/weight_freshness.json
  scripts/launchd/pc-keiba-health-monitor-README.md
  scripts/launchd/pc-keiba-health-monitor.sh
Due: shellcheck, oxfmt

feat(predict): add --target-race CLI + entity filtering for per-race Container prediction
  apps/finish-position-cron/wrangler.jsonc
  apps/finish-position-predict-container/tests/test_predict_upcoming.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb_integration.py
Due: oxfmt

Revert "feat(monitoring): add 15-min health-check launchd for racing-data pipeline"
  scripts/launchd/com.kkk4oru.pc-keiba-health-monitor.plist
  scripts/launchd/health-monitor-fixtures/fail__fetch_logs_results_ok.json
  scripts/launchd/health-monitor-fixtures/fail__queue_backlog.json
  scripts/launchd/health-monitor-fixtures/fail__today_results_coverage.json
  scripts/launchd/health-monitor-fixtures/fail__training_sample.json
  scripts/launchd/health-monitor-fixtures/fail__trends_sample.json
  scripts/launchd/health-monitor-fixtures/fetch_logs_results_ok.json
  scripts/launchd/health-monitor-fixtures/fetch_logs_weights_ok.json
  scripts/launchd/health-monitor-fixtures/queue_backlog.json
  scripts/launchd/health-monitor-fixtures/today_results_coverage.json
  scripts/launchd/health-monitor-fixtures/training_sample.json
  scripts/launchd/health-monitor-fixtures/trends_sample.json
  scripts/launchd/health-monitor-fixtures/weight_freshness.json
  scripts/launchd/pc-keiba-health-monitor-README.md
  scripts/launchd/pc-keiba-health-monitor.sh
Due: shellcheck, oxfmt

perf(realtime): cut Neon compute-hours via daily date-keyed memo + faster pool idle
  apps/sync-realtime-data/src/daily-pg-cache.test.ts
  apps/sync-realtime-data/src/daily-pg-cache.ts
  apps/sync-realtime-data/src/postgres.ts
Due: oxfmt, oxlint, tsc, vitest

perf(realtime): reduce D1 write/read pressure via KV dedupe wiring and queue-health indexes
  apps/sync-realtime-data/migrations/0030_queue_health_metrics_indexes.sql
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

perf(realtime): reduce Cloudflare Browser Rendering cost via raw HTML fallback for JRA results
  apps/sync-realtime-data/src/jra.test.ts
  apps/sync-realtime-data/src/jra.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/src/worker-fetch-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker-notify-premium-paddock.test.ts
  apps/sync-realtime-data/src/worker-plan.test.ts
  apps/sync-realtime-data/src/worker-scheduled.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

docs(predict): add comprehensive finish-position prediction system spec
  docs/finish-position-prediction-system.md
Due: oxfmt

feat(viewer): show race cell classification label in bucket evaluation panel
  apps/pc-keiba-viewer/src/app/globals.css
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-bucket-section.test.tsx
  apps/pc-keiba-viewer/src/app/races/detail/finish-position-bucket-section.tsx
Due: oxfmt

feat(monitoring): Cloudflare-native pipeline health monitor with Queues-fanned alert distribution
  apps/pipeline-health-monitor/README.md
  apps/pipeline-health-monitor/package.json
  apps/pipeline-health-monitor/src/alert-message.test.ts
  apps/pipeline-health-monitor/src/alert-message.ts
  apps/pipeline-health-monitor/src/alert-state.test.ts
  apps/pipeline-health-monitor/src/alert-state.ts
  apps/pipeline-health-monitor/src/checks.test.ts
  apps/pipeline-health-monitor/src/checks.ts
  apps/pipeline-health-monitor/src/index.ts
  apps/pipeline-health-monitor/src/notifiers.test.ts
  apps/pipeline-health-monitor/src/notifiers.ts
  apps/pipeline-health-monitor/src/queue-handler.test.ts
  apps/pipeline-health-monitor/src/queue-handler.ts
  apps/pipeline-health-monitor/src/queue-health-client.test.ts
  apps/pipeline-health-monitor/src/queue-health-client.ts
  apps/pipeline-health-monitor/src/scheduled-handler.test.ts
  apps/pipeline-health-monitor/src/scheduled-handler.ts
  apps/pipeline-health-monitor/src/types.ts
  apps/pipeline-health-monitor/src/worker.test.ts
  apps/pipeline-health-monitor/src/worker.ts
  apps/pipeline-health-monitor/tsconfig.json
  apps/pipeline-health-monitor/vitest.config.ts
  apps/pipeline-health-monitor/wrangler.jsonc
  bun.lock
  lefthook.yml
Due: oxfmt, oxlint, tsc, vitest

chore(monitoring): wire pipeline-health-monitor STATE_KV id
  apps/pipeline-health-monitor/wrangler.jsonc
Due: oxfmt

fix(venue-weather): shift forecast cron to JST 01:30 so finish-position has weather
  apps/venue-weather/src/scheduled.test.ts
  apps/venue-weather/src/scheduled.ts
  apps/venue-weather/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(predict): add DNS prewarm + Neon connection retry to prevent launchd DNS failures
  apps/finish-position-predict-container/src/db_driver.py
  apps/finish-position-predict-container/tests/test_db_driver.py
  scripts/launchd/finish-position-predict-daily.sh
Due: shellcheck

fix(predict): warm viewer cache after NAR / Ban-ei per-race rescore so event-driven trigger refreshes viewer immediately
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

feat(sync): route running-style predictions by cell
  apps/sync-realtime-data/src/finish-position-lite-pool.test.ts
  apps/sync-realtime-data/src/finish-position-lite-pool.ts
  apps/sync-realtime-data/src/running-style-cell-router.test.ts
  apps/sync-realtime-data/src/running-style-cell-router.ts
  apps/sync-realtime-data/src/running-style-feature-parquet.test.ts
  apps/sync-realtime-data/src/running-style-feature-parquet.ts
  apps/sync-realtime-data/src/running-style-feature-sql.test.ts
  apps/sync-realtime-data/src/running-style-feature-sql.ts
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/running-style-r2.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/src/worker-branches.test.ts
  apps/sync-realtime-data/test/running-style-queue.test.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

feat(finish-cron): run focused full predictions after running-style
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/container-ndjson-proxy.test.ts
  apps/finish-position-cron/src/container-ndjson-proxy.ts
  apps/finish-position-cron/src/cron-decision.ts
  apps/finish-position-cron/src/ndjson-stream.test.ts
  apps/finish-position-cron/src/ndjson-stream.ts
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

feat(container): scope per-race feature generation
  apps/finish-position-predict-container/src/pipeline_runner.py
  apps/finish-position-predict-container/src/predict_lib/pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_args.py
  apps/finish-position-predict-container/tests/test_pipeline_runner.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-head-to-head-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-near-miss-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-pacestyle-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-relationship-r1-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-similar-race-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-sire-venue-bias-features.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_add_head_to_head_features.py
  apps/pc-keiba-viewer/tests/test_add_near_miss_features.py
  apps/pc-keiba-viewer/tests/test_add_pacestyle_features.py
  apps/pc-keiba-viewer/tests/test_add_relationship_r1_features.py
  apps/pc-keiba-viewer/tests/test_add_similar_race_features.py
  apps/pc-keiba-viewer/tests/test_add_sire_venue_bias_features.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: none

docs: document Cloudflare-only prediction pipeline
  apps/finish-position-predict-container/DEPLOY.md
  apps/venue-weather/src/scheduled.ts
  apps/venue-weather/wrangler.jsonc
  docs/finish-position-cloudflare-container/01-current-mechanism.md
  docs/finish-position-cloudflare-container/02-data-availability.md
  docs/finish-position-cloudflare-container/03-architecture-design.md
  docs/finish-position-cloudflare-container/04-off-mac-migration-plan.md
  docs/finish-position-cloudflare-container/05-pilot-results.md
  docs/finish-position-cloudflare-container/07-official-spec-sizing.md
  docs/finish-position-cloudflare-container/08-per-race-rebuild-plan.md
  docs/finish-position-cloudflare-container/09-cf-logs-per-race-evidence.md
  docs/finish-position-prediction-system.md
  scripts/launchd/README.md
  scripts/launchd/com.kkk4oru.finish-position-predict.plist
  scripts/launchd/com.kkk4oru.race-prediction-guard.plist
  scripts/launchd/finish-position-predict-daily.sh
  scripts/launchd/race-prediction-guard.sh
Due: shellcheck, oxfmt, oxlint, tsc, vitest

fix(sync): enqueue finish-position jobs directly
  apps/sync-realtime-data/package.json
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
  apps/sync-realtime-data/src/types.ts
  apps/sync-realtime-data/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

fix(finish-cron): isolate focused full prediction runs
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
  apps/finish-position-cron/src/queue-producer.test.ts
  apps/finish-position-cron/src/queue-producer.ts
  apps/finish-position-cron/src/types.ts
Due: oxfmt, oxlint, tsc, vitest

fix(finish-cron): isolate legacy focused full messages
  apps/finish-position-cron/src/queue-consumer.test.ts
  apps/finish-position-cron/src/queue-consumer.ts
Due: oxfmt, oxlint, tsc, vitest

feat(running-style): train and promote cell models
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  apps/sync-realtime-data/scripts/upload-running-style-model-extra.test.ts
  apps/sync-realtime-data/scripts/upload-running-style-model.test.ts
  apps/sync-realtime-data/scripts/upload-running-style-model.ts
  apps/sync-realtime-data/src/running-style-model-register-async.test.ts
  apps/sync-realtime-data/src/running-style-model-register.test.ts
  apps/sync-realtime-data/src/running-style-model-register.ts
  docs/finish-position-prediction-system.md
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): prevent empty-result giveup from firing before NAR publish window opens
  apps/sync-realtime-data/src/fetchLogStatuses.test.ts
  apps/sync-realtime-data/src/fetchLogStatuses.ts
  apps/sync-realtime-data/src/worker-handle-job.test.ts
  apps/sync-realtime-data/src/worker.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

Fix running-style mirror recovery and finish prediction routing
  apps/finish-position-cron/src/container-class.ts
  apps/finish-position-cron/src/prediction-cache-warm.test.ts
  apps/finish-position-cron/src/prediction-cache-warm.ts
  apps/finish-position-cron/src/race-coordinator.test.ts
  apps/finish-position-cron/src/race-coordinator.ts
  apps/finish-position-cron/src/types.ts
  apps/finish-position-cron/src/worker.test.ts
  apps/finish-position-cron/src/worker.ts
  apps/finish-position-cron/wrangler.jsonc
  apps/sync-realtime-data/src/running-style-cron-orchestration.test.ts
  apps/sync-realtime-data/src/running-style-cron.ts
  apps/sync-realtime-data/src/running-style-neon.test.ts
  apps/sync-realtime-data/src/running-style-neon.ts
Due: oxfmt, oxlint, tsc, vitest

Stabilize running-style Neon mirror
  apps/sync-realtime-data/src/running-style-queue.test.ts
  apps/sync-realtime-data/src/running-style-queue.ts
Due: oxfmt, oxlint, tsc, vitest

Protect running-style Neon mirror from replica push
  apps/local-postgresql/src/replica-push/core.test.ts
  apps/local-postgresql/src/replica-push/core.ts
Due: oxfmt, oxlint, tsc, vitest

Share cell feature selection policy
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/learning/build_cell_models.py
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_selection_policy.py
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_build_cell_models.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_selection_policy.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  docs/finish-position-prediction-system.md
Due: oxfmt

fix(realtime): ensure NAR result fetch refreshes tansho odds + popularity
  apps/sync-realtime-data/src/keiba-go.test.ts
  apps/sync-realtime-data/src/keiba-go.ts
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker.ts
  apps/sync-realtime-data/test/worker-miniflare.test.ts
Due: oxfmt, oxlint, tsc, vitest

Fix horse weight D1 fallback
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

fix(realtime): trigger features rebuild after result store
  apps/sync-realtime-data/src/worker-fetch.test.ts
  apps/sync-realtime-data/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

Fix feature exploration cell weighting
  .claude/skills/finish-position-training-loop.md
  apps/pc-keiba-viewer/src/scripts/learning/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/learning/feature_selection_policy.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_selection_policy.py
  docs/finish-position-prediction-system.md
Due: oxfmt

Improve running style cell evaluation metrics
  apps/pc-keiba-viewer/package.json
  apps/pc-keiba-viewer/src/scripts/running_style_lightgbm.py
  apps/pc-keiba-viewer/tests/test_running_style_lightgbm.py
  docs/finish-position-prediction-system.md
Due: oxfmt
