Repository kkkaoru/horse-racing-data: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, oxfmt, oxlint, tsc, vitest

shellcheck:
  run: shellcheck {staged_files}

oxfmt:
  run: bunx oxfmt --check {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

tsc:
  run: bun run --filter horse-racing-records tsc

vitest:
  run: bun run --filter horse-racing-records test

fix(subgroup_diagnostics): 4 correctness fixes for NDCG computation
  apps/pc-keiba-viewer/src/scripts/subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

fix: 3 correctness fixes — FP precision tests, NDCG from predictions, promotion gate
  apps/pc-keiba-viewer/src/lib/race-trend-score.test.ts
  apps/pc-keiba-viewer/src/scripts/feature_registry.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
Due: oxfmt, oxlint, tsc, vitest

fix(feature_explorer): correct NaN handling and join semantics in NDCG computation
  apps/pc-keiba-viewer/src/scripts/feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
Due: none

fix(corner_lightgbm): guard top_vector_neighbor_candidates against empty input
  apps/pc-keiba-viewer/src/scripts/corner_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/feature_explorer.py
  apps/pc-keiba-viewer/tests/test_corner_lightgbm.py
Due: none

fix: 8 correctness/reliability fixes with tests — NaN guards, subprocess timeout, rollback logging
  apps/finish-position-predict-container/src/predict_lib/model_meta.py
  apps/finish-position-predict-container/tests/test_model_meta.py
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/subgroup_diagnostics.py
  apps/pc-keiba-viewer/src/scripts/walk_forward_common.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
Due: none

fix(finish_position_features_duckdb): apply PEDIGREE_MIN_RACES guard in composite and add NULL guards to track_bias_cte
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
Due: none

fix: multiple ML correctness bugs in walk-forward and HPO pipeline
  apps/pc-keiba-viewer/src/scripts/load_bucket_predictions.py
  apps/pc-keiba-viewer/src/scripts/load_running_style_predictions.py
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/serve_accuracy_report.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_lgbm_stacking.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/tune_finish_position_jra_cb.py
  apps/pc-keiba-viewer/src/scripts/tune_finish_position_nar_xgb.py
  apps/pc-keiba-viewer/tests/test_load_bucket_predictions.py
  apps/pc-keiba-viewer/tests/test_load_running_style_predictions.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_lgbm_stacking.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_tune_finish_position_jra_cb.py
  apps/pc-keiba-viewer/tests/test_tune_finish_position_nar_xgb.py
Due: none

fix: correct 9 ML training bugs affecting SQL correctness, validation, and model behavior
  apps/pc-keiba-viewer/src/scripts/corner_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/finish_position_features_duckdb.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/training.py
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/src/scripts/serve_accuracy_report.py
  apps/pc-keiba-viewer/src/scripts/walk_forward_common.py
  apps/pc-keiba-viewer/tests/test_corner_lightgbm.py
  apps/pc-keiba-viewer/tests/test_finish_position_features_duckdb.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_finish_position_transformer.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_walk_forward_common.py
Due: none

fix: resolve 4 runtime and data-quality bugs in scoring and calibration pipeline
  apps/pc-keiba-viewer/src/scripts/insert_bucket_evaluation_row.py
  apps/pc-keiba-viewer/src/scripts/insert_running_style_bucket_evaluation_row.py
  apps/pc-keiba-viewer/src/scripts/running_style_calibration.py
  apps/pc-keiba-viewer/src/scripts/score_finish_position_local.py
  apps/pc-keiba-viewer/src/scripts/score_running_style_local.py
  apps/pc-keiba-viewer/tests/test_insert_bucket_evaluation_row.py
  apps/pc-keiba-viewer/tests/test_insert_running_style_bucket_evaluation_row.py
  apps/pc-keiba-viewer/tests/test_running_style_calibration.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_local.py
  apps/pc-keiba-viewer/tests/test_score_running_style_local.py
Due: none

fix: load_running_style_predictions filters on model_version in parquet WHERE clause
  apps/pc-keiba-viewer/src/scripts/load_running_style_predictions.py
  apps/pc-keiba-viewer/tests/test_load_running_style_predictions.py
Due: none

fix: correct inner CV leakage in stacking metalearner and calibration fallthrough
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_stacking_metalearner.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_stacking_metalearner.py
Due: none

fix: correct ML training bugs and add full test coverage for XGBoost/CatBoost walk-forward
  apps/pc-keiba-viewer/pyproject.toml
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_lgbm_stacking.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_stacking_meta.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_stacking_metalearner.py
  apps/pc-keiba-viewer/src/scripts/tune_finish_position_jra_cb.py
  apps/pc-keiba-viewer/src/scripts/tune_finish_position_nar_xgb.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_finish_position_xgboost.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_lgbm_stacking.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_stacking_meta.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_stacking_metalearner.py
  apps/pc-keiba-viewer/tests/test_tune_finish_position_jra_cb.py
  apps/pc-keiba-viewer/tests/test_tune_finish_position_nar_xgb.py
Due: oxfmt

fix: correct 6 ML training bugs across walk-forward pipeline
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-pacestyle-features.py
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_lightgbm.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_stacking_metalearner.py
  apps/pc-keiba-viewer/tests/test_add_pacestyle_features.py
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_stacking_metalearner.py
Due: none

fix: correct data leakage and biased top3_box metric
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-futan-juryo-features.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_lgbm_stacking.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_stacking_meta.py
  apps/pc-keiba-viewer/tests/test_add_futan_juryo_features.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_lgbm_stacking.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_stacking_meta.py
Due: none

fix: correct damsire field, kohan column name, and feature_explorer trial reconstruction
  apps/pc-keiba-viewer/src/scripts/build_running_style_feature_batch.py
  apps/pc-keiba-viewer/src/scripts/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/pedigree_staging.py
  apps/pc-keiba-viewer/src/scripts/running_style_field_features.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_pedigree_staging.py
Due: none

fix: correct 5 ML data-integrity bugs found by code review
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-banei-futan-class-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-class-features.py
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-pacestyle-features.py
  apps/pc-keiba-viewer/tests/test_add_banei_futan_class_features.py
  apps/pc-keiba-viewer/tests/test_add_class_features.py
  apps/pc-keiba-viewer/tests/test_add_exotic_odds_features.py
  apps/pc-keiba-viewer/tests/test_add_pacestyle_features.py
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
Due: none

fix: add schema_version guard to isotonic_transform and log top3 calibration source
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
Due: none

fix: Round 10 — NaN rank crash, empty dir crash, top3_box metric, JST offset, log labels
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/src/scripts/score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_xgboost.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_walk_forward.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
Due: none

fix: compute race_favorite_dominance from base parquet to eliminate serve-time NULL
  apps/pc-keiba-viewer/src/scripts/finish-position-features/add-near-miss-features.py
  apps/pc-keiba-viewer/tests/test_add_near_miss_features.py
Due: none

fix: restore race_count guard, fix schema_version KeyError, save model.json in training
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_xgboost_walk_forward.py
Due: none

fix: allow old calibration files, guard empty validation_years, fix rollback scope
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
Due: none

fix: bucket dedup guard, NaN-rank guard, and stale docstring
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/src/scripts/serve_accuracy_report.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_lightgbm_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_xgboost_walk_forward.py
Due: none

fix: save_model mkdir ordering, HPO param gap, NaN-rank calibration fit
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_xgboost_walk_forward.py
Due: none

fix: Round 17 — inference crash, HPO nesting, subsample/colsample wiring
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_xgboost_walk_forward.py
Due: none

test: cover bucket-loop ValueError path (lines 441-442) in fit_run
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
Due: none

fix: resolve CI type-check errors, address review comments, fix basedpyright strict
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/src/scripts/continuous_learner.py
  apps/pc-keiba-viewer/src/scripts/feature_explorer.py
  apps/pc-keiba-viewer/src/scripts/feature_registry.py
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/finish_position_transformer/training.py
  apps/pc-keiba-viewer/src/scripts/finish_position_xgboost.py
  apps/pc-keiba-viewer/src/scripts/insert_bucket_evaluation_row.py
  apps/pc-keiba-viewer/src/scripts/insert_running_style_bucket_evaluation_row.py
  apps/pc-keiba-viewer/src/scripts/running_style_calibration.py
  apps/pc-keiba-viewer/src/scripts/subgroup_diagnostics.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_xgboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_continuous_learner.py
  apps/pc-keiba-viewer/tests/test_corner_lightgbm.py
  apps/pc-keiba-viewer/tests/test_feature_explorer.py
  apps/pc-keiba-viewer/tests/test_feature_registry.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_lightgbm.py
  apps/pc-keiba-viewer/tests/test_finish_position_xgboost.py
  apps/pc-keiba-viewer/tests/test_insert_bucket_evaluation_row.py
  apps/pc-keiba-viewer/tests/test_insert_running_style_bucket_evaluation_row.py
  apps/pc-keiba-viewer/tests/test_running_style_calibration.py
  apps/pc-keiba-viewer/tests/test_score_finish_position_local.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_subgroup_diagnostics.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_stacking_metalearner.py
Due: none

fix: Round 19 — CatBoost cat features silenced, top3 out-of-range, docstring
  apps/pc-keiba-viewer/src/scripts/calibrate_finish_position.py
  apps/pc-keiba-viewer/src/scripts/train_finish_position_catboost_walk_forward.py
  apps/pc-keiba-viewer/tests/test_calibrate_finish_position.py
  apps/pc-keiba-viewer/tests/test_train_finish_position_catboost_walk_forward.py
Due: none

fix(sync-realtime-data-hot): cut ODDS_FETCH_LOCK_MINUTES 10 → 3
  apps/sync-realtime-data-hot/src/fetch-odds.test.ts
  apps/sync-realtime-data-hot/src/fetch-odds.ts
Due: oxfmt, oxlint, tsc, vitest

chore(launchd): mark odds-closing-backfill-daily.sh as executable
  scripts/launchd/odds-closing-backfill-daily.sh
Due: shellcheck

feat(realtime+launchd): add JST-22:30 closing-odds backfill safety net
  apps/sync-realtime-data/src/scripts/transfer-odds-old-to-hot.test.ts
  apps/sync-realtime-data/src/scripts/transfer-odds-old-to-hot.ts
  scripts/launchd/README.md
  scripts/launchd/com.kkk4oru.odds-closing-backfill.plist
  scripts/launchd/odds-closing-backfill-daily.sh
Due: shellcheck, oxfmt, oxlint, tsc, vitest

fix(sync-realtime-data-hot): extend catch-up window + add JST-08:00 re-populate cron
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.test.ts
  apps/sync-realtime-data-hot/src/gates/enqueue-lock-kv.ts
  apps/sync-realtime-data-hot/src/plan.test.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
  apps/sync-realtime-data-hot/wrangler.jsonc
Due: oxfmt, oxlint, tsc, vitest

perf(sync-realtime-data-hot): drop dead odds_snapshots index
  apps/sync-realtime-data-hot/migrations/0004_drop_redundant_odds_index.sql
Due: none

fix(pc-keiba-viewer): restore merge-lost code and fix private/public name mismatches
  apps/pc-keiba-viewer/src/scripts/finish_position_catboost.py
  apps/pc-keiba-viewer/src/scripts/serve_accuracy_report.py
  apps/pc-keiba-viewer/tests/test_finish_position_catboost.py
  apps/pc-keiba-viewer/tests/test_finish_position_xgboost.py
  apps/pc-keiba-viewer/tests/test_running_style_calibration.py
  apps/pc-keiba-viewer/tests/test_serve_accuracy_report.py
Due: none

feat(hot)+chore(realtime): closing-odds safety net moves from Mac launchd to Cloudflare cron
  apps/sync-realtime-data-hot/src/storage.test.ts
  apps/sync-realtime-data-hot/src/storage.ts
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
  apps/sync-realtime-data-hot/wrangler.jsonc
  apps/sync-realtime-data/src/scripts/transfer-odds-old-to-hot.test.ts
  apps/sync-realtime-data/src/scripts/transfer-odds-old-to-hot.ts
  scripts/launchd/README.md
  scripts/launchd/com.kkk4oru.odds-closing-backfill.plist
  scripts/launchd/odds-closing-backfill-daily.sh
Due: shellcheck, oxfmt, oxlint, tsc, vitest

feat(sync-realtime-data-hot): cron heartbeat + /api/internal/cron-health endpoint
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

perf(sync-realtime-data-hot): drop second redundant odds_snapshots index
  apps/sync-realtime-data-hot/migrations/0005_drop_race_key_fetched_at_index.sql
Due: none

perf(sync-realtime-data-hot): short-circuit runScheduledPlan via stable KV flag
  apps/sync-realtime-data-hot/src/worker.test.ts
  apps/sync-realtime-data-hot/src/worker.ts
Due: oxfmt, oxlint, tsc, vitest

perf(sync-realtime-data-hot): extend expected-race-count KV TTL 5min -> 30min
  apps/sync-realtime-data-hot/src/expected-race-count.test.ts
  apps/sync-realtime-data-hot/src/expected-race-count.ts
Due: oxfmt, oxlint, tsc, vitest

Path conditions:
  shellcheck: any of: *.sh
  oxfmt: any of: *.{ts,json,jsonc,yaml,yml,md,toml,css,html}
  oxlint: any of: *.ts
  tsc: any of: *.ts
  vitest: any of: *.ts
